/*========================================
=            Select Passenger            =
========================================*/

.select-passenger{
  @extend .left-wide;
  clear: both;
  border-top: 1px solid #ededef;
  margin-bottom: 20px;

  .heading{
    font-size: 18px;
    font-weight: 600;
  }

  // Passengers List
  .passengers-list{
    padding-right: 0;
    margin-top: -1px;
    float: left;
    @extend .no-select;
    @media screen and (max-width: 990px) {
      width: 25%;
    }

    .inner{
      @extend .left-wide;
      background: {
        color: $black;
      }
      color: $white;
      padding: 0 0 16px;
      min-height: 290px;
    }

    .heading{
      @extend .left-wide;
      height: 62px;
      line-height: 62px;
      padding: 0 30px;
    }

    ul{
      @extend .left-wide;
      padding: 0;
      margin: 0;
      li{
        @extend .left-wide;
        list-style: none;
        font-weight: 600;
        position: relative;
        span{
          label{
            padding: 12px 30px;
            font-weight: 600;
            font-size: 130px;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
/*        &.actives{
          background: {
            color: #979697;
          }
          &:after{
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            right: -15px;
            margin-top: 0;
            border-top: 21px solid transparent;
            border-bottom: 21px solid transparent;
            border-left: 15px solid #979697;
          }
        }*/
        label{
          width: 250px;
          margin: 0;
          input{}
        }
        span{}
      }
    }
  }

  // Passenger Information
  .passengers-information{
    padding-right: 0;
    float: left;
    @media screen and (max-width: 990px) {
      width: 75%;
    }

    .heading{
      @extend .left-wide;
      height: 62px;
      line-height: 62px;
      padding: 0 15px;
      .info{
        font-style: normal;
        float: right;
        font-size: 12px;
        font-weight: 400;
      }
    }

    /* .col-md-4{
        margin-bottom: 20px;
    } */

    .row{
      padding: 0;
      margin: 0 0 20px;
    }

    .placeholder{
      padding: 0 15px;
      line-height: 50px;
      color: $black;
      font-weight: 300;
      font-size: 16px;
      .placeholder-icon{
        margin-left: 3px;
      }
    }

    .ibe-drop-down{
      .dropdown-toggle{
        padding: 0 5px;
      }
      .dp-caption{
        padding: 0 15px 0 10px;
        line-height: 50px;
        color: $black;
        font-weight: 300;
        font-size: 16px;
      }
      .fa{
        line-height: 50px;
      }
    }
  }
}

/*=====  End of Select Passenger  ======*/
