<?xml version="1.0" encoding="UTF-8"?>
<message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<header>
		<subject>$commonTemplatingDTO.getCarrierName() Notification</subject>
	</header>
	<content>
		<body><![CDATA[
		<html> 
		<head>
		<title>:: The Flight Status Notification</title>
		</head>
		<style type="text/css">
		 <!--
		 font{font-family:tahoma;font-size:11px;left:auto;color: black;}
		 Body {background : white;margin :0px 0px 0px 0px;}
		 .fntBold{font-weight:bold;}
		 .thinBorder{height:18px;border:1px solid;border-color:black;}
		 .thinBackground{background-color:#C4C4C4;}
		 .thinHD{height:18px;border:1px solid;border-color:black;;background-color:#C4C4C4;}
		 .fntSmall{font-size:9px;}
		 .fntExSmall{font-size:8px;}
		 .fntTiny{font-size:8px;}
		 .fntLarge{font-size: 17px;}
		 .fntExLarge{font-size: 22px;}
		 .fontCapitalize{text-transform: capitalize;}
		 UL{MARGIN-TOP: 0px;MARGIN-bottom: 4px;}
		 LI{MARGIN-TOP: 0px;MARGIN-bottom: 0px;}
		 -->
		</style>
		<body>
		 <table width="670" border="0" cellpadding="2" cellspacing="0" align="center">
		  <tr>
		   <td width="20%">
   		    <img src="$ibeURL/images/$logoImageName"/>
		   </td>
		   <td width="80%" align="right">
		    <font class="fntSmall">$companyAddress</font>
		   </td>
		  </tr>
		  <tr>
		   <td align="center" colspan="2">
		    <font class="fntLarge"><b> FLIGHT STATUS NOTIFICATION </b></font>
		   </td>
		  </tr>
		  <tr>
		   <td align="center" colspan="2">
		    <hr>
		   </td>
		  </tr>

		  <tr>
		    <td valign="top" colspan="2">
		      <font>Dear $user,<br><br></font>
		    </td>
		  </tr>

		  <tr>
		    <td valign="top" colspan="2">
			  <font>The following travel segments of your PNR <b> $pnr </b> were effected by, <br></font>
		    </td>
		  </tr>

		  <tr>
		    <td valign="top" colspan="2">
			  <p><font><b>#if($alertTemplateEnum.size() > 0)					
					#foreach ($alertTemplate in $alertTemplateEnum)
					$alertTemplate.getCodeDesc()<br>
					#end
					#end<br></b></font></p>
		    </td>
		  </tr>
		 	#if($reservationPaxDTOs.size() > 0)
				  <tr>
				    <td valign="top" colspan="2">
				      <li><font class="fntBold">TRAVEL SEGMENTS</font></li>
				    </td>
				  </tr>
		
				  <tr>
				   <td valign="top" colspan="2">
				    <table width="100%" border="0" cellpadding="2" cellspacing="1" ID="Table1">
				     <tr>
				      <td class="thinHD" align="center" colspan="1">
				       <font class="fntBold">Origin / Destination</font>
				      </td>
				      <td class="thinHD" align="center" colspan="2">
				       <font class="fntBold">Departure</font>
				      </td>
				      <td class="thinHD" align="center" colspan="2">
				       <font class="fntBold">Arrival</font>
				      </td>
				      <td class="thinHD" align="center" colspan="2">
				       <font class="fntBold">Check-in From</font>
				      </td>
				      <td class="thinHD" align="center" colspan="1">
				       <font class="fntBold">Flight</font>
				      </td>
			      	  <td class="thinHD" align="center" colspan="1">
				      	<font class="fntBold">Class</font>
				      </td>
				     </tr>
		     #end
			 #if($reservationPaxDTOs.size() > 0)
			 #foreach ($reservationSegmentDTO in $reservationPaxDTOs)
			 <tr>
			  <td class="thinBorder"><font>$reservationSegmentDTO.getSegmentDescription() &nbsp;</font></td>
			  <td class="thinBorder" align="center"><font>$reservationSegmentDTO.getDepartureStringDate("EEE, dd MMM yyyy") &nbsp;</font></td>
			  <td class="thinBorder" align="center"><font>$reservationSegmentDTO.getDepartureStringDate("HH:mm") &nbsp;</font></td>
			  <td class="thinBorder" align="center"><font>$reservationSegmentDTO.getArrivalStringDate("EEE, dd MMM yyyy") &nbsp;</font></td>
			  <td class="thinBorder" align="center"><font>$reservationSegmentDTO.getArrivalStringDate("HH:mm") &nbsp;</font></td>
			  <td class="thinBorder" align="center"><font>$reservationSegmentDTO.getCheckInStringDate("EEE, dd MMM yyyy") &nbsp;</font></td>
			  <td class="thinBorder" align="center"><font>$reservationSegmentDTO.getCheckInStringDate("HH:mm") &nbsp;</font></td>
			  <td class="thinBorder" align="center"><font>$reservationSegmentDTO.getFlightNo() &nbsp;</font></td>
	  		  <td class="thinBorder" align="center"><font>$reservationSegmentDTO.getCabinClassCode() &nbsp;</font></td>
			 </tr>
			 #end 
			 #end
		    </table>   
		   </td>
		  </tr>

		   <tr>
		    <td valign="top" colspan="2"><br> 
		      <li><font class="fntBold">OLD FLIGHT DETAILS</font></li>
		    </td>
		   </tr>

		   <tr> 
		    <td valign="top" colspan="2">
		    <font>Flight Number: $oldFlightAlertInfoDTO.getFlightNumber()</font> 
		    </td>
		   </tr>
			#if( $oldFlightAlertInfoDTO.getStatus() )
		   <tr> 
		    <td valign="top" colspan="2">
		    <font>Status: $oldFlightAlertInfoDTO.getStatus()</font> 
		    </td>
		   </tr>
			#end
		   <tr> 
		    <td valign="top" colspan="2">
		    <font>Departure Date: $oldFlightAlertInfoDTO.getDepartureStringDate("EEE, dd MMM yyyy")</font> 
		    </td>
		   </tr>
			#if( $oldFlightAlertInfoDTO.getModelNumber() )
		   <tr> 
		    <td valign="top" colspan="2">
		    <font>Model Number: $oldFlightAlertInfoDTO.getModelNumber()</font> 
		    </td>
		   </tr>
			#end
		   <tr> 
		    <td valign="top" colspan="2">
		    <font>Origin Airport Code: $oldFlightAlertInfoDTO.getOriginAptCode()</font> 
		    </td>
		   </tr>

		   <tr> 
		    <td valign="top" colspan="2">
		    <font>Destination Airport Code: $oldFlightAlertInfoDTO.getDestinationAptCode()</font> 
		    </td>
		   </tr>

		   #if( $oldFlightAlertInfoDTO.getRoute() )
		   <tr> 
		    <td valign="top" colspan="2">
		    <font>Route: $oldFlightAlertInfoDTO.getRoute()</font> 
		    </td>
		   </tr>
			#end	

		   <tr> 
		    <td valign="top" colspan="2">
		    <font>#if( $oldFlightAlertInfoDTO.getSegmentDetails() )
		    	Segment Details: $oldFlightAlertInfoDTO.getSegmentDetails()<br>
				#else
				Leg Details: $oldFlightAlertInfoDTO.getLegDetails()<br>
				#end</font> 
		    </td>
		   </tr>

		  #if( $newFlightAlertInfoDTO )
		  <tr>
		    <td valign="top" colspan="2"><br>
		      <li><font class="fntBold">NEW FLIGHT DETAILS</font></li>
		    </td>
		  </tr>
		  <tr>
		    <td valign="top" colspan="2"><font>Flight Number: $newFlightAlertInfoDTO.getFlightNumber()</font></td>
	      </tr>
	      #if( $newFlightAlertInfoDTO.getStatus() )
		  <tr>
		    <td valign="top" colspan="2"><font>Status: $newFlightAlertInfoDTO.getStatus()</font></td>
	      </tr>
	      #end
		  <tr>
		    <td valign="top" colspan="2"><font>Departure Date: $newFlightAlertInfoDTO.getDepartureStringDate("EEE, dd MMM yyyy")</font></td>
	      </tr>
	      #if( $newFlightAlertInfoDTO.getModelNumber() ) 
		  <tr>
		    <td valign="top" colspan="2"><font>Model Number: $newFlightAlertInfoDTO.getModelNumber()</font></td>
	      </tr>
	      #end
		  <tr>
		    <td valign="top" colspan="2"><font>Origin Airport Code: $newFlightAlertInfoDTO.getOriginAptCode()</font></td>
	      </tr>
		  <tr>
		    <td valign="top" colspan="2"><font>Destination Airport Code: $newFlightAlertInfoDTO.getDestinationAptCode()</font></td>
	      </tr>

          #if( $newFlightAlertInfoDTO.getRoute() )
		  <tr>
		    <td valign="top" colspan="2"><font>Route: $newFlightAlertInfoDTO.getRoute()</font></td>
	      </tr>
		  #end

		  <tr>
		    <td valign="top" colspan="2"><font>
				#if( $newFlightAlertInfoDTO.getSegmentDetails() )
					Segment Details: $newFlightAlertInfoDTO.getSegmentDetails()
				#else
					Leg Details: $newFlightAlertInfoDTO.getLegDetails()
				#end
		    </font></td>
	      </tr>
		   #end
		   
		   <tr>
		    <td valign="top" colspan="2"><br>
		      <li><font>Please call, in order to take action.</font></li>
		    </td>
		   </tr> 
		   
		  <tr>
		    <td valign="top" colspan="2"><font>
			   <br>
			   Sincerely,
			   <br>
			   $commonTemplatingDTO.getCarrierName()
			</font>
		    </td>
		  </tr>
		  
	 	  </table>
		  </body>
		  </html>
		]]></body>
	</content>
</message>