		<html>
		<head>
		<title>:: Flight Manifest</title>
		</head>
		<style type="text/css">
		 <!--
		 font{font-family:tahoma;font-size:11px;left:auto;color: black;}
		 Body {background : white;margin :0px 0px 0px 0px;}
		  .fntBold{font-weight:bold;}
		 .thinBorder{height:18px;border:1px solid;border-color:black;}
		  .thinBackground{background-color:#C4C4C4;}
		  .thinHD{height:18px;border:1px solid;border-color:black;;background-color:#C4C4C4;}
		  .fntSmall{font-size:9px;}
		  .fntExSmall{font-size:8px;}
		  .fntTiny{font-size:8px;}
		  .fntTinyLarge{font-size: 12px;}
		  .fontExportCSV{font-size: 17px;color: blue;}
		  .fntLarge{font-size: 17px;}
		  .fntExLarge{font-size: 22px;}
		  .fontCapitalize{text-transform: capitalize;}
		  .fontMisConnection font{color: red;}
		  UL{MARGIN-TOP: 0px;MARGIN-bottom: 4px;}
		  LI{MARGIN-TOP: 0px;MARGIN-bottom: 0px;}
		 .Header{font-family:Arial;font-size:11pt;text-align:left;	left:auto;text-transform: capitalize;color: black;font-weight: bold;}
		 .GridHDPrintBorder{border-color: gray  white gray white;}
		 .GridItemPrintBorder{border-color: white white white white;}
		 .GridPrintHeader{	background-color: white;}
		 .GridRow{	border-width:1px 1px 2px 1px;height:18px;border-style:solid;}
		 .GridItemRow{border-width:1px;height:18px;border-style:solid;	border-color:white white white white;}
		 .GridHeaderBand{border-bottom-width:thin;	}
		 .GridItem{background-color:white;	}
		 .manifestRow1 { background-color:#FFFFFF;	border:hidden;	height:18px;}
 		.manifestRow2 {	background-color:#E2E2E2;	border:hidden;	height:18px; }
		 -->
		</style>
		<body>

<!-- Manifest Summary Macro -->
#macro(summaryDetail $manifestData $manifestOptions)
<tr>
	<td colspan="6">
		<table>
			<tr>
				<td><font>Flight Load Status</font></td>
				<td width='7%'><font>Males </font></td>
				<td width='5%'><font>$manifestData.getFlightLoadStatus().getMaleCount()</font></td>
				<td width='5%'><font>Females </font></td>
				<td width='5%'><font>$manifestData.getFlightLoadStatus().getFemaleCount()</font></td>
				<td width='6%'><font>Children </font></td>
				<td width='5%'><font>$manifestData.getFlightLoadStatus().getChildCount()</font></td>
				<td width='6%' ><font>Infants </font></td>
				<td width='5%'><font>$manifestData.getFlightLoadStatus().getInfantCount()</font></td>
				<td width='5%' ><font>Unknown </font></td>
				<td width='5%'><font>$manifestData.getFlightLoadStatus().getUnknownCount()</font></td>
				<td width='5%'><font>Total</font></td>
				<td width='5%'><font>$manifestData.getFlightLoadStatus().getTotalCount()</font></td>
				#if($manifestOptions.isShowBaggage() == true)
					<td width='15%'><font>Bag. Weight(Kg)</font></td>
					<td width='5%'><font>$manifestData.getFlightLoadStatus().getTotalExcessBaggageWeight()</font></td>
				#else
					<td width='15%'><font>&nbsp;</font></td>
					<td width='5%'><font>&nbsp;</font></td>
				#end
			</tr>
			<tr><td><font>&nbsp;</font></td></tr>


				#if($manifestData.getCabinClassSummaries().size() > 0)
					#foreach($cabinClassSummary in $manifestData.getCabinClassSummaries().values())
						#if($manifestOptions.isFilterByLogicalCabinClass() == true && $manifestOptions.getLogicalCabinClass() != "All")
						#else
							<tr>
								<td><font>$cabinClassSummary.getCabinClassName()($cabinClassSummary.getCabinClassCode())</font></td>
								<td width='7%'><font>Males </font></td>
									<td width='5%'><font>$cabinClassSummary.getMaleCount()</font></td>
									<td width='7%'><font>Females </font></td>
									<td width='5%'><font>$cabinClassSummary.getFemaleCount()</font></td>
									<td width='7%'><font>Children </font></td>
									<td width='5%'><font>$cabinClassSummary.getChildCount()</font></td>
									<td width='6%' ><font>Infants </font></td>
									<td width='5%'><font>$cabinClassSummary.getInfantCount()</font></td>
									<td width='7%' ><font>Unknown </font></td>
									<td width='5%'><font>$cabinClassSummary.getUnknownCount()</font></td>
									<td width='7%'><font>Total</font></td>
									<td width='5%'><font>$cabinClassSummary.getTotalCount()</font></td>
									<td width='15%'><font>&nbsp;</font></td>
									<td width='5%'><font>&nbsp;</font></td>
							</tr>
						#end
						#if($manifestOptions.isFilterByLogicalCabinClass() == true && $cabinClassSummary.getLogicalCCWiseSummary().size() > 0)
							#foreach($logicalCCSummary in $cabinClassSummary.getLogicalCCWiseSummary().values())
								<tr>
									<td><font>$logicalCCSummary.getLogicalCCName()($logicalCCSummary.getLogicalCCCode())</font></td>
									<td width='7%'><font>Males </font></td>
										<td width='5%'><font>$logicalCCSummary.getMaleCount()</font></td>
										<td width='7%'><font>Females </font></td>
										<td width='5%'><font>$logicalCCSummary.getFemaleCount()</font></td>
										<td width='7%'><font>Children </font></td>
										<td width='5%'><font>$logicalCCSummary.getChildCount()</font></td>
										<td width='6%' ><font>Infants </font></td>
										<td width='5%'><font>$logicalCCSummary.getInfantCount()</font></td>
										<td width='7%' ><font>Unknown </font></td>
										<td width='5%'><font>$logicalCCSummary.getUnknownCount()</font></td>
										<td width='7%'><font>Total</font></td>
										<td width='5%'><font>$logicalCCSummary.getTotalCount()</font></td>
								</tr>
							#end
						#end
					#end
					<tr><td><font>&nbsp;</font></td></tr>
				#end


				#if($manifestOptions.getSummaryMode() == "segment")
					#if($manifestData.getSegmentSummaries().size() > 0)
						 #foreach ($segmentSummary in $manifestData.getSegmentSummaries().values())
							 <tr>
								<td width='24%'><font>$segmentSummary.getSegmentCode()</font></td>
								<td width='7%'><font>Males </font></td>
								<td width='5%'><font>$segmentSummary.getMaleCount()</font></td>
								<td width='7%'><font>Females </font></td>
								<td width='5%'><font>$segmentSummary.getFemaleCount()</font></td>
								<td width='7%'><font>Children </font></td>
								<td width='5%'><font>$segmentSummary.getChildCount()</font></td>
								<td width='6%' ><font>Infants </font></td>
								<td width='5%'><font>$segmentSummary.getInfantCount()</font></td>
								<td width='7%' ><font>Unknown </font></td>
								<td width='5%'><font>$segmentSummary.getUnknownCount()</font></td>
								<td width='7%'><font>Total</font></td>
								<td width='5%'><font>$segmentSummary.getTotalCount()</font></td>
								#if($manifestOptions.isShowBaggage() == true)
									<td width='15%'><font>Bag. Weight(Kg)</font></td>
									<td width='5%'><font>$segmentSummary.getTotalExcessBaggageWeight()</font></td>
								#else
									<td width='15%'><font>&nbsp;</font></td>
									<td width='5%'><font>&nbsp;</font></td>
								#end
							</tr>
						 #end
					#end
				#elseif($manifestOptions.getSummaryMode() == "inout")
					#if($manifestData.getAirportSummaries().size() > 0)
						 #foreach ($airportSummary in $manifestData.getAirportSummaries().values())
							 <tr>
								<td width='24%'><font>$airportSummary.getAirportCode()</font></td>
								<td width='7%'><font>In </font></td>
								<td width='5%'><font>$airportSummary.getGetInCount()</font></td>
								<td width='7%'><font>Out </font></td>
								<td width='5%'><font>$airportSummary.getGetDownCount()</font></td>
								<td colspan="10"></td>
							</tr>
						 #end
					#end
				#end
		</table>
	</td>
</tr>
<tr>
	<td style="width: 100%;padding-bottom: 18px;padding-top: 18px;">
		Bundle passangers summary: $manifestData.getPassengersSummary()
	</td>
</tr>
#end

<!-- Manifest Table Heading Macro-->
#macro(tableHeadDetail $manifestOptions)
<tr>
	<td width="7%"  class="GridRow GridPrintHeader GridHeaderBand GridHDPrintBorder"><font>PNR</font></td>
	<td width="17%" class="GridRow GridPrintHeader GridHeaderBand GridHDPrintBorder"><font>Passenger Name</font></td>
	<td width="5%"  class="GridRow GridPrintHeader GridHeaderBand GridHDPrintBorder"><font>SSR</font></td>
	<td width="5%"  class="GridRow GridPrintHeader GridHeaderBand GridHDPrintBorder"><font>Origin</font></td>
	<td width="9%"  class="GridRow GridPrintHeader GridHeaderBand GridHDPrintBorder"><font>Segment</font></td>
	<td width="5%"  class="GridRow GridPrintHeader GridHeaderBand GridHDPrintBorder"><font>Destination</font></td>
	<td width="5%"  class="GridRow GridPrintHeader GridHeaderBand GridHDPrintBorder"><font>Inbound Con. Time</font></td>
	<td width="5%"  class="GridRow GridPrintHeader GridHeaderBand GridHDPrintBorder"><font>Outbound Con. Time</font></td>
	<td width="6%"  class="GridRow GridPrintHeader GridHeaderBand GridHDPrintBorder"><font>Reservation Status</font></td>
	<td width="6%"  class="GridRow GridPrintHeader GridHeaderBand GridHDPrintBorder"><font>PAX Status</font></td>
	<td width="10%" class="GridRow GridPrintHeader GridHeaderBand GridHDPrintBorder"><font>Agency</font></td>
	<td width="5%"  class="GridRow GridPrintHeader GridHeaderBand GridHDPrintBorder"><font>Booking Class</font></td>
	<td width="7%"  class="GridRow GridPrintHeader GridHeaderBand GridHDPrintBorder"><font>Booking Type</font></td>

	#if($manifestOptions.isShowSeatMap() == true)
		<td width="5%" class="GridRow GridPrintHeader GridHeaderBand GridHDPrintBorder"><font>Seat Code</font></td>
	#end

	#if($manifestOptions.isShowMeal() == true)
		<td width="3%" class="GridRow GridPrintHeader GridHeaderBand GridHDPrintBorder"><font>Meal Code</font></td>
	#end

	#if($manifestOptions.isShowBaggage() == true)
		<td width="3%" class="GridRow GridPrintHeader GridHeaderBand GridHDPrintBorder"><font>Baggage Code</font></td>
	#end

	#if($manifestOptions.isShowAirportServices() == true)
		<td width="5%" class="GridRow GridPrintHeader GridHeaderBand GridHDPrintBorder"><font>Hala Service</font></td>
	#end

	<td width="5%" align="right" class="GridRow GridPrintHeader GridHeaderBand GridHDPrintBorder"><font>Balance</font></td>
	<td width="5%" class="GridRow GridPrintHeader GridHeaderBand GridHDPrintBorder"><font>Currency</font></td>
	<td width="6%" class="GridRow GridPrintHeader GridHeaderBand GridHDPrintBorder"><font>Booking Date</font></td>
	<td width="6%" class="GridRow GridPrintHeader GridHeaderBand GridHDPrintBorder"><font>Auto Cancellation Trigger Time</font></td>


	#if($manifestOptions.isShowPaxIndentification() == true )
		<td width="10%" class="GridRow GridPrintHeader GridHeaderBand GridHDPrintBorder"><font>Pax Identification</font></td>
	 #end
	#if($manifestOptions.isDownload() == true)
	 	<td width="10%" class="GridRow GridPrintHeader GridHeaderBand GridHDPrintBorder"><font>E-Ticket</font></td>
	 	#if($manifestOptions.isShowCreditCardDetails() == true)
	 		<td width="10%" class="GridRow GridPrintHeader GridHeaderBand GridHDPrintBorder"><font>CC Details</font></td>
	 	#end
	 	<td width="10%" class="GridRow GridPrintHeader GridHeaderBand GridHDPrintBorder"><font>Release Timestamp</font></td>
	#end
</tr>
#end

<!-- Manifest Data Record Macro-->
#macro(manifestRecordDetail $paxRecord $manifestOptions $style)

	#if($paxRecord.isPossibleMisConnection() == true)
		#set($style =$style.concat(" fontMisConnection"))
	#end
<tr>

	#if($manifestOptions.isEmail() == false && $manifestOptions.isLoadByPnr() == true )
		<td valign="top" class="$style" ><a href="#" onclick="loadReservation('$paxRecord.getPnr()', $paxRecord.getOriginatorPnr())"><font>$paxRecord.getPnr()<font></a></td>
	#else
		<td valign="top" class="$style" ><font>$paxRecord.getPnr()</font></td>
	#end
	<td valign="top" class="$style" ><font>$paxRecord.getPassengerName()</font></td>

	#if($paxRecord.getSsr() != "")
		<td valign="top" class="$style" ><font>$paxRecord.getSsr()</font></td>
    #else
		<td valign="top" class="$style" ><font>&nbsp;</font></td>
    #end

	<td valign="top" class="$style" ><font>$paxRecord.getOrigin()</font></td>
	<td valign="top" class="$style" ><font>$paxRecord.getSegmentCode()</font></td>
	<td valign="top" class="$style" ><font>$paxRecord.getDestination()</font></td>
	<td valign="top" class="$style" ><font>$paxRecord.getInboundConnectionTime()</font></td>
	<td valign="top" class="$style" ><font>$paxRecord.getOutboundConnectionTime()</font></td>
	<td valign="top" class="$style" ><font>$paxRecord.getReservationStatus()</font></td>
	<td valign="top" class="$style" ><font>$paxRecord.getPaxStatus()</font></td>
	<td valign="top" class="$style" ><font>$paxRecord.getAgency()</font></td>
	<td valign="top" class="$style" ><font>$paxRecord.getBookingClass()</font></td>
	<td valign="top" class="$style" >
		#if($paxRecord.getBookingClass().contains("*"))
			<font>Standby</font>
		#elseif($paxRecord.getBookingClass().contains("#"))
			<font>Open Return</font>
		#else
			<font>Normal</font>
		#end
	</td>

	#set($maxColumns = 14)

	#if($manifestOptions.isShowSeatMap() == true)
		#set($maxColumns = $maxColumns + 1)
		 #if($paxRecord.getSeatCode() == "")
			<td valign="top" class="$style" ><font>&nbsp;</font></td>
		#else
		<td valign="top" class="$style" ><font>$paxRecord.getSeatCode()</font></td>
  		#end
	#end

	#if($manifestOptions.isShowMeal() == true)
		#set($maxColumns = $maxColumns + 1)
		 #if($paxRecord.getMealCode() == "")
			<td valign="top" class="$style" ><font>&nbsp;</font></td>
		 #else
			<td valign="top" class="$style" ><font>$paxRecord.getMealCode()</font></td>
  		 #end
	#end

	#if($manifestOptions.isShowBaggage() == true)
		#set($maxColumns = $maxColumns + 1)
		 #if($paxRecord.getBaggageCode() == "")
			<td valign="top" class="$style" ><font>&nbsp;</font></td>
		 #else
			<td valign="top" class="$style" ><font>$paxRecord.getBaggageCode()</font></td>
  		 #end
	#end

	#if($manifestOptions.isShowAirportServices() == true)
		#set($maxColumns = $maxColumns + 1)
		 #if($paxRecord.getHalaServices() == "")
			<td valign="top" class="$style" ><font>&nbsp;</font></td>
		 #else
			<td valign="top" class="$style" ><font>$paxRecord.getHalaServices()</font></td>
  		 #end
	#end

	<td valign="top" align="right" class="$style" ><font>$paxRecord.getFormatAmt()</font></td>
	<td valign="top" align="center" class="$style" ><font>$paxRecord.getCredit()</font></td>
	<td valign="top" class="$style" ><font>$paxRecord.getBookingDate()</font></td>
	<td valign="top" class="$style" ><font>$paxRecord.getAutoCancelExpireTime()</font></td>

	#set($maxColumns = $maxColumns + 3)


	#if($manifestOptions.isShowPaxIndentification() == true )
		#set($maxColumns = $maxColumns + 1)
		<td valign="top" class="$style" ><font>$paxRecord.getPaxCategory() / $paxRecord.getNationality()
			#if($paxRecord.getFoidNumber() != "")
				/
			#end
		</font></td>
	#end

	#if($manifestOptions.isDownload() == true)
		#if($paxRecord.getEticket() != "")
			<td valign="top" class="$style" ><font>$paxRecord.getEticket()</font></td>
		#else
			<td valign="top" class="$style" ><font>&nbsp;</font></td>
		#end
		#if($manifestOptions.isShowCreditCardDetails() == true)
			#if($paxRecord.getCc4Digit() == "")
				<td valign="top" class="$style" ><font>&nbsp;</font></td>
			#else
				<td valign="top" class="$style" ><font>Last 4 Digits of CC:$paxRecord.getCc4Digit()</font></td>
			#end
		#end
		#if($paxRecord.getReleaseTimeStamp() == "")
			<td valign="top" class="$style" ><font>&nbsp;</font></td>
		#else
			<td valign="top" class="$style" ><font>Onhold Release Time:$paxRecord.getReleaseTimeStamp()</font></td>
		#end
	#end
	</tr>


<!-- Here starts second html row for the single record-->
#if($manifestOptions.isDownload() == false)
	<tr>
	<td colspan="2"  class="$style"><font>&nbsp;</font>

	#if($manifestOptions.isShowPaxIndentification() == true )
		#set($colspan = $maxColumns - 3)
	#else
		#set($colspan = $maxColumns - 2)
	#end

	<td colspan="$colspan" valign="top"  class="$style" >

	#if($manifestOptions.isShowSsr() == true && $paxRecord.getSsrText() != "")
		<font>$paxRecord.getSsrText()</font>&nbsp;&nbsp;
	#end

	#if($paxRecord.getEticket()!= "")
		<font>$paxRecord.getEticket()</font>&nbsp;&nbsp;
	#end

	#if($manifestOptions.isShowCreditCardDetails() == true && ($paxRecord.getCc4Digit() != ""))
		<font>Last 4 Digits of CC:$paxRecord.getCc4Digit()</font>&nbsp;&nbsp;
	#end

	#if($paxRecord.getReleaseTimeStamp() != "")
		<font>Onhold Release Time:$paxRecord.getReleaseTimeStamp()</font>&nbsp;&nbsp;
	#end

	</td>

	#if($manifestOptions.isShowPaxIndentification() == true )
	<td valign="top"  class="$style" >
	#if($paxRecord.getFoidNumber() != "")
	<font>$paxRecord.getFoidNumber()</font>
	#else
	&nbsp;&nbsp;
	#end
	</td>
	#end
	</tr>
  #end

#end


<!-- ------------------------------------------------- Manifest Data Table Start --------------------------------------------------------------------------------- -->
		 <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
		 	<tr>
		 		<td valign="top" align="center">
		 		<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
		 			<tr>
		 				<td width="45%"><img src="../images/$logoImageName"/>
		 				</td>
		 				<td align="left"><font class="Header">Flight Manifest</font>
		 				</td>
		 			</tr>
		 			<tr>
		 				<td colspan= "2"><font class="fntSmall">&nbsp;</font></td>
		 			</tr>
		 			<tr>
		 				<td></td>
		 				<td align="right">
		 				<table>
		 					<tr><td><font class="fntSmall">Report ID  : UC_REPM_022</font></td></tr>
		 					<tr><td><font class="fntSmall">Print Date : $startDate </font></td></tr>
		 					<tr><td><font class="fntSmall">Print Time : $startTIme </font></td></tr>
		 				</table>
		 				</td>
		 			</tr>
		 			<tr>
		 				<td colspan= "2"><font class="fntSmall">&nbsp;</font></td>
		 			</tr>

		 			<tr>
						<td style="height:470px;" valign="top" colspan="2">
						<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
							<tr>
								#if($manifestOptions.isDownload() == true)
								<a href="#" class="export"><font class="fontExportCSV">Export to CSV</font></a>
								#end
							</tr>
							<tr><td><font class="fntSmall">&nbsp;</font></td></tr>
							<tr>
								<td width="9%"><font>Flight Number :</font></td>
								<td width="21%"><font>$manifestData.getFlightNo()</font></td>
								<td width="4%"><font>Date :</font></td>
								<td width="26%"><font>$manifestData.getFlightDate()</span></font></td>
								<td width="5%"><font>Route :</font></td>
								<td width="25%"><font>$manifestData.getRoute()</span></font></td>
					 		</tr>
							<!-- Manifest Summary-->
							#if($manifestOptions.getSummaryPosition() == "top")
								#summaryDetail($manifestData $manifestOptions)
							#end
							<tr><td><font class="fntSmall">&nbsp;</font></td></tr>
		 					<tr>
							<td valign="top" colspan="6">
								<table id="manifestDataTable" width="100%" border="0" cellpadding="1" cellspacing="0" align="center">

									#set($style ="manifestRow1")

									#if($manifestData.getPaxRecords().size() > 0)
										#set($currentCabinClassCode = "")
										#set($currentLogicalCabinClassCode = "")
										#set($printHeading = true)
										 #foreach ($paxRecord in $manifestData.getPaxRecords())

										 	#if($manifestOptions.isFilterByCabinClass() == true && $manifestOptions.getCabinClass() == "All" && $manifestData.getCabinClassSummaries().size() > 1)
											 	#if($currentCabinClassCode == "" || $currentCabinClassCode != $paxRecord.getCabinClassCode())
											 		#set($currentCabinClassCode = $paxRecord.getCabinClassCode())
											 		<tr><td colspan="14" align="center"><font size="3">$paxRecord.getCabinClassName()</font></td><tr>
											 		<tr><td colspan="14" align="center"></td><tr>
											 		#tableHeadDetail($manifestOptions)
											 	#end
											#elseif($manifestOptions.isFilterByLogicalCabinClass() == true && ($manifestOptions.getCabinClass() == "All" || $manifestOptions.getLogicalCabinClass() == "All"))
										 		#if($currentCabinClassCode == "" || $currentCabinClassCode != $paxRecord.getCabinClassCode())
											 		#set($currentCabinClassCode = $paxRecord.getCabinClassCode())
											 		<tr><td colspan="14" align="center"><font size="3">$paxRecord.getCabinClassName()</font></td><tr>
											 		<tr><td colspan="14" align="center"></td><tr>
											 	#end
											 	#if($currentLogicalCabinClassCode == "" || $currentLogicalCabinClassCode != $paxRecord.getLogicalCCCode())
											 		#set($currentLogicalCabinClassCode = $paxRecord.getLogicalCCCode())
											 		<tr><td colspan="14" align="center"><font size="3">$paxRecord.getLogicalCCName()</font></td><tr>
											 		<tr><td colspan="14" align="center"></td><tr>
												 	#tableHeadDetail($manifestOptions)
											 	#end
										 	#else
										 		#if($printHeading == true)
										 			#tableHeadDetail($manifestOptions)
										 			#set($printHeading = false)
										 		#end
										 	#end

										 	#manifestRecordDetail ($paxRecord $manifestOptions $style)

											#if($style.indexOf("manifestRow1") > -1)
										 		#set($style ="manifestRow2")
										 	#else
												#set($style ="manifestRow1")
											#end
											</tr>
									 	#end

									 #else
									 	#tableHeadDetail($manifestOptions)
									 	<tr><td colspan="10" align="center"><font>No Data Found</font></td></tr>;
									 #end
							</table>
							</td>
							</tr>
							<tr>
							<td colspan="6" class="GridRow GridPrintHeader GridHeaderBand GridHDPrintBorder" align="left">
								<font><b>$manifestLegend</b></font>
								&nbsp;
								<b class="fontMisConnection"><font>Possible Misconnection</font></b>
							</td>
							</tr>
							#if($manifestOptions.getSummaryPosition()  == "bottom")
								#summaryDetail($manifestData $manifestOptions)
							#end
						</table>
						</td>
					</tr>
					</td>
			</tr>
		</table>
		</td>
	</tr>
</table>
<!-- ------------------------------------------------- Manifest Data Table End--------------------------------------------------------------------------------- -->
</body>
</html>