<?xml version="1.0" encoding="UTF-8"?>
<message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<header>
		<subject>$subject</subject>
	</header>
	<content>
		<body><![CDATA[<html> Dear Officer,
			<p>
				$description
			</p>

			<p>
				<b>Cancelled Flight Details</b><br>
				
				Flight Number: $flightAlertInfoDTO.getFlightNumber()<br>
				Departure Date: $flightAlertInfoDTO.getDepartureStringDate("EEE, dd MMM yyyy, HH:mm:ss z")<br>
				#if( $flightAlertInfoDTO.getRoute() )
						Route: $flightAlertInfoDTO.getRoute()<br>
				#end
				Origin Airport Code: $flightAlertInfoDTO.getOriginAptCode()<br>
				Destination Airport Code: $flightAlertInfoDTO.getDestinationAptCode()<br>
				#if( $flightAlertInfoDTO.getScheduleId())
				Schedule Id : $flightAlertInfoDTO.getScheduleId()<br>
				#end
				Flight Id: $flightAlertInfoDTO.getFlightId()<br>
				Status: $flightAlertInfoDTO.getStatus()<br>
				Model Number: $flightAlertInfoDTO.getModelNumber()<br>
				#if( $flightAlertInfoDTO.getSegmentDetails() )
					Segment Details: $flightAlertInfoDTO.getSegmentDetails()<br>
				#else
					Leg Details: $flightAlertInfoDTO.getLegDetails()<br>
				#end
				<br>
			</p>						
			
			<br>
			Sincerely,
			<br><b>
			$commonTemplatingDTO.getCarrierName() </b></br>
			</html>
		]]></body>
	</content>
</message>