		<html dir='$direction'>
		<head>
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>	
			<title> $label.itinerary_heading</title>
		</head>
		<style type="text/css">
		<!--
		 font{font-family:tahoma;font-size:11px;left:auto;color: #452E84;}
		 Body {background : white;margin :0px 0px 0px 0px;}
		 .fntBold{font-weight:bold;}
		 .fntBoldWhite{font-weight:bold;color: #fffffe;}
		 .fntBoldSm{font-weight:bold;font-size:9px}
		 .thinBorder{height:18px;border:0px solid;border-color:"#FFFFFF";background-color:"#EFEEE4"}
		 .thinBackground{background-color:#C4C4C4;bgcolor="#EFEEE4"}
		 .tbBgColor { background-color:#EBEBEB;}
		 .thinHD{height:18px;border:0px solid;border-color:black;background-color:#452E84;}
		 .fntSmall{font-size:9px;}
		 .fntExSmall{font-size:8px;}
		 .fntTiny{font-size:8px;}
		 .fntLarge{font-size: 17px;}
		 .fntExLarge{font-size: 22px;}
		 .fontCapitalize{text-transform: capitalize;}
		 .fntBoldItnry{font-weight:bold;font-family:tahoma;font-size:11px;left:auto;color: red;} 
		 .fntSmalled {font-size: 9px;}
		 .fntSmalledBold {font-size: 9px;font-weight:bold}
		 .fntRed{color: red;} 
		 .fntHeaders {
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}		 .fntHeadersWhite {
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #fffffe;
}
	
		 
		 UL{MARGIN-TOP: 0px;MARGIN-bottom: 4px;}
		 LI{MARGIN-TOP: 0px;MARGIN-bottom: 0px;}
		-->
		</style>
		<body>
			<table width="750" border="0" cellpadding="2" cellspacing="2" align="center">
						
			<!-- Itinerary Advertisment Image will come here -->
		  #if($itineraryAdvertisementImageURL != "" )
		    <tr><td>&nbsp;</td></tr>
		  	<tr>
			  	<td align="center" width="80%" valign="top" colspan="2">			  		 		
			  		 		<img src="$itineraryAdvertisementImageURL"/>
			  	</td>
		  	</tr>
		  	<tr><td>&nbsp;</td></tr>
		  
		  #else
		  	<tr><td>&nbsp;</td></tr>
		  		<tr>
			 	 	<td align="center" width="100%" valign="top" colspan="2">			  		 		
			 	 		 	<img src="$ibeURL/images/advertisement_q9_no_cache.jpg" onerror="this.src = '';" border="0"/>
			 	 	</td>
		  		</tr>
		  
				<tr>
					<td align="right" colspan="2">
					</td>
				</tr>
		  #end	 
				<tr >
					<td colspan="2">
						<div dir="ltr" >
							<table width="100%">
								<tr>
									<td width="20%">
											<img src="$ibeURL/images/$logoImageName"/>
									</td>
								</tr>
								<tr>
								<td width="80%" align="left">
											<font class="fntSmall">$companyAddress</font>
									</td>
								</tr>
							</table>						
						</div>
					</td>				
				</tr>
				<tr>
					<td align="right" colspan="2">
						<font class="fntLarge"><b>
						#if($booking.getStatus() == "STB")
							$label.itinerary_reservation_standby<!-- RESERVATION STANDBY -->
						#elseif($booking.getStatus() == "CNF" && $booking.isForced())
						   $label.itinerary_reservation_confirmed_forced<!-- RESERVATION CONFIRMED FORCED-->
						#elseif($booking.getStatus() == "CNF")
						   $label.itinerary_reservation_confirmed<!-- RESERVATION CONFIRMED -->
						#elseif($booking.getStatus() == "CNX")
						   $label.itinerary_reservation_cancelled<!-- RESERVATION CANCELLED -->
						#elseif($booking.getStatus() == "VOD")
						   $label.itinerary_reservation_void<!-- RESERVATION VOID -->
						#else
						   $label.itinerary_reservation_onhold<!-- RESERVATION ONHOLD -->
						#end
						</b></font>
					</td>
				</tr>				
				#if($booking.getBarcode())
				<tr>
					<td align="right" colspan="2">
						<!-- BARCODE IMAGE (WITH tags and all)--> $booking.getBarcode()
					</td>
					<td align="right" colspan="2">
					</td>
				</tr>	
				#end			
				<tr>
					<td align="center" colspan="2">
						<hr>
					</td>
				</tr>
				<tr>
					<td valign="top" colspan="2">
					<table width="100%" border="0" cellpadding="2" cellspacing="2" ID="Table1">
						<tr>
							<td>
								<font class="fntBold">$label.itinerary_reservation_number<!-- RESERVATION NUMBER --></font>
							</td>
							<td width="20%" class="thinHD">
								<font class="fntBoldWhite">$booking.getGDSPNR()</font>
							</td>
							
							#if ($isInterlineRelated == true)
								<td width="25%">
									<font class="fntBold">$label.itinerary_reservation_references<!-- RESERVATION REFERENCES --></font>
								</td>
								<td width="25%" class="thinHD">
									<font class="fntBoldWhite"  dir="ltr">
									 $booking.getGDSPNR()
					       			</font>
								</td>
							#else
								<td width="25%">
								</td>
								<td width="25%">								
								</td>
							#end
						</tr>
						<tr>
							<td><font class="fntBold">$label.itinerary_reservation_dateofbooking<!-- DATE OF BOOKING --></font></td>
							<td width="20%" class="thinHD">
								<font class="fntBoldWhite" dir="ltr">#if($booking.isPersianDatesSet() && $booking.getBookingDateInPersian())
																$booking.getBookingDateInPersian()
																#else
																$booking.getBookingDateTime("dd MMM yyyy")
																#end
								</font> 
							</td>
							#if ($isInterlineRelated == true)
								<td width="25%">
									<font class="fntBold">$label.itinerary_airlinecodelegend<!-- AIRLINE CODE LEGEND --></font>
								</td>
								<td width="25%" class="thinHD">
									<font class="fntBoldWhite" dir="ltr">
									#foreach ($airlineCode in $booking.getAirlineNames().keySet())
					       				$airlineCode - $booking.getAirlineNames().get($airlineCode)
					       				#if($velocityCount != $booking.getAirlineNames().size())
					       					<br />
					       				#end
					       			#end
					       			</font>								
								</td>	
							#else
								<td width="25%">
								</td>
								<td width="25%">																
								</td>	
							#end							
						</tr>
						#if($booking.hasDateOfIssue())
						<tr>
							<td><font class="fntBold">$label.itinerary_reservation_dateofissue<!-- DATE OF ISSUE --></font></td>
							<td width="20%" class="thinHD">
								<font class="fntBoldWhite" dir="ltr">#if($booking.isPersianDatesSet() && $booking.getDateOfIssueInPersian())
																$booking.getDateOfIssueInPersian()
																#else
																$booking.getDateOfIssue("dd MMM yyyy")
																#end
								</font> 
							</td>
							<td width="25%">
							</td>
							<td width="25%">																
							</td>	
						</tr>
						#end
						
						#if($booking.isShowTicketExpiryDate())
						<tr>
							<td><font class="fntBold">$label.itinerary_ticket_expiry_date<!--TICKET EXPIRES ON --></font></td>
							<td width="20%" class="thinHD">
								<font class="fntBoldWhite" dir="ltr">#if($booking.isPersianDatesSet() && $booking.getTicketExpiryDateInPersian())
																$booking.getTicketExpiryDateInPersian()
																#else
																$booking.getTicketExpiryDateTime("dd MMM yyyy")
																#end
								</font> 
							</td>							
							<td width="25%">
							</td>
							<td width="25%">																
							</td>															
						</tr>
						#end
						
						#if(false)
						<tr>
							<td>
								<font class="fntBold">$label.itinerary_eticketnumber<!-- E TICKET NUMBER --></font>
							</td>
							<td width="20%" class="thinHD">
								<font class="fntBoldWhite">$booking.getETicketNumber()</font>
							</td>
						</tr>
	   		 			#end
	   		 			#if($showInsurance)
	   		 			<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
																	
						</tr>
	   		 			#else
							#if ($anciAvailability.isInsuranceAvailable())
							<tr>
								<td>
									<font class="fntBold">$label.itinerary_policynumber<!-- POLICY NUMBER --></font>
								</td>
								<td width="20%" class="thinHD">
									<font class="fntBoldWhite">$insurance.getPolicyCode()</font>
								</td>
							</tr>
							#end
						#end
						<tr>
							<td><font class="fntBold">$label.itinerary_passengerdetails<!-- PASSENGER DETAILS --></font></td>
							<td>&nbsp;</td>
							#if ($booking.getReleaseDateTime(""))
							<td><font class="fntBold">$label.itinerary_releasetime<!-- RELEASE TIME  --></font></td>
							<td class="thinHD"><font class="fntBoldWhite" dir="ltr">#if($booking.isPersianDatesSet() && $booking.getReleaseDateTimeInPersian())
																				$booking.getReleaseDateTimeInPersian()
																				#else
																				$booking.getReleaseDateTime("dd MMM yyyy HH:mm")
																				#end
							</font></td>
							#else
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							#end
						</tr>
					</table>
				</td>
			</tr>
  
			<tr>
				<td valign="top" colspan="2">  
					<table width="100%" border="0" cellpadding="3" cellspacing="2" bordercolor="#0099FF" bgcolor="#FFFFFF" ID="Table2">
						<tr>
							<td class="thinHD" align="center" width="30%">
								<font class="fntBoldWhite">$label.itinerary_passengernames<!-- Passenger Name(s) --></font>
							</td> 
							
							## INFANTS DISPLAYED IF ANY ## 
							#if ($booking.isHasInfants())
								<td class="thinHD" align="center">
									<font class="fntBoldWhite">$label.itinerary_infants<!--Infant(s)--></font>
								</td>
							#end 
							
							## CHARGES DISPLAYED IF SELECTED ## 
							#if ($includePaxFinancials)
								#if ($showItineraryFareBreakDown)
								<td class="thinHD" align="center" width="10%">
									<font class="fntBoldWhite">$label.itinerary_fare<!-- Fare --></font>
								</td>
																
								#if ($showExtraChargeDetails)
								<td class="thinHD" align="center" width="10%">
									<font class="fntBoldWhite">$label.itinerary_tax<!-- Taxes --></font>
								</td>
								<td class="thinHD" align="center" width="10%">
									<font class="fntBoldWhite">$label.itinerary_surcharges<!-- Surcharges--></font>
								</td>
								#else
								<td class="thinHD" align="center" width="10%">
									<font class="fntBoldWhite">$label.itinerary_charges<!-- Charges --></font>
								</td>
								#end
								#if($showDiscountAmounts)
									#if($creditDiscount)
										<td class="thinHD" align="center" width="10%">
											<font class="fntBoldWhite">$label.itinerary_discount_credit<!-- Discount --></font>
										</td>
									#else
										<td class="thinHD" align="center" width="10%">
											<font class="fntBoldWhite">$label.itinerary_discount<!-- Discount --></font>
										</td>
									#end									
								#end
								
								#if ($showExtraChargeDetails)
								<td class="thinHD" align="center" width="10%">
									<font class="fntBoldWhite">$label.itinerary_total_due<!-- Total Due --></font>
								</td>
								#end
							    #end
								<td class="thinHD" align="center" width="10%">
									<font class="fntBoldWhite">$label.itinerary_paidamount<!-- Paid Amount --></font>
								</td>
								<td class="thinHD" align="center" width="10%">
									<font class="fntBoldWhite">$label.itinerary_balance <!-- Balance --></font>
								</td>
								#if ($showItineraryFareBreakDown)
							    #if ($includeCreditExpiryDate)
							    <td class="thinHD" align="center" width="10%">
								   <font class="fntBoldWhite">$label.itinerary_balance_expiry_date <!-- Balance --></font>
							    </td>
							    #end
							    
							    #if($includeAutoCancellationInfo)
									<td class="thinHD" align="center" width="15%">
										<img src="$ibeURL/images/paybefore.png" align="absmiddle"/>
							       		<font class="fntBoldWhite" style="color:#ff0000"> $label.itinerary_autoExpire <!--Pay Before--></font>
							     	</td>
								#end
								#end
							#end							
						</tr>
					
						#foreach($passenger in $passengers)
						<tr>
							<td class="tbBgColor" valign="middle">
								<font class="fontCapitalize"> 
								#if($passenger.getPaxType() == "CH") 
									$label.itinerary_childprefix <!-- Child. -->
								#end
									
								$passenger.getPaxDisplayName().toUpperCase() 
								
								
								
								#if($showEtktPerPax && $passenger.getETicket()) 
									<br> <font class="fntBoldSm">$label.itinerary_eticketno_heading<!-- E-Ticket No. --> &nbsp; - &nbsp; </font> 
									<font class="fntSmalled">$passenger.getETicket()&nbsp; </font>
								#end 
								
								#if($passenger.getEmployeeId()) 
									<br>
									<font class="fntBoldSm"> $label.itinerary_employeeId<!-- Employee ID-->&nbsp; - &nbsp;</font> 
									<font class="fntSmalled"> $passenger.getEmployeeId()&nbsp; </font> 
								#end 
			
								#if($showFOID && $passenger.getFoidNumber())
								<br>
								<font class="fntBoldSm"> $label.itinerary_passportno<!-- Passport No.-->&nbsp; - &nbsp;</font> <font class="fntSmalled">$passenger.getFoidNumber()&nbsp; </font>
								#end
								
								#if($showDOB && $passenger.getDateOfBirth("dd MMM yyyy"))
								<br>
								<font class="fntBoldSm"> $label.itinerary_dateofbirth<!-- Date of Birth-->&nbsp; - &nbsp;</font> <font class="fntSmalled"> 
																				#if($passenger.isPersianDatesSet() && $passenger.getDateOfBirthInPersian())
																				$passenger.getDateOfBirthInPersian()
																				#else
																				$passenger.getDateOfBirth("dd MMM yyyy")
																				#end
								&nbsp; </font>
								#end

								#if($showEtktPerPax && $passenger.getETicket())
								<br> 
								<font class="fntBoldSm"> $label.itinerary_eticketno_heading<!-- E-Ticket No. --> &nbsp; - &nbsp;</font> <font class="fntSmalled">$passenger.getETicket()&nbsp; </font>
								#end
								#if(($showInsurance) && ($passenger.getPaxInsPolicyCode()))
                                <br>
								<font class="fntBoldSm"> $label.itinerary_policynumber<!-- Rak Insurance policy no --> &nbsp;   - &nbsp;</font> <font class="fntSmalled">$passenger.getPaxInsPolicyCode() &nbsp; </font>
								#end
								&nbsp;
								</font>
							</td> 
							
							#if ($booking.isHasInfants()) 
								#if($passenger.getInfantDisplayName() != "")
								<td class="tbBgColor" valign="middle">
									<font class="fontCapitalize">
									$label.itinerary_babyprefix<!-- BABY.--> &nbsp;$passenger.getInfantDisplayName()
									<br>
									#if($showDOB && $passenger.getInfantDateOfBirth("dd MMM yyyy"))
									<br>
									<font class="fntBoldSm">$label.itinerary_dateofbirth<!--Date of Birth--> - &nbsp;</font> 
																#if($passenger.isPersianDatesSet() && $passenger.getInfantDateOfBirthInPersian())
																$passenger.getInfantDateOfBirthInPersian()
																#else
																$passenger.getInfantDateOfBirth("dd MMM yyyy")
																#end
									&nbsp;
									<br>
									#end
									#if($showEtktPerPax && $passenger.getInfantETicketNo())
										<font class="fntBoldSm"> $label.itinerary_eticketno_heading<!-- E-Ticket No. --> &nbsp; - &nbsp;</font> <font class="fntSmalled">$passenger.getInfantETicketNo() &nbsp; </font>
										<br/>
									#end
									&nbsp;
									</font>
								</td>
								#else
								<td class="tbBgColor" align="right">
									<font>
										&nbsp;
									</font>
								</td>
								#end
							#end

							## CHARGES DISPLAYED IF SELECTED ##
							#if($includePaxFinancials)
							#set($financials = $passenger.getBaseCurrencyFinancials())  
							#if ($showItineraryFareBreakDown)
							<td class="tbBgColor" align="right" valign="middle">
								<font><!-- FARE -->$financials.getTotalFare() 
								#if($booking.getItineraryFareMask() == "N") 
									$financials.getCurrency()
								#end
								&nbsp;</font>
							</td>
							
							
							
							  #if ($showExtraChargeDetails)
								<td class="tbBgColor" align="right" valign="middle">
									<font>
										<!-- TAXES -->
										$financials.getTotalTaxes()
										
										#if($booking.getItineraryFareMask() == "N")
											$financials.getCurrency() 
										#end 
										&nbsp;
									</font>
								</td>
								<td class="tbBgColor" align="right" valign="middle">
									<font>
										<!-- SURCHARGES -->
										$financials.getTotalSurcharges()
										
										#if($booking.getItineraryFareMask() == "N")
											$financials.getCurrency() 
										#end 
										&nbsp;
									</font>
								</td>
								#else
								<td class="tbBgColor" align="right" valign="middle">
									<font>
										<!-- CHARGES -->
										$financials.getTotalCharges()
										
										#if(!$booking.isItinChargesMask()) 
											$financials.getCurrency() 
										#end
										&nbsp;
									</font>
								</td>
								#end
						    	
								#if($showDiscountAmounts)
									<td class="tbBgColor" align="right" valign="middle">
										<font>
											<!-- DISCOUNT -->
											#if($creditDiscount)
												$financials.getTotalDiscount()
											#else
												-$financials.getTotalDiscount()
											#end
											
											#if(!$booking.isItinChargesMask()) 
												$financials.getCurrency() 
											#end
											&nbsp;
										</font>
									</td>
								#end
								
								#if ($showExtraChargeDetails)
								<td class="tbBgColor" align="right" valign="middle">
									<font>
										<!-- TOTAL DUE-->
										$financials.getTotalDue()
										
										#if($booking.getItineraryFareMask() == "N")
											$financials.getCurrency() 
										#end 
										&nbsp;
									</font>
								</td>
						    	#end
							#end
								#if (!$showItineraryFareBreakDown)
								<td class="tbBgColor" align="right" valign="middle">
									<font>
										<!-- PAID AMOUNT -->
										&nbsp;
									</font>
								</td> 
								<td class="tbBgColor" align="right" valign="middle">
									<font>
										&nbsp;
									</font>
								</td>
								#else
								<td class="tbBgColor" align="right" valign="middle">
									<font>
										<!-- PAID AMOUNT -->
										$financials.getTotalPaidAmount()
										
										#if(!$booking.isItinPaidAmountMask()) 
											$financials.getCurrency()
										#end 
										&nbsp;
									</font>
								</td>
								<td class="tbBgColor" align="right" valign="middle">
									<font>
										<!-- CREDIT BALANCE -->
										$financials.getTotalBalance()
										
										#if(!$booking.isItinBallanceMask()) 
											$financials.getCurrency() 
										#end
										&nbsp;
									</font>
								</td>
								#end
							#if ($showItineraryFareBreakDown)	
							 	#if($includeCreditExpiryDate)
	  							 	#if($financials.isPersianDatesSet() && $financials.getCreditExpiryDateInPersian())
									<td class="tbBgColor" align="center">
										<font><!-- CREDIT BALANCE Expiry Date-->$financials.getCreditExpiryDateInPersian() 
										&nbsp;</font>
									</td>
									#else
									<td class="tbBgColor" align="center">
										<font><!-- CREDIT BALANCE Expiry Date-->$financials.getCreditExpiryDate() 
										&nbsp;</font>
									</td>
									#end
							   	#end					
							
							#if($includeAutoCancellationInfo && $passenger.isAlertAutoCancellation())
						    	<td class="tbBgColor" align="right" valign="middle"><font>$booking.getAutoCancellationTime() &nbsp;</font></td>
						    #elseif($includeAutoCancellationInfo)
						    	<td class="tbBgColor" align="right" valign="middle"><font></font></td>
						    #end

							#end
							#end
						</tr>
						#end 
						
						## COLUMN SPAN TO USED IN TOTALS ## 
						
						#if($booking.isHasInfants()) 
							#set($totalsColSpan = 2) 
						#else
							#set($totalsColSpan = 1) 
						#end 
						
						## TOTALS DISPLAYED IF SELECTED ## 
						#if($includePaxFinancials)
						#if ($showItineraryFareBreakDown)
						<tr>
							#set($financialTotals = $booking.getBaseCurrencyFinancials())
							
							<td align="right" colspan="$totalsColSpan" valign="middle">
								<font class="fntBold">$label.itinerary_totalin<!--TOTAL IN --> $financialTotals.getCurrency()</font>
							</td>
							
							<td class="tbBgColor" align="right" colspan="1" valign="middle">
								<font><!-- TOTAL TICKET FARE -->$financialTotals.getTotalFare() &nbsp;</font>
							</td>
							
							#if ($showExtraChargeDetails)
							<td class="tbBgColor" align="right" colspan="1" valign="middle">
								<font><!-- TOTAL TICKET TAXES -->$financialTotals.getTotalTaxes() &nbsp;</font>
							</td>
							<td class="tbBgColor" align="right" colspan="1" valign="middle">
								<font><!-- TOTAL TICKET SURCHARGES -->$financialTotals.getTotalSurcharges() &nbsp;</font>
							</td>
							#else
							<td class="tbBgColor" align="right" colspan="1" valign="middle">
								<font><!-- TOTAL TICKET CHARGE -->$financialTotals.getTotalCharges()&nbsp;</font>
							</td>
							#end
							
							#if($showDiscountAmounts)
								<td class="tbBgColor" align="right" colspan="1" valign="middle">
									<font><!-- TOTAL TICKET DISCOUNT -->
										#if($creditDiscount)
											$financialTotals.getTotalCreditDiscount()&nbsp;
										#else
											-$financialTotals.getTotalDiscount()&nbsp;
										#end										
									</font>
								</td>
							#end
							
							#if ($showExtraChargeDetails)
							<td class="tbBgColor" align="right" colspan="1" valign="middle">
								<font><!-- TOTAL TICKET DUE -->$financialTotals.getTotalDue() &nbsp;</font>
							</td>
							#end
							
							<td class="tbBgColor" align="right" colspan="1" valign="middle">
								<font><!-- TOTAL PAID AMOUNT -->$financialTotals.getTotalPaidAmount()&nbsp;</font>
							</td>
							<td class="tbBgColor" align="right" colspan="1" valign="middle">
								<font><!-- TOTAL BALANCE -->$financialTotals.getTotalBalance() &nbsp;</font>
							</td>
						</tr>
						#end
						#end
						
                        #if($includePaxFinancials)
						#set($paidCurrFinancialTotals = $booking.getPaidCurrencyFinancials())
						#if($paidCurrFinancialTotals)
						<tr>
							<td align="right" colspan="$totalsColSpan" valign="middle">
								<font class="fntBold">$label.itinerary_totalin<!--TOTAL IN --></font>
							</td>
							#if ($showItineraryFareBreakDown)
							<td class="tbBgColor" align="right" colspan="1" valign="middle">
								<font><!-- TOTAL TICKET FARE -->$paidCurrFinancialTotals.getTotalFare()&nbsp;</font>
							</td>
							
							#if ($showExtraChargeDetails)
							<td class="tbBgColor" align="right" colspan="1" valign="middle">
								<font><!-- TOTAL TICKET TAXES -->$paidCurrFinancialTotals.getTotalTaxes() &nbsp;</font>
							</td>
							<td class="tbBgColor" align="right" colspan="1" valign="middle">
								<font><!-- TOTAL TICKET SURCHARGES -->$paidCurrFinancialTotals.getTotalSurcharges() &nbsp;</font>
							</td>
							#else
							<td class="tbBgColor" align="right" colspan="1" valign="middle">
								<font><!-- TOTAL TICKET CHARGE -->$paidCurrFinancialTotals.getTotalCharges()&nbsp;</font>
							</td>
							#end
							#if ($showExtraChargeDetails)
							<td class="tbBgColor" align="right" colspan="1" valign="middle">
								<font><!-- TOTAL TICKET DUE -->$paidCurrFinancialTotals.getTotalDue() &nbsp;</font>
							</td>
							#end
							#end
							<td class="tbBgColor" align="right" colspan="1" valign="middle">
								<font><!-- TOTAL PAID AMOUNT -->$paidCurrFinancialTotals.getTotalPaidAmount()&nbsp;</font>
							</td>
							<td class="tbBgColor" align="right" colspan="1" valign="middle">
								<font><!-- TOTAL BALANCE -->$paidCurrFinancialTotals.getTotalBalance()&nbsp;</font>
							</td>
						</tr>
						#end
                        #end
						
						## DISPLAY PASSENGER CONTACT ##
						
						#if($includePaxContactDetails) 
						<tr>
							<td valign="top" colspan="2">
								<font class="fntBold">$label.itinerary_passenger_contact_details<!--PASSENGER CONTACT DETAILS--></font>
							</td>
						</tr>
						<tr>
							<td valign="top" colspan="2">
								<table width="100%" border="0" cellpadding="0" cellspacing="1" bordercolor="#FFFFFF" bgcolor="#FFFFFF" ID="Table3">
									<tr>
										#if ( ($paxContactInfo.getFirstName() != "") || ($paxContactInfo.getLastName() != "") )
										
											#set( $fName = $paxContactInfo.getFirstName())
											#set( $lName = $paxContactInfo.getLastName())
											#set( $name = "$fName, $lName" )
												
											<td class="tbBgColor">
												<font>
													$name &nbsp;
												</font>
											</td>
										#end
										
										#if ($paxContactInfo.getEmail() != "")
											<td class="tbBgColor">
												<font>
													$paxContactInfo.getEmail() &nbsp;
												</font>
											</td>
										#end
										
										#if ($paxContactInfo.getMobileNo() != "")
											<td class="tbBgColor">
												<font>
													$paxContactInfo.getMobileNo() &nbsp;
												</font>
											</td>
										#end
										
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td colspan="5">
								<font class="fntSmall">$label.itenerary_note_below_contact_details<!--NOTE_BELOW_PASSENGER CONTACT DETAILS--></font>
							</td>
						</tr>
						#end
						
					</table>
				</td>
			</tr>

<!-- Start Agent Details -->
			<tr>
				<td valign="top" colspan="2">
					<font class="fntBold">$label.itinerary_agentdetails<!--AGENT DETAILS--></font>
				</td>
			</tr>
			<tr>
				<td valign="top" colspan="2">
					<table width="100%" border="0" cellpadding="0" cellspacing="1" bordercolor="#FFFFFF" bgcolor="#FFFFFF" ID="Table3">
						<tr>
							<td class="tbBgColor">
								<font>
								#if($agent.getOwnerChannelId() == "4")
								   $label.itinerary_webagency<!--Web Agency-->
								#elseif($agent.getAgentName() != "")
								   $agent.getAgentName()								
								#else
								  $label.itinerary_agency<!--Web Agency--> <!-- Temporary : Should never reach here as ownerChannelId has been fixed -->
								#end
								
								&nbsp;
								<!--Bug fix: it is commented -->
								<!--#if($agent.getIsOwner())
								*
								#end -->
								</font>
							</td>
							<td class="tbBgColor">
								<font>$label.itinerary_agent_iata_code<!--Agent IATA Code-->
								#if($agent.getAgentIATANumber() == "")
								  N/A							
								#else
								  $agent.getAgentIATANumber()
								#end								
								&nbsp;
								</font>
							</td>
							#if ($agent.getAgentTelephone() != "")
							<td class="tbBgColor">
								<font>
									$agent.getAgentTelephone() &nbsp;
								</font>
							</td>
							#end
							
							#if ($agent.getAgentEmail() != "")
							<td class="tbBgColor">
								<font>$agent.getAgentEmail() &nbsp;</font>
							</td>
							#end
							
							#if ($agent.getExternalcharges().size() > 0)
								##foreach (external charge)
								<!--
								<td class="tbBgColor">
									<font>
									externalChgDTO.getChargeDescription()&nbsp; 
									reservationPaxDTO.getBaseCurrency()&nbsp;
									externalChgDTO.getAmount().toString()&nbsp;
									</font>
								</td>
								-->
								##end
							#end
						</tr>
					</table>
				</td>
			</tr>

<!-- Start TRAVEL SEGMENTS -->


			<tr>
				<td valign="top" colspan="2">
					<font class="fntBold">$label.itinerary_travelsegments<!--TRAVEL SEGMENTS--></font>
				</td>
			</tr>
			<tr>
				<td valign="top" colspan="2">
					<table width="100%" border="0" cellpadding="0" cellspacing="2" bordercolor="#FFFFFF" bgcolor="#FFFFFF" ID="Table4">
<tr>
                        	<td class="thinHD" align="center" colspan="1">
								<font class="fntHeadersWhite">$label.itinerary_flight<!--Flight--></font>							</td>
							<td class="thinHD" align="center" colspan="1">
								<font class="fntHeadersWhite">$label.itinerary_origindestination<!--Origin / Destination--></font>							</td>
							<td class="thinHD" align="center" colspan="2">
								<font class="fntHeadersWhite">$label.itinerary_departure<!--Departure-->   /  $label.itinerary_arrival<!--Arrival--></font>							</td>
<td class="thinHD" align="center" colspan="2">
								<font class="fntHeadersWhite">$label.itinerary_checkinfrom<!--Check-in From--></font>							</td>
							
							#if ($showStandbyTravelValidity)
							<td class="thinHD" align="center" colspan="1">
								<font class="fntHeadersWhite">$label.itinerary_stb_valid_till<!--Travel-Valid Till--></font>
							</td>
							#end
							#if ($showCOS || $showLogicalCC)
							<td class="thinHD" align="center" colspan="1">
								#if($label.itinerary_class_fullname)
									<font class="fntHeadersWhite">$label.itinerary_class_fullname<!--Class--></font>
								#else
									<font class="fntHeadersWhite">$label.itinerary_class<!--Class--></font>
								#end								</td>
							#end
							<td class="thinHD" align="center" colspan="1">
								<font class="fntHeadersWhite">$label.itinerary_status<!--Status--></font>							</td>
							#if ($includeFlightBaggageAllowance)
							<td class="thinHD" align="center" colspan="1">
								<font class="fntHeadersWhite">$label.itinerary_baggages<!--Baggage--></font>							</td>
							#end
							#if ($viewFareBasisCode)
							<td class="thinHD" align="center" colspan="1">
								<font class="fntHeadersWhite">$label.itinerary_fare_basis_code<!--Fare Basis Code--></font>					</td>
							#end
							<!-- <td class="thinHD" align="center" colspan="1">
								<font class="fntBold">$label.itinerary_carrier</font></td>	-->
						</tr>
						
						## SEGMENTS (NON-OPEN RETURN) ##
						#if($flightOndGroups.size() > 0)
						#set($fareSegmentIndex= 0)
							#foreach ($ondGroup in $flightOndGroups)
								#set($ondIndex= 0)
								#if($ondGroup.getFlights().size() > 0)						
									#foreach ($flight in $ondGroup.getFlights())	
										#if(!$flight.isOpenReturnSegment())			
			
											#set($fltRowSpan = 2)
			
											#if ($showFlightStopOverInfo)
												#set($fltRowSpan = 3)
											#end
											
											#if ($booking.isShowTicketExpiryDate())
												##set($fltRowSpan = 4)
											#end
														
										<tr height="30">
		                                	<td  width="20%" rowspan="$fltRowSpan"  align="center" class="tbBgColor"><font class="fntHeaders">$flight.getFlightNo() 
		                                	#if ($showFlightStopOverInfo)
		                                		&nbsp;<br>($flight.getNoOfStops())
		                                	#end
		                                	#if ($flight.getCsOcFlightNumber()!= "")
		                                		&nbsp;<br> OPERATED AS : $flight.getCsOcFlightNumber()
		                                	#end
		                                	</font>
		                                	#if ($showThumbnailLogoImageName)
		                                		 <br> <img src="$ibeURL/images/$flight.getCarrierLogoURL()"/>
		                                	#end
		                                	</td>
											<td class="tbBgColor"><font>$flight.getOriginAirport()&nbsp;  $!flight.getOriginAptTerminalCode()</font></td>
											
											#if($flight.isPersianDatesSet() && $flight.getDepartureDateInPersian())
												<td align="center" class="tbBgColor"><font>$flight.getDepartureDateInPersian() &nbsp;</font></td>
												<td align="center" class="tbBgColor"><font>$flight.getDepartureTimeInPersian() &nbsp;</font></td>
											#else
												<td align="center" class="tbBgColor"><font>$flight.getDepartureDateTime("EEE, dd MMM yyyy") &nbsp;</font></td>
												<td align="center" class="tbBgColor"><font>$flight.getDepartureDateTime("HH:mm") &nbsp;</font></td>
											#end
											
											#if($flight.isPersianDatesSet())
												<td colspan="2" rowspan="2" align="center" class="tbBgColor"><font>$flight.getCheckInDateInPersian() &nbsp;</font> <font>$flight.getCheckInTimeInPersian() &nbsp;</font></td>	
											#else
												<td colspan="2" rowspan="2" align="center" class="tbBgColor"><font>$flight.getCheckInDateTime("EEE, dd MMM yyyy") &nbsp;</font> <font>$flight.getCheckInDateTime("HH:mm") &nbsp;</font></td>	
											#end
											
											#if ($showStandbyTravelValidity)
												<td align="center" class="tbBgColor" rowspan="2"><font>$flight.getStandbyTravelValidityEnd("EEE, dd MMM yyyy") &nbsp;</font></td>
											#end
											
											#if ($showCOS || $showLogicalCC || $showBundledService)
												#set ($cosDesc = "")
												#set ($cosCode = "")
												
												#if($showBundledService && $flight.bundledServiceName != "")
											 		#set ($cosDesc = $flight.bundledServiceName)
											 		#if ($showLogicalCC)
											 			#set ($cosCode = $flight.logicalCCCode)
											 		#else
											 			#set ($cosCode = $flight.cabinClassCode)
											 		#end
											 	#elseif ($showLogicalCC)
													#set ($cosDesc = $flight.logicalCCDescription)
													#set ($cosCode = $flight.logicalCCCode)
												#else
													#set ($cosDesc = $flight.cabinClassDescription)
													#set ($cosCode = $flight.cabinClassCode)
												#end
												
												<td rowspan="2" align="center" class="tbBgColor"><font>$cosDesc<br>
															$cosCode<br></font> </td>
											#end
		
											<td rowspan="2" align="center" class="tbBgColor"><font class="fntHeaders">
		                                    #if ($flight.getDisplayStatus()=='CNF')
		                                    	OK
		                                    #else	
		                                    	$flight.getDisplayStatus()
		                                    #end &nbsp;</font></td>
		                                    #if ($includeFlightBaggageAllowance)
												<td rowspan="2" align="center" class="tbBgColor"><font class="fntHeaders">$flight.flightBaggageAllowance &nbsp;</font></td>
											#end
											
											#if ($viewFareBasisCode)
												<td rowspan="2" align="center" class="tbBgColor"><font class="fntHeaders">
												#foreach($farerule in $fareRules)
													#if($flight.getSegmentCode() == $farerule.getOndCode())
												    	$farerule.getFareBasisCode() &nbsp;	
														#set($fareSegmentIndex= $fareSegmentIndex + 1)
													#end						
												#end
												</font></td>
											#end
							  			</tr>
		                                <tr height="30">
		                                	<td class="tbBgColor"><font>$flight.getDestinationAirport()&nbsp;  $!flight.getDestinationAptTerminalCode()</font></td>
		                                    
		                                    #if($flight.isPersianDatesSet() && $flight.getArrivalDateInPersian() )
												<td align="center" class="tbBgColor"><font>$flight.getArrivalDateInPersian() &nbsp;</font></td>
												<td align="center" class="tbBgColor"><font>$flight.getArrivalTimeInPersian() &nbsp;</font></td>
											#else
												<td class="tbBgColor" align="center"><font>$flight.getArrivalDateTime("EEE, dd MMM yyyy") &nbsp;</font></td>
												<td class="tbBgColor" align="center"><font>$flight.getArrivalDateTime("HH:mm") &nbsp;</font></td>
											#end
											
		                                    <!--#if($ondIndex == 0)
												#set($ondIndex= $ondIndex + 1)
											<td class="thinBorder" align="center" rowspan="$ondGroup.getFlights().size()"><font>$ondGroup.getDuration("HH:mm") &nbsp;</font></td>-->
											<!--<td class="tbBgColor" align="center"><img  width="70%" src="$ibeURL/images/$flight.getCarrierLogoURL()"/></td>
		                                    #else
		                                    	<td class="tbBgColor" align="center">&nbsp;</td>
											#end 
		                                                                   -->
		                                     <td> </td>                              
		                                </tr> 
		                              #if ($showFlightStopOverInfo)
										<tr height="30">											
											<td class="tbBgColor" valign="top"><font class="fntBold">$label.itinerary_duration:&nbsp;</font><font>
														 #if($flight.isPersianDatesSet() && $flight.getFlightDurationInPersian())
														 $flight.getFlightDurationInPersian()
														 #else
														 $flight.getFlightDuration()
														 #end
											</font>
											</td>
											<td class="tbBgColor" valign="top" colspan="2"><font class="fntBold">$label.itinerary_flight_model_decription:&nbsp;</font><font>$flight.getFlightModelDescription()</font>
											</td>
											<td class="tbBgColor" valign="top" colspan="2"><font class="fntBold">$label.itinerary_transit_duration:&nbsp;</font><font>$flight.getFlightStopOverDuration()</font>
											</td>
											<td class="tbBgColor" valign="top" colspan="2"><font class="fntBold">$label.itinerary_flight_remarks:&nbsp;</font><font>$flight.getRemarks()</font>
											</td>
										</tr>
		                              #end
		                              	#if($booking.isShowTicketExpiryDate() && $flight.showTravelValidity())
										<tr height="30">									
										
										#if($flight.isPersianDatesSet() && $flight.getTicketExpiryDateInPersian())
												
											<td class="tbBgColor" valign="top" colspan="7"><font>
																$flight.getTicketExpiryDateInPersian()	
											</font><font class="fntBold">&nbsp;:$label.itinerary_travel_before</font>
											</td>
											
										#else
										
											<td class="tbBgColor" valign="top" colspan="7"><font class="fntBold">$label.itinerary_travel_before:&nbsp;</font><font>
																$flight.getTicketExpiryDateTime("dd MMM yyyy")
														
											</font>
											</td>
										#end
											
										</tr>
										#end
										<tr height="10"><td colspan="5"></td>
										</tr>
										#end
									#end 
								#end 
							#end
						#end
						
						## SEGMENTS (OPEN RETURN) ##
						#if($openRetFlightOndGroups.size() > 0)
						#set($fareSegmentIndex= 0)
							#foreach ($ondGroup in $openRetFlightOndGroups)
								#set($ondIndex= 0)
								#if($ondGroup.getFlights().size() > 0)						
									#foreach ($flight in $ondGroup.getFlights())	
										#if($flight.isOpenReturnSegment())									
										<tr height="30">
		                                	<td  width="20%" rowspan="2"  align="center" class="tbBgColor"><font class="fntHeaders">$label.itinerary_openret_open_return &nbsp;</font></td>
											<td class="tbBgColor"><font>$flight.getOriginAirport()&nbsp;  $!flight.getOriginAptTerminalCode()</font></td>
											<td align="center" colspan="4" rowspan="2" class="tbBgColor"><font>
											$label.itinerary_openret_confirm_date : $flight.getOpenReturnConfirmBeforeLocal() &nbsp;<br/>
											$label.itinerary_openret_travel_expiry : $flight.getSegmentExpiryLocal()  &nbsp;</font></td>
											#if ($showCOS || $showLogicalCC)
												#if ($showLogicalCC) 
													<td rowspan="2" align="center" class="tbBgColor"><font>$flight.logicalCCDescription<br>
														$flight.logicalCCCode<br></font> </td>
												#else
													<td rowspan="2" align="center" class="tbBgColor"><font>$flight.cabinClassDescription<br>
														$flight.cabinClassCode<br></font> </td>
												#end
											#end	
											<td rowspan="2" align="center" class="tbBgColor"><font class="fntHeaders">
		                                    #if ($flight.getDisplayStatus()=='CNF')
		                                    	OK
		                                    #else	
		                                    	$flight.getDisplayStatus()
		                                    #end &nbsp;</font></td>
		                                    
		                                    #if ($viewFareBasisCode)
												<td rowspan="3" align="center" class="tbBgColor"><font class="fntHeaders">
													#foreach($farerule in $fareRules)
														#if($flight.getSegmentCode() == $farerule.getOndCode())
															$fareRules.get($fareSegmentIndex).getFareBasisCode() &nbsp;		
															#set($fareSegmentIndex= $fareSegmentIndex + 1)
														#end
													#end		
												</font></td>
											#end
		                                
							  			</tr>
		                                <tr height="30">
		                                	<td class="tbBgColor"><font>$flight.getDestinationAirport()&nbsp;  $!flight.getDestinationAptTerminalCode()</font></td>
		                                    
		                                    <!--#if($ondIndex == 0)
												#set($ondIndex= $ondIndex + 1)
											<td class="thinBorder" align="center" rowspan="$ondGroup.getFlights().size()"><font>$ondGroup.getDuration("HH:mm") &nbsp;</font></td>-->
											<!--<td class="tbBgColor" align="center"><img  width="70%" src="$ibeURL/images/$flight.getCarrierLogoURL()"/></td>
		                                    #else
		                                    	<td class="tbBgColor" align="center">&nbsp;</td>
											#end 
		                                                                   -->
		                                     <td> </td>                              
		                                </tr> 
										<tr height="10"><td colspan="5"></td>
										</tr>
										#end
									#end 
								#end 
							#end
						#end
					</table>   
			  </td>
			</tr>
			#foreach ($airlineCode in $booking.getAirlineNames().keySet())
                 #if($airlineCode == "RT")
			<!-- TODO : Due to some fix, except G9,3O and E5, all other airlines using this itinerary template. This part is not relevant to other airlines. hence skiped for now. Need to be fixed(KAM last minuit changes) -->
			<tr>
				<td valign="top" colspan="2">
					<font class="fntSmall">
						* $label.itinerary_travelsegments_legend<!--legend--> &nbsp; 
						## $cabinClassesLegend
					</font>
				</td>
			</tr>
				#end
            #end
 <!-- TRAVEL SEGMENTS End -->
 
 ## Station contact details           
 
	#if($includeStationContactDetails) 
            <tr>
            	<td valign="top" colspan="2">
							<font class="fntBold">$label.itinerary_station_contact_details <!--STATION CONTACT DETAILS--></font>
				</td>
            </tr>
            
            #foreach ($contactMap in $stationContactInfo)
            
            	
				<tr>
					<td valign="top" colspan="2">
							<table width="100%" border="0" cellpadding="2" cellspacing="1" ID="Table5">
								<tr>
									#foreach ($detail in $contactMap.keySet())
									
										#if($detail == "stationName")									
											<td class="tbBgColor" width="50%">
												<font >$contactMap.get($detail)</font>
											</td>
										#end
										
										#if($detail == "stationCode")									
											<td class="tbBgColor" width="6%">
												<font >$contactMap.get($detail)</font>
											</td>
										#end
										
										#if($detail == "stationContact")
											<td class="tbBgColor" width="22%">
												<font >$contactMap.get($detail)</font>
											</td>
										#end
										
										#if($detail == "stationTelephone")
											<td class="tbBgColor" width="22%">
												<font >$contactMap.get($detail)</font>
											</td>
										#end
									
									#end
								</tr>
							</table>
					</td>
				</tr>
				
				
			#end
	#end

## Passenger E ticket information  ##
<!-- START E TICKET INFORMATION -->

	#if($showEtktPerPax)
				<tr>
						<td valign="top" colspan="2">
							<font class="fntBold">$label.itinerary_eticketdetails <!--E TICKET DETAILS--></font>
						</td>
				</tr>
				<tr>
					<td valign="top" colspan="2">
						<table width="100%" border="0" cellpadding="2" cellspacing="1" ID="Table5">
							<tr>
								<td class="thinHD" align="center">
									<font class="fntBoldWhite">$label.itinerary_passengernames<!--Passenger Name(s)--></font>
								</td>
								<td class="thinHD" align="center" width="10%">
									<font class="fntBoldWhite">$label.itinerary_segments<!--Segment--></font>
								</td>
								<td class="thinHD" align="center" width="10%">
									<font class="fntBoldWhite">$label.itinerary_flight<!--Flight No--></font>
								</td>
								<td class="thinHD" align="center" width="17%">
									<font class="fntBoldWhite">$label.itinerary_eticketnumber<!--E-Ticket No--></font>
								</td>							
							</tr>
							
							#foreach($passengerTicket in $passengerTickets)
								#set($eTickets = $passengerTicket.geteTickets())
								#if($eTickets.size() > 0)
								<tr>							
									<td class="tbBgColor" rowspan="$eTickets.size()" >
										<font class="fontCapitalize">
										#if ($passengerTicket.getPassengerType() == "CH") $label.itinerary_childprefix<!--Child.--> 
										#elseif ($passengerTicket.getPassengerType() == "IN") $label.itinerary_babyprefix<!--Infant.--> #end
										$passengerTicket.getPassengerDisplayName().toUpperCase()										
										</font>
									</td>								
									## per segment 
									#set($index = 0)									
									#foreach($eTicket in $eTickets)										
										#if($index > 0)
											</tr>
											<tr>
										#end 
												<td class="tbBgColor" align="center">
													<!-- Segment -->
													<font>$eTicket.getSegmentCode()</font>
												</td>
												<td class="tbBgColor" align="center">
													<!-- Flight No -->
													<font>$eTicket.getFlightNo()</font>
												</td>												
												<td class="tbBgColor" align="center">
													<!-- E TICKET NO -->
													<font>$eTicket.geteTicketNumber()</font>
													&nbsp;
												</td>																				
											#set($index = $index+1)
									#end																	
								</tr>
								#end 
							#end
														
						</table>
					</td>
				</tr>			
	#end<!-- END E TICKET INFORMATION -->





		## Ancillary Details ##
<!-- Start ANCILLARY DETAILS -->
		#if($anciAvailability.isAncillaryAvailable())
		<tr>
				<td valign="top" colspan="2">
					<font class="fntBold">$label.itinerary_ancillarydetails<!--ANCILLARY DETAILS--></font>
				</td>
			</tr>
			<tr>
				<td valign="top" colspan="2">
					<table width="100%" border="0" cellpadding="0" cellspacing="1" bordercolor="#FFFFFF" bgcolor="#FFFFFF" ID="Table5">
						<tr>
							<td class="thinHD" align="center">
								<font class="fntBold">$label.itinerary_passengernames<!--Passenger Name(s)--></font>
							</td>
							<td class="thinHD" align="center" width="10%">
								<font class="fntBold">$label.itinerary_segments<!--Segment--></font>
							</td>
							#set($anciAvailCount= 0)
							## HAS SEAT ##
							#if ($anciAvailability.isSeatAvailable())
								#set($anciAvailCount = $anciAvailCount+1)
							<td class="thinHD" align="center" width="10%">
								<font class="fntBold">$label.itinerary_seat<!--Seat--></font>
							</td>
								## HAS EXTRA SEAT(S) ##
								#if ($anciAvailability.isExtraSeatAvailable())
								<td class="thinHD" align="center" width="20%">
									<font class="fntBold">$label.itinerary_extraseats</font>
								</td>
								#end
							#end
							## HAS MEAL ##
							#if ($anciAvailability.isMealAvailable())
								#set($anciAvailCount = $anciAvailCount+1)
							<td class="thinHD" align="center" width="20%">
								<font class="fntBold">$label.itinerary_meals<!--Meal(s)--></font>
							</td>
							#end								
							## HAS SSR ##
							#if ($anciAvailability.isSsrAvailable())
								#set($anciAvailCount = $anciAvailCount+1)
							<td class="thinHD" align="center" width="20%">
								<font class="fntBold">$label.itinerary_ssrs<!--SSR(s)--></font>
							</td>
							#end
							## HAS BAGGAGE ##
							#if ($anciAvailability.isBaggageAvailable())
								#set($anciAvailCount = $anciAvailCount+1)
							<td class="thinHD" align="center" width="15%">
								<font class="fntBold">$label.itinerary_baggages<!--Baggage(s)--></font>
							</td>
							#end	
							## HAS HALA ##	
							#if ($anciAvailability.isAirportServiceAvailable())
								#set($anciAvailCount = $anciAvailCount+1)
							<td class="thinHD" align="center" width="15%">
								<font class="fntBold">$label.itinerary_apss<!--Airport Service(s)--></font>
							</td>
							#end	
							## HAS AIRPORT TRANSFER ##	
							#if ($anciAvailability.isAirportTransferAvailable())
								#set($anciAvailCount = $anciAvailCount+1)
							<td class="thinHD" align="center" width="30%">
								<font class="fntBold">$label.itinerary_apts<!--Airport Transfer(s)--></font>
							</td>
							#end						
						</tr>

						#foreach($passenger in $passengers)
							#set($ancillaries = $passenger.getAncillary())
							#if($ancillaries.size() > 0)
							<tr>							
								<td class="tbBgColor" rowspan="$ancillaries.size()" >
									<font class="fontCapitalize">
									#if ($passenger.getPaxType() == "CH") $label.itinerary_childprefix<!--Child.--> #end
									$passenger.getPaxDisplayName().toUpperCase()
									<br>
									</font>
								</td>								
								## per segment 
								#set($index = 0)
								#foreach($ancillary in $ancillaries)
									#set($segment = $ancillary.getSegment())
									#set($meals = $ancillary.getMeals())
									#set($ssrs = $ancillary.getSsrs())
									#set($seat = $ancillary.getSeat())
									#set($baggages = $ancillary.getBaggages())
									#set($apss = $ancillary.getApss())
									#set($apts = $ancillary.getApts())
									#set($extraSeats = $ancillary.getExtraSeats())
									#if($index > 0)
										</tr>
										<tr>
									#end
											<td class="tbBgColor" align="center">
												<!-- Segment -->
												<font>$segment.getSegmentCode()</font>
												<font>$segment.getFlightNo()</font>
											</td>
											#if ($anciAvailability.isSeatAvailable())
											<td class="tbBgColor" align="center">
												<!-- SEAT -->
												<font>$seat.getSeatNumber()</font>
												&nbsp;
											</td>
												#if($anciAvailability.isExtraSeatAvailable())
												
												<td class="tbBgColor" align="center">
													<font>
										 			#foreach ($exseat in $extraSeats)
										 				$exseat.getSeatNumber() &nbsp;
										 			#end
										 			</font>
												</td>
												#end
											#end
											#if ($anciAvailability.isMealAvailable())
											<td class="tbBgColor" align="center">	
												#set($i = 0)
												#foreach($meal in $meals)
													<font>#if($i>0),#end $meal.getSoldMeals()x $meal.getMealName()</font>
													#set($i = $i+1)
												#end
												#if( $meals.size() == 0) 
												&nbsp;
												#end
											</td>
											#end
											#if ($anciAvailability.isSsrAvailable())
											<td class="tbBgColor" align="center">
												<!-- SSR(s) -->		
												#set($i = 0)									
												#foreach($ssr in $ssrs)
													<font>#if($i>0), #end $ssr.getDescription() #if($ssr.getText())- $ssr.getText() #end</font>
													#set($i = $i+1)
												#end
												#if( $ssrs.size() == 0) 
												&nbsp;
												#end
											</td>
											#end	
											#if ($anciAvailability.isBaggageAvailable())
											<td class="tbBgColor" align="center">	
												#set($i = 0)
												#foreach($baggage in $baggages)
													<font>#if($i>0),#end $baggage.getBaggageName()</font>
													#set($i = $i+1)
												#end
												#if( $baggages.size() == 0) 
												&nbsp;
												#end
											</td>
											#end	
											#if ($anciAvailability.isAirportServiceAvailable())
											<td class="tbBgColor" align="center">
												<!-- Airport Service(s) -->		
												#set($i = 0)									
												#foreach($aps in $apss)
													#if($aps.getSsrText() != "")													
														<font>#if($i>0), #end $aps.getDescription() #if($aps.getAirportCode())- $aps.getAirportCode() - $aps.getSsrText() #end</font>
													#else
														<font>#if($i>0), #end $aps.getDescription() #if($aps.getAirportCode())- $aps.getAirportCode() #end</font>
													#end
													#set($i = $i+1)
												#end
												#if( $apss.size() == 0) 
												&nbsp;
												#end
											</td>
											#end										
											#if ($anciAvailability.isAirportTransferAvailable())
											<td class="tbBgColor" align="center">
												<!-- Airport Transfer(s) -->		
												#set($i = 0)									
												#foreach($apt in $apts)
											     <font> #if($i>0),<br> #end </font> <font class="fntBold">  $apt.getTransferType() - $apt.getTransferAddress() - </font>
											     <font> #if($apt.getTransferDate()) $apt.getTransferDate() #end <br> 
											            #if($apt.getProviderName()) $apt.getProviderName() #end <br> 
											            #if($apt.getProviderContact()) $apt.getProviderContact()#end <br>
											            #if($apt.getProviderEmail()) $apt.getProviderEmail() #end
											    </font>
													#set($i = $i+1)
												#end
												#if( $apts.size() == 0) 
												&nbsp;
												#end
											</td>
											#end											
										#set($index = $index+1)
									#end
							</tr>
							#end							
						#end
						
					</table>
					<table>
						#if ($anciAvailability.isAirportTransferAvailable())
							<tr>
								<td class="tbBgColor" align="left">
									<font>$label.itinerary_apts_notice</font>
								</td>
							</tr>
						#end
					</table>
				</td>
			</tr>			
		#end
<!-- ANCILLARY DETAILS End -->
		## Fare Rules ##
<!-- Start FARE RULES -->
		#if($includeFareRules)
			<tr>
				<td valign="top" colspan="2">
					<font class="fntBold">$label.itinerary_farerules<!--FARE RULES--></font>
				</td>
			</tr>
			<tr>
				<td valign="top" colspan="2">
					<table width="100%" border="0" cellpadding="0" cellspacing="1" bordercolor="#FFFFFF" bgcolor="#FFFFFF" ID="Table6">
					<tr>
						<td class="thinHD" align="left">
							<font class="fntBoldWhite">$label.itinerary_origindestination<!--Origin Destination--></font>
						</td>
						<td class="thinHD" align="center">
							<font class="fntBoldWhite">$label.itinerary_farebasiscode<!--Fare Basis Code--></font>
						</td>
						<td class="thinHD" align="center">
							<font class="fntBoldWhite">$label.itinerary_farerule<!--Fare Rule--></font>
						</td>
						<td class="thinHD" align="center">
							<font class="fntBoldWhite">$label.itinerary_termsandconditions<!--Terms and Conditions--></font>
						</td>						
					</tr>
					#foreach($farerule in $fareRules)
					<tr>
						<td class="tbBgColor" align="left">
							<font >$farerule.getOndCode()<!--Origin Destination--> &nbsp;</font>
						</td>
						<td class="tbBgColor" align="center">							
							<font >$farerule.getFareBasisCode()<!--Fare Basis Code--> &nbsp;</font>
						</td>
						<td class="tbBgColor" align="center">						
							#if($farerule.getFareCategoryDescription() != "")
							  <font >$farerule.getFareCategoryDescription()<!--Fare Rule-->&nbsp;</font>
							#else
							  <font>&nbsp;</font>
							#end
						</td>
						<td class="tbBgColor" align="center">
							#if($farerule.getFareRuleComments() != "")
							<font >$farerule.getFareRuleComments()<!--Terms and Conditions-->&nbsp;</font>
							#else
							  <font>&nbsp;</font>
							#end
						</td>						
					</tr>
					#end
					</table>
				</td>
			</tr>
		#end
<!-- FARE RULES End -->

## Flexi details  ##
<!-- Start FLEXI RULES -->
			#if($flexiRuleDetails.size() > 0)
			<tr>
				<td valign="top" colspan="2">
					<font class="fntBold">$label.itinerary_flexirules</font>
				</td>
			</tr>
			
			<tr>
				<td valign="top" colspan="2">
					<table width="100%" border="0" cellpadding="0" cellspacing="1" bordercolor="#FFFFFF" bgcolor="#FFFFFF" ID="Table11">
						<tr>
						<td class="thinHD" align="left">
							<font class="fntBold">$label.itinerary_origindestination<!--Origin Destination--></font>
						</td>
						<td class="thinHD" align="center">
							<font class="fntBold">$label.itinerary_flexibilities<!--Fare Basis Code--></font>
						</td>
						</tr>
						#foreach($flexirule in $flexiRuleDetails)
						<tr>
							<td class="tbBgColor" align="left">							
								<font >$flexirule.getSegmentCode() &nbsp;&nbsp;&nbsp;</font>
							</td>
							<td class="tbBgColor" align="left">							
								<font >$flexirule.getFlexibilityDescription() &nbsp;</font>
							</td>
						</tr>
						#end

					</table>
				</td>
			</tr>
			#end
<!-- FLEXI RULES End -->

		## Payment details  ##
<!-- Start Payment details -->
			## IF PAYMENTS EXIST

			#if($includePaymentDetails)
			<tr>
				<td valign="top" colspan="2">
					<font class="fntBold">$label.itinerary_paymentdetails<!--PAYMENT DETAILS--></font>
				</td>
			</tr>
			<tr>
				<td valign="top" colspan="2">
					<table width="100%" border="0" cellpadding="0" cellspacing="2" bordercolor="#FFFFFF" bgcolor="#FFFFFF" ID="Table7">
					<tr>
						<td class="thinHD" align="center">
							<font class="fntBold">$label.itinerary_date<!--Date--></font>
						</td>
						<td class="thinHD" align="center">
							<font class="fntBold">$label.itinerary_passengernames<!--Passenger Name--></font>
						</td>
						<td class="thinHD" align="center">
							<font class="fntBold">$label.itinerary_paymenttype<!--Type--></font>
						</td>
						<td class="thinHD" align="center">
							<font class="fntBold">$label.itinerary_paymentauthid<!--Auth Id--></font>
						</td>
						##<td class="thinHD" align="center">
						##	<font class="fntBold">$label.itinerary_amount<!--Amount--></font>
						##</td>
						<td class="thinHD" align="center">
							<font class="fntBold">$label.itinerary_amount<br>($label.itinerary_basecurrency)<!-- Amount in Paid Currency--></font>
						</td>
					</tr>
		
					#foreach($passenger in $passengers)
						#foreach ($paymentCurrency in $passenger.getPayments().keySet())
							#foreach ($payment in $passenger.getPayments().get($paymentCurrency))
							<tr>
								<td class="tbBgColor" align="center"><font>#if($payment.isPersianDatesSet() && $payment.getPaymentDateInPersian())
																			$payment.getPaymentDateInPersian()
																			#else
																			$payment.getPaymentDateTime("EEE, dd MMM yyyy")
																			#end
								 &nbsp;
								</font></td> <!-- "EEE, dd MMM yyyy" -->
								<td class="tbBgColor" align="center"><font>$passenger.getPaxDisplayName().toUpperCase() &nbsp;</font></td>
								<td class="tbBgColor" align="center">
									<font>
										$payment.getPaymentType() &nbsp; 
										#if($payment.getLast4DigitsOfCCNo())
											$payment.getLast4DigitsOfCCNo()
										#end
									</font>
								</td>
								<td class="tbBgColor" align="center"><font>$payment.getAuthorizationId() &nbsp;</font></td>
								##<td class="tbBgColor" align="right"><font>&nbsp; </font></td>
								<td class="tbBgColor" align="right"><font>$payment.getPaidAmount() 
								#if(!$booking.isItinPaidAmountMask()) 
									$payment.getPaidCurrency() 
								#end
								&nbsp;</font></td>
							</tr>
							#end
							
							#if($showItineraryFareBreakDown)
							#if($passenger.getPayments().size() > 0)
							<tr>
								<td class="tbBgColor" align="center"><font>&nbsp;</font></td>
								<td class="tbBgColor" align="center"><font>&nbsp;</font></td>
								<td class="tbBgColor" align="center"><font>&nbsp;</font></td>
								<td class="tbBgColor" align="right"><font class="fntBold">&nbsp; $label.itinerary_total_spacy<!--T O T A L --> </font></td>
								##<td class="tbBgColor" align="right"><font>$passenger.getBaseCurrencyFinancials().getTotalPaidAmount() $passenger.getBaseCurrencyFinancials().getCurrency()&nbsp;</font></td>
								<td class="tbBgColor" align="right"><font>$paymentCurrency.getTotalPaidAmount() 
									#if(!$booking.isItinPaidAmountMask()) 
										$paymentCurrency.getCurrency()
									#end
								 &nbsp;</font></td>
							</tr>
							#end
							#end
						#end
					#end
					</table>
				</td>
			</tr>
			#end


<!-- Start Charges Details -->
			## Charges Details ##
			#if($includeTicketCharges)
			<tr>
				<td valign="top" colspan="2">
					<font class="fntBold"> $label.itinerary_chargesdetails<!--CHARGES DETAILS --></font>
				</td>
			</tr>
			<tr>
				<td valign="top" colspan="2">
					<table width="100%" border="0" cellpadding="0" cellspacing="2" bordercolor="#FFFFFF" bgcolor="#FFFFFF" ID="Table8">
					<tr>
						<td class="thinHD" align="center">
							<font class="fntBold">$label.itinerary_chargedate<!--Charge Date--></font>
						</td>
						<td class="thinHD" align="center">
							<font class="fntBold">$label.itinerary_origindestination<!--Origin/Destination--></font>
						</td>
						<td class="thinHD" align="center">
							<font class="fntBold">$label.itinerary_passengername<!--Passenger Name--></font>
						</td>
						<td class="thinHD" align="center">
							<font class="fntBold">$label.itinerary_description<!--Description--></font>
						</td>	
						<td class="thinHD" align="center">
							<font class="fntBold">$label.itinerary_description<!--Type--></font>
						</td>
						#if($showItineraryFareBreakDown)					
						<td class="thinHD" align="center">
							<font class="fntBold">$label.itinerary_amount<!-- Amount --></font>
						</td>
						#end
					</tr>
					#foreach($ondCharge in $ondCharges)
						#foreach($charge in $ondCharge.getCharges())
						<tr>
							<td class="tbBgColor" align="center"><font>
																		#if($charge.isPersianDatesSet() && $charge.getChargeDateInPersian())
																		$charge.getChargeDateInPersian() 
																		#else
																		$charge.getChargeDate("EEE, dd MMM yyyy") 
																		#end
							&nbsp;</font></td> <!-- "EEE, dd MMM yyyy" -->
							<td class="tbBgColor" align="center"><font>$charge.getSegmentCode() &nbsp;</font></td>		
							<td class="tbBgColor" align="center"><font>$charge.getPassengerName().toUpperCase() &nbsp;</font></td>						
							<td class="tbBgColor" align="center"><font>$charge.getDescription() &nbsp;</font></td>
							<td class="tbBgColor" align="center"><font>$charge.getChargeType() &nbsp;</font></td>
							#if($showItineraryFareBreakDown)
							<td class="tbBgColor" align="right"><font>$charge.getAmount() 
							#if($charge.getChargeType()=="Fare")
								#if($booking.getItineraryFareMask() == "N")
									$booking.getBaseCurrencyFinancials().getCurrency()
								#end
							#else
								$booking.getBaseCurrencyFinancials().getCurrency()			 
							#end							
							&nbsp; </font></td>
							#end
						</tr>
						#end
						#if($showItineraryFareBreakDown)
						#if($ondCharge.getCharges().size()>0)
						<tr>
							<td class="tbBgColor" align="center"><font>&nbsp;</font></td>
							<td class="tbBgColor" align="center"><font>&nbsp;</font></td>
							<td class="tbBgColor" align="center"><font>&nbsp;</font></td>
							<td class="tbBgColor" align="right" colspan="2"><font class="fntBold">&nbsp; $label.itinerary_total_spacy ($ondCharge.getOnd())<!--T O T A L --> </font></td>
							<td class="tbBgColor" align="right"><font>
							#if($booking.getItineraryFareMask() == "N")
								$ondCharge.getTotal() $booking.getBaseCurrencyFinancials().getCurrency()
							#else
								$booking.getItineraryFareMaskLabel()
							#end
							 &nbsp;</font></td>						
						</tr>
						#end
						#end
					#end					
					
					</table>
				</td>
			</tr>
			#end
<!-- INSURANCE DETAILS (ONLY DISPLAYING FOR RAK AIRWAYS  -->			
 		 #if($showInsurance && $insurance.getInsuranceDescription())
 		 <tr>
		    <td valign="top" colspan="2">
		      <font class="fntBold">$label.itinerary_insurance_detals<!-- INSURANCE DETAILS --></font>
		    </td>
		  </tr>
		  	  	 	 
	 	  <tr>
		   <td valign="top" colspan="2" >
			
				<table width="100%" border="0" cellpadding="0" cellspacing="1" bordercolor="#FFFFFF" bgcolor="#FFFFFF" ID="Table9">
					<tr><td class="tbBgColor"><font class="fntSmall">$insurance.getInsuranceDescription()</font></td></tr>
				</table>
			
			</td>
		  </tr>
		 #end

<!-- INSURANCE DETAILS End -->
			<tr>
				<td valign="top" colspan="2">
					<font class="fntBold">
						* $label.itinerary_alltimesinlocal<!--All times in local--> &nbsp; 
						## $cabinClassesLegend
					</font>
				</td>
			</tr>
		  <tr>
			<tr>
				<td valign="top" colspan="2">
					## $carrierLegend.length() > 0
					#if(false)
					<table width="100%" border="0" cellpadding="1" cellspacing="2" ID="Table10">
						<tr><td><font class="fntSmall">* $label.itinerary_allflightsoperatedby<!--All times in local--> $carrierLegend &nbsp;</font></td></tr>
					</table>
					#end
				</td>
			</tr>

		  ## Airport Messages ##
		<!-- Start Airport Messages -->
		#if($airportMsgs.size() > 0 )
			
			<tr>
				<td valign="top" colspan="2">
					<table width="100%" border="0" cellpadding="2" cellspacing="1" ID="Table6">					
					#foreach($airportMsg in $airportMsgs)
					<tr>
						<td class="thinBorder" align="left">
							<font >$airportMsg<!--Airport Msg--> &nbsp;</font>
						</td>											
					</tr>
					#end
					</table>
				</td>
			</tr>
		#end 
		  
			#if($includeEndorsements && $endorsements )
			<tr>
				<td valign="top" colspan="2">
					<font><b>Endorsements</b> &nbsp;</font>
				</td>
			</tr>	
			<tr>
				<td valign="top" colspan="2">
					<font>$endorsements<!--Endorsements--> &nbsp;</font>
				</td>
			</tr>
			<tr>
				<td valign="top" colspan="2">
					<font >&nbsp;</font>
				</td>
			</tr>
		 #end
		
		#if($includeTermsAndConditions)
			<tr>
				<td valign="top" colspan="2">
				$termsNConditions
				</td>
			</tr>
		#end
		</table>
		</body>
		</html>
