		<html dir='$direction'>
		<head>
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>	
			<title> $label.itinerary_heading</title>
		</head>
		<style type="text/css">
		<!--
		 font{font-family:tahoma;font-size:11px;left:auto;color: black;}
		 Body {background : white;margin :0px 0px 0px 0px;}
		 .fntBold{font-weight:bold;}
		 .thinBorder{height:18px;border:1px solid;border-color:black;}
		 .thinBackground{background-color:#C4C4C4;}
		 .thinHD{height:18px;border:1px solid;border-color:black;;background-color:#C4C4C4;}
		 .fntSmall{font-size:9px;}
		 .fntExSmall{font-size:8px;}
		 .fntTiny{font-size:8px;}
		 .fntLarge{font-size: 17px;}
		 .fntExLarge{font-size: 22px;}
		 .fontCapitalize{text-transform: capitalize;}
		 .fntBoldItnry{font-weight:bold;font-family:tahoma;font-size:11px;left:auto;color: red;} 
		 .fntRed{color: red;} 
		 UL{MARGIN-TOP: 0px;MARGIN-bottom: 4px;}
		 LI{MARGIN-TOP: 0px;MARGIN-bottom: 0px;}
		-->
		</style>
		<body>
			<table width="670" border="0" cellpadding="2" cellspacing="0" align="center">
				<tr>
					<td width="20%">
						<img src="$ibeURL/images/$logoImageName"/>
					</td>
					<td width="80%" align="right">
						<font class="fntSmall">$companyAddress</font>
					</td>
				</tr>
				<tr>
					<td align="center" colspan="2">
						<font class="fntLarge"><b>
						#if($booking.getStatus() == "STB")
							$label.itinerary_reservation_standby<!-- RESERVATION STANDBY -->
						#elseif($booking.getStatus() == "CNF")
						   $label.itinerary_reservation_confirmed<!-- RESERVATION CONFIRMED -->
						#elseif($booking.getStatus() == "CNX")
						   $label.itinerary_reservation_cancelled<!-- RESERVATION CANCELLED -->
						#else
						   $label.itinerary_reservation_onhold<!-- RESERVATION ONHOLD -->
						#end
						</b></font>
					</td>
				</tr>
				<tr>
					<td align="center" colspan="2">
					</td>
				</tr>				
				#if($booking.getBarcode())
				<tr>
					<td align="center" colspan="2">
						<!-- BARCODE IMAGE (WITH tags and all)--> $booking.getBarcode()
					</td>
				</tr>	
				#end			
				<tr>
					<td align="center" colspan="2">
						<hr>
					</td>
				</tr>
				<tr>
					<td valign="top" colspan="2">
					<table width="100%" border="0" cellpadding="2" cellspacing="0" ID="Table1">
						<tr>
							<td>
								<li><font class="fntBold">$label.itinerary_reservation_number<!-- RESERVATION NUMBER --></font></li>
							</td>
							<td width="20%" class="thinHD">
								<font class="fntBold">$booking.getGDSPNR()</font>
							</td>
							#if ($isInterlineRelated == true)
								<td width="25%">
									<li><font class="fntBold">$label.itinerary_reservation_references<!-- RESERVATION REFERENCES --></font></li>
								</td>
								<td width="25%" class="thinHD">
									<font class="fntBold"  dir="ltr">
									#foreach ($airlineCode in $booking.getPNR().keySet())
					       				$airlineCode - $booking.getPNR().get($airlineCode)
					       				#if($velocityCount != $booking.getPNR().size())
					       					<br />
					       				#end
					       			#end
					       			</font>
								</td>
							#else
								<td width="25%">
								</td>
								<td width="25%">								
								</td>
							#end	
						</tr>
						<tr>
							<td><li><font class="fntBold">$label.itinerary_reservation_dateofbooking<!-- DATE OF BOOKING --></font></li></td>
							<td width="20%" class="thinHD">
								<font class="fntBold" dir="ltr">$booking.getBookingDateTime("dd MMM yyyy")</font> 
							</td>
							#if ($isInterlineRelated == true)
								<td width="25%">
									<li><font class="fntBold">$label.itinerary_airlinecodelegend<!-- AIRLINE CODE LEGEND --></font></li>
								</td>
								<td width="25%" class="thinHD">
									<font class="fntBold" dir="ltr">
									#foreach ($airlineCode in $booking.getAirlineNames().keySet())
					       				$airlineCode - $booking.getAirlineNames().get($airlineCode)
					       				#if($velocityCount != $booking.getAirlineNames().size())
					       					<br />
					       				#end
					       			#end
					       			</font>								
								</td>	
							#else
								<td width="25%">
								</td>
								<td width="25%">																
								</td>	
							#end						
						</tr>
						#if(false)
						<tr>
							<td>
								<li><font class="fntBold">$label.itinerary_eticketnumber<!-- E TICKET NUMBER --></font></li>
							</td>
							<td width="20%" class="thinHD">
								<font class="fntBold">$booking.getETicketNumber()</font>
							</td>
						</tr>
	   		 			#end
	   		 			#if($showInsurance)
	   		 			<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
																	
						</tr>
	   		 			#else
							#if ($anciAvailability.isInsuranceAvailable())
								<tr>
									<td>
										<li><font class="fntBold">$label.itinerary_policynumber<!-- POLICY NUMBER --></font></li>
									</td>
									<td width="20%" class="thinHD">
										<font class="fntBold">$insurance.getPolicyCode()</font>
									</td>
								</tr>
								#if ($insurance.isShowInsuranceType())
								 <tr>
									<td>
										<li><font class="fntBold">$label.itinerary_insurance_selection.toUpperCase()<!-- Insurance Type --></font></li>										
									</td>
									<td width="20%" class="thinHD">	
										#if($insurance.getInsuranceType() == 2)
											<font class="fntBold">$label.itinerary_insurance_cancelation</font>
										#else
											#if($insurance.getInsuranceType() == 3)
												<font class="fntBold">$label.itinerary_insurance_multirisk</font>
											#end
										#end
									</td>
								</tr>
								#end
							#end
						#end
						<tr>
							<td><li><font class="fntBold">$label.itinerary_passengerdetails<!-- PASSENGER DETAILS --></font></li></td>
							<td>&nbsp;</td>
							#if ($booking.getReleaseDateTime(""))
							<td><li><font class="fntBold">$label.itinerary_releasetime<!-- RELEASE TIME  --></font></li></td>
							<td class="thinHD"><font class="fntBold" dir="ltr">$booking.getReleaseDateTime("dd MMM yyyy HH:mm (EEEE)")</font></td>
							#else
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							#end
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td valign="top" colspan="2">
					<table width="100%" border="1" cellpadding="2" cellspacing="1" ID="Table2">
						<tr>
							<td class="thinHD" align="center">
								<font class="fntBold">$label.itinerary_passengernames<!-- Passenger Name(s) --></font>
							</td>
							
							## INFANTS DISPLAYED IF ANY ##
							#if ($booking.isHasInfants())
							<td class="thinHD" align="center">
								<font class="fntBold">$label.itinerary_infants<!--Infant(s)--></font>
							</td>
							#end
							
							## CHARGES DISPLAYED IF SELECTED ##
							#if ($includePaxFinancials)
							<td class="thinHD" align="center" width="10%">
								<font class="fntBold">$label.itinerary_fare<!-- Fare --></font>
							</td>
							<td class="thinHD" align="center" width="10%">
								<font class="fntBold">$label.itinerary_charges<!-- Charges --></font>
							</td>
							#if($showDiscountAmounts)
								#if($creditDiscount)
									<td class="thinHD" align="center" width="10%">
										<font class="fntBold">$label.itinerary_discount_credit<!-- Promotion Discount --></font>
									</td>
								#else
									<td class="thinHD" align="center" width="10%">
										<font class="fntBold">$label.itinerary_discount<!-- Promotion Discount - Credit For Future Usage --></font>
									</td>
								#end
							#end
							<td class="thinHD" align="center" width="10%">
								<font class="fntBold">$label.itinerary_paidamount<!-- Paid Amount --></font>
							</td>
							<td class="thinHD" align="center" width="10%">
								<font class="fntBold">$label.itinerary_balance <!-- Balance --></font>
							</td>
							#if($includeAutoCancellationInfo)
								<td class="thinHD" align="center" width="15%">
									<img src="$ibeURL/images/paybefore.png" align="absmiddle"/>
							       		<font class="fntBold" style="color:#ff0000"> $label.itinerary_autoExpire <!--Pay Before--></font>
						     	</td>
							#end
							#end							
						</tr>

						#foreach($passenger in $passengers)
						<tr>
							<td class="thinBorder" valign="middle">
								<font class="fontCapitalize">
								#if ($passenger.getPaxType() == "CH") $label.itinerary_childprefix <!-- Child. -->#end
								$passenger.getPaxDisplayName().toUpperCase()
								<br>
								#if($showFOID && $passenger.getFoidNumber() != "")
								<br>
								<font class="fntBold"> $label.itinerary_passportno<!-- Passport No.-->&nbsp; - &nbsp;</font> $passenger.getFoidNumber()&nbsp; 
								#end
								#if($showFOID && $passenger.getFoidExpiry() != "")
								<br>
								<font class="fntBold"> $label.itinerary_passportExpiry<!-- Expiry Date-->&nbsp; - &nbsp;</font> $passenger.getPsptExpiryFormattedDate("dd MMM yyyy")&nbsp; 
								#end
								#if($showDOB && $passenger.getDateOfBirth("dd MMM yyyy"))
								<br>
								<font class="fntBold"> $label.itinerary_dateofbirth<!-- Date of Birth-->&nbsp; - &nbsp;</font> $passenger.getDateOfBirth("dd MMM yyyy")&nbsp;
								#end
								#if($passenger.getEmployeeId())
								<br>
								<font class="fntBold"> $label.itinerary_employeeId<!-- Employee ID-->&nbsp; - &nbsp;</font> $passenger.getEmployeeId()&nbsp;
								#end
								#if(($showInsurance) && ($passenger.getPaxInsPolicyCode()))
								<font class="fntBold"> $label.itinerary_policynumber<!-- Rak Insurance policy no --> &nbsp;   - &nbsp;</font> $passenger.getPaxInsPolicyCode() &nbsp;
								#end
								&nbsp;
								</font>
							</td>
							#if ($booking.isHasInfants())
								#if($passenger.getInfantDisplayName() != "")
								<td class="thinBorder" valign="middle">
									<font class="fontCapitalize">
									$label.itinerary_babyprefix<!-- BABY.--> &nbsp;$passenger.getInfantDisplayName()
									<br>									
									#if($showDOB && $passenger.getInfantDateOfBirth("dd MMM yyyy"))
									<br>
									<font class="fntBold">$label.itinerary_dateofbirth<!--Date of Birth--> - &nbsp;</font> $passenger.getInfantDateOfBirth("dd MMM yyyy")&nbsp;
									<br>
									#end
									&nbsp;
									</font>
								</td>
								#else
								<td class="thinBorder">&nbsp;</td>
								#end
							#end

							## CHARGES DISPLAYED IF SELECTED ##
							#if($includePaxFinancials)
							#set($financials = $passenger.getBaseCurrencyFinancials())
							<td class="thinBorder" align="right" valign="middle">
								<font><!-- FARE -->$financials.getTotalFare() $financials.getCurrency()&nbsp;</font>
							</td>
							<td class="thinBorder" align="right" valign="middle">
								<font><!-- CHARGES -->$financials.getTotalCharges() $financials.getCurrency()&nbsp;</font>
							</td>
							#if($showDiscountAmounts)
								#if($creditDiscount)
									<td class="thinBorder" align="right" valign="middle">
										<font><!-- DISCOUNT -->$financials.getTotalDiscount() $financials.getCurrency()&nbsp;</font>
									</td>
								#else
									<td class="thinBorder" align="right" valign="middle">
										<font><!-- DISCOUNT -->-$financials.getTotalDiscount() $financials.getCurrency()&nbsp;</font>
									</td>
								#end
							#end
							<td class="thinBorder" align="right" valign="middle">
								<font><!-- PAID AMOUNT -->$financials.getTotalPaidAmount() $financials.getCurrency()&nbsp;</font>
							</td>
							<td class="thinBorder" align="right" valign="middle">
								<font><!-- CREDIT BALANCE -->$financials.getTotalBalance() $financials.getCurrency()&nbsp;</font>
							</td>
								#if($includeAutoCancellationInfo && $passenger.isAlertAutoCancellation())
							    	<td class="thinBorder" align="right" valign="middle"><font>$booking.getAutoCancellationTime() &nbsp;</font></td>
							    #elseif($includeAutoCancellationInfo)
							    	<td class="thinBorder" align="center"><font></font></td>
							    #end
							#end
							
						</tr>
						#end

						## COLUMN SPAN TO USED IN TOTALS ##
						#if ($booking.isHasInfants())
							#set($totalsColSpan = 2)
						#else
							#set($totalsColSpan = 1)
						#end
						
						## TOTALS DISPLAYED IF SELECTED ##
						#if ($includePaxFinancials)
						<tr>
							#set($financialTotals = $booking.getBaseCurrencyFinancials())
							<td class="thinBorder" align="right" colspan="$totalsColSpan" valign="middle">
								<font class="fntBold">$label.itinerary_totalin<!--TOTAL IN --> $financialTotals.getCurrency()</font>
							</td>
							<td class="thinBorder" align="right" colspan="1" valign="middle">
								<font><!-- TOTAL TICKET FARE -->$financialTotals.getTotalFare() &nbsp;</font>
							</td>
							<td class="thinBorder" align="right" colspan="1" valign="middle">
								<font><!-- TOTAL TICKET CHARGE -->$financialTotals.getTotalCharges() &nbsp;</font>
							</td>
							#if($showDiscountAmounts)
								#if($creditDiscount)
									<td class="thinBorder" align="right" colspan="1" valign="middle">
										<font><!-- TOTAL TICKET DISCOUNT -->$financialTotals.getTotalCreditDiscount() &nbsp;</font>
									</td>
								#else
									<td class="thinBorder" align="right" colspan="1" valign="middle">
										<font><!-- TOTAL TICKET DISCOUNT -->-$financialTotals.getTotalDiscount() &nbsp;</font>
									</td>
								#end
							#end
							<td class="thinBorder" align="right" colspan="1" valign="middle">
								<font><!-- TOTAL PAID AMOUNT -->$financialTotals.getTotalPaidAmount() &nbsp;</font>
							</td>
							<td class="thinBorder" align="right" colspan="1" valign="middle">
								<font><!-- TOTAL BALANCE -->$financialTotals.getTotalBalance() &nbsp;</font>
							</td>							
						</tr>
						#set($paidCurrFinancialTotals = $booking.getPaidCurrencyFinancials())
						#if($paidCurrFinancialTotals)
						<tr>							
							<td class="thinBorder" align="right" colspan="$totalsColSpan" valign="middle">
								<font class="fntBold">$label.itinerary_totalin<!--TOTAL IN --> $paidCurrFinancialTotals.getCurrency()</font>
							</td>
							<td class="thinBorder" align="right" colspan="1" valign="middle">
								<font><!-- TOTAL TICKET FARE -->$paidCurrFinancialTotals.getTotalFare() &nbsp;</font>
							</td>
							<td class="thinBorder" align="right" colspan="1" valign="middle">
								<font><!-- TOTAL TICKET CHARGE -->$paidCurrFinancialTotals.getTotalCharges() &nbsp;</font>
							</td>
							<td class="thinBorder" align="right" colspan="1" valign="middle">
								<font><!-- TOTAL PAID AMOUNT -->$paidCurrFinancialTotals.getTotalPaidAmount() &nbsp;</font>
							</td>
							<td class="thinBorder" align="right" colspan="1" valign="middle">
								<font><!-- TOTAL BALANCE -->$paidCurrFinancialTotals.getTotalBalance() &nbsp;</font>
							</td>							
						</tr>
						#end
						#end
												
												
						## DISPLAY PASSENGER CONTACT ##
						
						#if($includePaxContactDetails) 
						<tr>
							<td valign="top" colspan="2">
								<li><font class="fntBold">$label.itinerary_passenger_contact_details<!--PASSENGER CONTACT DETAILS--></font></li>
							</td>
						</tr>
						<tr>
							<td valign="top" colspan="2">
								<table width="100%" border="0" cellpadding="0" cellspacing="1" bordercolor="#FFFFFF" bgcolor="#FFFFFF" ID="Table3">
									<tr>
										#if ( ($paxContactInfo.getFirstName() != "") || ($paxContactInfo.getLastName() != "") )
										
											#set( $fName = $paxContactInfo.getFirstName())
											#set( $lName = $paxContactInfo.getLastName())
											#set( $name = "$fName, $lName" )
												
											<td class="tbBgColor">
												<font>
													$name &nbsp;
												</font>
											</td>
										#end
										
										#if ($paxContactInfo.getEmail() != "")
											<td class="tbBgColor">
												<font>
													$paxContactInfo.getEmail() &nbsp;
												</font>
											</td>
										#end
										
										#if ($paxContactInfo.getMobileNo() != "")
											<td class="tbBgColor">
												<font>
													$paxContactInfo.getMobileNo() &nbsp;
												</font>
											</td>
										#end
										
										#if ($paxContactInfo.getPhoneNo() != "")
											<td class="tbBgColor">
												<font>
													$paxContactInfo.getPhoneNo() &nbsp;
												</font>
											</td>
										#end
									</tr>
								</table>
							</td>
						</tr>
						#end						
					</table>
				</td>
			</tr>

<!-- Start Agent Details -->
			<tr>
				<td valign="top" colspan="2">
					<li><font class="fntBold">$label.itinerary_agentdetails<!--AGENT DETAILS--></font></li>
				</td>
			</tr>
			<tr>
				<td valign="top" colspan="2">
					<table width="100%" border="0" cellpadding="2" cellspacing="1" ID="Table3">
						<tr>
							<td class="thinBorder">
								<font>
								#if($agent.getOwnerChannelId() == "4")
								   $label.itinerary_webagency<!--Web Agency-->
								#elseif($agent.getAgentName() != "")
								   $agent.getAgentName()								
								#else
								  $label.itinerary_agency<!--Web Agency--> <!-- Temporary : Should never reach here as ownerChannelId has been fixed -->
								#end
								
								&nbsp;
								<!--Bug fix: it is commented -->
								<!--#if($agent.getIsOwner())
								*
								#end -->
								</font>
							</td>
							#if ($agent.getAgentTelephone() != "")
							<td class="thinBorder">
								<font>
									$agent.getAgentTelephone() &nbsp;
								</font>
							</td>
							#end
							
							#if ($agent.getAgentEmail() != "")
							<td class="thinBorder">
								<font>$agent.getAgentEmail() &nbsp;</font>
							</td>
							#end
							
							#if ($agent.getExternalcharges().size() > 0)
								##foreach (external charge)
								<!--
								<td class="thinBorder">
									<font>
									externalChgDTO.getChargeDescription()&nbsp; 
									reservationPaxDTO.getBaseCurrency()&nbsp;
									externalChgDTO.getAmount().toString()&nbsp;
									</font>
								</td>
								-->
								##end
							#end
						</tr>
					</table>
				</td>
			</tr>
<!-- Start TRAVEL SEGMENTS -->
			<tr>
				<td valign="top" colspan="2">
					<li><font class="fntBold">$label.itinerary_travelsegments<!--TRAVEL SEGMENTS--></font></li>
				</td>
			</tr>
			<tr>
				<td valign="top" colspan="2">
					<table width="100%" border="0" cellpadding="2" cellspacing="1" ID="Table4">
						<tr>
							<td class="thinHD" align="center" colspan="1">
								<font class="fntBold">$label.itinerary_origindestination<!--Origin / Destination--></font>
							</td>
							<td class="thinHD" align="center" colspan="2">
								<font class="fntBold">$label.itinerary_departure<!--Departure--></font>
							</td>
							<td class="thinHD" align="center" colspan="2">
								<font class="fntBold">$label.itinerary_arrival<!--Arrival--></font>
							</td>
							<td class="thinHD" align="center" colspan="2">
								<font class="fntBold">$label.itinerary_checkinfrom<!--Check-in From--></font>
							</td>
							#if ($showCheckInClosingTime)
							<td class="thinHD" align="center" colspan="2">
								<font class="fntBold">$label.itinerary_checkinto<!--Check-in To--></font>
							</td>
							#end
							#if ($showStandbyTravelValidity && ($booking.getStatus() == "STB"))
							<td class="thinHD" align="center" colspan="1">
								<font class="fntBold">$label.itinerary_stb_valid_till<!--Travel-Valid Till--></font>
							</td>
							#end
							<td class="thinHD" align="center" colspan="1">
								<font class="fntBold">$label.itinerary_flight<!--Flight--></font>
							</td>
							#if ($showCOS || $showLogicalCC)
							<td class="thinHD" align="center" colspan="1">
								<font class="fntBold">$label.itinerary_class<!--Class--></font>
							</td>
							#end
							<td class="thinHD" align="center" colspan="1">
								<font class="fntBold">$label.itinerary_status<!--Status--></font>
							</td>
							<td class="thinHD" align="center" colspan="1">
								<font class="fntBold">$label.itinerary_duration <!--Duration--></font>
							</td>
								
							#if ($includeThumbnailLogo)
						      	<td class="thinHD" align="center" colspan="1">
						       		<font class="fntBold">$label.itinerary_carrier <!--Carrier--></font>
						     	</td>	
						    #end
						</tr>
						
						## SEGMENTS (NON-OPEN RETURN) ##
						#if($flightOndGroups.size() > 0)
							#foreach ($ondGroup in $flightOndGroups)
								#set($ondIndex= 0)
								#if($ondGroup.getFlights().size() > 0)						
									#foreach ($flight in $ondGroup.getFlights())		
										#if(!$flight.isOpenReturnSegment())							
										<tr>
										
											<td class="thinBorder"><font>$flight.getOndFullText() <font dir="ltr"> ($flight.getSegmentCode())</font>&nbsp;</font></td>
											<td class="thinBorder" align="center"><font>$flight.getDepartureDateTime("EEE, dd MMM yyyy") &nbsp;</font></td>
											<td class="thinBorder" align="center"><font>$flight.getDepartureDateTime("HH:mm") &nbsp;</font></td>								
											<td class="thinBorder" align="center"><font>$flight.getArrivalDateTime("EEE, dd MMM yyyy") &nbsp;</font></td>
											<td class="thinBorder" align="center"><font>$flight.getArrivalDateTime("HH:mm") &nbsp;</font></td>
											<td class="thinBorder" align="center"><font>$flight.getCheckInDateTime("EEE, dd MMM yyyy") &nbsp;</font></td>
											<td class="thinBorder" align="center"><font>$flight.getCheckInDateTime("HH:mm") &nbsp;</font></td>
												#if ($showCheckInClosingTime)
												<td class="thinBorder" align="center"><font>$flight.getCheckInClosingDateTime("EEE, dd MMM yyyy") &nbsp;</font></td>
												<td class="thinBorder" align="center"><font>$flight.getCheckInClosingDateTime("HH:mm") &nbsp;</font></td>
												#end
												#if ($showStandbyTravelValidity && ($booking.getStatus() == "STB"))
												<td class="thinBorder" align="center"><font>$flight.getStandbyTravelValidityEnd("EEE, dd MMM yyyy") &nbsp;</font></td>
												#end												
											<td class="thinBorder" align="center"><font>$flight.getFlightNo() &nbsp;</font></td>
											
												#if ($showCOS || $showLogicalCC || $showBundledService)
													#set ($cosDesc = "")
													#set ($cosCode = "")
													
													#if($showBundledService && $flight.bundledServiceName != "")
												 		#set ($cosDesc = $flight.bundledServiceName)
												 		#if ($showLogicalCC)
												 			#set ($cosCode = $flight.logicalCCCode)
												 		#else
												 			#set ($cosCode = $flight.cabinClassCode)
												 		#end
												 	#elseif ($showLogicalCC)
														#set ($cosDesc = $flight.logicalCCDescription)
														#set ($cosCode = $flight.logicalCCCode)
													#else
														#set ($cosDesc = $flight.cabinClassDescription)
														#set ($cosCode = $flight.cabinClassCode)
													#end
													
													<td align="center" class="thinBorder"><font>$cosDesc<br> 	
																							$cosCode<br></font> </td>
												#end		
											<td class="thinBorder" align="center"><font>$flight.getStatus() &nbsp;</font></td>
											<td class="thinBorder" align="center"><font>$flight.getDuration("HH:mm") &nbsp;</font></td>
											##if($ondIndex == 0)
											##	#set($ondIndex= $ondIndex + 1)
											##<td class="thinBorder" align="center" rowspan="$ondGroup.getFlights().size()"><font>$ondGroup.getDuration("HH:mm") &nbsp;</font></td>
											##<!--<td class="thinBorder" align="center"><img src="$ibeURL/images/$flight.getCarrierLogoURL()"/></td>-->
											##end		
											
											#if ($includeThumbnailLogo)								     
										       		<td class="thinBorder" align="center"><image src="$ibeURL/images/$flight.getCarrierLogoURL()" />&nbsp;</td>								     	
										    #end										    
										</tr>
										#end
									#end 
								#end 
							#end
						#end
						
						## SEGMENTS (OPEN RETURN) ##
						#if($openRetFlightOndGroups.size() > 0)
							#foreach ($ondGroup in $openRetFlightOndGroups)
								#set($ondIndex= 0)
								#if($ondGroup.getFlights().size() > 0)						
									#foreach ($flight in $ondGroup.getFlights())									
										#if($flight.isOpenReturnSegment())
										<tr>
											<td class="thinBorder"><font>$flight.getOndFullText() <font dir="ltr"> ($flight.getSegmentCode())</font>&nbsp;</font></td>
											
											<td class="thinBorder" align="center" colspan="7">
											<font>$label.itinerary_openret_confirm_date : $flight.getOpenReturnConfirmBeforeLocal()  &nbsp;</font>
											<br>
											<font>$label.itinerary_openret_travel_expiry : $flight.getSegmentExpiryLocal()  &nbsp;</font>
											</td>
											
											#if ($showCOS || $showLogicalCC)
												#if ($showLogicalCC) 
													<td class="thinBorder" align="center"><font>$flight.getLogicalCCCode() &nbsp;</font></td>
												#else
													<td class="thinBorder" align="center"><font>$flight.getCabinClassCode() &nbsp;</font></td>
												#end
											#end		
											<td class="thinBorder" align="center"><font>$flight.getStatus() &nbsp;</font></td>
											<td class="thinBorder" align="center"><font>$label.itinerary_openret_open_return &nbsp;</font></td>
											##if($ondIndex == 0)
											##	#set($ondIndex= $ondIndex + 1)
											##<td class="thinBorder" align="center" rowspan="$ondGroup.getFlights().size()"><font>$ondGroup.getDuration("HH:mm") &nbsp;</font></td>
											##<!--<td class="thinBorder" align="center"><img src="$ibeURL/images/$flight.getCarrierLogoURL()"/></td>-->
											##end
											#if ($includeThumbnailLogo)								     
										       		<td class="thinBorder" align="center"><image src="$ibeURL/images/$flight.getCarrierLogoURL()"/>&nbsp;</td>								     	
										    #end 
										</tr>
										#end
									#end 
								#end 
							#end
						#end
					</table>   
				</td>
			</tr>
<!-- TRAVEL SEGMENTS End -->

## Passenger E ticket information  ##
<!-- START E TICKET INFORMATION -->

	#if($showEtktPerPax && $booking.getStatus() == "CNF" )
				<tr>
						<td valign="top" colspan="2">
							<li><font class="fntBold">$label.itinerary_eticketdetails <!--E TICKET DETAILS--></font></li>
						</td>
				</tr>
				<tr>
					<td valign="top" colspan="2">
						<table width="100%" border="0" cellpadding="2" cellspacing="1" ID="Table5">
							<tr>
								<td class="thinHD" align="center">
									<font class="fntBold">$label.itinerary_passengernames<!--Passenger Name(s)--></font>
								</td>
								<td class="thinHD" align="center" width="10%">
									<font class="fntBold">$label.itinerary_segments<!--Segment--></font>
								</td>
								<td class="thinHD" align="center" width="10%">
									<font class="fntBold">$label.itinerary_flight<!--Flight No--></font>
								</td>
								<td class="thinHD" align="center" width="17%">
									<font class="fntBold">$label.itinerary_eticketnumber<!--E-Ticket No--></font>
								</td>							
							</tr>
							
							#foreach($passengerTicket in $passengerTickets)
								#set($eTickets = $passengerTicket.geteTickets())
								#if($eTickets.size() > 0)
								<tr>							
									<td class="thinBorder" rowspan="$eTickets.size()" >
										<font class="fontCapitalize">
										#if ($passengerTicket.getPassengerType() == "CH") $label.itinerary_childprefix<!--Child.--> 
										#elseif ($passengerTicket.getPassengerType() == "IN") $label.itinerary_babyprefix<!--Infant.--> #end
										$passengerTicket.getPassengerDisplayName().toUpperCase()										
										</font>
									</td>								
									## per segment 
									#set($index = 0)									
									#foreach($eTicket in $eTickets)										
										#if($index > 0)
											</tr>
											<tr>
										#end 
												<td class="thinBorder" align="center">
													<!-- Segment -->
													<font>$eTicket.getSegmentCode()</font>
												</td>
												<td class="thinBorder" align="center">
													<!-- Flight No -->
													<font>$eTicket.getFlightNo()</font>
												</td>												
												<td class="thinBorder" align="center">
													<!-- E TICKET NO -->
													<font>$eTicket.geteTicketNumber()</font>
													&nbsp;
												</td>																				
											#set($index = $index+1)
									#end																	
								</tr>
								#end 
							#end
														
						</table>
					</td>
				</tr>			
	#end<!-- END E TICKET INFORMATION -->

		## Ancillary Details ##
<!-- Start ANCILLARY DETAILS -->
		#if($anciAvailability.isAncillaryAvailable())
			<tr>
					<td valign="top" colspan="2">
						<li><font class="fntBold">$label.itinerary_ancillarydetails<!--ANCILLARY DETAILS--></font></li>
					</td>
			</tr>
			<tr>
				<td valign="top" colspan="2">
					<table width="100%" border="0" cellpadding="2" cellspacing="1" ID="Table5">
						<tr>
							<td class="thinHD" align="center">
								<font class="fntBold">$label.itinerary_passengernames<!--Passenger Name(s)--></font>
							</td>
							<td class="thinHD" align="center" width="10%">
								<font class="fntBold">$label.itinerary_segments<!--Segment--></font>
							</td>
							#set($anciAvailCount= 0)
							## HAS SEAT ##
							#if ($anciAvailability.isSeatAvailable())
								#set($anciAvailCount = $anciAvailCount+1)
							<td class="thinHD" align="center" width="10%">
								<font class="fntBold">$label.itinerary_seat<!--Seat--></font>
							</td>
							#end
							## HAS MEAL ##
							#if ($anciAvailability.isMealAvailable())
								#set($anciAvailCount = $anciAvailCount+1)
							<td class="thinHD" align="center" width="15%">
								<font class="fntBold">$label.itinerary_meals<!--Meal(s)--></font>
							</td>
							#end
							## HAS SSR ##
							#if ($anciAvailability.isSsrAvailable())
								#set($anciAvailCount = $anciAvailCount+1)
							<td class="thinHD" align="center" width="15%">
								<font class="fntBold">$label.itinerary_ssrs<!--SSR(s)--></font>
							</td>
							#end
							## HAS BAGGAGE ##
							#if ($anciAvailability.isBaggageAvailable())
								#set($anciAvailCount = $anciAvailCount+1)
							<td class="thinHD" align="center" width="15%">
								<font class="fntBold">$label.itinerary_baggages<!--Baggage(s)--></font>
							</td>
							#end		
							## HAS HALA ##	
							#if ($anciAvailability.isAirportServiceAvailable())
								#set($anciAvailCount = $anciAvailCount+1)
							<td class="thinHD" align="center" width="15%">
								<font class="fntBold">$label.itinerary_apss<!--Airport Service(s)--></font>
							</td>
							#end	
						</tr>

						#foreach($passenger in $passengers)
							#set($ancillaries = $passenger.getAncillary())
							#if($ancillaries.size() > 0)
							<tr>							
								<td class="thinBorder" rowspan="$ancillaries.size()" >
									<font class="fontCapitalize">
									#if ($passenger.getPaxType() == "CH") $label.itinerary_childprefix<!--Child.--> #end
									$passenger.getPaxDisplayName().toUpperCase()
									<br>
									</font>
								</td>								
								## per segment 
								#set($index = 0)
								#foreach($ancillary in $ancillaries)
									#set($segment = $ancillary.getSegment())
									#set($meals = $ancillary.getMeals())
									#set($ssrs = $ancillary.getSsrs())
									#set($seat = $ancillary.getSeat())
									#set($baggages = $ancillary.getBaggages())
									#set($apss = $ancillary.getApss())
									#if($index > 0)
										</tr>
										<tr>
									#end
											<td class="thinBorder" align="center">
												<!-- Segment -->
												<font>$segment.getSegmentCode()</font>
											</td>
											#if ($anciAvailability.isSeatAvailable())
											<td class="thinBorder" align="center">
												<!-- SEAT -->
												<font>$seat.getSeatNumber()</font>
												&nbsp;
											</td>
											#end
											#if ($anciAvailability.isMealAvailable())
											<td class="thinBorder" align="center">	
												#set($i = 0)
												#foreach($meal in $meals)
													<font>#if($i>0),#end $meal.getSoldMeals()x $meal.getMealName()</font>
													#set($i = $i+1)
												#end
												#if( $meals.size() == 0) 
												&nbsp;
												#end
											</td>
											#end
											#if ($anciAvailability.isSsrAvailable())
											<td class="thinBorder" align="center">
												<!-- SSR(s) -->		
												#set($i = 0)									
												#foreach($ssr in $ssrs)
													<font>#if($i>0), #end $ssr.getDescription() #if($ssr.getText())- $ssr.getText() #end</font>
													#set($i = $i+1)
												#end
												#if( $ssrs.size() == 0) 
												&nbsp;
												#end
											</td>
											#end	
											#if ($anciAvailability.isBaggageAvailable())
											<td class="thinBorder" align="center">	
												#set($i = 0)
												#foreach($baggage in $baggages)
													<font>#if($i>0),#end $baggage.getBaggageName()</font>
													#set($i = $i+1)
												#end
												#if( $baggages.size() == 0) 
												&nbsp;
												#end
											</td>
											#end	
											#if ($anciAvailability.isAirportServiceAvailable())
											<td class="thinBorder" align="center">
												<!-- Airport Service(s) -->		
												#set($i = 0)									
												#foreach($aps in $apss)
													<font>#if($i>0), #end $aps.getDescription() #if($aps.getAirportCode())- $aps.getAirportCode() #end</font>
													#set($i = $i+1)
												#end
												#if( $apss.size() == 0) 
												&nbsp;
												#end
											</td>
											#end									
										#set($index = $index+1)
									#end
							</tr>
							#if ($anciAvailability.isAirportTransferAvailable())
							<tr>
								<td class="tbBgColor" align="left">
									<font>$label.itinerary_apts_notice</font>
								</td>
							</tr>
							#end
							#end							
						#end
						
					</table>
				</td>
			</tr>			
		#end
<!-- ANCILLARY DETAILS End -->
		## Fare Rules ##
<!-- Start FARE RULES -->
		#if($includeFareRules)
			<tr>
				<td valign="top" colspan="2">
					<li><font class="fntBold">$label.itinerary_farerules<!--FARE RULES--></font></li>
				</td>
			</tr>
			<tr>
				<td valign="top" colspan="2">
					<table width="100%" border="0" cellpadding="2" cellspacing="1" ID="Table6">
					<tr>
						<td class="thinHD" align="left">
							<font class="fntBold">$label.itinerary_origindestination<!--Origin Destination--></font>
						</td>
						<td class="thinHD" align="center">
							<font class="fntBold">$label.itinerary_farebasiscode<!--Fare Basis Code--></font>
						</td>
						<td class="thinHD" align="center">
							<font class="fntBold">$label.itinerary_farerule<!--Fare Rule--></font>
						</td>
						<td class="thinHD" align="center">
							<font class="fntBold">$label.itinerary_termsandconditions<!--Terms and Conditions--></font>
						</td>	
					</tr>
					#foreach($farerule in $fareRules)
					<tr>
						<td class="thinBorder" align="left">
							<font >$farerule.getOndCode()<!--Origin Destination--> &nbsp;</font>
						</td>
						<td class="thinBorder" align="center">							
							<font >$farerule.getFareBasisCode()<!--Fare Basis Code--> &nbsp;</font>
						</td>
						<td class="thinBorder" align="center">							
							#if($farerule.getFareCategoryDescription() != "")
							  <font >$farerule.getFareCategoryDescription()<!--Fare Rule-->&nbsp;</font>
							#else
							  <font>&nbsp;</font>
							#end
						</td>
						<td class="thinBorder" align="center">
							
							 #if($farerule.getSegmentTravelExpiary())
							 <font class="fntBoldItnry">$farerule.getFareRuleComments()<!--Terms and Conditions-->&nbsp; $label.itinerary_farerule_travel_expiry : $farerule.getSegmentTravelExpiary()</font>
							 #else
							 <font >$farerule.getFareRuleComments()<!--Terms and Conditions-->&nbsp;</font>
							 #end
						</td>						
					</tr>
					#end
					</table>
				</td>
			</tr>
		#end
<!-- FARE RULES End -->
		## Payment details  ##
<!-- Start Payment details -->
			## IF PAYMENTS EXIST
			#if($includePaymentDetails)
			<tr>
				<td valign="top" colspan="2">
					<li><font class="fntBold">$label.itinerary_paymentdetails<!--PAYMENT DETAILS--></font></li>
				</td>
			</tr>
			<tr>
				<td valign="top" colspan="2">
					<table width="100%" border="0" cellpadding="2" cellspacing="1" ID="Table7">
					<tr>
						<td class="thinHD" align="center">
							<font class="fntBold">$label.itinerary_date<!--Date--></font>
						</td>
						<td class="thinHD" align="center">
							<font class="fntBold">$label.itinerary_passengernames<!--Passenger Name--></font>
						</td>
						<td class="thinHD" align="center">
							<font class="fntBold">$label.itinerary_paymenttype<!--Type--></font>
						</td>
						<td class="thinHD" align="center">
							<font class="fntBold">$label.itinerary_paymentauthid<!--Auth Id--></font>
						</td>
						##<td class="thinHD" align="center">
						##	<font class="fntBold">$label.itinerary_amount<!--Amount--></font>
						##</td>
						<td class="thinHD" align="center">
							<font class="fntBold">$label.itinerary_amount<br>($label.itinerary_basecurrency)<!-- Amount in Paid Currency--></font>
						</td>
					</tr>
		
					#foreach($passenger in $passengers)
						#foreach ($paymentCurrency in $passenger.getPayments().keySet())
							#foreach ($payment in $passenger.getPayments().get($paymentCurrency))
							<tr>
								<td class="thinBorder" align="center"><font>$payment.getPaymentDateTime("EEE, dd MMM yyyy") &nbsp;</font></td> <!-- "EEE, dd MMM yyyy" -->
								<td class="thinBorder" align="center"><font>$passenger.getPaxDisplayName().toUpperCase() &nbsp;</font></td>
								<td class="thinBorder" align="center">
									<font>
										$payment.getPaymentType() &nbsp; 
										#if($payment.getLast4DigitsOfCCNo())
											$payment.getLast4DigitsOfCCNo()
										#end
									</font>
								</td>
								<td class="thinBorder" align="center"><font>$payment.getAuthorizationId() &nbsp;</font></td>
								##<td class="thinBorder" align="right"><font> &nbsp;</font></td>
								<td class="thinBorder" align="right"><font>$payment.getPaidAmount() $payment.getPaidCurrency() &nbsp;</font></td>
							</tr>
							#end
							
							#if($passenger.getPayments().size() > 0)
							<tr>
								<td class="thinBorder" align="center"><font>&nbsp;</font></td>
								<td class="thinBorder" align="center"><font>&nbsp;</font></td>
								<td class="thinBorder" align="center"><font>&nbsp;</font></td>
								<td class="thinBorder" align="right"><font class="fntBold">&nbsp; $label.itinerary_total_spacy<!--T O T A L --> </font></td>
								##<td class="thinBorder" align="right"><font>$passenger.getBaseCurrencyFinancials().getTotalPaidAmount() $passenger.getBaseCurrencyFinancials().getCurrency() &nbsp;</font></td>
								<td class="thinBorder" align="right"><font>$paymentCurrency.getTotalPaidAmount() $paymentCurrency.getCurrency() &nbsp;</font></td>
							</tr>
							#end
						#end
					#end
					</table>
				</td>
			</tr>
			#end

<!-- Start Charges Details -->
			## Charges Details ##
			#if($includeTicketCharges)
			<tr>
				<td valign="top" colspan="2">
					<li><font class="fntBold"> $label.itinerary_chargesdetails<!--CHARGES DETAILS --></font></li>
				</td>
			</tr>
			<tr>
				<td valign="top" colspan="2">
					<table width="100%" border="0" cellpadding="2" cellspacing="1" ID="Table8">
					<tr>
						<td class="thinHD" align="center">
							<font class="fntBold">$label.itinerary_chargedate<!--Charge Date--></font>
						</td>
						<td class="thinHD" align="center">
							<font class="fntBold">$label.itinerary_origindestination<!--Origin/Destination--></font>
						</td>
						<td class="thinHD" align="center">
							<font class="fntBold">$label.itinerary_passengername<!--Passenger Name--></font>
						</td>
						<td class="thinHD" align="center">
							<font class="fntBold">$label.itinerary_description<!--Description--></font>
						</td>	
						<td class="thinHD" align="center">
							<font class="fntBold">$label.itinerary_description<!--Type--></font>
						</td>					
						<td class="thinHD" align="center">
							<font class="fntBold">$label.itinerary_amount<!-- Amount --></font>
						</td>
					</tr>
					#foreach($ondCharge in $ondCharges)
						#foreach($charge in $ondCharge.getCharges())
						<tr>
							<td class="thinBorder" align="center"><font>$charge.getChargeDate("EEE, dd MMM yyyy") &nbsp;</font></td> <!-- "EEE, dd MMM yyyy" -->
							<td class="thinBorder" align="center"><font>$charge.getSegmentCode() &nbsp;</font></td>		
							<td class="thinBorder" align="center"><font>$charge.getPassengerName().toUpperCase() &nbsp;</font></td>						
							<td class="thinBorder" align="center"><font>$charge.getDescription() &nbsp;</font></td>
							<td class="thinBorder" align="center"><font>$charge.getChargeType() &nbsp;</font></td>
							<td class="thinBorder" align="right"><font>$charge.getAmount() $booking.getBaseCurrencyFinancials().getCurrency() &nbsp; </font></td>
						</tr>
						#end
						#if($ondCharge.getCharges().size()>0)
						<tr>
							<td class="thinBorder" align="center"><font>&nbsp;</font></td>
							<td class="thinBorder" align="center"><font>&nbsp;</font></td>
							<td class="thinBorder" align="center"><font>&nbsp;</font></td>
							<td class="thinBorder" align="right" colspan="2"><font class="fntBold">&nbsp; $label.itinerary_total_spacy ($ondCharge.getOnd())<!--T O T A L --> </font></td>
							<td class="thinBorder" align="right"><font>$ondCharge.getTotal() $booking.getBaseCurrencyFinancials().getCurrency() &nbsp;</font></td>						
						</tr>
						#end
					#end					
					
					</table>
				</td>
			</tr>
			#end
<!-- INSURANCE DETAILS (ONLY DISPLAYING FOR RAK AIRWAYS  -->			
 		 #if($showInsurance && $insurance.getInsuranceDescription())
 		 <tr>
		    <td valign="top" colspan="2">
		      <li><font class="fntBold">$label.itinerary_insurance_detals<!-- INSURANCE DETAILS --></font></li>
		    </td>
		  </tr>
		  	  	 	 
	 	  <tr>
		   <td valign="top" colspan="2" >
			
				<table width="100%" border="0" cellpadding="1" cellspacing="0" ID="Table9">
					<tr><td class="thinBorder"><font class="fntSmall">$insurance.getInsuranceDescription()</font></td></tr>
				</table>
			
			</td>
		  </tr>
		 #end


<!-- INSURANCE DETAILS End -->

<!-- Start Term and Conditions -->
			<tr>
				<td valign="top" colspan="2">
					<font class="fntSmall">
						* $label.itinerary_alltimesinlocal<!--All times in local--> &nbsp; 
						## $cabinClassesLegend
					</font>
				</td>
			</tr>
			<tr>
				<td valign="top" colspan="2">
					## $carrierLegend.length() > 0
					#if(false)
					<table width="100%" border="0" cellpadding="1" cellspacing="0" ID="Table10">
						<tr><td><font class="fntSmall">* $label.itinerary_allflightsoperatedby<!--All times in local--> $carrierLegend &nbsp;</font></td></tr>
					</table>
					#end
				</td>
			</tr>
			
			<!-- Itinerary Advertisment Image will come here -->
		  #if($itineraryAdvertisementImageURL != "" )
		    <tr><td>&nbsp;</td></tr>
		  	<tr>
			  	<td align="center" width="80%" valign="top" colspan="2">			  		 		
			  		 		<img src="$itineraryAdvertisementImageURL"/>
			  	</td>
		  	</tr>
		  	<tr><td>&nbsp;</td></tr>
		  #end	

		  		## Airport Messages ##
<!-- Start Airport Messages -->
		#if($airportMsgs.size() > 0 )
			
			<tr>
				<td valign="top" colspan="2">
					<table width="100%" border="0" cellpadding="2" cellspacing="1" ID="Table6">					
					#foreach($airportMsg in $airportMsgs)
					<tr>
						<td class="thinBorder" align="left">
							<font >$airportMsg<!--Airport Msg--> &nbsp;</font>
						</td>											
					</tr>
					#end
					</table>
				</td>
			</tr>
		#end 
		#if($includeEndorsements && $endorsements )
			<tr>
				<td valign="top" colspan="2">
					<font><b>Endorsements</b> &nbsp;</font>
				</td>
			</tr>	
			<tr>
				<td valign="top" colspan="2">
					<font>$endorsements<!--Endorsements--> &nbsp;</font>
				</td>
			</tr>
			<tr>
				<td valign="top" colspan="2">
					<font >&nbsp;</font>
				</td>
			</tr>
		 #end
		  #if($includeTermsAndConditions)	
			<tr>
				<td valign="top" colspan="2">
				$termsNConditions
				</td>
			</tr>
		  #end
		</table>		
		#if($showPageBreak)
		<p style="page-break-before: always"/> 
		#end
		</body>
		</html>
