		<html dir='$direction'>
		<head>
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>	
			<title> $label.itinerary_heading</title>
		</head>
		<style type="text/css">
		<!--
		 font{font-family:tahoma;font-size:11px;left:auto;color: black;}
		 Body {background : white;margin :0px 0px 0px 0px;}
		 .fntBold{font-weight:bold;}
		 .fntNormal{font-weight:normal;}
		 .fntBoldSm{font-weight:bold;font-size:9px}
		 .thinBorder{height:18px;border:0px solid;border-color:"#FFFFFF";background-color:"#FFFFFF"}
		 .thinBorderHD{height:18px;border:1px solid;border-color:"#FFFFFF";background-color:"#EFEEE4"}
		 .thinBackground{background-color:#C4C4C4;bgcolor="#EFEEE4"}
		 .tbBgColor { background-color:white;}
		 .thinHD{height:18px;border:0px solid;border-color:black;background-color:#C4C4C4;}
		 .thinExHD{height:18px;border:0px solid;border-color:black;background-color:white;}
		 .fntSmall{font-size:9px;}
		 .fntExSmall{font-size:8px;}
		 .fntTiny{font-size:8px;}
		 .fntLarge{font-size: 17px;}
		 .fntExLarge{font-size: 22px;}
		 .fontCapitalize{text-transform: capitalize;}
		 .fntBoldItnry{font-weight:bold;font-family:tahoma;font-size:11px;left:auto;color: red;} 
		 .fntSmalled {font-size: 9px;}
		 .fntSmalledBold {font-size: 9px;font-weight:bold}
		 .fntHeaders {font-size: 11px;font-family:tahoma;font-weight: bold;text-transform: uppercase;}
		 .fntHeaders_1 {font-size: 11px;font-family:tahoma, Verdana, Arial, Helvetica, sans-serif;font-weight: bold;text-transform: uppercase;}
		 .break { page-break-before: always; }

		 UL{MARGIN-TOP: 0px;MARGIN-bottom: 4px;}
		 LI{MARGIN-TOP: 0px;MARGIN-bottom: 0px;}
		-->
		</style>
		<body>
			<table width="720" border="0" cellpadding="2" cellspacing="2" align="center">
				<tr>
					<td width="20%">
						<img src="$ibeURL/images/$logoImageName"/>                                                
					</td>
				</tr>
				<tr>  	

					<td align="center" colspan="2">
						<font class="fntLarge"><b>
						#if($booking.getStatus() == "STB")
						   $label.itinerary_reservation_standby<!-- RESERVATION STANDBY -->
						#elseif($booking.getStatus() == "CNF")
						   $label.itinerary_reservation_confirmed_eticket<!-- RESERVATION CONFIRMED -->						  
						#elseif($booking.getStatus() == "CNX")
						   $label.itinerary_reservation_cancelled<!-- RESERVATION CANCELLED -->
						#else
						   $label.itinerary_reservation_onhold<!-- RESERVATION ONHOLD -->
						#end
						</b></font>
					</td>
				</tr>
				<tr>
					<td align="center" colspan="2">
					</td>
				</tr>				
				#if($booking.getBarcode())
				<tr>
					<td align="center" colspan="2">
						<!-- BARCODE IMAGE (WITH tags and all)--> $booking.getBarcode()
					</td>
				</tr>	
				#end			
				<tr>
					<td align="center" colspan="2">
						<!--hr-->
					</td>
				</tr>
				<tr>
				   <td valign="top" colspan="2">
					<table width="100%" border="0" cellpadding="2" cellspacing="2" ID="Table1">
					     #foreach($passenger in $passengers)
						<tr>
							<td width="35%">
							  <font class="fntNormal">$label.itinerary_passengername.toUpperCase()<!-- Passenger Name --></font>
							</td>
							<td width="25%" class="thinExHD">
									<font class="fntNormal">
									#if ($passenger.getPaxType() == "CH") $label.itinerary_childprefix<!--Child.--> #end
										$passenger.getPaxDisplayName().toUpperCase()</font>
							</td>	
							<td width="25%">
								</td>
								<td width="25%">							
								</td>							

						</tr>
					   
					   ## INFANTS DISPLAYED IF ANY ##
						#if ($booking.isHasInfants())
						 #if($passenger.getInfantDisplayName() != "")
						 <tr>
							<td width="35%">
								<font class="fntNormal">$label.itinerary_infants.toUpperCase()<!--Infant(s)--></font>
							</td>
							<td width="25%" class="thinExHD">
							   <font class="fntNormal">
								$label.itinerary_babyprefix<!-- BABY.--> &nbsp;$passenger.getInfantDisplayName()
								<br>
							 	#if($showDOB && $passenger.getInfantDateOfBirth("dd MMM yyyy"))
									<br>
								<font class="fntBoldSm">$label.itinerary_dateofbirth<!--Date of Birth--> - &nbsp;</font> $passenger.getInfantDateOfBirth("dd MMM yyyy")&nbsp;
									<br>
									#end									
									</font>
							</td>
							
								<td width="25%">
								</td>
								<td width="25%">								
								</td>							
						</tr>
					       #end
					     #end
					 #end
						<tr>
							<td>
								<font class="fntNormal">$label.itinerary_airline_reference_number<!-- AIRLINE REFERENCE NUMBER --></font>
							</td>
							<td width="20%" class="thinExHD">
								<!--font class="fntBold">$booking.getGDSPNR()&nbsp;</font-->
                                                                #if ($isInterlineRelated == true)
									<font class="fntNormal"  dir="ltr">		
									#foreach ($airlineCode in $booking.getPNR().keySet())
						       				$airlineCode - $booking.getPNR().get($airlineCode)
						       				#if($velocityCount != $booking.getPNR().size())
						       					<br />
						       				#end
						       			#end
									</font>
								#else
									<font class="fntNormal">$booking.getGDSPNR()&nbsp;</font>
					       			#end
							</td>
							
							<td width="25%">
							</td>
							<td width="25%">								
							</td>
							
						</tr>

					    #foreach($passenger in $passengers)
                                              #if($passenger.getETicket() != "")
						<tr>
							<td>
								<font class="fntNormal">$label.itinerary_eticketno_heading.toUpperCase()<!-- E-TICKET NUMBER --></font>
							</td>
							<td width="10%" class="thinExHD">
								<font class="fntNormal">$passenger.getETicket()&nbsp;</font>
							</td>
								<td width="25%">
								</td>
								<td width="25%">								
								</td>
							
						</tr>
					        #end

						#if($showFOID && $passenger.getFoidNumber()!="")
						<tr>
							<td>
								<font class="fntNormal">$label.itinerary_identification<!-- IDENTIFICATION -->&nbsp;</font>
							</td>
							<td width="20%" class="thinExHD">
								<font class="fntNormal">$passenger.getFoidNumber()&nbsp;</font><!-- Passport No.-->
							</td>

							
								<td width="25%">
								</td>
								<td width="25%">								
								</td>
							
						</tr>
						#end
						
						#if($passenger.getPaxNationality() != "")
						<tr>
							<td>
								<font class="fntNormal">$label.itinerary_nationality<!-- NATIONALITY -->&nbsp;</font>
							</td>
							<td width="20%" class="thinExHD">
								<font class="fntNormal">$passenger.getPaxNationality()&nbsp;</font>
							</td>
							
								<td width="25%">
								</td>
								<td width="25%">								
								</td>
							
						</tr>
					       #end
					 #end

						<tr>
							<td><font class="fntNormal">$label.itinerary_issued_by<!-- ISSUED BY --></font></td>
							<td width="40%" class="thinExHD">
								<font class="fntNormal" dir="ltr">
								#if($agent.getOwnerChannelId() == "4")
								   $label.itinerary_webagency<!--Web Agency-->
								#elseif($agent.getAgentName() != "")
								   $agent.getAgentName()								
								#else
								  $label.itinerary_agency<!--Web Agency--> <!-- Temporary : Should never reach here as ownerChannelId has been fixed -->
								#end
								
								&nbsp;
								<!--Bug fix: it is commented -->
								<!--#if($agent.getIsOwner())
								*
								#end -->
								</font>
							</td>
							
								<td width="25%">
								</td>
								<td width="25%">																
								</td>	
							
						</tr>
						<tr>
							<td>&nbsp;<!-- DATE OF BOOKING --></td>
							<td width="20%" class="thinExHD">
								<font class="fntNormal" dir="ltr">$booking.getBookingDateTime("dd MMM yyyy")</font> 
							</td>
							
								<td width="25%">
								</td>
								<td width="25%">																
								</td>	
							
						</tr>
						<tr>
							<td width="25%">&nbsp;</td>
							<td width="25%">&nbsp;</td>
							<td width="25%">&nbsp;</td>	
							<td width="25%">&nbsp;</td>
						</tr>
	   		 							
					</table>
				</td>
			</tr>
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            

            
            
            
            
            
            
            
            
            
 

<!-- Start Travel Segments -->
			

<tr>
  <td align="center" colspan="2">
		<table class="thinBorder" width="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="#FFFFFF" bgcolor="#FFFFFF" ID="Table4">
			
		 <tr>

				#foreach($passenger in $passengers)
					#if($includePaxFinancials)
					  #set($financials = $passenger.getBaseCurrencyFinancials())
					#end
				#end
				<td valign="top" colspan="2">
				<table class="thinBorder" width="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="#FFFFFF" bgcolor="#FFFFFF" ID="Table4">
				<tr>
					<td class="thinHD"  colspan="7" align="left">
						<font class="fntBold">$label.itinerary_travel_information</font>
					</td>
				</tr>
				<tr valign="top">
                        				<td width="15%" class="thinExHD" align="center" colspan="1">
								<font class="fntHeaders">$label.itinerary_flight.toUpperCase()<!--Flight--></font>											</td>
							<td width="25%" class="thinExHD" align="center" colspan="2">
								<font class="fntHeaders">$label.itinerary_dep.toUpperCase()<!--Departure-->   /  $label.itinerary_arr.toUpperCase()<!--Arrival--></font>							</td>
							<td class="thinExHD" align="center" colspan="1">
								<font class="fntHeaders">$label.itinerary_airportterminal.toUpperCase()<!--Airport / Terminal--></font>								</td>
							<td class="thinExHD" align="center" colspan="1">
								<font class="fntHeaders">$label.itinerary_checkinopens.toUpperCase()<!--Check-in Opens--></font>									</td>
							
							#if ($showCOS)
							<td class="thinExHD" align="center" colspan="1">
								<font class="fntHeaders">$label.itinerary_class.toUpperCase()<!--Class--></font>											</td>
							#end
							#if (true)
							<td class="thinExHD" align="center" colspan="1">
								<font class="fntHeaders">$label.itinerary_coupon_validity.toUpperCase()<!--COUPON VALIDITY--></font>							
							</td>
							#end
							
						</tr>
						
						## SEGMENTS (NON-OPEN RETURN) ##
						#set($ondIndex= 0)						
						#if($flightOndGroups.size() > 0)
						#foreach ($ondGroup in $flightOndGroups)
														
							#if($ondGroup.getFlights().size() > 0)						
								#foreach ($flight in $ondGroup.getFlights())	
								     #if($ondIndex > 0)
									<tr>
									<td width="200" align="center" colspan="11">
									<!--hr-->
									</td>
									</tr>
								     #end
								<tr height="35"  valign="top">
                                					<td  width="15%" rowspan="1"  align="center" cellpadding="5" class="tbBgColor"><font class="fntNormal">$flight.getFlightNo() &nbsp;</font></td>									
									<td align="center"   class="tbBgColor"><font>$flight.getDepartureDateTime("EEE, dd MMM yyyy") &nbsp;</font></td>
									<td align="center"  class="tbBgColor"><font>$flight.getDepartureDateTime("HH:mm") &nbsp;</font></td>
									<td  class="tbBgColor"><font>
											$flight.getOriginAirport()
											($flight.getOriginAptCode())&nbsp;
											#if($flight.getOriginAptTerminalCode()!="")
											  <br>
                                                                                          $flight.getOriginAptTerminalCode()
                                                                                        #end&nbsp;</font></td>
									#set($origin=$flight.getOriginAptCode())
									<td  colspan="1" rowspan="1" align="center" class="tbBgColor"><font>$flight.getCheckInDateTime("EEE, dd MMM yyyy") &nbsp;</font> <font>$flight.getCheckInDateTime("HH:mm") &nbsp;</font></td>
									#if ($showCOS)
									<td rowspan="2" align="center" class="tbBgColor"><font>
										$flight.cabinClassDescription&nbsp;<br>
										$flight.cabinClassCode&nbsp;<br>
										</font> </td>
									#end		
									<td rowspan="2" align="center" class="tbBgColor">
										<font><!--Coupon validity value-->&nbsp;</font>
									</td>
					  </tr>
                               			 <tr height="35"  valign="top" >
									<td   width="15%" class="tbBgColor">&nbsp;</td>
                                					<td   class="tbBgColor" align="center"><font>$flight.getArrivalDateTime("EEE, dd MMM yyyy") &nbsp;</font></td>
									<td   class="tbBgColor" align="center"><font>$flight.getArrivalDateTime("HH:mm") &nbsp;</font></td>
									<td   class="tbBgColor"><font>
											$flight.getDestinationAirport()
											($flight.getDestinationAptCode())&nbsp;
											#if($flight.getDestinationAptTerminalCode()!="")
 											  <br>
                                                                                          $flight.getDestinationAptTerminalCode()
                                                                                        #end&nbsp;</font></td>
								       #set($destination=$flight.getDestinationAptCode())
									<td   class="tbBgColor">&nbsp;</td>
					#set($ondIndex= $ondIndex + 1)
                                     			<td> </td>                              
                                    </tr> 
				   <tr height="2"><td colspan="5"></td></tr>
								#end 
							#end 
						#end
						#end
						
						## SEGMENTS (OPEN RETURN) ##
						## if(reservationPaxDTO.getOpenReturnSegmentsOrderedByZuluDepartureDate().size() > 0)
						## foreach (openReturnItineraryViewTO in reservationPaxDTO.getOpenReturnSegmentsOrderedByZuluDepartureDate())
						## <tr>
						##	<td class="tbBgColor"><font>openReturnItineraryViewTO.getSegmentInformation() &nbsp;</font></td>
						##	<td colspan="7" class="tbBgColor" align="center">
						##	<font>Confirm before : openReturnItineraryViewTO.getOpenRtConfirmBefore("dd-MM-yyyy HH:mm") &nbsp;</font>
						##	<br>
						##	<font>Travel Expiry Date: openReturnItineraryViewTO.getSegmentExpiryDate("dd-MM-yyyy HH:mm") &nbsp;</font>			  	
						##	</td>
						##	#if (includeClassOfService)
						##	<td class="tbBgColor" align="center"><font>&nbsp;</font></td>
						##	#end		
						##	<td class="tbBgColor" align="center"><font>Open Return &nbsp;</font></td>
						##	#if (includeThumbnailLogo)
						##	<td class="tbBgColor" align="center"><font>&nbsp;</font></td>
						##	#end
						## </tr>
						## end
						## end
					</table>   
			  </td>
			</tr>
<!-- Travel Segment End  -->

			<tr>
				<td align="center" colspan="2">
					<!--hr-->
				</td>
			</tr>

<!-- Start Fare Details -->
			<tr>
				<td valign="top" colspan="2">
					<table class="thinBorder" width="100%" border="0" cellpadding="1" cellspacing="0" bordercolor="#FFFFFF" bgcolor="#FFFFFF" ID="Table6">
 					<tr>
						<td class="thinHD"  colspan="7" align="left">
							<font class="fntBold">$label.itinerary_fare_and_additional_info<!-- FARE AND ADDITIONAL INFORMATION--></font>
						</td>
					</tr>
					#foreach($passenger in $passengers)
					#set($financialTotals = $booking.getBaseCurrencyFinancials())	
					#set($paidCurrFinancialTotals = $booking.getPaidCurrencyFinancials())
					#if($paidCurrFinancialTotals)
					<tr valign="top">
						<td  width="25%" class="tbBgColor" align="left">
							<font class="fntBold">$label.itinerary_fare.toUpperCase()<!--Origin Destination--></font>
						</td>
						<td width="20%"  class="tbBgColor" align="center">
							<font class="fntBold">&nbsp;</font>
						</td>
						<td class="tbBgColor" align="left">
						     <font class="fntBold">$financials.getCurrency()
							  	<!-- TOTAL TICKET FARE -->$financialTotals.getTotalFare()</font>
						</td>
						<td class="tbBgColor" align="center">
							<font class="fntBold"></font>
						</td>	
						<td class="tbBgColor" align="center">
							<font class="fntBold">&nbsp;</font>
						</td>		
						<td class="tbBgColor" align="center">
							<font class="fntBold">&nbsp;</font>
						</td>	
						<td class="tbBgColor" align="center">
							<font class="fntBold">&nbsp;</font>
						</td>		
					</tr>

				  #set($chargesCount = 1)	
				  #set($labelTFCShow = 0)
 				  #foreach($ondTaxesFeesCharges in $OndTaxesFeesCharges)
					#foreach($taxesFeesCharge in $ondTaxesFeesCharges.getCharges())

					#if ($chargesCount == 3)
					  #set($chargesCount = 1)
					#end	

					#if ($chargesCount == 1)
					<tr>
						#if ($labelTFCShow == 0)
						#set($labelTFCShow = 1)
						<td width="25%" class="tbBgColor" align="left" valign="top">
							<font class="fntNormal">$label.itinerary_taxes_fees_charges<!--TAXES/FEES/CHARGES--></font>
						</td>
						#else
						<td class="tbBgColor" align="left" valign="top">
							<font class="fntNormal">&nbsp;</font>
						</td>
						#end
					#end

					#if ($chargesCount <= 2)	
						<td width="15%"  class="tbBgColor" align="left">
							 <font class="fntNormal">
										$financials.getCurrency()
										$taxesFeesCharge.getAmount()
                                						$taxesFeesCharge.getChargeCode()
									    </font>
						</td>
					#end
					#if ($chargesCount == 2)
						<td class="tbBgColor" align="center">
							<font class="fntBold"></font>
						</td>	
						<td class="tbBgColor" align="center">
							<font class="fntBold">&nbsp;</font>
						</td>		
						<td class="tbBgColor" align="center">
							<font class="fntBold">&nbsp;</font>
						</td>		
						<td class="tbBgColor" align="center">
							<font class="fntBold">&nbsp;</font>
						</td>		
					 #end 				
					   #if ($chargesCount == 2)
						</tr>
					   #end
					  #set($chargesCount = $chargesCount + 1)
                                         #end
                                        #end
					<tr heigth="5%">
						<td class="tbBgColor"  colspan="4" align="left"></td>
					</tr>
					<tr>
						<td class="tbBgColor" align="left">
							<font class="fntNormal">$label.itinerary_total<!--TOTAL IN TICKET FARE--></font>
						</td>
						<td class="tbBgColor" align="center">
							<font class="fntBold">&nbsp;</font>
						</td>
						<td class="tbBgColor" align="left">
						    <font class="fntNormal">$financials.getCurrency()
								<!-- TOTAL IN TICKET FARE -->$passenger.getBaseCurrencyFinancials().getTotalPaidAmount()</font>
						</td>
						<td width="25%" class="tbBgColor" align="center">
							<font class="fntNormal">$label.itinerary_fare_calculation</font>
						</td>	
						<td class="tbBgColor" align="left">							
							<font class="fntNormal">$origin&nbsp;</font>
						</td>
						<td class="tbBgColor" align="left">
							<font class="fntNormal">$booking.getStatus()&nbsp;</font>
						</td>		
						<td class="tbBgColor" align="center">
							<font class="fntBold">&nbsp;</font>
						</td>								
					
					</tr>
					<tr heigth="5%">
						<td class="tbBgColor" align="left">
							<font class="fntBold">&nbsp;</font>
						</td>
						<td class="tbBgColor" align="center">
							<font class="fntBold">&nbsp;</font>
						</td>
						<td class="tbBgColor" align="center">
							<font>&nbsp;</font>
						</td>
						<td width="25%" class="tbBgColor" align="center">
							<font class="fntBold">&nbsp;</font>
						</td>	
						<td class="tbBgColor" align="left">							
							<font class="fntNormal">$destination&nbsp;</font>
						</td>
						<td class="tbBgColor" align="left">
							<font class="fntNormal">$label.itinerary_end&nbsp;</font>
						</td>	
						<td class="tbBgColor" align="center">
							<font class="fntBold">&nbsp;</font>
						</td>	
					</tr>

					<tr>
						<td class="tbBgColor" align="left">
							<font class="fntNormal">$label.itinerary_form_of_payment<!--FORM OF PAYMENT--></font>
						</td>
						<td class="tbBgColor" align="center">
							<font class="fntBold">&nbsp;</font>
						</td>
					    	<!--td class="tbBgColor" align="center"><font>Cash&nbsp;</font>
						</td-->
						<td class="tbBgColor" align="left" colspan="2">
						#foreach ($paymentCurrency in $passenger.getPayments().keySet())
					             #foreach ($payment in $passenger.getPayments().get($paymentCurrency))
							<font class="fntNormal">
								#if($payment.getPaymentType())
                                                                   $payment.getPaymentType() 
								#end
								#if($payment.getLast4DigitsOfCCNo())
									$payment.getLast4DigitsOfCCNo()
								#end
							</font>
						     #end					
						    #end
						</td>

						<td class="tbBgColor" align="center">
							<font class="fntBold">&nbsp;</font>
						</td>						
					</tr>
				    #end					
				   #end	
					</table>
				</td>
			</tr>
<!-- Fare Details End -->

		## Ancillary Details ##
<!--  Start Ancillary Details  -->
		#if($anciAvailability.isAncillaryAvailable())

			<tr>
				<td align="center" colspan="2">
					<!--hr-->
				</td>
			</tr>

		#set($anciAvailColCount= 2)
		#if ($anciAvailability.isSeatAvailable())
		    #set($anciAvailColCount = $anciAvailColCount+1)
		#end
		#if ($anciAvailability.isMealAvailable())
		    #set($anciAvailColCount = $anciAvailColCount+1)
		#end
		#if ($anciAvailability.isSsrAvailable())
		    #set($anciAvailColCount = $anciAvailColCount+1)
		#end		
			<tr>
				<td valign="top" colspan="2">
					<table class="thinBorder" width="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="#FFFFFF" bgcolor="#FFFFFF" ID="Table5">
 		        <tr>
				<td class="thinHD" valign="top" colspan="$anciAvailColCount">
					<font class="fntBold">$label.itinerary_ancillarydetails<!--ANCILLARY DETAILS--></font>
				</td>
			</tr>
						
						<tr>
							<td class="tbBgColor" align="center">
								<font class="fntBold">$label.itinerary_passengernames.toUpperCase()<!--Passenger Name(s)--></font>
							</td>
							<td class="tbBgColor" align="center" width="10%">
								<font class="fntBold">$label.itinerary_segments.toUpperCase()<!--Segment--></font>
							</td>
							
							## HAS SEAT ##
							#if ($anciAvailability.isSeatAvailable())
								#set($anciAvailCount= 0)
								#set($anciAvailCount = $anciAvailCount+1)
							<td class="tbBgColor" align="center" width="10%">
								<font class="fntBold">$label.itinerary_seat.toUpperCase()<!--Seat--></font>
							</td>
							#end
							## HAS MEAL ##
							#if ($anciAvailability.isMealAvailable())
								#set($anciAvailCount = $anciAvailCount+1)
							<td class="tbBgColor" align="center" width="20%">
								<font class="fntBold">$label.itinerary_meals.toUpperCase()<!--Meal(s)--></font>
							</td>
							#end
							## HAS SSR ##
							#if ($anciAvailability.isSsrAvailable())
								#set($anciAvailCount = $anciAvailCount+1)
							<td class="tbBgColor" align="center" width="20%">
								<font class="fntBold">$label.itinerary_ssrs.toUpperCase()<!--SSR(s)--></font>
							</td>
							#end	
						</tr>

						#foreach($passenger in $passengers)
							#set($ancillaries = $passenger.getAncillary())
							#if($ancillaries.size() > 0)
							<tr>							
								<td class="tbBgColor" rowspan="$ancillaries.size()" >
									<font class="fontCapitalize">
									#if ($passenger.getPaxType() == "CH") $label.itinerary_childprefix<!--Child.--> #end
									$passenger.getPaxDisplayName().toUpperCase()
									<br>
									</font>
								</td>								
								## per segment 
								#set($index = 0)
								#foreach($ancillary in $ancillaries)
									#set($segment = $ancillary.getSegment())
									#set($meals = $ancillary.getMeals())
									#set($ssrs = $ancillary.getSsrs())
									#set($seat = $ancillary.getSeat())
									#if($index > 0)
										</tr>
										<tr>
									#end
											<td class="tbBgColor" align="center">
												<!-- Segment -->
												<font>$segment.getSegmentCode()</font>
											</td>
											#if ($anciAvailability.isSeatAvailable())
											<td class="tbBgColor" align="center">
												<!-- SEAT -->
												<font>$seat.getSeatNumber()</font>
												&nbsp;
											</td>
											#end
											#if ($anciAvailability.isMealAvailable())
											<td class="tbBgColor" align="center">	
												#set($i = 0)
												#foreach($meal in $meals)
													<font>#if($i>0),#end $meal.getSoldMeals()x $meal.getMealName()</font>
													#set($i = $i+1)
												#end
												#if( $meals.size() == 0) 
												&nbsp;
												#end
											</td>
											#end
											#if ($anciAvailability.isSsrAvailable())
											<td class="tbBgColor" align="center">
												<!-- SSR(s) -->		
												#set($i = 0)									
												#foreach($ssr in $ssrs)
													<font>#if($i>0), #end $ssr.getDescription() #if($ssr.getText())- $ssr.getText() #end</font>
													#set($i = $i+1)
												#end
												#if( $ssrs.size() == 0) 
												&nbsp;
												#end
											</td>
											#end										
										#set($index = $index+1)
									#end
							</tr>
							#end							
						#end
						
					</table>
				</td>
			</tr>			
		#end
<!-- Ancillary Details  END -->

		## Fare Rules REMOVED ---->>>> ##
<!-- Start Fare Rules -->
		#if($includeFareRules)


			<tr style="display:none">
				<td align="center" colspan="2">
					<!--hr-->
				</td>
			</tr>


			<tr style="display:none">
				<td valign="top" colspan="2">
					<table class="thinBorder" width="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="#FFFFFF" bgcolor="#FFFFFF" ID="Table6">
					<tr>
						<td class="thinHD" valign="top" colspan="3">
							<font class="fntBold">$label.itinerary_farerules<!--FARE RULES--></font>
						</td>
					</tr>
					<tr>
						<td class="tbBgColor" align="left">
							<font class="fntBold">$label.itinerary_origindestination<!--Origin Destination--></font>
						</td>
						<td class="tbBgColor" align="center">
							<font class="fntBold">$label.itinerary_farerule<!--Fare Rule--></font>
						</td>
						<td class="tbBgColor" align="center">
							<font class="fntBold">$label.itinerary_termsandconditions<!--Terms and Conditions--></font>
						</td>						
					</tr>
					#foreach($farerule in $fareRules)
					<tr>
						<td class="tbBgColor" align="left">
							<font >$farerule.getOndCode()<!--Origin Destination--> &nbsp;</font>
						</td>
						<td class="tbBgColor" align="center">
						#if($farerule.getFareCategoryDescription() != "")
						  <font >$farerule.getFareCategoryDescription()<!--Fare Rule-->&nbsp;</font>
						#else
						  <font>&nbsp;</font>
						#end
						</td>
						<td class="tbBgColor" align="center">
							<font >$farerule.getFareRuleComments()<!--Terms and Conditions-->&nbsp;</font>
						</td>						
					</tr>
					#end
					</table>
				</td>
			</tr>
		#end

<!-- Fare Rules End -->

<!-- Start Payment details -->
		## Payment details  ##
			## IF PAYMENTS EXIST

			#if($includePaymentDetails)

			<tr style="display:none">
				<td align="center" colspan="2">
					<!--hr-->
				</td>
			</tr>

			<tr style="display:none">
				<td valign="top" colspan="2">
					<table class="thinBorder" width="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="#FFFFFF" bgcolor="#FFFFFF" ID="Table7">
					<tr><td class="thinHD" valign="top" colspan="5">
						<font class="fntBold">$label.itinerary_paymentdetails.toUpperCase()<!--PAYMENT DETAILS--></font>
					</td></tr>
					<tr>
						<td class="tbBgColor" align="center">
							<font class="fntBold">$label.itinerary_date.toUpperCase()<!--Date--></font>
						</td>
						<td class="tbBgColor" align="center">
							<font class="fntBold">$label.itinerary_passengernames.toUpperCase()<!--Passenger Name--></font>
						</td>
						<td class="tbBgColor" align="center">
							<font class="fntBold">$label.itinerary_paymenttype.toUpperCase()<!--Type--></font>
						</td>
						<td class="tbBgColor" align="center">
							<font class="fntBold">$label.itinerary_paymentauthid.toUpperCase()<!--Auth Id--></font>
						</td>
						##<td class="tbBgColor" align="center">
						##	<font class="fntBold">$label.itinerary_amount.toUpperCase()<!--Amount--></font>
						##</td>
						<td class="tbBgColor" align="center">
							<font class="fntBold">$label.itinerary_amount.toUpperCase()<br>($label.itinerary_basecurrency)<!-- Amount in Paid Currency--></font>
						</td>
					</tr>
		
					#foreach($passenger in $passengers)
						#foreach ($paymentCurrency in $passenger.getPayments().keySet())
							#foreach ($payment in $passenger.getPayments().get($paymentCurrency))
							<tr>
								<td class="tbBgColor" align="center"><font>$payment.getPaymentDateTime("EEE, dd MMM yyyy") &nbsp;</font></td> <!-- "EEE, dd MMM yyyy" -->
								<td class="tbBgColor" align="center"><font>$passenger.getPaxDisplayName().toUpperCase() &nbsp;</font></td>
								<td class="tbBgColor" align="center">
									<font>
										$payment.getPaymentType() &nbsp; 
										#if($payment.getLast4DigitsOfCCNo())
											$payment.getLast4DigitsOfCCNo()
										#end
									</font>
								</td>
								<td class="tbBgColor" align="center"><font>$payment.getAuthorizationId() &nbsp;</font></td>
								##<td class="tbBgColor" align="right"><font>&nbsp; </font></td>
								<td class="tbBgColor" align="right"><font>$payment.getPaidAmount() $payment.getPaidCurrency() &nbsp;</font></td>
							</tr>
							#end
							
							#if($passenger.getPayments().size() > 0)
							<tr>
								<td class="tbBgColor" align="center"><font>&nbsp;</font></td>
								<td class="tbBgColor" align="center"><font>&nbsp;</font></td>
								<td class="tbBgColor" align="center"><font>&nbsp;</font></td>
								<td class="tbBgColor" align="right"><font class="fntBold">&nbsp; $label.itinerary_total_spacy<!--T O T A L --> </font></td>
								##<td class="tbBgColor" align="right"><font>$passenger.getBaseCurrencyFinancials().getTotalPaidAmount() $passenger.getBaseCurrencyFinancials().getCurrency() &nbsp;</font></td>
								<td class="tbBgColor" align="right"><font>$paymentCurrency.getTotalPaidAmount() $paymentCurrency.getCurrency() &nbsp;</font></td>
							</tr>
							#end
						#end
					#end
					</table>
				</td>
			</tr>
			#end


<!-- Payment details End -->

<!--  Start Charges Details -->
			## Charges Details ##

			#if($includeTicketCharges)

			<tr>
				<td align="center" colspan="2">
					<!--hr-->
				</td>
			</tr>

			<tr>
				<td valign="top" colspan="2">
					<table class="thinBorder" width="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="#FFFFFF" bgcolor="#FFFFFF" ID="Table8">

					<tr><td class="thinHD" valign="top" colspan="6">
						<font class="fntBold"> $label.itinerary_chargesdetails.toUpperCase()<!--CHARGES DETAILS --></font>
					</td></tr>

					<tr>
						<td class="tbBgColor" align="center">
							<font class="fntBold">$label.itinerary_chargedate.toUpperCase()<!--Charge Date--></font>
						</td>
						<td class="tbBgColor" align="center">
							<font class="fntBold">$label.itinerary_origindestination.toUpperCase()<!--Origin/Destination--></font>
						</td>
						<td class="tbBgColor" align="center">
							<font class="fntBold">$label.itinerary_passengername.toUpperCase()<!--Passenger Name--></font>
						</td>
						<td class="tbBgColor" align="center">
							<font class="fntBold">$label.itinerary_description.toUpperCase()<!--Description--></font>
						</td>	
						<td class="tbBgColor" align="center">
							<font class="fntBold">$label.itinerary_description.toUpperCase()<!--Type--></font>
						</td>					
						<td class="tbBgColor" align="center">
							<font class="fntBold">$label.itinerary_amount.toUpperCase()<!-- Amount --></font>
						</td>
					</tr>
					#foreach($ondCharge in $ondCharges)
						#foreach($charge in $ondCharge.getCharges())
						<tr>
							<td class="tbBgColor" align="center"><font>$charge.getChargeDate("EEE, dd MMM yyyy") &nbsp;</font></td> <!-- "EEE, dd MMM yyyy" -->
							<td class="tbBgColor" align="center"><font>$charge.getSegmentCode() &nbsp;</font></td>		
							<td class="tbBgColor" align="center"><font>$charge.getPassengerName().toUpperCase() &nbsp;</font></td>						
							<td class="tbBgColor" align="center"><font>$charge.getDescription() &nbsp;</font></td>
							<td class="tbBgColor" align="center"><font>$charge.getChargeType() &nbsp;</font></td>
							<td class="tbBgColor" align="right"><font>$charge.getAmount() $booking.getBaseCurrencyFinancials().getCurrency() &nbsp; </font></td>
						</tr>
						#end
						#if($ondCharge.getCharges().size()>0)
						<tr>
							<td class="tbBgColor" align="center"><font>&nbsp;</font></td>
							<td class="tbBgColor" align="center"><font>&nbsp;</font></td>
							<td class="tbBgColor" align="center"><font>&nbsp;</font></td>
							<td class="tbBgColor" align="right" colspan="2"><font class="fntBold">&nbsp; $label.itinerary_total_spacy ($ondCharge.getOnd())<!--T O T A L --> </font></td>
							<td class="tbBgColor" align="right"><font>$ondCharge.getTotal() $booking.getBaseCurrencyFinancials().getCurrency() &nbsp;</font></td>						
						</tr>
						#end
					#end					
					
					</table>
				</td>
			</tr>
			#end
<!-- Charges Details End -->

<!-- INSURANCE DETAILS (ONLY DISPLAYING FOR RAK AIRWAYS  -->			
 		 #if($showInsurance && $insurance.getInsuranceDescription())

		<tr>
			<td align="center" colspan="2">
				<!--hr-->
			</td>
		</tr>

 		 <tr>
		    <td valign="top" colspan="2">
		      <font class="fntBold">$label.itinerary_insurance_detals.toUpperCase()<!-- INSURANCE DETAILS --></font>
		    </td>
		  </tr>
		  	  	 	 
	 	  <tr>
		   <td valign="top" colspan="2" >
			
				<table width="100%" border="0" cellpadding="0" cellspacing="1" bordercolor="#FFFFFF" bgcolor="#FFFFFF" ID="Table9">
					<tr><td class="tbBgColor"><font class="fntSmall">$insurance.getInsuranceDescription()</font></td></tr>
				</table>
			
			</td>
		  </tr>
		 #end


<!-- INSURANCE DETAILS End -->
		</table>
  </td>
</tr>

<!-- END MAIN TABLE -->
	
			<tr>
				<td valign="top" colspan="2">
					<font class="fntSmall">
						* $label.itinerary_alltimesinlocal<!--All times in local--> &nbsp; 
						## $cabinClassesLegend
					</font>
				</td>
			</tr>
			<tr>
				<td valign="top" colspan="2">
					## $carrierLegend.length() > 0
					#if(false)
					<table width="100%" border="0" cellpadding="1" cellspacing="2" ID="Table10">
						<tr><td><font class="fntSmall">* $label.itinerary_allflightsoperatedby<!--All times in local--> $carrierLegend &nbsp;</font></td></tr>
					</table>
					#end
				</td>
			</tr>
			
			<!-- Itinerary Advertisment Image will come here -->
		  #if($itineraryAdvertisementImageURL != "" )
		    <tr><td>&nbsp;</td></tr>
		  	<tr>
			  	<td align="center" width="80%" valign="top" colspan="2">			  		 		
			  		 		<img src="$itineraryAdvertisementImageURL"/>
			  	</td>
		  	</tr>
		  	<tr><td>&nbsp;</td></tr>
		  #end	 

		   #set($lblFareRuleDescShow = 0)
		   #foreach($farerule in $fareRules)
	  	    #if($farerule.getFareRuleComments() != "" )
		       #if($lblFareRuleDescShow == 0)
		         #set($lblFareRuleDescShow = 1)
			     <tr>						
				<td valign="top" colspan="2">
			  	    <font class='fntExSmall'><b>$label.itinerary_farerule_termsandconditions</b></font>
				</td>						
			     </tr>		    
		       #end	
			    <tr>
				<td valign="top" colspan="2">
					<font>$farerule.getFareRuleComments()<!--Terms and Conditions-->&nbsp;</font>
				</td>						
			    </tr>
		     #end   
		    #end

		    <tr>

				<td valign="top" colspan="2">			      
			        #if($lblFareRuleDescShow == 1)
				     <br>
		    		#end
				$termsNConditions
				</td>
			</tr>
		</table>
		#if($showPageBreak)
		<p style="page-break-before: always"/> 
		#end
		</body>
		</html>