﻿<?xml version="1.0" encoding="UTF-8"?>
<message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<header>
		<subject>Itinerary for the Reservation $booking.getGDSPNR()</subject>
	</header>
	<content>
		<body><![CDATA[
		#parse("email/interline_itinerary_body.xml.vm")	
		]]></body>
	</content>
</message>