<message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<header>
		<subject>$subject</subject>
	</header>
	<content>
		<body><![CDATA[
		<html>
				<style type="text/css">
						 <!--
						 font{font-family:tahoma;font-size:11px;left:auto;color: black;}
						 Body {background : white;margin :0px 0px 0px 0px;}
						 .fntBold{font-weight:bold;}
						 .thinBorder{height:18px;border:1px solid;border-color:black;}
						 .thinHD{height:18px;border:1px solid;border-color:black;;background-color:#C4C4C4;}
						 .fntLarge{font-size: 12px;}
						 .fntHeading{font-size: 13px;}
						 -->
				</style>
						<body>
							<table cellpadding="5" cellspacing="2" border="0">
							<tr><td>
								<font class="fntBold fntHeading">Outbound  Flight : $outFlightNo </font>
						    	</td></tr>
						    	<tr><td>
						    	#if($outFlightHasMeal)
								<table class="thinBorder" cellpadding="2" cellspacing="1">
									<tr>
										<th class="thinHD" align="center"><font class="fntBold">IATA Code</font></th>
										<th class="thinHD" align="center"><font class="fntBold">Meal Code</font></th>
										<th class="thinHD" align="center"><font class="fntBold">Meal Name</font></th>
										<th class="thinHD" align="center"><font class="fntBold">Cabin Class</font></th>
										<th class="thinHD" align="center"><font class="fntBold">No of Meals</font></th>
									</tr>
								 	#foreach($meal in $outboundMealsList)
									<tr>
										<td class="thinBorder"><font>$meal.getMealIATACode()</font></td>
										<td class="thinBorder"><font>$meal.getMealCode()</font></td>
										<td class="thinBorder"><font>$meal.getMealName()</font></td>
										<td class="thinBorder"><font>$meal.getCabinClassCode()</font></td>
										<td class="thinBorder" align="right"><font>$meal.getSoldMeals()</font></td>
									</tr>
								 	#end
								</table>
							#else
								<font>Outbound  Flight Has No Meals Selected</font>
							#end
							</td></tr>
							<tr><td>
								<table class="thinBorder" cellpadding="2" cellspacing="1">
									<tr>
										<td class="thinHD" align="center"><font class="fntBold">Cabin Class</font></td>
										<td class="thinHD" align="center"><font class="fntBold">Total Adults</font></td>
										<td class="thinHD" align="center"><font class="fntBold">Total Infant</font></td>
									</tr>
									
									#foreach($cabin in $outboundCabinTotals)
									<tr>
										<td class="thinBorder"><font>$cabin.getCabinClass()</font></td>
										<td class="thinBorder" align="right"><font>$cabin.getTotalAdultCount()</font></td>
										<td class="thinBorder" align="right"><font>$cabin.getTotalInfantCount()</font></td>
									</tr>
									#end
								</table>
							</td></tr>
							</table>
		
							<table cellpadding="5" cellspacing="2">
							
							#if($hasInboundFlight)
								<tr><td>
									<font class="fntBold fntHeading">Inbound  Flight : $inFlightNo</font>
								</td></tr>
								<tr><td>
								#if($inFlightHasMeal)								
												<table class="thinBorder" cellpadding="2" cellspacing="1">
													<tr>
														<th class="thinHD" align="center"><font class="fntBold">Meal Code</font></th>
														<th class="thinHD" align="center"><font class="fntBold">Meal Name</font></th>
														<th class="thinHD" align="center"><font class="fntBold">No of Meals</font></th>
													</tr>
													#foreach($inmeal in $ibMealsList)
													<tr>
														<td class="thinBorder"><font>$inmeal.getMealCode()</font></td>
														<td class="thinBorder"><font>$inmeal.getMealName()</font></td>
														<td class="thinBorder" align="right"><font>$inmeal.getSoldMeals()</font></td>
													</tr>
													#end
												</table>
								#else
												<font>Inbound  Flight Has No Meals Selected</font>
								#end
								</td></tr>
								<tr><td>
										<table class="thinBorder" cellpadding="2" cellspacing="1">
											<tr>
												<td class="thinHD" align="center"><font class="fntBold">Cabin Class</font></td>
												<td class="thinHD" align="center"><font class="fntBold">Total Adults</font></td>
												<td class="thinHD" align="center"><font class="fntBold">Total Infant</font></td>
											</tr>
											
											#foreach($incabin in $inboundCabinTotals)
											<tr>
												<td class="thinBorder"><font>$incabin.getCabinClass()</font></td>
												<td class="thinBorder"><font>$incabin.getTotalAdultCount()</font></td>
												<td class="thinBorder"><font>$incabin.getTotalInfantCount()</font></td>
											</tr>
											#end
										</table>
								</td></tr>
							#else
								#if($hubBaseAlertEnabled)
									<tr><td>
										<font fntBold fntHeading>No Matching Inbound Flight Exists</font>
									</td></tr>
								#else
									<tr><td>
										<font fntBold fntHeading></font>
									</td></tr>
								#end
							#end
							
							
							</table>
		</body></html>
		]]>	
		</body>
	</content>
</message>