<message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<header>
		<subject>$subject</subject>
	</header>
	<content>
	
		<body>
		
		<![CDATA[<html>
		 <head>
        <title>:: Regional Sales</title>
        </head>
        <style type="text/css">
         <!--
						 font{font-family:tahoma;font-size:11px;left:auto;color: black;}
						 Body {background : white;margin :0px 0px 0px 0px;}
						 .fntBold{font-weight:bold;}
						 .thinBorder{height:18px;border:1px solid;border-color:black;}
						 .thinHD{height:18px;border:1px solid;border-color:black;;background-color:#C4C4C4;}
						 .fntLarge{font-size: 12px;}
						 .fntHeading{font-size: 13px;}
						 -->
        </style> 		
		<body>
							<table cellpadding="5" cellspacing="2" border="0">
							<tr>
				    			<td><font class="fntBold fntHeading"> Product Sales Analysis</font></td>
				    		</tr>
				    		<tr><td>
						  		<table border="1" width="60%">
									<tr>
									<th class="thinHD" align="center" width="20%"><font class="fntBold">Regions</th>
									<th class="thinHD" align="center" width="40%"><font class="fntBold">Location</th>
									<th class="thinHD" align="center" width="10%"><font class="fntBold">Target</th>
									<th class="thinHD" align="center" width="10%"><font class="fntBold">Actual</th>
									<th class="thinHD" align="center" width="10%"><font class="fntBold">Ytd</th>
									<th class="thinHD" align="center" width="10%"><font class="fntBold">Ytd Var.</th>		
									</tr>
	
									#foreach($key in $salesData.keySet())
									<tr>
									<td class="thinBorder" width="10%"><font>$key</font></td>
										#set($v = $salesData.get($key))
										#set($index =0)
											#foreach($city in $v.keySet())
												#if($index>0)
												<td class="thinBorder" width="20%"></td>
												#end
												<td class="thinBorder" width="40%"><font class="fntBold">$city</font></td>
												
												#set($sales = $v.get($city))
												#set($agents = $sales.getAgentsRegionalSalesLocationWise())
												<td class="thinBorder" width="10%"><font>$sales.getTarget()</font></td>
												<td class="thinBorder" width="10%"><font>$sales.getStrActualSales()</font></td>
												<td class="thinBorder" width="10%"><font>$sales.getYtdSales()</font></td>
												<td class="thinBorder" width="10%"><font>$sales.getYtdVariance()</font></td>	
												#set($index =$index+1)															
									</tr>
												#foreach($agent in $agents.keySet())
													#set($agentsales = $agents.get($agent))
													#foreach($salesAgent in $agentsales)
													<tr>
													<td class="thinBorder" width="20%"></td>
													<td class="thinBorder" width="40%"><font>$salesAgent.getAgentName()</font></td>
													<td class="thinBorder" width="10%"><font>$salesAgent.getTarget()</font></td>
													<td class="thinBorder" width="10%"><font>$salesAgent.getStrActualSales()</font></td>
													<td class="thinBorder" width="10%"><font>$salesAgent.getYtdSales()</font></td>
													<td class="thinBorder" width="10%"><font>$salesAgent.getYtdSalesVariance()</font></td>
												    </tr>
												    #end
												
												#end
											#end
									#end									
								</table>
								</td>
							</tr>
							<tr><td><font class="fntBold fntHeading">Comments :</font></td> </tr>
						  		<tr><td>
								<table border="1" width="90%">
									
									<tr>
									<td class="thinBorder" width="15%"><font>$comments</font></td>
									
									</tr>
									
								</table>
								</td></tr>
							</table>
					</body>
		</html>
		]]>	
		</body>
	</content>
</message>