﻿<?xml version="1.0" encoding="UTF-8"?>
<message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<header>
		<subject>Total payment due for your Reservation. (PNR ::: $notificationDetailDto.getPnr())</subject>
	</header>
	<content>
		<body>
			<![CDATA[
				<html> 
					<table width="600" bgcolor="#fff" style="border:1px solid #ccc;" align="center" border="0" cellpadding="0" cellspacing="0">
						<tbody>
							
							<tr><td>&nbsp;</td></tr>
							<tr>
								<td style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #555; text-align: justify; font-size: 13px; line-height: 22px; padding: 10px; vertical-align: top;" valign="top">
								<h2 style="text-align: center; font-size: 24px; color: #f90310; margin: 0; padding: 0;">Total payment due for your Reservation</h2>
								</td>
							</tr>
							<tr><td>&nbsp;</td></tr>
							<tr>
							<td>
								<table align="center" width="90%">
								<tbody>
									<tr>
										<td style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #555; text-align: justify; font-size: 14px; line-height: 22px; padding-bottom: 20px; vertical-align: top;">
									  <p>Dear&nbsp;$notificationDetailDto.getTitle()&nbsp;$notificationDetailDto.getName()&nbsp;$notificationDetailDto.getLastName(),<br><br>
									  Total payment due for the the PNR <strong>$notificationDetailDto.getPnr()</strong>. Please make sure to do the final payment before <strong>$notificationDetailDto.getTargetPaymentDate()</strong>.<br /><br />
									  Thank you,<br />
									  Air Arabia
									    </p>
										</td>
									</tr>
								</tbody>
							</table></td>
							</tr>
							<tr><td>&nbsp;</td></tr>
							<tr>
								<td align="center" width="600">
									<table align="center" cellpadding="3" cellspacing="0" width="600">
										<tbody>
											<tr>
												<td style="font-family: helvetica; background: #dfdfdf; border-top: 1px solid #ccc; font-size: 9px; padding: 5px 10px; text-align: left;" align="center" valign="bottom" width="500">
													<p>Copyright &copy; 2013 Air Arabia. All rights reserved. <a href="http://www.airarabia.com" target="_blank" style="color: #000000;">www.airarabia.com</a></p>
												</td>
												<td style="background: #dfdfdf; border-top: 1px solid #ccc; padding: 5px 10px;" align="right" width="100">
													<table align="center" cellpadding="0" cellspacing="0" width="100%">
											<tbody>
											</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
				</tr>
			</tbody>
		</table>
					
					
				</html>
			]]>	
		</body>
	</content>
</message>