<?xml version="1.0" encoding="UTF-8"?>
<message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<header>
		<subject>$commonTemplatingDTO.getCarrierName() Booking Change Notification</subject>
	</header>
	<content>
		<body>
			 
		<![CDATA[
		<html> 
		<head>
		<title>:: Booking Change Notification</title>
		<style type="text/css">
		 <!--
		 font{font-family:tahoma;font-size:11px;left:auto;color: black;}
		 Body {background : white;margin :0px 0px 0px 0px;}
		 .fntBold{font-weight:bold;}
		 .thinBorder{height:18px;border:1px solid;border-color:black;}
		 .thinBackground{background-color:#C4C4C4;}
		 .thinHD{height:18px;border:1px solid;border-color:black;;background-color:#C4C4C4;}
		 .fntSmall{font-size:9px;}
		 .fntExSmall{font-size:8px;}
		 .fntTiny{font-size:8px;}
		 .fntTinyLarge{font-size: 12px;}
		 .fntLarge{font-size: 17px;}
		 .fntExLarge{font-size: 22px;}
		 .fontCapitalize{text-transform: capitalize;}
		 UL{MARGIN-TOP: 0px;MARGIN-bottom: 4px;}
		 LI{MARGIN-TOP: 0px;MARGIN-bottom: 0px;}
		 -->
		</style>
		</head>
		<body>
		 <table width="600" border="0" cellpadding="2" cellspacing="0" align="center">		
		 		<tr>
					<td width="20%">
						<img src="$ibeURL/images/$logoImageName"/>
					</td>
					<td width="80%" align="right">
						<font class="fntSmall">$companyAddress</font>
					</td>
				</tr>
		    
		  <tr>
		   <td align="center" colspan="2">
		    <font class="fntLarge"><b> BOOKING CHANGE NOTIFICATION </b></font>
		   </td>
		  </tr>
		   <tr>
		    <td colspan="2">
		      <font>&nbsp;</font>
		    </td>
		  </tr>			  
		  <tr>
		    <td valign="top" colspan="2">
		      <font class="fntTinyLarge">Dear $user,<br><br></font>
		    </td>
		  </tr>
		 <tr>
		    <td valign="top" colspan="2">
		      <font class="fntTinyLarge">Following bookings has been modified, for further info call $phone</font>
		    </td>		    
		  </tr>
		  <tr>
		  <td colspan="2">
			<table width="100%" border="0" cellpadding="2" cellspacing="1" ID="Table5">
				<tr>
					<td class="thinHD" align="center" width="22%">
						<font class="fntBold"><b>Modified Date</b><!--Date--></font>
					</td>
					<td class="thinHD" align="center" width="18%">
						<font class="fntBold"><b>Modified By</b><!--Contact Info--></font>
					</td>
					<td class="thinHD" align="center" width="18%">
						<font class="fntBold"><b>PNR</b><!--pnr--></font>
					</td>				
					<td class="thinHD" align="center" width="42%">
						<font class="fntBold"><b>Description</b><!--Contact Info--></font>
					</td>
				</tr>
				#foreach($alertInfo in $agentAlertInfoDTO)
					<tr>	
						<td class="thinBorder"><font class="fntTinyLarge">$alertInfo.getModifiedStringDate("dd MMM yyyy HH:mm")</font></td>
						<td class="thinBorder"><font class="fntTinyLarge">$alertInfo.getModifiedBy()</font></td>
						<td class="thinBorder"><font class="fntTinyLarge">$alertInfo.getPnr()</font></td>	
						<td class="thinBorder"><font class="fntTinyLarge">$alertInfo.getDescription()</font></td>
					</tr>
				#end	
			</table>
		  </td>
		  </tr>
		   <tr>
		    <td colspan="2">
		      <font>&nbsp;</font>
		    </td>
		  </tr>
		  <tr>
		    <td valign="top" colspan="2"><font>
			   <br>
			   Sincerely,
			   <br>
			   $commonTemplatingDTO.getCarrierName()
			</font>
		    </td>
		  </tr>

		 </table>
		  </body>
		  </html>]]>
		 
		</body>	
	</content>
</message>