<?xml version="1.0" encoding="iso-8859-1"?>
<message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<header>
		<subject>Change user roles</subject>
	</header>
	<content>
		<body><![CDATA[<html> 
			
			<br>
			<b>LoggedIn User:<b> $userLoggedIn
			<br>
			<b>User Changed:<b> $user.getDisplayName() - $agent.getAgentName()
			<br>			
			<br>
			<b>Removed Roles</b>
			<br>
			<table>
			#foreach ($removedRoles in $removedRoles)
				<tr><td>- $removedRoles.getRoleName() </td></tr> 
			#end
			</table>
			<br>
			<br>
			<b>Added Roles</b>
			<br>
			<table>
			#foreach ($addedRoles in $addedRoles)
				<tr><td>- $addedRoles.getRoleName() </td></tr> 
			#end
			</table>
			<br>
			Sincerely,
			<br>
			$commonTemplatingDTO.getCarrierName()
			</html>
		]]></body>
	</content>
</message>