.icon_aed{
  background-image: url("../images/flags/flag_AED.png");
}
.icon_amd{
    background-image: url("../images/flags/flag_AMD.png");
}
.icon_aud{
    background-image: url("../images/flags/flag_AUD.png");
}
.icon_azn {
	background-image: url("../images/flags/flag_AZN.png"); 
}
.icon_bdt{
    background-image: url("../images/flags/flag_BDT.png");
}
.icon_bhd{
    background-image: url("../images/flags/flag_BHD.png");
}
.icon_chf{
    background-image: url("../images/flags/flag_CHF.png");
}
.icon_cny{
    background-image: url("../images/flags/flag_CNY.png");
}
.icon_cpy{
    background-image: url("../images/flags/flag_CPY.png");
}
.icon_egp{
    background-image: url("../images/flags/flag_EGP.png");
}
.icon_eur{
    background-image: url("../images/flags/flag_EUR.png");
}
.icon_dkk {
	background-image: url("../images/flags/flag_DKK.png"); 
}
.icon_gbp{
    background-image: url("../images/flags/flag_GBP.png");
}

//---------------------
.icon_inr{
    background-image: url("../images/flags/flag_INR.png");
}
.icon_irr{
    background-image: url("../images/flags/flag_IRR.png");
}
.icon_jod{
    background-image: url("../images/flags/flag_JOD.png");
}
.icon_kes{
    background-image: url("../images/flags/flag_KES.png");
}
.icon_kwd{
    background-image: url("../images/flags/flag_KWD.png");
}
.icon_kzt{
    background-image: url("../images/flags/flag_KZT.png");
}
.icon_lbp{
    background-image: url("../images/flags/flag_LBP.png");
}
.icon_lkr{
    background-image: url("../images/flags/flag_LKR.png");
}
.icon_mad{
    background-image: url("../images/flags/flag_MAD.png");
}
.icon_myr{
    background-image: url("../images/flags/flag_MYR.png");
}
.icon_npr{
    background-image: url("../images/flags/flag_NPR.png");
}
.icon_omr{
    background-image: url("../images/flags/flag_OMR.png");
}
.icon_pkr{
    background-image: url("../images/flags/flag_PKR.png");
}
.icon_qar{
    background-image: url("../images/flags/flag_QAR.png");
}
.icon_rub{
    background-image: url("../images/flags/flag_RUB.png");
}
.icon_sar{
    background-image: url("../images/flags/flag_SAR.png");
}
.icon_sek {
	background-image: url("../images/flags/flag_SEK.png");
}
.icon_sdg{
    background-image: url("../images/flags/flag_SDG.png");
}
.icon_syp{
    background-image: url("../images/flags/flag_SYP.png");
}
.icon_try{
    background-image: url("../images/flags/flag_TRY.png");
}
.icon_uah{
    background-image: url("../images/flags/flag_UAH.png");
}
.icon_usd{
    background-image: url("../images/flags/flag_USD.png");
}
.icon_yer{
    background-image: url("../images/flags/flag_YER.png");
}
.icon_del{
    background-image: url("../images/flags/flag_DEL.png");
}
.icon_idk{
    background-image: url("../images/flags/flag_IDK.png");
}
.icon_jpy{
    background-image: url("../images/flags/flag_JPY.png");
}
.icon_khr{
    background-image: url("../images/flags/flag_KHR.png");
}



.icon{
  display:block;
  float: left;
  width: 40px;

}



.curruny-wrapper{
  font-size: 14px;
  position: absolute;
  top:26px;
  background-color: #5D5D5D;
  display: block;
  width: 540px;
  height: auto;
  z-index: 1000;
  padding: 20px;
  right: 0px;

  ul {
    margin: 0;
    padding: 0px;
    float: left;

    li{
      float: left;
      list-style: none;
      width:90px;
      padding: 0px;
      margin: 10px 5px;

      .currancy-type{
        display: block;
        padding: 3px 5px 0;
        color: #ffffff;
        float: left;
        font-size: 14px;
        width: 40px;
      }

      .crruncy-txt{
        font-size: 14px;
      }

      .flag{
        height: 25px;
        background-size: 40px;
      }

      &.currency-item{
          cursor: pointer;
      }

    }

  }
}



.currancy-type .ccactive{
  background-color: #5D5D5D !important;
  color: #414042 !important;
}

.cc-link {
  cursor: pointer;
  float: left;
  width:100%;

  .icon{
    height: 22px;
    width: 34px;
    background-size: 32px;
    border: 1px solid #4E4E4E;
  }

  i{
      padding-left: 5px;
      margin-top: 3px;
  }

  .currancy-type{

      display: block;
      float: left;
      font-size: 14px;
      padding: 1px 4px 0 0;

  }
}
