.ddsmoothmenu{width:706px; margin:30px 0 21px 0px; padding:0px;
font:14px/20px Georgia, "Times New Roman", Times, serif; color:#414141;}
.ddsmoothmenu ul{z-index:100; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;list-style-type: none;}
.ddsmoothmenu ul li{ float:left; position: relative;display: inline; top:0px; bottom:0px; height:26px;margin-left:0px}
.ddsmoothmenu ul li a{display: block; color:#FFF; text-decoration:none; padding:0px 45px 0 0px;
font: 14px/20px Georgia, "Times New Roman", Times, serif;}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;}

.ddsmoothmenu ul li a.selected{color:#ffd200;}
.ddsmoothmenu ul li a:hover{color:#ffd200;}
.ddsmoothmenu ul li a.active{color:#ffd200;}
	
/*1st sub level menu*/
.ddsmoothmenu ul li ul{
width: auto;
position: absolute; 
left: 0px; 
display: none; /*collapse all sub menus to begin with*/
display:block; padding:12px 12px 12px 12px; border-bottom:solid 4px #ffbf26; 
background:#fff;
  -moz-border-radius: 8px; /* Firefox */
  -webkit-border-radius: 8px; /* Safari and Chrome */
  border-radius: 8px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
  
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
display:block;
float: none; padding:0px 0px 0px 0px;  background:#FFF;}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{top: 0px;  background:#FFF;}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
font: normal 12px Georgia, "Times New Roman", Times, serif; 
width: 139px; /*width of sub menus*/
padding:0 0px 0 10px;
margin: 0px;
line-height:32px; color:#454545;
background:url(../images/bt01.png) 0px 12px no-repeat; /* DEN : drop down background default */}


.ddsmoothmenu ul li ul li a:hover{
color:#ffb400;}

/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
top: 12px;
right: 7px;
display:none;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
display:none;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
background: silver;
}

.toplevelshadow{ /*shadow opacity. Doesn't work in IE*/
opacity: 0.8;
}