html, body, ul, ol, li, p, dd, blockquote, q, h1, h2, h3, h4, h5, h6, form, fieldset, a, div, img, table  td{
	padding: 0px;
	border:0px;
    font-size: 8pt;
    margin: 0px;
}
#spnTabMenus table {margin: 0px auto;}
body{background: #b76f1b}
/*
.legacyBody {
	background : #828282;
	min-width:999px;	
}
*/

#divLegacyRootWrapper {
	display:block;
	width:999px;
	height:690px;
	background-image:url('../images/accelaero/legacy-background_no_cache.gif');
	margin-left:auto;
	margin-right:auto;
}

.softBody {
	min-width: 930px;
}
table.ieFixedCenter{display: block;margin: 0 auto}
#divRoorWrapper {
	margin-left: auto;
	margin-right: auto;
	width:932px;
	height:592px;
	font-size: 8pt;
	text-align: left;
}
.compressTable, ui-jqgrid-btable{margin: 0;padding: 0;border-collapse: collapse;border-spacing: 0px}
.compressTable tr td, ui-jqgrid-btable tr td{margin: 0;padding: 0 2px;border-collapse: collapse;border-spacing: 0px}
.compressTable tr td *{margin-top: 0px;margin-bottom: 0px;padding-bottom: 0px; padding-top: 0px;}
.popupXBE{
	position:absolute;
	top:35px;left:50px;
	width:920px;
	z-index:5;
	display:none;
	border-style: solid;
	border-width:0px 2px 2px 0px;
	border-color: #999;
}
.popupXBEborder{
	border: 1px solid #b76f1b;
}
/* error popup theme specific */
#errorPopup{
	border-color:#b76f1b #555 #555 #b76f1b;
	background: #fff;
}

#errorPopup .errorPopupHeader{
	background: #b76f1b;
	border-right: 1px solid #b76f1b;
}
/* error popup theme specific */
.popupXBE .paneHD{background: #b76f1b}
.aa-input
{
	font-family: tahoma;
	font-size: 11px;
	color: black;
	background-color: #FFFFFF;
	border: 1px solid #E6CBA7;
}

.btnDefault {
	width: 60px;
	font-weight:bold;	
}
.btnMargin{
	margin:0 1px;
	width:60px;
	padding: 1px 0;
}
.btnLarge{
	margin:0 1px;
	width:160px;
	padding: 1px 0;
}
.btnMedium{
	width:110px;
}
.btnWide {
	width: 80px;
	font-weight:bold;
}

#divLegacyRootWrapperPopUp {
	height:630px;
	background-image:url('../images/accelaero/legacy-background-popup_no_cache.gif');
}

#divLegacyRootWrapperPopUpFooter {
	background-image:url('../images/accelaero/legacy-background-popup-footer_no_cache.jpg');
}

.rightAlign{text-align:right;}
.singleGap{height:3px;}
.doubleGap{height:6px;}
.noBorder{border-style : none;}

.noTexDeco{	text-decoration: none;}
.txtBold{font-weight:bold;}

.darkBG{background-color:#b76f1b;}
.lightBG{background-color: #b76f1b;}

.mandatory{color:red;}
.txtWhite{color:white;}
.txtRed{color:red;}
.txtLarge{font-size: 17px;}
.txtMedium{font-size: 14px;}
.txtMediumSmall{font-size: 12px;}

.thinBorderT{border-top: 1px solid #CDC3B7;}
.thinBorderB{border-bottom: 1px solid #CDC3B7;}
.thinBorderL{border-left: 1px solid #CDC3B7;}
.thinBorderR{border-right: 1px solid #CDC3B7;}
.thinRedBorderT{border-top: 1px solid #FF0000;}
.thinRedBorderB{border-bottom: 1px solid #FF0000;}
.thinRedBorderL{border-left: 1px solid #FF0000;}
.thinRedBorderR{border-right: 1px solid #FF0000;}
.gridBG{background: #e6cba7 url(../images/jquery/ui-bg_glass_70_ede4d4_1x400_no_cache.png) 50% 50% repeat-x;}
.ui-corner-TL { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; }
.ui-corner-TR { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; }	
.rowHeight{height:22px;}

.paneHD{background-color:#b76f1b; height:20px;}
.popBGColor{background : #f8ecdf;}

.noPadding{	padding: 0px;}


.errorStatsBar{
	background-color:#ECECEC;
	BORDER-RIGHT: thin inset; 
	BORDER-TOP: thin inset; 
	BORDER-LEFT: thin inset; 
	BORDER-BOTTOM: thin inset;
	height:20px;
	}		
.txtDef{
	font-family:tahoma;
	font-size:11px;
	left:auto;
	color: black; 
}	
.errorStatsBarDef
{
	background-color:#A8A8A8;
	border: none;
	height:20px;
	}			

.pgBar{
	border-width:1px 1px 2px 1px; 
	height:18px;  
	border-style:solid;
	background-color:#D4D0C8;
	border-bottom-width:thin;
	border-color:white gray gray white;  
}	

.cursorPointer {cursor:pointer;}

.rowSelected{
	background-color:#BEBEBE;
}
.rowSelectedBDT{border-top: 1px solid #999999;}
.rowSelectedBDB{border-bottom: 1px solid #999999;}
.rowSelectedBDL{border-left: 1px solid #999999;}
.rowSelectedBDR{border-right: 1px solid #999999;}

.rowUnSelected{
	background-color:white;
}
.fontCapitalize{
	text-transform: capitalize;
}
.fulltransParent {
	opacity: .3;
	filter: alpha(opacity=23);
}
.whiteBackGround{
	background-color: white;
}
.txtYellow{
	color:yellow;
}
.alternateRow{
	background-color:#DFDFDF;
}
.lightHD{
	background-color:#BFBFBF;
}
.anciSeatAvail {
	background-image:url('../images/accelaero/LCAnsi001_no_cache.gif');
	background-position:top right;
	background-repeat:no-repeat;
}
.txtSmall{
	font-size: 9px;
}
.td_seat{
	padding:1px 1px;
	background-position:50% 50%;
}
.matchCC{
	background-color:#EDF5FC! important;
}
.availSeat{
	background-image:url('../images/accelaero/LCAnsi004_no_cache.gif');
	background-repeat:no-repeat;
	height:15px;
	width:20px;
}
.notAvailSeatLC{
	background-image:url('../images/accelaero/LCAnsi004_lc_no_cache.gif');
	background-repeat:no-repeat;
	height:15px;
	width:20px;
}

.notAvailSeat{
	background-image:url('../images/accelaero/LCAnsi002_no_cache.gif');
	background-repeat:no-repeat;
	height:15px;
	width:20px;
}
.SltdSeat{
	background-image:url('../images/accelaero/LCAnsi003_no_cache.gif');
	background-repeat:no-repeat;
	height:15px;
	width:20px;
}

.friendsSeat{
	background-image:url('../images/LCAnsi007_no_cache.gif');
	background-repeat:no-repeat;
	height:15px;
	width:20px;
}
.aisle{
	height:15px;
	width:20px;
}
.exitLeft{
	background-image:url('../images/accelaero/ANCI_06_no_cache.gif');
	background-position:top center;
	background-repeat:no-repeat;
	width:20px;
	height:39px;
}
.exitRight{
	background-image:url('../images/accelaero/ANCI_07_no_cache.gif');
	background-position:bottom center;
	background-repeat:no-repeat;
	width:20px;
	height:39px;
}
.window{
	width:20px;
}
.wingRight{
	background-image:url('../images/accelaero/LCAnsi005_no_cache.jpg');
	background-position:bottom center;
	background-repeat:no-repeat;
	height:65px;
	width:594px;
}
.wingLeft{
	background-image:url('../images/accelaero/LCAnsi006_no_cache.jpg');
	background-position:top center;
	background-repeat:no-repeat;
	height:65px;
	width:594px;
}
.noTextDec{
	text-decoration:none;
}
.seatTT{
	opacity: .8;
	filter: alpha(opacity=80);
}
.rowSelectedAnci{
	background-color:#FFFABF;
}

.bookMarkInit{	
	background-image:url('../images/accelaero/spacer_no_cache.gif');
	height:570px;
	width:20px;position:absolute;left:980px;top:70px;z-index:2500;
}

.bookMarkExpand{
	background-image:url('../images/accelaero/AA140_no_cache.jpg');	
	height:570px;
	width:20px;position:absolute;left:830px;top:70px;z-index:2500;
}

.loadingInProgress{
	z-index:40; top:0; position:absolute; left:14px; width:97%; opacity:0.5; height:99%; filter: alpha(opacity=50); background-color:#ffffff;
}

.loadingDone{
	display:none; background:transparent;z-index:999;
}
.spMsg{
		background-color:#ffffcf;    
		filter: alpha(opacity=80);
		border:1px solid #F3F376;
		padding:2px;
		font-size:11px;
		-moz-border-radius:6px;	/* Rounded edges in Firefox */
		font-family: "tahoma", "Lucida Sans Unicode", Arial, sans-serif; 
}
/* new error msg and popup msg */
.errorBox{
	background:none repeat scroll 0 0 #FFFFCF;
	border:1px solid #F3F376;
	display: block;
	position:relative;
	border-top:0;
	color:#D52821;
	padding:6px;
	width:550px;
	height:25px;
	-moz-border-radius:0px 0px 6px 6px;
}
.errorBox span#errorMSG{
	font-size: 12px;
	opacity:1;font-weight: bold;
	padding:3px 5px 3px 25px;
	width:90%;
	float: left;
	font-family: tahoma;
	font-weight: bold;
}
.Error{background:url(../images/accelaero/Err_no_cache.gif) no-repeat scroll 3px 3px! important;background-color: transparent;color:#e40505! important;}
.Warning{background:url(../images/accelaero/Warn_no_cache.gif) no-repeat scroll 3px 3px! important;background-color: transparent;color:#383838! important;}
.Confirm{background:url(../images/accelaero/Conf_no_cache.gif) no-repeat scroll 3px 3px! important ;background-color: transparent;color:#158502! important;}
.errorClose{
	background: url(../images/accelaero/newErroClose_no_cache.gif) no-repeat;
	float: right;
	display:block;
	height: 12px;
	width: 12px;
	cursor: pointer;
}
#errorPopup{
	-moz-border-radius:6px 6px 0px 0px;
	border-width:1px;
	border-style:solid;
	border-color:#b76f1b #555 #555 #b76f1b;
	background: #fff;
}
#errorPopup .errorPopupHeader{
	-moz-border-radius:6px 6px 0px 0px;
	height: 22px;
	background: #b76f1b;
	border-right: 1px solid #b76f1b;
}
#errorPopup .errorPopupHeader span.text{
	float:left;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	margin:3px 8px;
	width:200px;
	color: #fff;
}
#errorPopup .errorPopupHeader .errorClose{margin: 5px}
#errorPopup .errorPopupButton{background: #EFE2D4;height: 28px;border-right: 1px solid #555;border-top: 1px solid #555}
#errorPopup .errorPopupButton .errorBtn{
	margin: 1px 2px;
	display: block;
	text-align: center;
	outline: none;
	color: #666;
	border:1px solid #efe2d4;
	padding:5px 3px;
	float: left;
	font-family:tahoma;
	text-decoration: none;
	outline: none;
}
#errorPopup .errorPopupButton .errorBtn span{width:16px;float: left;margin:0px 2px}
#errorPopup .errorPopupButton a:hover.errorBtn{margin: 1px 2px;color: #444;border:1px solid #aaa;background-color:#efefef}
#errorPopup .errorPopupButton a.errorSelected{margin: 1px 2px;color: #444;border:1px solid #aaa;background-color:#efefef}
.errorSep{font-size: 18px;float: left;color: #444}
.showErrors{background:url(../images/accelaero/Err_no_cache.gif) no-repeat scroll 3px 3px;background-color: transparent;}
.showWarnings{background:url(../images/accelaero/Warn_no_cache.gif) no-repeat scroll 3px 3px;background-color: transparent;}
.showConfirm{background:url(../images/accelaero/Conf_no_cache.gif) no-repeat scroll 3px 3px;background-color: transparent;}

#errorPopup .errorPopupbody{
	height: 2px;
	overflow-y:scroll;
	overflow-x:hidden;
	background: #FFF;
	border-right: 1px solid #b76f1b;
	border-bottom: 1px solid #b76f1b;
	height: 209px;
	}
#errorPopupTable{background: #fff}
#errorPopupTable .errorBoder{
	font-family: arial;
	font-size: 11px;
	vertical-align: top;
	background-position:2px 2px;
	border-top: 1px solid #e4e4e4;
	padding: 4px;
}
#errorPopupTable .code{font-family: arial;font-size: 11px;font-weight: bold;vertical-align: top}
/* new error msg and popup msg */

/*new Blue Theme*/
.BannerBorderLeft{background:url(../images/accelaero/left_shadow_no_cache.gif) repeat-y;}
.BannerBorderRight {background:url(../images/accelaero/right_shadow_no_cache.gif) repeat-y;}
.PageBottomShadow {background-color: #ce9d63}
.PageBottomColor{background-color:#ce9d63;}
.bottomBackDesign{background:url(../images/accelaero/bottom6_no_cache.jpg) no-repeat scroll 0 -10px;}
.StatsBarDef{background-color:#ce9d63;}
.TBLBackGround{margin: 0 auto}
.topmenubg{background:url(../images/accelaero/topBackground-bg_no_cache.jpg) repeat-x;}
.top-menu-end-start{background:url(../images/accelaero/top-tabs_no_cache.jpg) no-repeat;}
.top-menu-end-end{background:url(../images/accelaero/tabs-bg_no_cache.jpg) repeat-x;}
.carrier-code{margin: 0 auto}
p.txtWhite{margin: 0}
.maxMin{background:url(../images/accelaero/control_no_cache.gif) no-repeat transparent;margin: 2px}
.winMinimize{background:url(../images/accelaero/minimize_no_cache.gif) no-repeat transparent scroll 6px 0px;outline: none;display: block}
.winClose{background:url(../images/accelaero/close_no_cache.gif) no-repeat transparent scroll 6px 0px;outline: none;display: block}
.errorIconBG{background:url(../images/accelaero/errorIconBG_no_cache.gif) no-repeat transparent scroll 0 4px;}
#btnAnciSummaryClose{background-position: 0px 0px}
.ui-datepicker-trigger{vertical-align: bottom;}
/*Short Cut Key New */
.shorCutBG{position:absolute;bottom:6%;left:3%;right:3%;width:94%;z-index:99999;opacity:0.6;filter: alpha(opacity=60);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";}
.short-cut-box{border: 1px solid transparent;}
.short-cut-backstyle{background-color:#FFFFCF;padding:5px}
.short-cut-desc{font-weight: bolder;}
.short-cut-abbr{font-weight: bolder;color:red;}
.heigh-light{background: #ffff00;border: 1px dashed red;}
#spnShortCutDetails table{border-collapse: separate;}
#spnShortCutDetails table td{padding:2px! important}
/*Short Cut Key New */
.txtAirLineColor{color:#4b66ef}
.txtAirLineColor p{color:#4b66ef}

.clear {
	clear: both;
}

/* Mobile No Help */

#lblMobNoExample {
padding-left: 60px;
}

#lblCountryCodeHelp {
padding-left: 10px;
}

#lblAreaCodeHelp {
padding-left: 15px;
}

#lblNumberHelp {
padding-left: 20px;
}

.anci_button_wrapper{
	position: relative;
	float: left;
}

.anci_button_wrapper>span {
position: absolute;
top: 30px;
left: 8px;
color: #f1f1f1;
font-weight: bold;
font-size: 11px;
width: 40px;
overflow: hidden;
display: block;
text-overflow: ellipsis;
text-align: left;
white-space: nowrap;
}


.anci_button_wrapper>img{

}
.anci_button_wrapper>span.seat{
	
}