.GridHeader  {
background-color:#e6cba7;
}
.GridHeaderBand {
}
.GridHDBorder {
border-color:white gray gray white;
}
.GridOutBorder {
border-color:#e6cba7;
border-style:solid;
border-width:1px;
}
.GridBody{background: #ffffff! important}
