/* Temporally Theme Styles for Old screen till convert to Jquery */

.FormHeadBackGround{background-color:#B76F1B;}
.FormBackGround{background-color:transparent;}
.addPaddingBottom{padding: 0 0 1px 0}
.top-round{-moz-border-radius:5px 5px 0px 0px; padding: 0 5px}
.Button {
	background:url("../images/jquery/ui-bg_glass_70_ede4d4_1x400_no_cache.png") repeat-x scroll 50% 50% #DFEFFC;
	border:1px solid #CDC3B7;
	color:#343F47;
	font-weight:bold;
	outline:medium none;
	padding:2px 0;
	-moz-border-radius:5px 5px 5px 5px;
}
.fntLarge{color: #163657}
.PageBorder {background-color: #fff}





