	<tr>
		<td class="pnlMid pnlGroupbottom" colspan="3"><img src="../images/spacer_no_cache.gif"/></td>
	</tr>
	<tr>
		<td class='pnlMidL'><img src="../images/spacer_no_cache.gif"/></td>
		<td class='pnlMid' valign="top">
