<div ng-controller="reProtectController as reprotectCtrl">
 <section class="container content-header" ng-if="reprotectCtrl.isErrorMsgs">
        <h1 class="page-title" ng-bind-html="reprotectCtrl.message"></h1>
 </section>

<div class="container self-prot mx-2" ng-if="!reprotectCtrl.isErrorMsgs">
<div class="row">
<div class="col-sm-12">
<h1 class="page-title">
<span ng-if="reprotectCtrl.mainTtl" translate="lbl_confirm_paxInfo">Passenger Information</span> 
<span ng-if="reprotectCtrl.confirmTtl" translate="lbl_common_confirmation">Confirmation</span>
<span ng-if="reprotectCtrl.congrateTtl" translate="lbl_common_congratulations">Congratulations!</span></h1>
<h3 class="fltMsg"><span ng-if="reprotectCtrl.confirmTtl" translate="msg_flight_details">The following flight details will be updated, please see the details below.</span>
<span ng-if="reprotectCtrl.congrateTtl" translate="msg_flight_update">Your flight has been updated , please see the following details below.</span>
</h3>
<h4 class="pnr-no">PNR : {{reprotectCtrl.reservationDetailsGridData.pnr}}</h4>

 <table class="table pasInfo mx-3">
    <thead>
      <tr>
        <th translate="lbl_passenger_name">Passanger Name</th>
        <th translate="lbl_passenger_type">Type</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="reservationDetail in reprotectCtrl.reservationDetailsList">
        <td>{{reservationDetail.reservationDetailsDTO.paxName}}</td>
        <td>
        <span ng-if="reservationDetail.reservationDetailsDTO.paxType == 'AD'">Adult</span>
        <span ng-if="reservationDetail.reservationDetailsDTO.paxType == 'CH'">Child</span>
        <span ng-if="reservationDetail.reservationDetailsDTO.paxType == 'IN'">Infant</span>
        </td>
      </tr>
    </tbody>
  </table>

<h4 class="pnr-no" ng-if="reprotectCtrl.congrateTtl" translate="lbl_common_summary">Summary</h4>
<h2><span ng-if="reprotectCtrl.mainTtl" translate="lbl_common_cancelled_flight">Cancelled Flight</span>
<span ng-if="reprotectCtrl.confirmTtl || reprotectCtrl.congrateTtl" class="fontSet" translate="lbl_common_old_flight">Old Flight</span>
</h2>
<table class="table flightDtl cancelFlt mx-3">
    <thead>
      <tr>
        <th translate="lbl_common_originDest">Origin/Destination</th>
        <th translate="msg_common_departure">Departure</th>
        <th translate="msg_common_arrival">Arrival</th>
        <th translate="msg_common_flight">Flight</th>
        <th translate="lbl_common_duration">Duration</th>
        <th translate="lbl_common_status">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{reprotectCtrl.cancelledFlightSegmentCode[0]}} <sup class="iconPath">___</sup><span class="flight-icon icon-plane_shape_R"></span> {{reprotectCtrl.cancelledFlightSegmentCode[1]}} </td>
        <td>{{reprotectCtrl.cancelledFlight.departureDate | date : 'EEE MMM dd, yyyy HH:mm'}}</td>
        <td>{{reprotectCtrl.cancelledFlight.arrivalDate | date : 'EEE MMM dd, yyyy HH:mm'}}</td>
        <td>{{reprotectCtrl.cancelledFlight.flightNumber}}</td>
        <td>{{reprotectCtrl.cancelledFlight.flightDuration}} Hour(s)</td>
        <td><i class="glyphicon glyphicon-remove-sign clr-red"></i> Cancelled</td>
      </tr>
      
    </tbody>
  </table>

<h4><span ng-if="reprotectCtrl.noSelectedFlight" translate="lbl_re_protected_Flight_not_available"></span></h4>
<h2 ng-if="!reprotectCtrl.noSelectedFlight"><span ng-if="reprotectCtrl.mainTtl" translate="lbl_re_protected_Flight">Re-protected Flight </span>
<span ng-if="reprotectCtrl.confirmTtl || reprotectCtrl.congrateTtl" class="fontSet" translate="lbl_modify_newFlight">New Flight</span>
</h2>
<table ng-if="!reprotectCtrl.noSelectedFlight" class="table flightDtl mx-3">
    <thead>
      <tr>
        <th translate="lbl_common_originDest">Origin/Destination</th>
        <th translate="msg_common_departure">Departure</th>
        <th translate="msg_common_arrival">Arrival</th>
        <th translate="msg_common_flight">Flight</th>
        <th translate="lbl_common_duration">Duration</th>
        <th translate="lbl_common_status" ng-if="reprotectCtrl.confirmStatus">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="protectFlt in reprotectCtrl.reprotectedFlts" ng-if="protectFlt.show">
        <td>
        
        <label class="container-chkbox" ng-if="reprotectCtrl.chekBoxShow">
		  <input type="radio" name="Radio" ng-checked="{{protectFlt.isFlight}}" ng-change="reprotectCtrl.handleRadioClick(reprotectCtrl.SelectedId)" ng-model="reprotectCtrl.SelectedId" value="{{$index}}">
		  <span class="checkmark"></span> 
		  
		</label>
		 {{reprotectCtrl.splitOrgDest(protectFlt.segmentCode)[0]}} <sup class="iconPath">___</sup><span class="flight-icon icon-plane_shape_R clr-red"></span> {{reprotectCtrl.splitOrgDest(protectFlt.segmentCode)[1]}}</td>
        <td>{{protectFlt.departureDate | date : 'EEE MMM dd, yyyy HH:mm'}}</td>
        <td>{{protectFlt.arrivalDate | date : 'EEE MMM dd, yyyy HH:mm'}}</td>
        <td>{{protectFlt.flightNumber}}</td>
        <td>{{protectFlt.flightDuration}} Hour(s)</td>
        <td ng-if="reprotectCtrl.confirmStatus"> <i class="glyphicon glyphicon-ok-sign clr-green"></i> Confirmed</td>
        </tr>
       
    </tbody>
  </table>
  		
</div>
</div>
	<div class="row">
	 <div class="col-sm-12 terms_condition" ng-if="reprotectCtrl.confirmTtl">
	 	<h4 translate="lbl_common_terms">Terms and Condition</h4>
	 	<div class="copyright-text">
      
                    <sup class="red">*</sup>
                    <span translate="lbl_modify_termsAndConditions">By clicking the confirm button you agree to the </span>
                    <a href="javascript:;" ng-click="main.showTermsAndConditions()" translate="lbl_common_terms">  Terms and Conditions.</a>
                </div>
	 </div>
	 <isa-busy-loader ng-show="reprotectCtrl.isBusyLoaderVisible" msg-text="{{ 'lbl_common_loadingMain' | translate }}"></isa-busy-loader>
	 <div class="buttonsGrp clearfix">
	 	<div class="col col-sm-3 pull-left" ng-if="reprotectCtrl.enableProceed || reprotectCtrl.enableChooseAnother">
            <button class="button gray-btn" ng-hide="reprotectCtrl.noSelectedFlight"
                    ng-click="reprotectCtrl.chooseAnotherFlight()" translate="lbl_choose_another_flight">Choose another
                flight
            </button>
        </div>
        <div class="col col-sm-3 pull-right" ng-if="reprotectCtrl.enableProceed">
            <button class="button red-btn" ng-click="reprotectCtrl.confirmFlight()" translate="lbl_common_proceed">Proceed</button>
        </div>
        <div class="col col-sm-3 pull-right" ng-if="reprotectCtrl.enableChooseAnother || reprotectCtrl.contShow">
            <button class="button red-btn" ng-hide="reprotectCtrl.noSelectedFlight"
                    ng-click="reprotectCtrl.continueFlight()" translate="lbl_passenger_continue">Continue
            </button>
        </div>
        <div class="col col-sm-2 pull-right" ng-if="reprotectCtrl.congrateTtl">
            <button class="button white-btn" ng-click="reprotectCtrl.print()" translate="lbl_common_print">Print</button>
        </div>
        <div class="col col-sm-2 pull-right" ng-if="reprotectCtrl.congrateTtl">
            <button class="button white-btn" ng-click="reprotectCtrl.sendEmail()" translate="lbl_common_email">Email</button>
        </div> 
     </div> 
    </div>
</div>
 <!-- Modal Box -->
 <div class="modal-box" ng-show="main.ismodalModal">
    <!-- Overlay -->
    <div class="overlay"></div><!-- // Overlay -->

    <!-- Modal Content -->
    <div class="modal-content" ng-class="{'fare-rule-popup':main.fareRules}" style="max-width: 900px;top:10%;max-height: 600px">

        <!-- Modal Header -->
        <div class="modal-header">
            <span ng-if="main.termsNCondition" class="text" translate="lbl_common_terms">Terms and Conditions.</span>
            <span ng-if="main.fareRules" class="text" translate="lbl_common_fare_rules_title">Fare rules</span>
            <span class="close-btn" ng-click="main.closePopup()">
                <i class="fa fa-times"></i>
            </span>
        </div><!-- // Modal Header -->

        <!-- Modal Body -->
        <div ng-if="main.termsNCondition" class="modal-body" style="max-height: 425px;overflow-y: auto">
            <p ng-bind-html="main.popUpData">

            </p>
        </div>
        <div  ng-if="main.fareRules">
            <span data-ng-repeat="fare in main.fareRulesDescriptions">
                <p ng-bind-html="fare">

                </p>
            </span>

        </div>
        <!-- // Modal Body -->
        <!-- Modal Footer -->
        <div class="modal-footer">

            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-6">

                </div>

                <div class="col-md-6 col-sm-12 col-xs-6">
                    <button class="button red-btn" type="button" ng-click="main.closePopup()" translate="btn_summary_drawer_continue">Close and continue</button>
                </div>
            </div>
        </div><!-- // Modal Footer -->
    </div><!-- // Modal Content -->
</div>