<div class="container pd-0">
    <ul>
        <li class="logo pd-4 pd-tp-2"><a href="{{main.logoLink}}">
            <img src="images/main_logo.png" alt="Air Arabia">
        </a></li>
        
    </ul>
</div>