  .LTR{
    @import "_addNewCard_modal_ltr";
  }
  
  .RTL{
    @import "_addNewCard_modal_rtl";
  }
.ngdialog.ngdialog-theme-default {
    padding-top:70px;
}

  .ngdialog.ngdialog-theme-default.save-card-template {
    .ngdialog-content{
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        background-color: #ffffff!important;
        border-top: none !important;    
        border-bottom: 5px solid #ed0000;
        height: 100%;
        .save-card{
          padding: 0 20px;
        
        .mandatory-label{
            color: #414042;
            font-size: 10px;
            position: absolute;
            top: 22%;
            right: 12px;
        }
        .desc{
            margin-bottom: 26px;
        }
        .payment-card-detail-div{
            padding: 0;
        }
        .date-divider-container{
            position: absolute;
            font-size: 18px;
            color: #414042;
            opacity: 0.5;
        }
        .cc-vv-container{
            top: -7px;
            .cc-vv-desc{
                font-size: 10px;
            }
        }
        .label-card{
            font-size: 14px;
            line-height: 2.07;
        }
        .form-container{
            margin-bottom:25px;
            .xs-cvv-div{
                p{
                    &.valdr-message{
                        margin-top:0px;
                        font-weight: 400;
                    }  
                }
            }
            
            .form-control{
                       
                background-color: #ffffff!important;
                    &.security-code-container{
                        width:130px;
                    }
                    &.ng-pristine.ng-untouched.ng-invalid.ng-invalid-required,
                    &.ng-pristine.ng-touched.ng-invalid.ng-invalid-required{
                        color:grey;
                    }
                    option{
                        color:black;
                    }
                    option[disabled] {
                        color:#4E4E4E ;
                    }
                    
                
            }
            &.card-holder-div {
                padding: 0px;
            }
            p{
                &.approved{
                    margin-bottom:12px;
                }
            }
           
        }
        .payment-desc-section{
            margin-top: 11px;
            margin-bottom:32px;
        }
        .btn-set{
            .red-btn{
                height: 43px;
                font-size:18px;
                &.cancel-payment{
                    background-color: $gray;
                    color: $white;
                    &:hover{
                        background-color: $primery_color;
                        color: $white;
                    }
                }
                &.add-payment{
                    width: 100%;
                }
            }
        }
        .ngdialog-close:before{
            color: #4a4a4a;
            font-size: 32px;
        }
    }
    }
}
