@media only screen and(max-width: 678px){
	.family-heading-2{
		font-size: 13px !important;
	}	
}
.family-heading{
	padding-top: 25px;
	color : $red;
	padding-bottom: 35px;
	font-weight:600;
    height: 29px;
    font-size: 18px;
}
.family-heading-2{
	font-size: 14px;
	padding-bottom:30px;
    line-height: 1.4;
}
.family-heading-3{
	padding-bottom: 35px;
    padding-top: 25px;
	font-weight:600;
    height: 19px;
    font-size: 14px;
}
.valdr-message.dob {
    font-size: 13px;
}
.family-table{
    th {
	  border-top: none;
	  border-bottom: 1px solid #ddd;
	  height: 30px;
	  font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.14;
      letter-spacing: 0.1px;
      color: #344252;
	}
    tr {
	  height: 42px;
	  font-size: 12px;
      line-height: 2.5;
      letter-spacing: 0.1px;
      color: #435464;
	  border-bottom: 1px solid #ddd;
	}
  	td {
	  word-break: break-all;
	}
    th:nth-child(1), td:nth-child(1) {
      width: 103px;
      vertical-align: middle;
	  padding-right: 0;
	  padding-left: 0px;
    }
    th:nth-child(2), td:nth-child(2){
      width: 147px;
      vertical-align: middle;
	  padding-right: 10px;
	  padding-left: 0px;
    }
    th:nth-child(3), td:nth-child(3) {
      width: 145px;
      vertical-align: middle;
	  padding-right: 10px;
	  padding-left: 0px;
    }
    th:nth-child(4), td:nth-child(4) {
      width: 125px;
      vertical-align: middle;
	  padding-right: 10px;
	  padding-left: 0px;
    }
    th:nth-child(5), td:nth-child(5) {
      width: 204px;
      vertical-align: middle;
	  padding-right: 10px;
	  padding-left: 0px;
    }
    th:nth-child(6), td:nth-child(6) {
	  width: 122px;
      vertical-align: middle;
	  padding-right: 10px;
	  padding-left: 0px;
    }
    th:nth-child(7), td:nth-child(7) {
      min-width: 51px;
	  text-align: center;
    }
    th:nth-child(8), td:nth-child(8) {
	  text-align: center;
    }
}
.alignFamily {
	 margin-left: 0px;
     margin-right: 0px;
	.col-md-2 {
	    width: auto;
		padding: 0 3.3px;
		&:first-child{
			padding-left:0;
		}
		&:last-child{
			padding-right:0;
		}
		label{
			margin-bottom: 5px;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: -0.1px;
            color: #414042;
		}
		.valdr-message{
			font-size:13px;
		  	position: absolute;
		}
		.dp-caption{
			width: 80%;
   			font-size: 14px;
    		color: $gray-1;
    		font-weight: 400;
    		padding-left: 15px;
		}
		.dropCorner{
			position: relative;
			span.fa.fa-angle-down{
				position: absolute;
			    top: 13px;
			    right: 12px;
			    font-size: 28px;
			    cursor: pointer;
			}
		}
		.pas-frm-datePicker{
		    border: gray 1px solid;
			input[name="dob"]{
				border: none !important;
				height: 48px;
				background-color: #fafafa !important;
				&:focus, &:focus:focus{
					 border: none;
				}
				+ button{
					border: none;
					height: 48px;
				}
			} 
			&.dob-invalid{
				border-color: $red;
			}
		}
		button.button.red-btn {
		    background-color: $white;
		    color: $red;
		    margin-top: 6px;
		    line-height: 49px;
		    min-width: 134.5px;
            height: 48px;
            border: solid 1px #ed0000;
		    padding: 0px;
		    &:hover{
		    	background-color: $red;
    			color: $white;
		    }
		}
	  	.form-control, .dp-caption {
		  	font-size: 12px;
		    letter-spacing: 0.1px;
            color: #435464;
		}
	}
}

.dob-family{
	margin-bottom: 0;
}
.relationship-border #title {
  width: 93px;
}
#familyForm {
	#firstName, #lastName {
  		width: 140.2px;
	}
	.relationship-border #relationship {
  		width: 117.7px;
	}
	.nationality-class-familymember #nationality{
  		width: 197.3px;
	}
	#button-element{
  		width: 134.5px;
	}
	.dob-family .pas-frm-datePicker{
  		width: 115.6px;
	}
	#title-dropdown{
		min-width: 93px;
	}
	#relationship-dropdown{
  		min-width: 117.7px;
	}
	.ibe-drop-down{
		.dp-caption{
			position: absolute;
			top: 0;
			width: auto;
			padding: 0 15px 0 10px;
			line-height: 50px;
			color: $black;
			font-weight: 400;
			font-size: 14px;
		}
		.fa-angle-down{
			position: absolute;
			top: 0;
			right: 20px;
			line-height: 50px;
		}
	}
}
