/*************************************
 Ancy images.
*/
.passengers-information .ibe-jquery-date-picker {
    input[readonly]
    {
        background-color:#fafafa  !important;;
    }


}

    [data-tip] {
        position:relative;
    }
    [data-tip]:before {
        content:'';
        /* hides the tooltip when not hovered */
        display:none;
        content:'';
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #1a1a1a;	
        position:absolute;
        top:25px;
        left:5px;
        z-index:8;
        font-size:0;
        line-height:0;
        width:0;
        height:30px;
    }
    [data-tip]:after {
        display:none;
        content:attr(data-tip);
        position:absolute;
        top:55px;
        left:0px;
        padding:5px 8px;
        background:#1a1a1a;
        color:#fff;
        z-index:9;
        font-size: 14px;
        height:30px;
        line-height:18px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        white-space:nowrap;
        word-wrap:normal;
    }
    [data-tip]:hover:before,
        [data-tip]:hover:after {
        display:block;
    }
.img{
    display: inline-block;
    width: 100px;
    height: 70px;
    background: {
        //color: #f2f2f2;
        size: cover;
        repeat: no-repeat;
    }
    //margin-bottom: 10px;


    &.insurance-image{
        background-image:url(../images/extras/Travel-Insurance.png);
    }
    &.seat-image{
        background-image:url(../images/extras/Your-Seat.png);
    }
    &.meal-image{
        background-image:url(../images/extras/Your-Meals.png);
    }
    &.automatic-checkin-image{
		background-image:url(../images/extras/Automatic-Checkin-Image.png);
  	}
    &.baggage-image{
        background-image:url(../images/extras/Baggages.png);
    }
    &.flexi-fare-image{
        background-image:url(../images/extras/Flexi-Fare.png);
    }
    &.ssr-airport-image{
        background-image:url(../images/extras/Airport-Services.png);
    }
    &.ssr-flight-image{
        background-image:url(../images/extras/Flight-Services.png);
    }
    &.default-ancillary-image{
        background-image:url(../images/extras/Airport-Services.png);
    }
}

/*************************************
 Ancy images.
*/


//TODO please refacter this duplicate

.ngdialog {

    &.mid-width {
        .ngdialog-content {
            width: 650px !important;
        }
    }

    .ngdialog-content {
        border-radius: 0 !important;
        border-top: 5px solid $secondery_color;
        background-color: $color_variation_1 !important;
        .error-waraper{
            margin-top: 10px;
            color: $red;
        }



        .popup-confirm {
            .text-label {
                font-family: OpenSans;
                font-size: 14px;
            }
            .text-label-sub {
                font-family: OpenSans;
                font-size: 10px;
            }
            .text-label-btn {
                font-family: OpenSans;
                font-size: 18px;
            }
            .btn-set {
                overflow: hidden;
                margin-top: 20px;
                margin-right: 1px;

                button {
                    width: 200px;
                    margin-right: 1px;
                }
            }
        }
    }
}

.back-bar {
    text-align: right;
    padding-top: 5px;
    margin-bottom: 10px;
    &.back-common-btn{
        z-index: 999;
        position: absolute;
        right: 12px;
        top: 44px;
    }
    a {
        color: $gray-2;
        font-size: 12px;
        font-weight: bold;
        text-decoration: underline;

    }
    a:hover {
        color: $site_primary_color;
    }
}

// Back to home button disabled for AirArabia
#back-to-home{
    display:none;
}

.login-bar {
    margin-bottom: 20px;
    clear: both;
}
.wd-header{
    width: 14.8%;
}
.search-table{
    width: 100%;
    display:table-cell;
}
.LTR{

    .user-details {
        padding-top: 20px;
        padding-right: 3px;
        &.dashboard-title{
            padding-left: 9px;
        }
        .other-details {
            padding-left: 20px;
            font-size: 13px;
            padding-top: 3px;
        }

        i {
            font-size: 20px;
        }

        .login-name {
            font-weight: bold;
        }

        .signout {
            color: $site_primary_color;
            padding-left: 3px;
            font-size: 13px;
        }
    }    
    
    
}



.signout {
    cursor: pointer;
}

.ibe-date-picker {

    .dropdown-menu {
        width: inherit;
        border: 1px solid grey;
        outline: none;
        padding: 15px;
        background: $white;
        overflow: hidden;
        outline: none;
        @include border-radius(0);
        width: 256px;

        li {
            div {
                border: none;
                table {
                    border: none;
                    outline: none;
                    width: 100%;
                }

            }
        }
        .btn {
            width: 32px;
            height: 32px !important;
            padding: 0 5px !important;
            line-height: 28px !important;
            @include border-radius(0);
            border: 0;
            font-size: 13px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &.active {
                background-color: $site_selected_gray;
                border-color: $site_selected_gray;
                color: $white;
                .text-info {
                    color: $site_back_color;
                }
            }
        }
    }
    .glyphicon-calendar:before {
        /*font-size: 30px;*/
        color: $gray-5;
    }
    .btn-info {
        .active {
            background-color: $paxName_completed-txt;
        }
    }
    .input-group {
        &.input-group-book {
            #search-departure-date,
            #search-arrival-date{
                border-right-color: gray !important;
            }
        }
        .form-control {
            border-right-color: $site_back_color !important;
            width: 100%;
        }
        .input-group-btn {
            .btn {
                background-color: $site_back_color !important;
                width: auto;
                padding: 0 15px;
                height: 50px;
                line-height: 50px;
                border: $gray-5 1px solid;
                border-left-color: $site_back_color !important;
                color: $gray-1;
                font-size: 16px;
                -webkit-box-shadow: none;
                box-shadow: none;
                @include border-radius(0px);
                position: relative;
                z-index: 990;
            }

        }
    }
}
.RTL .ibe-date-picker{
    .input-group{ 
        .form-control {
            border-left-color: $site_back_color !important;
            border-right-color: grey !important;
        }
        .input-group-btn {
            .btn {
                border-left-color: grey !important;
                border-right-color: grey !important;
            }
        }
    }
}
.ibe-jquery-date-picker{
    padding-bottom:15px;

    input{
        float: left;
        width: 80%!important;
        border-right: none;

        &:focus{
            float: left;
            width: auto;
            border-right: none;
        }
    }

    button {
        &.ui-datepicker-trigger{
           padding: 5px;
           background-color: #fafafa !important;
        }
        height: 50px;
        width: 20% !important;
        background: $site_back_color;
        border: 1px #7C7C7C solid;
        border-left: none;
        img{
            width: 27px;
            right: 10px;
        }
    }
}

.disable-dp-button{
    button{
        pointer-events : none;
        input,button{
            border: #E0E0E0 1px solid !important;
        }
    }
}

.ui-datepicker{
    .ui-datepicker-title{
        select{

            font-size: 14px;
            font-family: 'Open Sans', sans-serif;
            color: $black;
            font-weight: 400;
            background: $white; //Required to work in web-kit
        }
    }
}


//Fix for chrome over-riding custom css
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fafafa inset !important;
}

//TODO please refacter this duplicate
.form-control, .form-control:focus {
    background-color: $site_back_color !important;
    width: 100%;
    height: 50px;
    border: $gray-5 1px solid;
    color: $gray-1;
    font-size: 14px;
    -webkit-box-shadow: none;
    box-shadow: none;
    &:focus{
        border: 1px solid $black;
    }
    @include border-radius(0px);

    /* from phase2   &[readonly]:not(.hasDatepicker) {
        background-color: $gray !important;
        }*/

    &[readonly] {
        background-color: $gray-9 !important;
    }

}
.spinner>div{
    background-color: $primery_color;
}

.ibe-spinner {
    .form-control {
        width: 60%;
        height: 50px;
        float: left;
    }
    .spinner-icon {
        width: 35%;
        height: 50px;
        float: left;
        margin-right: 5px;
        position: relative;
        text-align: center;
        .caption {
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            color: $gray-1;
            font-family: 'Open Sans', sans-serif;
            font-size: 11px;
            font-weight: 600;
        }
    }
    .icon-children, .icon-Children, .icon-adult, .icon-infant {
        font-size: 34px;
    }
}

.ibe-drop-down {
    .btn-group {
        width: 100%;
        .btn-primary, .btn-primary:hover, .btn-primary:active {
            background-color: $site_back_color !important;
            line-height: 50px;
            height: 50px;
            width: 100%;
            border: $gray-5 1px solid;
            color: $primary_font_color;
            font-size: 20px;
            -webkit-box-shadow: none;
            box-shadow: none;
            padding:0;
            @include border-radius(0px);
        }
        .dp-caret {
            font-size: 17px;
            width: 15%;
            float: left;
            padding-top: 3px;
        }
        .dp-caption {
            width: 85%;
            display: block;
            float: left;
            text-align: left;
            padding-left: 5px;
            overflow: hidden;
        }
    }
}

.ibe-typeahead {
  margin-bottom: 20px;
    &.address-group{
        div{
            padding: 4px 0px;
            &.add-line{
                padding-top: 0px;
            }
        }
    }
    position: relative;
    .dropdown-menu {
        .active {
            a, a:focus, a:hover {
                background-color: $site_selected_gray;
            }
        }
    }

}

.close-btn {
    float: right;
    cursor: pointer;
    font-size: 18px;
    font-weight: 100;
    display: block;
    width: 20px;
    height: 20px;
    font-size: 34px;
}

/*===================================
=            Form Inputs            =
===================================*/

@media only screen and (max-width:767px){
    html{
        font-size: 10px !important;
    }
    input{
        font-size:16px !important;
    }
    .RTL{
        .radio{
            line-height: 30px !important;
            margin: 0 5px 0 0 !important;
            float: right;
            label{
                float: right;
            }
        }
        .checkbox{
            float: right;
            margin: 0 5px 0 0 !important;
        }
        .radio-btn-lbl{
            padding-top:7px;
        }
        .multi-city-truncate{
            max-width: 96px;
        }
    }
    .dash-footer .light-gray-btn {
        &:hover, &:focus, &.active {
            background-color: $gray-6 !important;
            color: $white;
        }
    }
    .ibe-typeahead {
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width:991px){
    .wd-header{
        width: 13.8% !important;
    }
}

// IBE Typehead
.ibe-typeahead {
    .input-option {
        @extend .left-wide;
        margin-top: 15px;
        line-height: 20px;
        .label {
            margin: 0;
        }
        .checkbox,
        .checkbox-circle,
        .radio {
        }
    }
}

// Form Footer
.form-footer {
    @extend .left-wide;
    margin-top: 5px;
    padding: 10px 0;
    label {
        font-weight: 600;
        float: left;
        width: auto;
        line-height: 42px;
        height: 42px;
        margin-bottom: 0;
        a {
            color: $black;
            font-weight: 600;
            text-decoration: underline;
            &:hover, &:focus {
                color: $red;
            }
        }
    }

    .label-text {
        float: left;
        height: 42px;
        line-height: 42px;
        .text {
            font-weight: 600;
            font-size: 16px;
            float: left;
            height: 42px;
            line-height: 42px;
            margin-right: 20px;
        }
        span {
            float: left;
        }

        .radio, .checkbox {
            margin-right: 20px !important;
        }
    }

    .col-md-3 {
        float: right;
        padding-right: 0;
        padding-left: 30px;
    }

    .button {
        width: 100%;
        float: right;
        font-weight: 600;
        color: $white;
        cursor: pointer;
    }
}

.RTL{
    .form-footer {
        label {
            float: right;
        }
    }
}

/*=====  End of Form Inputs  ======*/

/*===============================
=            Buttons            =
===============================*/

.btn {
    outline: none;
}
.cat-button{
    width:auto !important;
    padding: 0px !important;

}
.button,.cat-button {
    padding: 0 15px;
    display: block;
    border-radius: 0;
    line-height: 42px;
    font-size: 14px;
    font-weight: 600;
    min-width: 140px;
    text-align: center;
    cursor: pointer;
    max-width: 100%;
    width: 100%;
    border: 0;
    outline: none;
    .extras-button-text{
        width: 91%;
        float: left;
        text-align: left;
    }
    i {
        margin-left:0px;
    }
    &.confirm-popup-btn{
        margin: auto;
        width: 50%;
    }
    // RED Button
    &.red-btn {
        background-color: $site_primary_color;
        color: $white;
        &:hover, &:focus {
            background-color: $site_primary_color - 20;
            color: $white;
        }
    }

    // GREY Button
    &.gray-btn {
        background-color: $gray !important;
        color: $white !important;
        &:hover, &:focus, &:active {
            background-color: $site_primary_color !important;
            color: $white;
        }
    }

    // Checked button
    &.check-btn:before {
        content: "\e909";
        font-family: 'icomoon';
        padding-right: 5px;
    }

    // LIGHT-GRAY Button
    &.light-gray-btn {
        background-color: $gray-6;
        color: $white;
        &:hover, &:focus, &.active {
            background-color: $gray;
            color: $white;
        }
    }
}
.RTL{
    .button,.cat-button {
        i {
            margin-left: 0px;
        }
    }
    .extras-button-text{
        width: 91%;
        float: right;
        text-align: right;
    }
}


/*=====  End of Buttons  ======*/

/*================================
=            Headings            =
================================*/

.heading {
    @extend .left-wide;
    height: 62px;
    line-height: 62px;
    padding: 0 15px;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
    .info {
        font-style: normal;
        float: right;
        font-size: 12px;
        font-weight: 400;
    }
}

.heading-text {
    font-weight: 600;
    font-size: 18px;
}

/*=====  End of Headings  ======*/

/*==============================
=            Alerts            =
==============================*/

.alert {
    @extend .left-wide;
    @include border-radius(0);
    font-weight: 400;
    font-size: 14px;
    padding: 20px;
    position: fixed;
    left: 0;
    right: 0;
    max-width: inherit;
    z-index: 1000;
    margin: 0 auto;

    &.notice{
        position: static;
    }

    .alert-btn{
        cursor: pointer;
        font-size: 13px;
        padding-left: 10px;
    }

    h2, h3, h4, h5, h6 {
        font-weight: 600;
        margin-bottom: 10px;
        font-size: 14px;
    }

    p {
        margin: 0;
    }

    &.alert-yellow {
        background-color: $citrine_white;
        border: 1px solid #F5F5DC;
    }
}

/*=====  End of Alerts  ======*/

/*================================
=            CheckBox            =
================================*/

.checkbox {
    @extend .no-select;
    margin: 0 !important;
    padding: 0;
    float: left;
    width: 100%;
    position: relative;
    label {
        float: left;
        width: 100%;
        position: relative;
        margin: 0;
        padding: 0;
    }
}

.checkbox-padding {
    padding-left: 0;
}

.checkbox [type="checkbox"]:not(:checked),
.checkbox [type="checkbox"]:checked {
    position: absolute;
    left: 0px;/*99999999999px*/
}

.checkbox [type="checkbox"] + label:before {
    margin-right: 10px;
    float: left;
}

.checkbox [type="checkbox"]:not(:checked) + label:before {
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid $spun_pearl;
    float: left;
}

.checkbox [type="checkbox"]:checked + label:before {
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid $spun_pearl;
    background: $spun_pearl;
    float: left;
}

.checkbox [type="checkbox"]:checked + label:after {
    content: '\f00c';
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    left: 3px;
    top: 3px;
    color: $white;
}

.RTL{

    .checkbox [type="checkbox"] + label:before {
        margin-left: 10px;
        margin-right: 0;
        float: right;
    }

    .checkbox [type="checkbox"]:not(:checked) + label:before {
        float: right;
    }

    .checkbox [type="checkbox"]:checked + label:before {
        float: right;
    }

    .checkbox [type="checkbox"]:checked + label:after {
        right: 3px;
        left: initial;
    }
}

/*=====  End of CheckBox  ======*/

/*================================
=            CheckBox            =
================================*/

.checkbox-circle {
    @extend .no-select;
    margin: 0 !important;
    padding: 0;
    float: left;
    width: 100%;
    label {
        float: left;
        margin: 0;

        width: 95%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

    }
}

.checkbox-circle [type="checkbox"]:not(:checked),
.checkbox-circle [type="checkbox"]:checked {
    position: absolute;
    left: 0px;/*99999999999px*/
}

.checkbox-circle [type="checkbox"] + label:before {
    margin-right: 10px;
    float: left;
}

.checkbox-circle [type="checkbox"]:not(:checked) + label:before {
    content: '\f10c';
    font: normal normal normal 18px/1 FontAwesome;
}

.checkbox-circle [type="checkbox"]:checked + label:before {
    content: '\f058';
    font: normal normal normal 18px/1 FontAwesome;
}


.RTL{
    .checkbox-circle {
        float: right;
        label {
            float: right;
        }
    }

    .checkbox-circle [type="checkbox"] + label:before {
        margin-left: 10px;
        margin-right: 0;
        float: right;
    }
}

/*=====  End of CheckBox  ======*/

/*====================================
=            Radio Button            =
====================================*/

.radio {
    @extend .no-select;
    margin: 0 5px !important;
    padding: 0;
    float: left;
    width: auto;
    height: 42px;
    line-height: 30px !important;
    position: relative;

    label {
        float: left;
        width: 100%;
        position: relative;
        margin: 0;
        padding: 5px 0px 0px 0px;
    }
}

.radio [type="radio"]:not(:checked),
.radio [type="radio"]:checked {
    position: absolute;
    left: 0; /*99999999999px;*/
}

.radio [type="radio"] + label:before {
    margin-right: 8px;
    float: left;
    line-height: 42px !important;
    height: 42px;
}

.radio [type="radio"]:not(:checked) + label:before {
    width: 20px;
    content: '';
}

.radio [type="radio"]:not(:checked) + label:after {
    width: 20px;
    content: '';
    background-image: url('../images/unselected.svg');
    background-position: center;
    background-repeat: no-repeat;
    line-height: 20px;
    height: 18px;
    position: absolute;
    left: 0;
    top: 12px;
}

.radio [type="radio"]:checked + label:before {
    width: 20px;
    content: '';
}

.radio [type="radio"]:checked + label:after {
    width:20px;
    content: '';
    background-image: url('../images/selected.svg');
    background-position: center;
    background-repeat: no-repeat;
    line-height: 20px;
    height: 18px;
    position: absolute;
    left: 0;
    top: 12px;
}

.RTL{
    .radio [type="radio"] + label:before {
        margin-left: 8px;
        margin-right: initial;
        float: right;
    }

    .radio [type="radio"]:checked + label:after {
        right: 5px;
        top: 0;
    }
}

/*=====  End of Radio Button  ======*/

/*============================================
=            Dropdown Menu            =
============================================*/

.uib-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 153px;
    padding: 5px 0;
    margin: -1px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: $white;
    background-clip: padding-box;
    border: 1px solid #808080;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    > li > a {
        padding: 8px 6px;
        margin: 0;
        &:hover {
            background: {
                color: $Ship_Gray;
            }
            color: $white !important;
        }
    }
}

/*=====  End of Custom Dropdown Menu  ======*/

/*====================================
=            Thumb Blocks            =
====================================*/

/* Block Style 1 */
.thumb-block {
    @extend .left-wide;
    margin-bottom: 12px;
    .extrasImg{
       padding-left:0;
    }
    // Image
    .image {
        float: left;
        background: {
            size: cover;
            repeat: no-repeat;
        }
    }
    .details{
        float: left;
        width:870px;
    }

    .summery-panel {
        .summery-panel-segments {
            padding: 0px !important;
            .summery-panel-content-wrapper {
                float: left;
                .summery-panel-header {
                    div {
                        padding-left: 0px !important;
                    }
                }
                .summery-panel-content {
                    div {
                        padding-left: 0px !important;
                    }
                }
                .summery-panel-item {
                    padding-top: 10px;
                }

                &.unmodified{
                    color: $gray-6;
                }
            }
        }
        .row{
            margin:0;
        }
    }
    // Title
    .title {
        float: left;

        h2 {
            @extend .left-wide;
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 10px;
            margin-top: 3px;
            text-transform: capitalize;
            .note {
                color: $red;
                font-size: 13px;
                font-weight: 400;
            }
            .txt {
                padding-right: 10px;
            }
        }
        p {
            @extend .left-wide;
            font-size: 14px;
            font-weight: 500;
        }

    }
}
// Title
.title {
    float: right;

    h2 {
        .txt {
            padding-right: initial;
            padding-left: 10px;
        }
    }

    // Options
    .options {
        float: left;
        text-align: right;
        font-weight: 500;
        padding-right: 0;

        .price-block {
            @extend .left-wide;
            clear: both;
            font-size: 16px;
            margin-bottom: 15px;
            .currency {
                text-transform: uppercase;
            }
            .price {
                font-weight: 700;
            }
        }

        button, .button {
            float: right;
            font-weight: 600;
            font-size: 14px;
            min-width: initial;
            width: 140px;
            padding: 0 15px;
            height: 35px;
            line-height: 35px;
            text-align: left;
            i {
                float: right;
                height: 35px;
                line-height: 35px;
            }
        }
    }
}


.RTL{
    .thumb-block {

        // Image
        .image {
            float: right;
        }
        .summery-panel {
            .summery-panel-segments {
                padding: 0px !important;
                .summery-panel-content-wrapper {
                    float: right;
                    .summery-panel-header {
                        div {
                            padding-right: 0px !important;
                        }
                    }
                    .summery-panel-content {
                        div {
                            padding-right: 0px !important;
                        }
                    }
                    .summery-panel-item {
                        padding-top: 10px;
                    }
                }

            }
        }
        // Title
        .title {
            float: right;

            h2 {
                .txt {
                    padding-right: initial;
                    padding-left: 10px;
                }
            }

        }

        // Options
        .options {
            float: left;
            text-align: right;
            padding-left: 0;
            padding-right: 15px;

            button, .button {
                float: right;
                font-weight: 600;
                font-size: 14px;
                min-width: 140px;
                width: 100%;
                padding: 0 15px;
                height: 35px;
                line-height: 35px;
                text-align: right;
                i {
                    float: left;
                    height: 35px;
                    line-height: 35px;
                    -ms-transform: rotate(180deg); /* IE 9 */
                    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
                    transform: rotate(180deg);
                }
            }
        }
    }
}

/*=====  End of Thumb Blocks  ======*/



/*=====================================
=            Package Block            =
=====================================*/

.LTR{
    @import "package_block_ltr";
}

.RTL{
    @import "package_block_rtl";
}

/*=====  End of Package Block  ======*/



/*==================================
=            Meal Block            =
==================================*/

.LTR{
    @import "meal_block_ltr";
}

.RTL{
    @import "meal_block_rtl";
}

/*=====  End of Meal Block  ======*/

/*======================================
=            Sidebar Widget            =
======================================*/

.LTR{
    @import "sidebar_widget_ltr";
}

.RTL{
    @import "sidebar_widget_rtl";
}

/*=====  End of Sidebar Widget  ======*/

/*=========================================
=            Accordion Content            =
=========================================*/

.accordion-content {
    @extend .left-wide;
    > ul {
        @extend .left-wide;
        list-style: none;
        margin: 0;
        padding: 0;
        > li {
            @extend .left-wide;
            border-top: 1px solid #ededef;
            border-bottom: 1px solid #ededef;
            padding: 20px 0 30px;
            margin-top: -1px;

            .heading {
                @extend .left-wide;
                color: $red;
                padding: 0;
                margin: 0;
                font-size: 19px;
                cursor: pointer;
                i {
                    color: $black;
                    float: right;
                    height: 62px;
                    line-height: 62px;
                    font-weight: 600;
                    cursor: pointer;
                }
                &:hover, &:focus {
                    i {
                        color: $red;
                    }
                }
            }
            .content {
                @extend .left-wide;
                h3 {
                    @extend .left-wide;
                    font-size: 14px;
                    font-weight: 500;
                    margin-bottom: 20px;
                    .fa {
                        font-size: 20px;
                        float: left;
                        margin: -1px 15px 0 0;
                    }
                }
                ul {
                    @extend .left-wide;
                    list-style: none;
                    margin-bottom: 20px;
                    li {
                        @extend .left-wide;
                        line-height: 30px;
                        &:before {
                            content: "";
                            background: $red;
                            float: left;
                            width: 5px;
                            height: 5px;
                            margin: 11px 15px 0 0;
                        }
                    }
                }
                .check {
                    label {
                        cursor: pointer;
                        overflow: visible;
                    }
                }
            }
        }
    }
}

/*=====  End of Accordion Content  ======*/

/*=================================
=            Modal Box            =
=================================*/
@media only screen and(max-width: 768px){
    .modal-box {
        &.baggage-rates-modal{
            .modal-content {
                max-width: 258px !important;
            }
        }
    }
    
}
.modal-box {
    position: absolute;
    z-index: 9999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* Overlay */
    .overlay {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        z-index: 9999;
        background: $light_gray;
        opacity: 0.5;
    }

    /* Modal Content */
    .modal-content {
        &.modal-baggage-content{

        }
        padding: 40px;
        position: fixed;
        min-height: 395px;                        
        width: 95%;
        max-width: 590px;
        background: {
            color: $white;
        }
        margin: auto;
        left: 0;
        right: 0;
        top: 20%;
        border: none;
        border-top: 5px solid $primery_color;
        @include border-radius(0);
        z-index: 99999;
        -webkit-box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.25);

        // Modal Header
        .modal-header {
            padding: 0;
            border: none;
            margin-bottom: 20px;

            // Text
            .text {
                font-weight: 600;
                font-size: 22px;
                color: $primery_color;
            }

            // Close button
            .close-btn {
                font-size: 18px;
                float: right;
                color: $gray-7;
                position: absolute;
                top: 10px;
                right: 10px;
                &:hover {
                    color: $red;
                }
            }
        }

        // Modal body
        .modal-body {
            padding: 0 0 10px;
            border: none;

            label{
                font-weight: 500;
                font-size: 14px;
            }

            .modal-confirm{
                padding-top: 15px;
                float: left;
                padding-bottom: 15px;

                h3 {
                    font-size: 18px;
                    font-weight: 600;
                }
            }

            p {
                margin-bottom: 20px;
                font-size: 15px;
                line-height: 1.5;
            }
            ul {
                @extend .left-wide;
                list-style: none;
                margin-bottom: 25px;
                padding: 0;
                li {
                    @extend .left-wide;
                    line-height: 26px;
                    &:before {
                        content: "";
                        background: $red;
                        float: left;
                        width: 5px;
                        height: 5px;
                        margin: 11px 15px 0 0;
                    }
                }
            }

            h2 {
                font-size: 20px;
            }

            h3 {
                font-size: 18px;
                font-weight: 600;
            }

            h4 {
                font-size: 16px;
            }
        }

        // Modal Footer
        .modal-footer {
            padding: 0;
            border: none;

            button {
                width: 100%;
            }
        }
        .modal-data table {
            float: left;
            width: 100%;
            label{
                font-weight: 500;
                font-size: 14px;
            }
        }
    }
    .fare-rule-popup{ min-height: 220px !important;}
}

/*=====  End of Modal Box  ======*/

/*==================================
=            Fare Table            =
==================================*/

.fare-table {
    @extend .left-wide;
    margin-bottom: 10px;

    // Fare Footer
    .fare-footer {
        @extend .left-wide;
        padding: 20px 0;
        .proceed {
            @extend .right-wide;
            text-align: right;
            font-size: 17px;
            margin-bottom: 20px;
        }
        span {
            display: inline-block;
            margin-left: 10px;
        }
        .des {
        }
        .price {
            i {
                font-weight: 600;
            }
        }

        .btn-wrap {
            //padding-left: 10px;
        }

        .button {
            width: 100%;
        }
    }
}

/*=====  End of Fare Table  ======*/

/*==================================
=            Fare Block            =
==================================*/

.LTR{
    @import "fare_block_ltr";
}

.RTL{
    @import "fare_block_rtl";
}

/*=====  End of Fare Block  ======*/

/*=====================================
=            Payment Logos            =
=====================================*/
.text-danger{
    color: $red;
}
.payment-logo {
    float: left;
    display: table-cell;
    margin: 0;
    height: auto;
    line-height: 73px;

    [type="radio"]:checked + label:after {
        height: 73px;
        line-height: 74px;
        top: 0;
    }

    [type="radio"]:not(:checked) + label:after {
        height: 73px;
        line-height: 74px;
        top: 0;
    }

    label {
        &:before {
            height: 73px;
            line-height: 73px;
        }
    }

    .ico {
        line-height: 73px;
    }

    img {
        //height: 73px;
        max-width: 80%;
        max-width: calc(100% - 30px);
    }
}

/*=====  End of Payment Logos  ======*/

/*================================
=            ToolTips            =
================================*/

.tooltip-inner {
    // max-width: 200px;
    // padding: 3px 8px;
    // color: #fff;
    // text-align: center;
    // text-decoration: none;
    // background-color: #000;
    // border-radius: 4px;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

#tooltip-template {
    padding: 8px;

    h4 {
        float: left;
        width: 100%;
        margin-bottom: 3px !important;
    }
}

/*=====  End of ToolTips  ======*/

/*=================================
=            DropDowns            =
=================================*/

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10000;
    display: none;
    float: left;
    min-width: 153px;
    padding: 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: $white;
    border: 1px solid #414042;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-clip: padding-box;
    width: 100%;
    max-height: 276px;
    overflow-y: auto;

    > li {
        > a {
            display: block;
            padding: 7px 20px;
            clear: both;
            font-weight: 400;
            line-height: 1.42857143;
            color: $gray-2;
            white-space: normal;
        }
    }
}

/*=====  End of DropDowns  ======*/

/*==============================
=            Ribbon            =
==============================*/

.ribbon {
    width: 12px;
    height: 23px;
    position: absolute;
    top: 0;
    right: 0;
    background: {
        image: url(../images/misc/ribbon.svg);
        repeat: no-repeat;
        position: top right;
        size: contain;
    }

    &.red-ribbon {
        background: {
            image: url(../images/misc/ribbon.svg);
        }
    }

    &.gray-ribbon {
        background: {
            image: url(../images/misc/ribbon-gray.svg);
        }
    }
}

/*=====  End of Ribbon  ======*/

/*==============================
=         Date Picker          =
==============================*/
.ui-datepicker{
    font-family: 'Open Sans', sans-serif;
    text-align: center;

    .ui-icon-circle-triangle-e{
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-indent: 0;

        &:before{
            content: "\e080";
        }
    }

    .ui-icon-circle-triangle-w{
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-indent: 0;

        &:before{
            content: "\e079";
        }
    }

    .ui-datepicker-next.ui-datepicker-next-hover{
        background:none;
    }

    .ui-datepicker-next, .ui-datepicker-prev {
        top: 5px;
    }

    .ui-datepicker-next-hover{
        background:none;
        border: none;
        @include  border-radius(0);
        background-color: $light_gray !important;
        right: 2px;
        top: 5px;
    }

    .ui-datepicker-prev-hover{
        background:none;
        border: none;
        @include  border-radius(0);
        background-color: $light_gray !important;
        left: 2px;
        top: 5px;
    }

    .ui-state-hover{
        background: $light_gray;
        border: none;
        @include  border-radius(0);
    }

    td a, td span{
        text-align: center;
    }

    @include border-radius(0);
    .ui-widget-header{
        border:none;

        .ui-icon{
            background:none;
        }

        select.ui-datepicker-month{
            margin-right:10px;
        }
    }

    .ui-widget-header{
        @include border-radius(0);
        background: $white;
    }

    .ui-state-default{
        background: $white;
        border: none;
        font-weight: 600;
    }

    .ui-state-hover{
        background: grey;
        font-weight: 600;
    }

    .ui-state-active{
        background:#414042;
        color:$white;
        font-weight: 600;
    }
}
.border-bottom {
    border-bottom: 1px dotted #e4e4e4;
}
.pagination-wrapper{
    display: inline-block;
    width: 100%;
    margin-bottom: 17px;
    ul{
        padding: 0px;
        display: inline-block;
        margin-bottom: 20px;
        margin-top: 20px;
        padding-left: 0px;
    }
    ul li{
        display: inline-block;
        float: left;
        padding: 2px;
        cursor: pointer;
        background-color: $light_gray;
        margin: 0px 2px;
        height: 22px;
        width: 22px;
        text-align: center;
    }
    .selected{
        background-color:$primery_color;
        color: $white;
    }
}
/*====End of Date Picker=====*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 Dec, 2017, 7:49:11 PM
    Author     : dev
*/
/* line 16, ../src/ADM-dateTimePicker.scss */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* line 20, ../src/ADM-dateTimePicker.scss */
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* line 28, ../src/ADM-dateTimePicker.scss */
a:active,
a:hover {
    outline: 0;
}

/* line 33, ../src/ADM-dateTimePicker.scss */
.dtp-trs-3 {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

/* line 36, ../src/ADM-dateTimePicker.scss */
.dtp-trs-5 {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

/* line 40, ../src/ADM-dateTimePicker.scss */
.dtp-i {
  width: 25px;
  height: 25px;
  line-height: 25px;
  vertical-align: top;
  position: relative;
  display: inline-block;
  fill: inherit;
}
/* line 48, ../src/ADM-dateTimePicker.scss */
.dtp-i.dtp-i-90 {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 51, ../src/ADM-dateTimePicker.scss */
.dtp-i.dtp-i-180 {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 54, ../src/ADM-dateTimePicker.scss */
.dtp-i.dtp-i-270 {
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* line 59, ../src/ADM-dateTimePicker.scss */
.dtp-ig {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: table-cell;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}
/* line 80, ../src/ADM-dateTimePicker.scss */
.dtp-ig .fakeIcon {
  opacity: 0;
  height: 10px;
  width: 10px;
}
/* line 85, ../src/ADM-dateTimePicker.scss */
.dtp-ig .calendarIcon,
.dtp-ig .removeIcon,
.dtp-ig .closeIcon {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 32px;
  padding: 0px 8px;
  padding-top: 2px;
  -moz-transition: all 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  -o-transition: all 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  -webkit-transition: all 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transition: all 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
/* line 99, ../src/ADM-dateTimePicker.scss */
.dtp-ig .calendarIcon {
  fill: #606060;
}
/* line 102, ../src/ADM-dateTimePicker.scss */
.dtp-ig .closeIcon {
  background: #378bd3;
  fill: white;
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

/* line 109, ../src/ADM-dateTimePicker.scss */
.ADMdtp-calendar-container.rtl {
  font-family: Tahoma;
  direction: rtl;
}

/* line 114, ../src/ADM-dateTimePicker.scss */
.ADMdtp {
  font-family: sans-serif, sans-serif;
  line-height: 1.42857143;
  color: #797979;
}
/* line 119, ../src/ADM-dateTimePicker.scss */
.ADMdtp.rtl {
  font-family: Tahoma;
}
/* line 122, ../src/ADM-dateTimePicker.scss */
.ADMdtp.rtl .masterInput input {
  direction: ltr;
}
/* line 127, ../src/ADM-dateTimePicker.scss */
.ADMdtp ng-transclude,
.ADMdtp .clickOutContainer {
  position: relative;
  display: block;
}
/* line 133, ../src/ADM-dateTimePicker.scss */
.ADMdtp hr {
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

/* line 147, ../src/ADM-dateTimePicker.scss */
.dtpNewBox {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  background: #f7f7f7;
  top: 0;
  left: 0;
  z-index: 9;
  direction: ltr;
}
/* line 159, ../src/ADM-dateTimePicker.scss */
.dtpNewBox.active {
  opacity: 1;
  height: 20em;
}
/* line 164, ../src/ADM-dateTimePicker.scss */
.dtpNewBox.active .timeSelectIcon {
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
/* line 167, ../src/ADM-dateTimePicker.scss */
.dtpNewBox.active .content {
  opacity: 1;
}
/* line 171, ../src/ADM-dateTimePicker.scss */
.dtpNewBox:after, .dtpNewBox:before {
  content: '';
  position: absolute;
  display: block;
  background: #f7f7f7;
  height: 100%;
  width: 1em;
  top: 0;
  z-index: 0;
}
/* line 182, ../src/ADM-dateTimePicker.scss */
.dtpNewBox:after {
  left: -1em;
}
/* line 185, ../src/ADM-dateTimePicker.scss */
.dtpNewBox:before {
  right: -1em;
}
/* line 189, ../src/ADM-dateTimePicker.scss */
.dtpNewBox, .dtpNewBox .content, .dtpNewBox .calendarIcon {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 193, ../src/ADM-dateTimePicker.scss */
.dtpNewBox .content {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
}
/* line 201, ../src/ADM-dateTimePicker.scss */
.dtpNewBox .calendarIcon {
  position: absolute;
  display: block;
  top: .3em;
  left: -.5em;
  z-index: 1;
  font-size: 1.2em;
  width: 1em;
  height: 1em;
  text-align: center;
  cursor: pointer;
  color: white;
  -moz-transform: translate(-3em, -3em);
  -ms-transform: translate(-3em, -3em);
  -webkit-transform: translate(-3em, -3em);
  transform: translate(-3em, -3em);
}
/* line 215, ../src/ADM-dateTimePicker.scss */
.dtpNewBox .calendarIcon svg {
  height: 22px;
  width: 17px;
  fill: white;
}
/* line 220, ../src/ADM-dateTimePicker.scss */
.dtpNewBox .calendarIcon.show {
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
/* line 223, ../src/ADM-dateTimePicker.scss */
.dtpNewBox .calendarIcon:after {
  content: '';
  position: absolute;
  display: block;
  top: -6px;
  left: -6px;
  width: 0;
  height: 0;
  border-top: 3em solid #fc5f2a;
  border-right: 3em solid transparent;
  z-index: -1;
}

/* line 238, ../src/ADM-dateTimePicker.scss */
.ADMdtpInput {
  position: relative;
  display: table;
  border-collapse: separate;
}
/* line 242, ../src/ADM-dateTimePicker.scss */
.ADMdtpInput[class*="col-"] {
  float: none;
  padding-left: 0;
  padding-right: 0;
}
/* line 247, ../src/ADM-dateTimePicker.scss */
.ADMdtpInput input {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: inherit;
  margin: 0;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
/* line 267, ../src/ADM-dateTimePicker.scss */
.ADMdtpInput input:focus {
  border-color: #66afe9;
  outline: 0;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
/* line 274, ../src/ADM-dateTimePicker.scss */
.ADMdtpInput input {
  position: relative;
  display: block;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
/* line 278, ../src/ADM-dateTimePicker.scss */
.ADMdtpInput input[disabled] {
  background: white;
  color: black;
}
/* line 283, ../src/ADM-dateTimePicker.scss */
.ADMdtpInput > .removeIcon {
  position: absolute;
  display: block;
  right: 2.1em;
  top: 0;
  z-index: 3;
  fill: #E64949;
  padding: 8px;
  cursor: pointer;
  opacity: .7;
  font-size: 1.1em;
  height: 34px;
}
/* line 295, ../src/ADM-dateTimePicker.scss */
.ADMdtpInput > .removeIcon:hover {
  opacity: 1;
}
/* line 301, ../src/ADM-dateTimePicker.scss */
.ADMdtpInput.open .dtp-ig .calendarIcon {
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
/* line 304, ../src/ADM-dateTimePicker.scss */
.ADMdtpInput.open .dtp-ig .closeIcon {
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
/* line 310, ../src/ADM-dateTimePicker.scss */
.ADMdtpInput.disable input[disabled] {
  background: #f2f2f2;
  color: gray;
}
/* line 314, ../src/ADM-dateTimePicker.scss */
.ADMdtpInput.disable > .removeIcon {
  display: none !important;
}
/* line 317, ../src/ADM-dateTimePicker.scss */
.ADMdtpInput.disable .dtp-ig {
  cursor: not-allowed;
}

/* line 324, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box {
  position: absolute;
  display: block;
  width: 20em;
  max-width: 100vw;
  min-height: 20em;
  max-height: 25.25em;
  padding: 1em;
  padding-top: 0;
  border-radius: 5px;
  background: white;
  overflow: hidden;
  z-index: 9;
  -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  -moz-transition: opacity 0.5s, height 0.5s;
  -o-transition: opacity 0.5s, height 0.5s;
  -webkit-transition: opacity 0.5s, height 0.5s;
  transition: opacity 0.5s, height 0.5s;
  font-size: 14px;
}
/* line 340, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box ::-moz-selection {
  background: transparent;
}
/* line 343, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box ::selection {
  background: transparent;
}
/* line 346, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box.square {
  height: 20em;
}
/* line 350, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box.square header .arrow.left {
  margin-left: -2em;
}
/* line 353, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box.square header .arrow.right {
  margin-right: -2em;
}
/* line 358, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box.square footer {
  height: 0;
}
/* line 362, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box .arrow {
  position: absolute;
  display: block;
  cursor: pointer;
  z-index: 1;
  top: 0;
  fill: #797979;
  direction: ltr;
  font-size: 1em;
  width: 38px;
  height: 100%;
  padding: 0 .3em;
}
/* line 375, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box .arrow.left {
  left: 0;
}
/* line 377, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box .arrow.left:hover {
  margin-left: -.3em;
  fill: #d6c483;
}
/* line 382, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box .arrow.right {
  right: 0;
}
/* line 384, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box .arrow.right:hover {
  margin-right: -.3em;
  fill: #d6c483;
}
/* line 390, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box header {
  font-size: 1.2em;
  position: relative;
}
/* line 394, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box header .yearMonth {
  width: 100%;
  position: relative;
  display: block;
  text-align: center;
  padding: 1em 0;
  z-index: 0;
  cursor: pointer;
  color: #797979;
}
/* line 405, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box .daysNames,
.ADMdtp-box .ADMdtpDays {
  width: 100%;
}
/* line 408, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box .daysNames > span,
.ADMdtp-box .ADMdtpDays > span {
  width: calc(100% / 7);
  display: inline-block;
  text-align: center;
}
/* line 414, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box .ADMdtpDays {
  min-height: 12em;
}
/* line 418, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box .daysNames > span {
  font-weight: bold;
  cursor: context-menu;
  color: #fc5f2a;
}
/* line 424, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box footer {
  height: 1.7em;
  position: relative;
  overflow: hidden;
}
/* line 428, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box footer .today {
  position: absolute;
  display: block;
  width: 6em;
  height: 1.7em;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: .5em;
  background: transparent;
  color: #cab15c;
  border: 1px solid transparent;
  text-align: center;
  outline: none;
  font-family: inherit;
  cursor: pointer;
  line-height: 1;
}
/* line 446, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box footer .today:hover {
  border-color: #f2f2f2;
}
/* line 449, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box footer .today:active {
  background: #fcfbf6;
}
/* line 453, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box footer .calTypeContainer {
  position: absolute;
  display: block;
  width: 5.5em;
  height: 1.7em;
  right: 0;
  overflow: hidden;
  cursor: pointer;
  border-radius: .5em;
  border: 1px solid transparent;
}
/* line 464, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box footer .calTypeContainer:hover {
  border-color: #f2f2f2;
}
/* line 467, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box footer .calTypeContainer:hover.gregorian p.jalali {
  background: #e3d6a9;
}
/* line 472, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box footer .calTypeContainer:hover.jalali p.gregorian {
  background: #e3d6a9;
}
/* line 477, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box footer .calTypeContainer:active {
  background: #fcfbf6;
}
/* line 480, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box footer .calTypeContainer p {
  margin: 0;
  line-height: 1.4em;
  text-align: center;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.1em 0;
  white-space: nowrap;
  color: #cab15c;
  -moz-transition: all 0.3s, -moz-transform 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  -o-transition: all 0.3s, -o-transform 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  -webkit-transition: all 0.3s, -webkit-transform 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transition: all 0.3s, transform 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
/* line 493, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box footer .calTypeContainer p.jalali {
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
/* line 499, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box footer .calTypeContainer.jalali p.gregorian {
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
/* line 502, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box footer .calTypeContainer.jalali p.jalali {
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
/* line 508, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box footer .timeSelectIcon {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  font-size: 1.5em;
  padding: 0.1em;
  margin-left: 0.2em;
  fill: #e3d6a9;
  cursor: pointer;
}
/* line 519, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box footer .timeSelectIcon:hover {
  fill: #cab15c;
}
/* line 522, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box footer .timeSelectIcon:active {
  fill: #e3d6a9;
}
/* line 527, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box hr {
  margin: .5em 0;
}

/* line 531, ../src/ADM-dateTimePicker.scss */
.ADMdtpMonths {
  position: absolute;
  display: block;
  width: 100%;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 538, ../src/ADM-dateTimePicker.scss */
.ADMdtpMonths.onYear span > span {
  width: calc(25% - 6px);
}
/* line 543, ../src/ADM-dateTimePicker.scss */
.ADMdtpMonths.rtl span > span {
  float: right;
}
/* line 547, ../src/ADM-dateTimePicker.scss */
.ADMdtpMonths span > span {
  width: calc(33% - 6px);
  text-align: center;
  position: relative;
  display: block;
  float: left;
  border-radius: .5em;
  background: #ebebeb;
  color: #a8a8a8;
  border: 1px solid #dedede;
  padding: 1em 0;
  margin: 3px;
  cursor: pointer;
  font-weight: bold;
  font-size: .9em;
}
/* line 565, ../src/ADM-dateTimePicker.scss */
.ADMdtpMonths span > span.selected, .ADMdtpMonths span > span:hover {
  border-color: #d2d2d2;
  background: #d2d2d2;
  color: #757575;
}

/* line 575, ../src/ADM-dateTimePicker.scss */
.ADMdtpYears {
  color: #b9b9b9;
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 0.2em;
}
/* line 582, ../src/ADM-dateTimePicker.scss */
.ADMdtpYears p {
  margin: 0;
  cursor: pointer;
}
/* line 586, ../src/ADM-dateTimePicker.scss */
.ADMdtpYears p:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  border-bottom: 2px solid #ECECEC;
  top: 1em;
  left: 0;
  z-index: -1;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 597, ../src/ADM-dateTimePicker.scss */
.ADMdtpYears p:hover {
  color: #fc5f2a;
}
/* line 599, ../src/ADM-dateTimePicker.scss */
.ADMdtpYears p:hover:before {
  border-color: rgba(252, 95, 42, 0.2);
}
/* line 604, ../src/ADM-dateTimePicker.scss */
.ADMdtpYears .arrow {
  margin-top: 0em;
  height: 35px;
  width: 35px;
  opacity: .7;
}
/* line 609, ../src/ADM-dateTimePicker.scss */
.ADMdtpYears .arrow.right {
  right: 1.5em;
}
/* line 612, ../src/ADM-dateTimePicker.scss */
.ADMdtpYears .arrow.left {
  left: 1.5em;
}

/* line 617, ../src/ADM-dateTimePicker.scss */
.ADMdtpTime {
  position: absolute;
  display: block;
  width: 100%;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 623, ../src/ADM-dateTimePicker.scss */
.ADMdtpTime span {
  width: 33%;
  height: 3em;
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 1.3em;
  vertical-align: middle;
  line-height: 3em;
}
/* line 632, ../src/ADM-dateTimePicker.scss */
.ADMdtpTime span.dtpIcon {
  cursor: pointer;
}
/* line 634, ../src/ADM-dateTimePicker.scss */
.ADMdtpTime span.dtpIcon svg {
  fill: #fc5f2a;
  height: 43px;
  position: absolute;
  display: block;
  width: 100%;
  top: 0.2em;
  left: 0;
}
/* line 645, ../src/ADM-dateTimePicker.scss */
.ADMdtpTime span.dtpIcon:hover svg {
  fill: #fdab8f;
}
/* line 648, ../src/ADM-dateTimePicker.scss */
.ADMdtpTime span.dtpIcon:hover:before {
  background: #f6f2e3;
}
/* line 653, ../src/ADM-dateTimePicker.scss */
.ADMdtpTime span.dtpIcon:active svg {
  fill: #fc5f2a;
}
/* line 656, ../src/ADM-dateTimePicker.scss */
.ADMdtpTime span.dtpIcon:active.up {
  margin-top: -3px;
}
/* line 659, ../src/ADM-dateTimePicker.scss */
.ADMdtpTime span.dtpIcon:active.down {
  margin-bottom: -3px;
}
/* line 663, ../src/ADM-dateTimePicker.scss */
.ADMdtpTime span.dtpIcon:before {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: .8em 1em;
  border-radius: 1em;
}
/* line 669, ../src/ADM-dateTimePicker.scss */
.ADMdtpTime span.period {
  font-size: 2em;
}

/* line 676, ../src/ADM-dateTimePicker.scss */
.ADMdtpDays > span > span {
  width: 100%;
  height: 100%;
  padding: .5em;
  border-radius: .5em;
  cursor: pointer;
  position: relative;
  display: block;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 685, ../src/ADM-dateTimePicker.scss */
.ADMdtpDays > span > span.disable {
  opacity: .5;
  cursor: context-menu;
}
/* line 690, ../src/ADM-dateTimePicker.scss */
.ADMdtpDays > span > span:not(.disable):hover {
  background: #fee3da;
  color: #d63803;
}
/* line 695, ../src/ADM-dateTimePicker.scss */
.ADMdtpDays > span > span.selected, .ADMdtpMonths .ADMdtpDays > span > span:hover {
  background: #fc5f2a !important;
  color: white !important;
  border-radius: 5em;
}
/* line 700, ../src/ADM-dateTimePicker.scss */
.ADMdtpDays > span > span.valid {
  background: #fff6f3;
  border-radius: 0;
}
/* line 703, ../src/ADM-dateTimePicker.scss */
.ADMdtpDays > span > span.valid.min {
  border-top-left-radius: .5em;
  border-bottom-left-radius: .5em;
  border-left: 2px solid #febda8;
}
/* line 708, ../src/ADM-dateTimePicker.scss */
.ADMdtpDays > span > span.valid.max {
  border-top-right-radius: .5em;
  border-bottom-right-radius: .5em;
  border-right: 2px solid #febda8;
}
/* line 716, ../src/ADM-dateTimePicker.scss */
.ADMdtpDays > span > span.today:after {
  content: '';
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 0.7em solid #e3d6a9;
  border-left: .7em solid transparent;
}
/* line 736, ../src/ADM-dateTimePicker.scss */
.ADMdtpDays.loading > span > span {
  -moz-transform:  rotateY(90deg) translateX(-10px);
  -ms-transform:  rotateY(90deg) translateX(-10px);
  -webkit-transform:  rotateY(90deg) translateX(-10px);
  transform:  rotateY(90deg) translateX(-10px);
}


/*Valdr Validations and messages*/
.valdr-message{
    border: none;
    color: $red;    
}
.card-avil {
	padding-top:70px !important;
}

form .form-group .ng-invalid.ng-dirty.ng-touched .valdr-message {
	font-size: 12px;
	color: $red;
	position: absolute;
	visibility: visible;
}

form.ng-submitted .form-group {
	border: none;
	.valdr-message{
		display:block;
		border: none;
	}
}
.valdr-message.ng-pristine {
	display:none;
}
.cardNameGap {
	margin-top:20px;
}
/*END Valdr Validations and messages*/
/*=====  End of Rewards Login  ======*/

/*===== Start of AutoCheckin Page ====*/
.calender-alin>button {
	border: none;
	margin-top: -49px;
	background: transparent;
	float: right;
	margin-right: -13px;
}

.autocheckin-tab {
	list-style-type: none;
}

.autocheckin-tab li {
	background: #ededef;
	float: left;
	width: 100%;
}

.autocheckin-tab li a.active {
	text-decoration: none;
	background: #4E4E4E;
	color: #fff;
}

.autocheckin-tab li a.active::after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	right: 0px;
	margin-top: -10px;
	border-top: 17px solid transparent;
	border-bottom: 23px solid transparent;
	border-left: 15px solid #4E4E4E;
	z-index: 1;
}

.autocheckin-tab li a {
	color: #333;
	padding-top: 10px;
	padding-bottom: 10px;
	float: left;
	width: 100%;
	padding-left: 15px;
}

.autocheckin-tab li a::before {
	content: '\f10c';
	font: normal normal normal 18px/1 FontAwesome;
	position: relative;
	margin-right: 5px;
}

.autocheckin-tab li a:hover {
	text-decoration: none;
	background: #4E4E4E;
	color: #fff;
}

.autocheckin-tab li a.done::before {
	content: '\f058';
	font: normal normal normal 18px/1 FontAwesome;
	position: relative;
	margin-right: 5px;
}

/* Start of extras_automatic checkin */

.box-height {
	height: 50px;
}

.t-mrgn {
	margin-top: 15px;
}

ul.passenger-tabs {
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
	margin-top: 10px;
}

ul.passenger-tabs li {
	display: inline-block;
	overflow: hidden;
}

ul.passenger-tabs li a {
	padding: 12px 15px;
	font-weight: 600;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background: #ededed;
}

ul.passenger-tabs li a:hover {
	background: #4E4E4E;
	color: #fff;
}

.fieldname {
	margin-top: -33px !important;
	margin-left: 7px;
}

.fieldarrow {
	margin-top: -31px !important;
	margin-right: 10px;
	float: right;
}

.mrn-higt {
	height: 25px;
	margin-top: 10px;
}
/* End of extras_automatic checkin */
/*=====  End of AutoCheckin Page  ======*/

/*===== Mobile Responsive =====*/
@media screen and (max-width: 768px) {
.btn-mobile {
    width: 100% !important;
 }
.full-btnwidth {
  	width: 100% !important;
  	margin-top: inherit; 	
 }
.pding-l-none {
	padding-left:16px;
}
}
