.old-browser{
  &.container{
    padding-top:10px;
  }

  .img-row{
    padding-top:10px;

    .col-md-4 {
      width:33%;
      float:left;
      text-align: center;

      padding-left: 0;
      padding-right: 0;
    }

    p{
      font-weight: 600;
      font-size: 16px;
      margin-top: 5px;
    }

    .btn{
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}