@media screen and (max-height:449px){
    .xs-summary-drawer{
        display:none;
    }
} 

.passenger-heading {
    height: auto !important;

    >*{
        line-height: 21px !important;
        width: auto !important;
    }

    > span{
        padding-left:0 !important;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;


    }
    > i{
        padding-right: 0;
        text-align: right;
    }
}	
.RTL .passenger-heading > span{
        margin-top: 10px !important;
        /*direction: ltr !important;*/
    }


@media screen and (min-width: 768px) and (max-width: 991px) {
    .traveling-with-button{

        width:47% !important;
    }
    .xs-chk-phn{
        /* margin-top : 32px !important; */
    }	
    .col-sm-offset-right-6{
        margin-right : 50%;
    }
}

@media screen and (max-width: 991px) {
    .xs-pax-row{
        padding-bottom : 0 !important;		
    }
    .phone-number .row .col-md-9 .valdr-message{
        margin-top:0 !important;
    }
    .xs-contactperson-chckbx {
        padding-bottom : 5px !important;
    }
}
@media screen and (max-width: 767px) {

    .LTR {
        .phone-number .row .col-md-9 .valdr-message{
            margin-bottom: -25px !important;
            position: relative !important;
        }
        .select-passenger{
            border-bottom: none !important;
            .passengers-information{
                //padding-right: 15px !important;
                width: 100% !important;
                padding-left: 0 !important;
                border-left: none !important;
                .valdr-message{
                    position: absolute;
                }
                .pax-row{
                    .ibe-typeahead {
                        margin-bottom: 20px;
                    }
                }
               
            }
        }
    }

    .xs-passengerslist, .xs-passengerslist-inner {
        width: 100% !important;
        padding:0 !important;
        ul{
            li{
                span > label{
                    padding-left:15px !important;
                }
            }
            .panel-heading{
                padding:0 !important;
            }
            .panel-group {
                margin-bottom: 0 !important;
            }
        }
    }

    .passenger-heading{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .xs-contactperson-chckbx {
        padding-bottom : 20px !important;

        .chxbxlbl{
            width:8% !important;
        }

    }
    .sm-pass-footer{
        margin-bottom: 0 !important;
    }
    
   
    .pax-row div{
        padding:0 !important;
    }
    
    .pax-row{
        >div:first-child{
            padding-top: 15px !important;
        }
    }
    
    .RTL{
        .select-passenger .passengers-information .pax-row div .xs-btn-group-class {
            margin-bottom: 15px !important;
            select{
                font-size: 1.6rem !important;
            }
        }    

        .select-passenger .passengers-information .pax-row .dob-validr{        
            height: 90px !important;        
        }

        .phone-number .row .col-md-9 .valdr-message{
            margin-top:50px !important;
        }

        .nmchange-btn-group{
            width: 100vw !important;
            margin-left: 0 !important;
            margin-right: -25px !important;
            padding-left: 0px;
            .passenger-detail-view-continuebtn, .passenger-detail-view-backbtn{
                //width: 45% !important;
                /*margin-left: 5px !important;*/
            }
        }
    }
    
    .passenger-detail-view-backbtn {
        padding-left: 0px;
        padding-right: 10px !important;
        //width: 50%;
    }
    .passenger-detail-view-continuebtn {
        padding-left: 18px;
        padding-right: 10px !important;
        margin-top: -1px !important;
        //width: 50%;
    }
    .xs-pax-row{
        .radio{
            line-height: 34px !important;
        }
    }
    .flight-summary-xs-div {
        .panel-default{
            .collapse.in,
            .collapsing{
                height: auto;
                padding: 0 18px;
            }
        }
    }
    .panel-default{
            .collapse.show {
                display: block !important;
                -webkit-transition: height .40s ease;
                -o-transition: height .40s ease;
                transition: height .40s ease;
            }
            .collapse.in{
                display: block !important;
                -webkit-transition: height .40s ease;
                -o-transition: height .40s ease;
                transition: height .40s ease;
            }
            .collapse {
                display: none !important;                
            }
            .pax-row{
                .ibe-typeahead {
                    margin-bottom: 20px;
                }
            }
    } 
}
@media only screen and (min-width: 768px){ 
    .xs-contactperson-chckbx {
        .passenger-xs-text{
            width:97% !important;
            text-align:justify;	
        }
        .chxbxlbl{
            width:3% !important;
        }
    }
    .RTL .passengers-information .name-change-next{
        width: 95%;
        text-align: left;
        right: 0 !important;
        margin: 0 !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .xs-contactperson-chckbx {
        .passenger-xs-text{
            width:96% !important;
            text-align:justify;	
        }
        .chxbxlbl{
            width:4% !important;
        }
    }
    .select-passenger .passengers-information .pax-row{
        .valdr-message{
            position: relative !important;
            margin-bottom: -10px !important;
        }
    }
}

@media only screen and (max-width: 768px){
    .xs-contactperson-chckbx {
        .passenger-xs-text{
            width:92% !important;
            text-align:justify;	
        }
    }	
}


@media screen and (min-width: 768px){
    .sm-txt-col{
        padding-top : 20px;
    }
    .sm-pass-footer{
        margin-top: 0px !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .sm-paxWiseTotalFare{
        div.col-sm-6{
            /*left:-25px !important;*/
        }
    }
    .passengers-list{
        ul{
            li{
                .checkbox-circle{
                    label{
                        max-width:225px !important;
                    }
                }
            }
        }
    }
    .sm-title{
        > label{
            display:inherit;
        }
        > div{
            width: 50%;
            padding-right: 15px;
            padding-left:0 !important;
        }
    }
    .RTL .sm-title >div{
        padding-right: 0 !important;
        padding-left: 15px !important;
    }

    .rewards-login{
        padding-right:0 !important;
        /*width: 53% !important;*/
    }
    .sm-login-heading{
        /*padding-right: 0 !important;*/
        float: right !important;
    }
    .sm-airport-msg{
        margin-bottom: 20px !important;
        margin-top: 40px !important;

        .inpage-alert{
            padding-left: 10px;
            padding-right: 10px;
            text-align:center;
        }

    }
    .sm-adult-msg{
        padding-bottom : 15px !important;		
    }
}


