
#signin-section{
    margin: 0 auto;
    padding-top: 60px;

    .description{
        margin-bottom: 20px;
    }

    .content-body{
        padding-top: 25px;
    }

    .red-btn{
        width: 50%;
        clear: both;
    }

    .inside-content{

        .content-header{
            margin-bottom: 10px;
        }
    }

    .form-footer{
        margin-top: 0px;
        padding: 2px 0 10px;
    }
  .dp-caption{
    font-size: 14px;
  }

    .captcha-form{
        @extend .left-wide;
        margin-bottom: 20px;
        padding: 10px 25px 20px;
        background: {
            color: #fcfce7;
        }
        border: 1px solid #F5F5DC;
        span{
            @extend .left-wide;
        }
        .captcha-key{
            margin-bottom: 15px;
            position: relative;
            img{
                height: 45px;
            }
            .refresh{
                position: absolute;
                right: 0;
                top: 5px;
                background: {
                    image : url(../images/misc/refresh.png);
                    size : contain;
                    repeat : no-repeat;
                    position: center;
                }
                height: 20px;
                width: 20px;
                cursor: pointer;
            }
        }
    }
}
