/*===============================
=     Voucher Header            =
===============================*/
header {
	ul.voucher-menu{
		li{
			float: right;			
			&:not(.logo){
				 padding: 0 40px !important;
 				 a {
 				   i.number, span{
 				 		color: $gray !important;
					 	font-size: 12px;
    					font-weight: bold;
					 	font-style: normal;
						font-stretch: normal;
						line-height: normal;
						letter-spacing: -0.1px;
 				 	}
 				 }
			  }
			  &.current{
			  	background: #b4b4b4 !important;
			  	a i.number {
			  		border-color: $gray !important;
			  	}
			  }
			  &.completed{
			  	a i.icon-done{
			  	    font-family: FontAwesome !important;
    				color: #28cf1c;
    				&:before {
					    content: "\f058" !important;
					    font-size: initial;
					}
			  	}
			  }
		}
	    li.logo{
		  	width: auto !important;
		}
	}

}

/*===============================
=     Voucher Content          =
===============================*/

.voucher-mrgin{margin-top: $padding_margin_base * 8;}
.col-sm-8.title-algn {
  	padding-right: 0px;
  	.page-title {
	  	margin-top: 11px;
	  	margin-left: 15px;
	}
}
.col-sm-4 .button-block{
  	    margin-top: 7px !important;
}
.content-wrapper .row .pd-r-0{
	padding-left: 5px !important;
}
.voucher-title .page-title {
	height: 29px;
	object-fit: contain;
	font-size: 24px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.21;
	letter-spacing: -0.1px;
	color: #414042;
  	margin-top: 10px;
  	span {
	  	margin-top: 11px;
	}
}
form.voucher_cust_detail {
	.validation-msg {
		font-size: 12px;
		color: #ed0000;
	}
}
.no-gutters .pad-l0 {
	padding-right: 0;
}
.no-gutters .pad-r0 {
	padding-left: 0;
}

.voucher-bnnr{
    position: relative;
    margin-bottom: 15px;
    margin-top: 30px;
    img{
		width: 100%;
	    border-radius: 10px;
	    height: 223px;
	}
  	.main-logo-voucher {
		position: absolute;
        top: 15px;
        right: 15px;
        width: 109px;
        height: 40px;
        background-color: #ed0000;
        display: flex;
        align-items: center;
        img{
            width: 85.4px;
            height: 17.3px !important;
            display: block;
            margin: auto;
            border-radius: 0px;
        }
	}
	.voucher-content-pos {
	    position: absolute;
	    bottom: 15px;
	    .Voucher-banner-currency{
			font-weight: 700;
			margin-top: 40px;
		    font-size: 32px;
		    padding-right: 20px;
		    position: absolute;
		    bottom: 10px;
		    .currency-text {
			    font-size: 20px;
			    font-weight: normal;
			}
		}
		.voucher-content {
		    text-align: left;
		    max-width: 450px;
		   label {
			    text-transform: uppercase;
			    font-size: 36px;
			    font-weight: normal;
			    margin-bottom: 0;
			    display: block;
			} 
		  strong {
			    display: block;
			    margin-bottom: 8px;
			    font-size: 12px;
				height: 17px;
				font-weight: 600;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: -0.1px;
				color: #414042;
			}	
		  button {
			    color: white;
			    background: #6299D3;
			    padding: 7px 22px;
			    border-radius: 40px;
			    border: 0;
				width: 141.6px;
				height: 30.8px;
				background-color: #6299d3;
				box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
				font-size: 12px;
				font-weight: 600;
				font-style: normal;
				font-stretch: normal;
			}
		  .banner-content {
				width: 288px;
				height: 31px;
				font-weight: normal;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				text-align: left;
				color: #414042;
		  }
		}
	}
}

.cart-section{
	.cart-header{
	 	color: $white;
	    background-color: $gray;
	    font-size: 24px;
	    padding-top: $padding_margin_base * 3;
	    padding-bottom: $padding_margin_base * 3;
	 }
	 .cart-content {
	    padding: 15px 0;
	    background: $light_gray;
	    ul {
		    list-style: none;
		    padding-right: 0;
		    display: inline-block;
		    margin-bottom: 0;
		    width: 100%;
		    li {
			    padding: 10px 0;
			    
			    label.voucher-type {
				    margin-bottom: 12px;
				    font-size: 18px;
				}
				.voucher-count {
				    width: 30px;
				    border-radius: 5px !important;
				    text-align: center;
				    border: 1px solid gray;
				    height: 30px;
				    margin: 0 7px;
				    line-height: 29px;
				  	border: solid 1px #979797;
				  	-moz-appearance:textfield;
				    font-weight: 600;
				}
				.voucher-count::-webkit-outer-spin-button,
				.voucher-count::-webkit-inner-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}
				button{
				&.btn-minus {
				  	width: 8px;
				  	font-size: 24px;
				    font-weight: 500;
				}
				&.btn-plus {
				  	width: 14px;
				  	font-size: 18px;
				  	margin-right: -10px;
				    font-weight: 900;
				}
				&.btn-minus, &.btn-plus {
					    background: transparent;
					    border: none;
						height: 33px;
						font-style: normal;
						font-stretch: normal;
						line-height: normal;
						letter-spacing: normal;
						text-align: center;
						color: #435464;
				        font-weight: 600;
					}
				}
				.Voucher-currency {
				    font-size: 20px;
				    font-weight: 600;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: normal;
					text-align: left;
					color: #333334;
				}
			}
		}
	    
	}

  .cart-content.with-admin-fee-label {
	padding-bottom : 0;
  }
}


  .btn-proceed-to-customer {
    padding: 0 15px;
    display: block;
    border-radius: 0;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    font-weight: 600;
    min-width: 100%;
    text-align: center;
    cursor: pointer;
    max-width: 100%;
    border: 0;
    outline: none;
}
.txt-area {
	width: 100%;
	height: 100px !important;
	resize: none;
	border: 1px solid grey;
}
.payment-options.voucher-options {
	.payment-logo {
	    min-height: 60px;
	}
}

.voucher-expire-row {
	label {
    	display: block;
	}
	.date-dividier {
	    display: inline-block;
	    float: right;
	    text-align: center;
	    line-height: 50px;
	    font-size: 20px;
	    font-weight: 100;
	    margin-top: 5px;
	 }
	.cvv{
	  .form-control {
	    width: 44%;
	  }
	  span.cvv-desc {
			position: absolute;
		    width: 55%;
		    font-size: 10px;
			padding-right: 10px;
			top: 5px;
			left: 0;
		}
	}
	.expire-row {
		.voucher_select{
			display: inline-block;
			-webkit-appearance: none;
			&:focus{
			display: inline-block;
			}
		}
	  	.expire-group {
			.fa {
				position: absolute;
				top: 0;
				left: 20%;
				line-height: 50px;
			}
		}	
	}
    #voucher-cardinfo-panel {
        .credit-fee{
            padding-right: 0px;
        }
	    #checkout-panel{
		    padding-right: 0px;
		    margin-right: -10px;
		}
	}
}

.btn-rg{
	margin: 20px 10px 0 10px;
	float: left;
	cursor: pointer;
}
.heading.customer_title{
	    padding: 0;
	    font-size: 24px;
	    font-weight: 700;
	    height: 50px;
	
	 + p {
	    font-size: 14px;
	    margin-bottom: 25px;
	    line-height: 28px;
	}
	
	.info{
		float: left;
	}

}

/*===============================
=     Voucher Thank You Page    =
===============================*/

.hr-color-chng {
	border-top-color: #d8d8d8;
}

.container-chkbox {
	
}
.voucher_tbl {
	font-size: 14px;
	.container-chkbox {
		display: block;
		position: relative;
		padding-left: 35px;
		margin-bottom: 12px;
		cursor: pointer;
		font-size: 22px;
		margin-right: 24px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
		 &:checked ~ .checkmark {
				background-color: #28cf1c;
				border-color: #28cf1c;
				&:after {
					display: block;
				    right: 6px;
				    top: 3px;
				}
			}	
		}
		.checkmark {
			position: absolute;
			top: 0;
			right: 0;
			height: 20px;
			width: 20px;
			border-radius: 100%;
			border: 1px solid #888;
			background-color: #fff;
		  	margin-right: -22px;
			&:after {
				content: "";
				position: absolute;
				display: none;
				min-width: 5px;
    			min-height: 10px;
				border: solid white;
				border-width: 0 3px 3px 0;
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
			}
		}
	}
    .table>tr>th{
	    border-top: none;
	}
    .col-sm-12{
	    padding-right: 0px;
	}
    .summary-action-menu .align-left{
	    padding-right: 0px;
        margin-right: -15px;
	}
}

.customer_data {
	margin-bottom: 60px;
	font-size: 18px;
	h3 {
		color: #ed0000;
		font-size: 19px;
	    margin-top: 36px;
        font-weight: 600;
	}
	.customer_data_element {
		padding-right: 0!important;
	  	margin-top: 15px;
	    p {
		    font-weight: 600;
		}
	}
    .table {
	    margin-left: 21px;
	}
    th {
	    width: 160px;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.14;
        letter-spacing: 0.1px;
        color: #344252;
	    span {
		    height: 30px;
		}
	  	border-bottom: none;
	  	text-align: right;
	}
    #valid-to {
      width: 360px;
    }
    td {
	    width: 53px;
        height: 30px;
        opacity: 0.7;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.5;
        letter-spacing: 0.1px;
        color: #435464;
	  	vertical-align: middle;
	  	border-bottom: 1px solid #ddd;
	}
    .label-id {
	    width: 160px;
	}
  	.col-sm-2 .button.red-btn{
	  	margin-right: 15px;
	}
  	.container-chkbox input:checked ~ .checkmark:after {
		min-width: 5px;
		min-height: 10px;
	}
}

.gift-thnk{
	h1 {
		font-size: 26px;
		font-weight: 600;
	}
	h4 {
		font-size: 18px;
	    margin-top: 5px;
        height: 29px;
        object-fit: contain;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.61;
        letter-spacing: -0.1px;
        color: #414042;
	}
	.number-green {
		color: #28cf1c;
	}
}

.custData {
	font-weight: 600;
}

.remark-sec {
	margin: 40px 0;
	span {
		margin-bottom: 15px;
		display: inline-block;
	}
	p {
		word-wrap: break-word;
		text-align: justify;	
	}
}
.select-payment-method {
    padding: 10px 0 0;
    border-top: 1px solid;
    border-color: $gray-9;
}
.select-payment-method, .payment-options {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.payment-options {
    padding: 25px 0;
    margin-bottom: 30px;
    display: table;
}
.voucher-options{
	float: right;
}

.voucher-title{
	margin: 0 !important;
}
form.voucher_cust_detail {
	.left-element{
		padding-right:0px;
	}
	.remarks{
		padding-right: 0px;
	}
}