.legacyBody {
	background : #a8a8a8;
	min-width:999px;
	overflow:auto;	
}

#divLegacyRootWrapper {
	width:999px;
	height:690px;
	background-image:url('../images/accelaero/legacy-background_no_cache.gif');
	margin-left:auto;
	margin-right:auto;
	display:block;
}

/* menu Styles */

.menuTopBar {
  background-color: transparent;
  border: 1px thin;
  border-color: #808080 #808080 #808080 #808080;
  padding: 1px 4px;
}
	
.menuBar {
  background-color: #DBDBDB;
  border-width: 0px 1px 2px 0px;
  border-style:solid;
  border-color: #DBDBDB #808080 #808080 #DBDBDB;
  padding: 0px 0px;
}

.menuPad {
  background-color: #DBDBDB;
  border: 2px solid;
  border-color: #FFFFFF #808080 #808080 #FFFFFF;
  padding:4px;
}

.menuItem {
  background-color: transparent;
  border: 1px solid #DBDBDB;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  padding: 3px 6px 3px 6px;
}

.menuTopItem {
  background-color: transparent;
  border-top:1px solid #ECECEC;
  border-right:0px solid #ECECEC;
  border-bottom:1px solid #B7B7B7;
  border-left:0px solid #ECECEC;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 6px 6px 5px;
}

.menuItemOn {
  background-color: transparent;
  border-top:1px solid #FFFFFF;
  border-right:1px solid #808080;
  border-bottom:1px solid #808080;
  border-left:1px solid #FFFFFF;
  color: #000000;
  cursor: default;
  padding: 5px 6px 5px 6px;
}
.menuItemDown {
  background-color: transparent;
  border-top:1px solid #704020;
  border-right:1px solid #FFFFFF;
  border-bottom:1px solid #FFFFFF;
  border-left:1px solid #704020;
  color: #000000;
  cursor: pointer;
  padding: 5px 6px 5px 6px;
  margin-top:1px; margin-left:1px;
  background-color: transparent;
}

.menuItemSub {
  background-color: transparent;
  border: 1px solid #DBDBDB;
  color: #000000;
  cursor: default;
  font-weight: bold;
  padding: 3px 6px 3px 6px;
  border: 1px solid #808080;
  background-color: #808080;
}

.holderSpace {
  border: 1px solid #DBDBDB;
  color: #DBDBDB;
  font-weight: bold;
  padding: 2px 6px 2px 6px;
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}

.menuFont {
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}
.menuFontOff {
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #000000;
}
.menuFontOn {
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #FFFFFF;
}

.menuFontOffBold {
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #000000;
}
.menuFontOnBold {
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #000000;
}
.menuInfo 
{
	padding: 2px 6px 2px 6px; 
}

.tagOn {
	background:url("../images/accelaero/AA125_no_cache.gif") no-repeat scroll center bottom transparent;
	float:right;
	height:12px;
	width:8px;
}
.tagOff {
	background:url("../images/accelaero/AA124_no_cache.gif") no-repeat scroll center bottom transparent;
	float:right;
	height:12px;
	width:8px;
}