@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin opacity($value, $important: false) {
  @if $important == false {
    opacity: $value;
  }
  @else {
    opacity: $value unquote("!important");
  }
}

@mixin transition($properties...){
  -webkit-transition: $properties;
  -moz-transition: $properties;
  -ms-transition: $properties;
  -o-transition: $properties;
  transition: $properties;
}

@mixin delay($seconds){
  -webkit-transition-delay: $seconds; /* Safari */
  transition-delay: $seconds;
}

@mixin box-shadow($x-offset, $y-offset,$color, $blur-radius:"", $spread:"", $inset:"") {
  -webkit-box-shadow:unquote($inset) $x-offset $y-offset unquote($blur-radius) unquote($spread) $color ;
  -moz-box-shadow:unquote($inset) $x-offset $y-offset unquote($blur-radius) unquote($spread) $color;
  box-shadow:unquote($inset) $x-offset $y-offset unquote($blur-radius) unquote($spread) $color;
}

@mixin transform($properties...){
  -webkit-transform: $properties;
  -moz-transform: $properties;
  -ms-transform: $properties;
  -o-transform: $properties;
  transform: $properties;
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}