/* new error msg and popup msg */
a.errorBtn{
	font-family: tahoma;	
	font-size: 11px;
}
.errorBox{
	background:none repeat scroll 0 0 #FFFFCF;
	border:1px solid #F3F376;
	display: block;
	position:relative;
	border-top:0;
	color:#D52821;
	padding:6px;
	width:550px;
	height:25px;
	-moz-border-radius:0px 0px 6px 6px;
}
.errorBox span#errorMSG{
	font-size: 12px;
	opacity:1;font-weight: bold;
	padding:3px 5px 3px 25px;
	width:85%;
	float: left;
	font-family: tahoma;
	font-weight: bold;
}
.Error{background:url(default/images/accelaero/Err_no_cache.gif) no-repeat scroll 3px 3px! important;background-color: transparent;color:#e40505! important;}
.Warning{background:url(default/images/accelaero/Warn_no_cache.gif) no-repeat scroll 3px 3px! important;background-color: transparent;color:#383838! important;}
.Confirm{background:url(default/images/accelaero/Conf_no_cache.gif) no-repeat scroll 3px 3px! important ;background-color: transparent;color:#158502! important;}
.errorClose{
	background: url(default/images/accelaero/newErroClose_no_cache.gif) no-repeat;
	float: right;
	display:block;
	height: 12px;
	width: 12px;
	cursor: pointer;
}
#errorPopup{
	-moz-border-radius:6px 6px 0px 0px;
	border-width:1px;
	border-style:solid;
	border-color:#7d7d7d #555 #555 #7d7d7d;
	background: #fff;
}
#errorPopup .errorPopupHeader{
	-moz-border-radius:6px 6px 0px 0px;
	height: 22px;
	background: #7d7d7d;
	border-right: 1px solid #7d7d7d;
}
#errorPopup .errorPopupHeader span.text{
	float:left;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	margin:3px 8px;
	width:200px;
	color: #fff;
	}
#errorPopup .errorPopupHeader .errorClose{margin: 5px}
#errorPopup .errorPopupButton{background: #e4e4e4;height: 28px;border-right: 1px solid #555;border-top: 1px solid #555}
#errorPopup .errorPopupButton .errorBtn{
	margin: 1px 2px;
	display: block;
	text-align: center;
	outline: none;
	color: #666;
	border:1px solid #e4e4e4;
	padding:5px 3px;
	float: left;
	font-family:tahoma;
	text-decoration: none;
	outline: none;
}
#errorPopup .errorPopupButton .errorBtn span{width:16px;float: left;margin:0px 2px}
#errorPopup .errorPopupButton a:hover.errorBtn{margin: 1px 2px;color: #444;border:1px solid #aaa;background-color:#efefef}
#errorPopup .errorPopupButton a.errorSelected{margin: 1px 2px;color: #444;border:1px solid #aaa;background-color:#efefef}
.errorSep{font-size: 18px;float: left;color: #444}
.showErrors{background:url(default/images/accelaero/Err_no_cache.gif) no-repeat scroll 3px 3px;background-color: transparent;}
.showWarnings{background:url(default/images/accelaero/Warn_no_cache.gif) no-repeat scroll 3px 3px;background-color: transparent;}
.showConfirm{background:url(default/images/accelaero/Conf_no_cache.gif) no-repeat scroll 3px 3px;background-color: transparent;}

#errorPopup .errorPopupbody{
	height: 2px;
	overflow-y:scroll;
	overflow-x:hidden;
	background: #FFF;
	border-right: 1px solid #24609d;
	border-bottom: 1px solid #24609d;
	height: 209px;
	}
#errorPopupTable{background: #fff}
#errorPopupTable .errorBoder{
	font-family: arial;
	font-size: 11px;
	vertical-align: top;
	background-position:2px 2px;
	border-top: 1px solid #e4e4e4;
	padding: 4px;
}
#errorPopupTable .code{font-family: arial;font-size: 11px;font-weight: bold;vertical-align: top}
/* new error msg and popup msg */