<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE taglib PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.2//EN" "http://java.sun.com/dtd/web-jsptaglibrary_1_2.dtd">

<taglib>

	<tlib-version>1.1.1</tlib-version>

	<jsp-version>1.2</jsp-version>

	<short-name>WFUtil</short-name>

	<uri>http://www.isa.com/tags</uri>

	<description>Web Platform Tag Libbary</description>


	<tag>
		<name>hasPrivilege</name>
		<tag-class>com.isa.thinair.webplatform.taglib.HasPrivilegeTag</tag-class>
		<body-content>JSP</body-content>

		<description>
			Check privileges
		</description>

		<attribute>
			<name>privilegeId</name>
			<required>true</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
	</tag>
	
		<tag>
		<name>hasPrivilegeWithFlag</name>
		<tag-class>com.isa.thinair.webplatform.taglib.HasPrivilegeWithFlagsTag</tag-class>
		<body-content>JSP</body-content>

		<description>
			Check privilege and other constraint
		</description>

		<attribute>
			<name>privilegeId</name>
			<required>true</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
	</tag>
	
	<tag>
		<name>scroll</name>
		<tag-class>
			com.isa.thinair.webplatform.taglib.ScrollTag
		</tag-class>
		<body-content>empty</body-content>

		<description>
			enabling/disabling the scrolling depends on the width value
			stored in the session attribute "sesScreenWidth"
		</description>
	</tag>
</taglib>
