<!-- Page Wrapper -->
<section class="page-wrapper registration" ng-controller="registrationCtrl as reg">

    <section class="content-wrapper">

        <!-- Content Body -->
        <div class="content-body">

            <div isa-busy-loader ng-show="reg.isLoaderVisible"></div>

            <!-- Row -->
            <form id="changePasswordForm" novalidate 
            isa-validator-type="ChangePassword" 
            isa-validator-rules="{{reg.formValidation}}"
            name="changePasswordForm"
                  ng-submit="reg.changePassword(changePasswordForm)">

                <div class="reg-form">
                    <!-- Login Info Section -->
                    <section class="section">

                        <h3 class="section-heading">
                                    <span class="heading-text"
                                          translate="{{reg.isPasswordReset ? 'lbl_change_password' : 'lbl_reset_password'}}">
                                        Login Information</span>
                            <small>
                                <span translate="lbl_passenger_mandatory">Mandatory Fields</span>
                                <sup class="red">*</sup>
                            </small>
                        </h3>


                        <div class="reg-content">

                            <div class="row">
                                <div class="col col-sm-6">
                                    <div class="data-input">
                                        <div class="ibe-typeahead">
                                            <div isa-validator>
                                                <label><span translate="lbl_common_email">Email</span> <sup class="red">*</sup>
                                                </label>

                                                <div>
                                                    <input type="text" name="email" class="form-control"
                                                           ng-disabled="true"
                                                           ng-model="reg.customerId">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row" ng-if="!reg.isResetPassword">
                                <div class="col col-sm-6">
                                    <div class="data-input long-error">
                                        <label>
                                            <span translate="lbl_common_password">Password</span>
                                            <sup class="red">*</sup>
                                        </label>

                                        <div >
                                            <div class="ibe-typeahead">
                                                <div isa-validator>
                                                    <input type="password" class="form-control" id="password"
                                                           name="password" ng-model="reg.password">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col col-sm-6">
                                    <div class="data-input long-error">
                                        <label>
                                            <span translate="lbl_common_new_password">New Password</span>
                                            <sup class="red">*</sup>
                                        </label>

                                        <div>
                                            <div class="ibe-typeahead">
                                                <div isa-validator>
                                                    <input type="password" class="form-control" id="newPassword"
                                                           name="newPassword" ng-model="reg.newPassword">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col col-sm-6">
                                    <div class="data-input long-error">
                                        <label>
                                            <span translate="lbl_common_confirm_password">Confirm Password</span>
                                            <sup class="red">*</sup>
                                        </label>

                                        <div>
                                            <div class="ibe-typeahead">
                                                <div isa-validator>
                                                    <input type="password" class="form-control"
                                                           ng-model="reg.confirmPassword" name="confirmPassword"
                                                           is-equal="{{reg.newPassword}}"
                                                           ng-paste="$event.preventDefault()">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </section>


                    <!-- Form submit button -->
                    <div class="row">
                            <div class="col col-sm-3 col-xs-6 pull-left">
                            <button
                                    id="update"
                                    class="button red-btn"
                                    type="submit" translate="{{reg.isPasswordReset ? 'lbl_change_password' : 'lbl_reset_password'}}">
                                Change Password
                            </button>
                        </div>
                        <div class="col col-sm-3 col-xs-6 " >
                                <button id="back-dashboard" class="button red-btn" type="button"
                                        ng-click="reg.backToDashboard()">Back
                                </button>
                      </div>
                    </div>

                </div>

            </form>

        </div>
        <!-- // Inside Content -->


        </div><!-- // Row -->

        </div><!-- // Content Body -->

    </section>
    <!-- // Page Wrapper -->
</section>
