.credit-history{
    .content-wrapper{
        .content-body{
            .mrt-row{
                .credits-row{
                    border-top:1px solid #ddd; 
                    border-bottom: 1px solid #ddd;
                    padding: 10px 0px;
                    .credits-col{
                        padding: 12px 16px 12px 30px;
                        .credits-airline-fullname{
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: inline-block;
                        }
                
                    }
                }
            }
        }
    }
}