.auto-height{
	height: auto !important;
}
.xs-height-class{
	height: 65px !important;
}
.xs-priceinfoblock{
    padding-right : 15px !important;
}
@media only screen and (min-width:768px) and (max-width: 992px) {
    .drawer-airport-name{
        font-size: 12px !important;
        line-height: 13px !important;
    }
    .icon-plane-shape{
        font-size:25px !important;
    }
    .xs-price-info-block {
        padding-right : 30px !important;	
    }
    .xssm-curval{
    }
    .xssm-top-curval{
    }	
    .price-info-block{
        .sub-total{
            .currency-value{
                //top: 6px;
                position: relative;
            }
        }
    }
    .xs-sum-close-btn{
        top : -5px !important;
    }
    .payment-confirmation {
        .content-header{
            //margin-top:-15px !important;
            .thanks{
                //margin-top:-15px !important;	
            }
            .inpage-alert{
                //text-align:center !important;
            }
        }
    }

    .sm-summary-sections{
        .sm-section{
            .content{
                padding-top:8px !important;
            }
        }
    }
    .xs-contactrow{
        margin-top:-10px !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 850px) {
    .flights-info-block {
        padding-right:12px !important;
    }
}
@media only screen and (max-width: 850px) {
    .xs-summary-extraservices, .xs-summary-currency,.currency-text.currency,.currency-value.price {
        //font-size: 14px !important;
    }
}

@media only screen and (max-width: 767px) {
    .xs-maincontainer .xs-ui-margin{
        margin-bottom: 10px !important;
    }
    .xs-totalsection{
        right: 0px;
        position: absolute;
        padding-right: 10px !important;
        width: auto !important;
        .xs-drawer-bar-title {
            margin-top: 2px !important;
            font-size: 1.4rem !important;
        }
        .xs-summary-currency{
            margin-top: 10px !important;
            span {
                font-size: 1.4rem !important;
            }
        }
    }
    .xs-disclaimer{
        padding-right : 15px !important;
    }
    .cm-footer{
        margin-top:0 !important;	
    }
    .mod-summary-drawer{
        overflow-y: auto !important;
        .drawer-desc {
            top: 100px !important;
            padding-left: 10px !important;
            //overflow-y: auto !important;
            .flight-info-scroll{
                .flights-info-block {
                    /*padding-right: 5px;*/
                }
            }
            .flight-info-scroll::-webkit-scrollbar {
                display: none;
            }
            .xsflight-info-scroll{
                padding: 0 !important;
            }
        }
    }

    .summary-drawer-overlay{
        top:120px !important;
        height: auto !important;
    }
    .xs-summaryheight-full{
        .drawer-desc{
            overflow-y:auto !important; 	
            max-height:80vh;
            padding-left: 10px !important;
            padding-right: 0px !important;
            padding-bottom: 15px !important;
            padding-top: 15px !important;
            .flight-info-scroll{
                margin-left: 0px;
                margin-right: 0px;
                .flights-info-block{
                    padding-right: 0 !important;
                    padding-left: 0 !important;
                    .flight-block{
                        margin-left: 0 !important;
                        margin-right: 0 !important;
                        padding-bottom: 0 !important;
                    }
                    .sector-details:last-child{
                        div{
                            margin-bottom: 3px !important;
                        }
                    }
                }
                .price-info-block{
                    padding-right: 15px !important;
                }
            }
            #flight-info-scroll{
                >hr{
                    margin: 10px 0 !important;
                }
            }
        }
    }
    #xs-summary-createflow{
        h2 >span{
            font-size: 1.8rem !important;
        }
        >.container{
            width: 100vw !important;
            margin-left: -10px !important;
            padding: 0 10px 0 10px !important;
            .flights-info-block{
                padding-right: 15px !important;
                padding-left: 15px !important;
            }
        }
    }
    .xs-summary-drawer{
        background-color : #e8e8e8 !important;
        .drawer-bar{
            .container{
                display:flex;
                height:55px !important;
                border-top: 3px solid $primery_color !important;
                .xs-summary-justify{
                    >span,.xs-summary-currency{
                        height:40%;
                        line-height:1;
                        display:flex;
                        margin-top:5px !important;
                        .currency-value{
                            padding-left: 3px !important;
                        }
                    }
                }
                .xs-totalsection{
                    .drawer-bar-title{
                        font-size:1.4rem !important;
                        margin-top: 4px !important;
                    }
                    .price-block{
                        font-size:1.4rem !important;
                    }
                }
                .symbol{
                    position:absolute;
                }
                >a{
                    position:absolute;
                    left:46% !important;
                }
                .col-xs-4 .drawer-bar-title{
                    max-width: 90% !important;
                    text-overflow: ellipsis;
                    overflow: unset;
                    white-space: unset;
                }
            }	
        }
    }
    .xs-symbol-div{
        text-align: left;
        padding : 0 !important;
        top:4px;   
        left:10px;
    }
    .RTL {
        #travelfare-summary-bottom{
            .flight-info-scroll {
                display: flex;
                flex-direction: column;
            }
            .summary-modify-button{
                margin-bottom: 0px !important;
            }
            .price-info-block{
                hr{
                    margin-top: 5px;
                }
            }
            .flight-summary-bloc-continue{
                .copyright{
                    padding-right:0px;
                }
            } 
        } 
        .flight-result-block{
            .flight-selected-icon{
                left: 15px;
                right:auto!important;
            }
            .flight-data-row{
                .flightDuration{
                    padding-right: 0px;
                }
            }
            .fare-and-services-body{
                .fare-and-services-mobile-container{
                    .fare-and-services-mobile-select-section{
                        padding-right:0px;
                        padding-left: 8px;
                        .checkBox-container{
                            text-align: left;

                        }
                        .currency-text-container{
                            text-align: left;
                        }
                    }
                    .fare-and-services-mobile-extra-item{
                        padding-left:0px;
                        padding-right: 10px;
                        .bagagge-rate-container{
                            padding-right: 2px;
                        }
                    }
                  
                }
            }
        }   

        .xs-plus-symbol-div{
            padding-left: 10px !important;
            padding-right: 15px !important;
        }
        #xs-summary-drawer .drawer-arrow-top{
            margin-right: 45% !important;
        }
        .xs-summaryheight-full .drawer-desc{
            overflow-x: hidden !important;
            overflow-y: scroll !important;
        }
        .xs-eq-symbol-div{
            right: -45px !important;
        }
        .xs-symbol-div{
            left:20px;
        }
        #xs-summary-createflow{
            h2 >span{
                font-size: 1.8rem !important;
            }
            >.container{
                .flights-info-block{
                    padding-left: 10px !important;
                    padding-right: 15px !important;
                }
                .xs-priceinfoblock{
                    >div:not(.xs-section-line){
                        padding-left: 10px !important;
                        padding-right: 0px !important;
                    }
                }
            }
        }
    }
  

    .xs-plus-symbol-div{
        width: auto;
        padding-right: 15px !important;
        padding-top: 4px !important;
    }
    
    .xs-eq-symbol-div{
        padding:0 !important;
        top:4px;
        text-align: left;
        right: 15px !important;
    }
   

    .xs-summary_of_your_sel{
        text-align : left !important;
        margin-bottom: 20px !important;
        padding-left: 15px;
        padding-right: 15px;
    }
    .xs-sum-close-btn{
        top : -10px !important;
    }

    .xssm-p-b-15{

        padding-bottom : 15px !important;
    }
    .xs-p-t-15{
        padding-top : 15px !important;
    }
    .xs-fs-12{
        font-size : 1.2rem !important;
    }
    #totalPricePayment{
        width: auto !important;
        height: 36px;
        font-weight: 600 !important;
        letter-spacing: -0.1px;
        padding-top: 0 !important;
        margin-top: 5px !important;
        >span{
			font-size: 1.4rem !important;
            font-weight: 800;
            margin-top: 5px !important;
            vertical-align: middle;
        }
        span:nth-child(2){
            float: right;
        }
    }
    #paymentH2 >h2{
        margin-top: 25px;

    }
    #lPayment{
        width: 55%;
        font-weight: 800;
        font-size: 1.4rem !important;
        // margin-top: 15px !important;
        padding-top: 0 !important;
        margin-top: 10px !important;
        margin-bottom: 0 !important;
        vertical-align: middle;
    }


    .LTR .summary-drawer .drawer-desc {
        .modify-search-link {
            text-decoration: underline;
        }

        .flight-info-scroll .flights-info-block .sector-details .sector-flight-info 
        .flight-block h4,{
            font-size: 1.2rem !important;
            font-weight: 700;
        }
        .departure-arrival label i{
            font-size: 1rem !important;
        }
    }
    #xs-summary-drawer {
        .drawer-arrow-top {
            top: 0px;
            margin-left: 51%;
        }
        .drawer-bar{
            border-top: none !important;
        }
    }
    #xs-mobile-drawer{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        >a{
            .xs-drawer-arrow{
                max-height: 11px !important;
                top: -14px !important;
                left: 0 !important;
                margin-left: 0 !important;
                right: unset !important;
                >span{
                    position: absolute !important;
                    right: 7px !important;
                    top: -1px !important;
                    font-size: 1.2rem !important;
                }
            }
        }
        .drawer-bar-col {
            height: 35px;
            margin-top: 5px;
            display: inline-table !important;
        }
    }

    .LTR .summary-drawer .drawer-desc .flight-info-scroll .price-info-block,
    .LTR .reservation-drawer .drawer-desc .flight-info-scroll .price-info-block{
        padding-top: 0 !important;
    }


}
@media only screen and (max-width: 500px) {

    .xs-totaltxt{
        margin-right:4px;
    }
    .xs-totalsection{
        margin-top : 2px;
    }
    .xs-summary-justify {
        text-align: justify !important;
    }
    .xs-drawer-bar-title {
        font-weight: 600 !important;
    }
    .xs-summary-extraservices, .xs-summary-currency,.currency-text.currency,.currency-value.price {
        font-size: 1.2rem;
    }
 
    .flight-result-block{
        .fare-and-services-wrapper{
            margin-bottom:10px;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.11); 
        }
        .fare-and-services-body{
            table{
                &.fare-and-services-mobile-container{
                    display: flex;
                    tbody{ 
                    width:100%;
                        tr{
                            height: 100%;
                            width: 100%;
                            display: flex;

                        }
                        .fare-and-services-mobile-header{
                            width:50%;
                            padding-top: 11px;
                            background-color: #4E4E4E;
                            color: #fff;
                            text-align: center;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            div{
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;  
                            }
                        }
                        
                        .fare-and-services-mobile-extra-item{
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            width: 100%;
                            height: 100%;
                            padding: 15px 0px 10px 12px;
                            .bagagge-rate-container{
                                margin-top: 0px;
                            }
                            .fare-description{
                                overflow: hidden;
                                display: -webkit-box;
                                -webkit-line-clamp: 3;
                                -webkit-box-orient: vertical;
                                span{
                                    font-size: 10px;
                                    color: #4a4a4a;
                                    overflow: hidden;
                                }
                               
                            }
                        }
                        .fare-and-services-mobile-select-section{
                            background-color: #fff!important;
                            min-width: 26%;
                            padding-top: 13px;
                            padding-right: 8px;
                            padding-bottom: 8px;
                            text-align: right;
                            .checkBox-container{
                                margin-bottom: 25%;
                            }
                            .currency-value.fare-value{
                                &.fare-flight-currency-number{
                                    font-size: 14px!important;
                                    font-weight: 600!important;
                                }
                            }
                            .currency-text.currency.fare-and-services-footer-currency-text{
                                &.fare-flight-currency-text{
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
  
    .flights-info-block, .price-info-block {
        width: 100% !important;
        /*padding-left: 8px;
        padding-right: 8px;*/
    }
    .div-plain-icon {
        padding: 0 !important;
        width: 36px;
    }
    .div-info {
        /*padding-left: 8px !important;*/
        h4 {
            //font-size: 13px !important;
            > .fare-type {
                font-size: 1rem !important;
            }
        }
    }
    .flight-time {
        width: 100% !important;
        font-size: 1.2rem !important;
    }
    .price-info-block > h2 {
        font-size: 1.8rem !important;
        text-align: left;
    }

    .drawer-desc {
        div.btn-continue{
            padding-left:0 !important;
        }
    }
}
@media only screen and (max-width: 320px) {
    .mod-summary-drawer{
        overflow-y: auto !important;
        top:145px !important;
        .drawer-desc {
            //top: 0px !important;
            //overflow-y: auto !important;
            .flight-info-scroll{
                .flights-info-block {
                    /*padding-right: 5px;*/
                }
            }
            .flight-info-scroll::-webkit-scrollbar {
                display: none;
            }
        }
    }
}
@media only screen and (min-width: 768px){
    .RTL .summary-drawer .drawer-desc .flight-info-scroll .price-info-block span.pull-right.in-detail .currency-text.currency,
    .RTL .reservation-drawer .drawer-desc .flight-info-scroll .price-info-block span.pull-right.in-detail .currency-text.currency{
        padding-right: 5px !important;
    }
}

