.sub-title h2 {
    span:last-child > span {
        position: relative;
        /*top: 0 !important;*/
    }
    i {
        min-width: 32px !important;
    }
}

.sub-title .ico {
    /*margin-top : 8px;
    margin-left: 5px;*/
}

.xs-gotonextsector{
    margin-top : 5px !important;
} 

@media only screen and (max-width: 865px) {
    .widget-content {
        .sub-section span {
            font-size: 11px !important;
            margin-top: 3px;
        }
        .radio label {
            font-size: 13px !important;
        }
    }
    .sub-title h2 i {
        min-width: 30px !important;
    }
    .widget-header span {
        font-size: 14px !important;
    }
}

@media only screen and (max-width: 767px) {
	.dropdown-content .col:hover{
	    background-color:unset !important;
	    .weight{
	    	color:#333 !important;
	    }
	}
    .baggage-page-title span, .baggage-page-sub-title {
        max-width: 100% !important;
        width: 100% !important;
        text-align: center;
    }
    .baggage-page-title span {
        font-size: 1.6rem !important;
        /*padding-left: 11%;*/
    }
    .baggage-page-title {
        > h1 > span {
            font-size: 2.1rem !important;
        }
    }

    .baggage-page-sub-title{
        margin-top : 10px;
    }
    .sub-title {
        a {

        }
        h2 {
            span:last-child > span {
                position: relative;
                top: 5px !important;
            }
        }
        > span ,label,i{
            font-size:1.3rem !important;
        }
        > p {
            >span{
                font-size:1.8rem !important;	
            }
        }
    }
    .sidebar {
        padding-left: 0 !important;
        padding-right: 0 !important;
        font-size: 1.2rem !important;
    }
    .widget-header span {
        font-size: 1.8rem !important;
        font-weight: 400 !important;
    }
    .heading-title {
        font-weight: 600;
        text-align: center !important;
    }
    .xs-baggage-edit .weight {
        font-size : 1.5rem !important;	
    }
    .options-section .ico {
        font-size : 1.6rem !important;
    }
    .package-block:last-child{
        margin-bottom: 0 !important;
        border:none !important
    }
    .package-block .row {
        .col{
            font-size: 1.2rem !important;
            min-height: 1px !important;
        }
        .weight-section, .options-section{
            direction: ltr;
            padding-top: 18px !important;
            padding-bottom: 18px !important;
            >span{
                margin-bottom: 0 !important;
                font-size: 1.2rem !important;
                font-weight: 600 !important;
            }
        }
        .main-section{
            padding: 15px 0 !important;
            .title{
                margin-bottom: 0 !important;
                margin-top: 3px !important;
            }
            span{
                font-size: 1.2rem !important;
            }
        }
        .weight-section{
            /*text-align: right !important;*/
            padding-right: 0 !important;
            /*width: auto !important;*/
        }
        .dropdown-content{
            position: relative !important;
            top: 0 !important;
            width: 100vw !important;
            margin-left: -10px !important;
            max-height: 76px !important;
            top: 0 !important;
            .row >div.selected{
                border: 2px solid black !important;
                .price{
                    font-weight: 500 !important;
                    color: $primery_color !important;
                }
            }
            .row .xs-baggage-edit{
                max-height: 76px !important;
                padding-top: 10px !important;
                .fare-radio >label{
                    width: 16px !important;
                    float: none !important;
                }
                .weight{
                    margin-bottom: 0 !important;
                    font-size: 1.4rem !important;
                    >i{
                        font-weight: 500 !important;
                    }
                }

                .row > div:not(.selected){

                    .price{
                        font-weight: 500 !important;
                        color: $black !important;
                    }
                }
                .fare-radio >.checked{
                    background-image: url(../images/selected.svg) !important;
                    width: 16px;
                    float: none;
                }
            }
        }
    }
    .edit-mobile{
        >span{
            padding-left: 15px !important;
            padding-right: 10px !important;
        }
    }
    .extras-header{
        .content-header{
            padding-bottom: 0 !important;
            .page-title{
                >h1{
                    >a{
                        font-size: 1.2rem !important;
                        color: #414042 !important;
                        font-weight: 600 !important;
                        text-decoration: none !important;
                    }
                }
            }
        }
    }
    .LTR {
        .package-block .row {
            .options-section{
                text-align: right !important;
                max-width: 24% !important;
            }
            .options-section.active{
                position: absolute;
                right: -10px !important;
                width: auto !important;
                padding: 18px 10px !important;
                max-width: 30% !important;
            }
        }
        .edit-mobile > span{
            padding-right: 0 !important;
        }
    }
    .RTL .package-block .row {
        .options-section{
            /*position: absolute !important;*/
            width: auto !important;
            max-width: 24% !important;
            text-align: left !important;
            .txt{
                padding: 0 !important;
            }
        }
        .options-section.active{
            position: absolute;
            left: -10px !important;
            width: auto !important;
            padding: 18px 10px !important;
            max-width: 30% !important;
        }
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 835px) {
    .LTR .sidebar-widget .widget-content .w-section .radio-section .item .sub-section ul li{
        font-size : 11px;
    }
    .baggage-sidebar span{
        font-size:13px !important;
    }
}
@media only screen and (min-width: 768px){
    .RTL .extras-footer .baggage-footer{
        span{
            margin-left: 5px !important;
        }
        i{
            padding-left: 0 !important;
        }
    }
}