.backClass{
    font-size: 15px;
}
@media only screen and (max-width: 500px) {
    .LTR header {
        height: 140px;
    }
    .xs-extra-btnwrap {
        padding: 0 10px 0 0 !important;
        margin-top: 10px;
    }
    .xs-options-heading{
        font-size: 1.5rem !important;
    }
}
@media only screen and (min-width: 768px){
    .sidebar-widget .widget-content .w-section .radio-section .item .radio label{
        padding-top: 5px !important;
    }
}
@media only screen and (min-width: 992px){
    .LTR .content-header .page-title h1 {
        width: 100%;
        font-size: 24px;
        font-weight: 700;
        float: left;
        margin: 0;
        padding: 0 15px 0 0;
    }
    .LTR .content-header .page-title h1 {
        line-height: 30px!important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .services-selection .right-section{
        .sm-margin-r-0{
            margin-right:0 !important;
        }
    }
    .extras-option-list{
        padding-right: 10px !important;
    }
    .extras-button{
        padding-right: 10px !important;
    }
}
@media only screen and (max-width: 767px) {
	.xs-row{
		margin-left: -15px;
		margin-right: -15px;
	}
    .segm-space{
        margin-bottom: 10px !important;
        padding-bottom: 8px !important;    
    }
    .segm-space:last-child{
        border-bottom: 0px !important;
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;    
    }


    .xs-modifyExtra-fa{
        vertical-align: text-top;
        margin-top: -2px !important;
    }
    .res-summary-extras{
        .row{
            .xs-modification-extras-heading{
                h2{
                    margin-bottom:10px !important;
                    font-size: 1.2rem !important;
                }
                //font-weight:600 !important;
            }
        }

    }
    .extras-xs-body > .row{
        margin-left: -10px !important;
        margin-right: -10px !important;
    }
    uib-accordion.segment-list{
        &.pref-meal-panel{
           .panel-group{
               .panel-default{
                   .panel-heading{
                       height: 40px;
                       .panel-title{
                           font-size: 12px;
                           i{
                               &.fa.fa-plus,
                               &.fa.fa-minus{
                                font-size: 12px !important;
                               }
                           }
                       }
                   }
               }
           }
        }
        >.panel-group >.panel{
            margin-top: 0 !important;
            border-bottom: 2px solid white !important;
        }
        >.panel-group >.panel:last-child{
            border-bottom: none !important;
        }
        .panel-heading{
            height:60px;
            padding-left: 10px;
            padding-right: 10px;
        }
        .panel-body{
            width: 100%;
        }

        .panel-default>.panel-heading+.panel-collapse .panel-body:not(.paxList){
            padding: 0 10px 0 10px !important;
            /*            padding-bottom: 10px !important;*/

        }
        /*        .panel-body{
                    border:none !important;
                    padding:0 !important;
                }*/
        .panel-title{
            line-height:40px;
            a.accordion-toggle{
                text-decoration: none !important;
            }

            a span div i.fa{
                font-size: 2.3rem !important;
                font-weight: 400 !important;
                vertical-align: text-bottom !important;
            }
        }

        .panel-group{
            margin-bottom: 0px !important;
            /*            .panel-open{
                            .panel-heading{
                                background-color: transparent !important;
                            }
                        }*/
            .panel .panel-heading .panel-title{
                >a{

                    >span{
                        >div{
                            color: $black !important;

                            >span{
                                .origin-dest-name{
                                    font-weight: 600 !important;
                                }

                                padding-left: 10px !important;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }
    .LTR .addon-inflight-panel{
        width: 100vw !important;
    }
    .RTL .addon-inflight-panel{
        width: 100vw !important;
    }
    .services-selection .right-section{
        .xs-margin-r-0{
            margin-right:0 !important;
        }
        .airport-service-form{
            .form-group{
                margin-bottom:10px !important;

            }

            .form-group.ibe-timepicker > label{
                padding-top:0 !important;
            }
        }

        padding: 15px !important;
        margin-left: 0 !important;
        border: 0 !important;

        .available-services{
            ul li .data{
                padding-left:0 !important;
                >input{
                    margin-left:2px;
                }
            }
            margin:0 !important;
            >h2{
                text-align:left;
            }
        }
    }
    /*    .extras-content .extras-main-item:last-child{
            border-bottom:none !important;
        }*/
    #extras-footer{
        margin-top:15px !important;
    }
    .content-footer.extras-footer{
        margin-top:0 !important;
        padding-bottom:0px !important;
    }
    .xs-addonheader-text {
        font-size: 1.8rem !important;
        padding: 0 !important;
        font-weight: bold !important;        
    }
    .LTR header {
        height: 140px;
    }
    .xs-extra-btnwrap {
        padding: 0 10px 0 0 !important;
        margin-top: 10px;
    }

    .services-selection .right-section{
        .xs-margin-r-0{
            margin-right:0 !important;
        }
        .airport-service-form{
            .form-group{
                margin-bottom:10px !important;

            }

            .form-group.ibe-timepicker > label{
                padding-top:0 !important;
            }
        }

        padding: 15px !important;
        margin-left: 0 !important;
        border: 0 !important;

        .available-services{
            ul li .data{
                padding-left:0 !important;
                >input{
                    margin-left:2px;
                }
            }
            margin:0 !important;
            >h2{
                text-align:left;
            }
        }
    }
    /*    .extras-content .extras-main-item:last-child{
            border-bottom:none !important;
        }*/
    #extras-footer{
        margin-top:15px !important;
        margin-bottom:5% !important;
        .red-btn{
            font-weight: bold !important;
        }
    }
    .content-footer.extras-footer{
        margin-top:0 !important;
        padding-bottom:0px !important;
    }
    .LTR header {
        height: 140px;
    }
    .xs-extra-btnwrap {
        padding: 0 10px 0 0 !important;
        margin-top: 10px;
    }
    .LTR .skip-service{
        width: 50% !important;
        position: fixed !important;
        right: 10px !important;
        top: 70px !important;
        z-index: 9999 !important;
    }
    .RTL .skip-service{
        position: fixed !important;
        right: unset;
        left:0px;
        top: 70px !important;
        z-index: 9999 !important;
        width:50%;
        height: 45px
    }
    .RTL .extras-container{
        margin-top: 0px !important;
    }
    .xs-extra-container-row{
        margin-left: -10px !important;
        margin-right: -10px !important;
        .extras-content{
            padding-left: 10px !important;
            padding-right: 10px !important;
            margin-top: 0 !important;
        }
    }
    .extras-main-item{
        padding-right: 5px !important;
        padding-left: 5px !important;
        .xs-main-row{
            padding-left: 5px !important;
            padding-right: 10px !important;
            .xs-options-heading{
                font-size: 1.8rem !important;
                padding-left: 0 !important;
                font-weight: 600 !important;
                color: $black !important;
            }
            .xs-price-row{
                color: $primery_color !important;
                font-weight: 600 !important;
                width: auto !important;
                float: none;
                .xs-options-price{
                    font-size: 1.8rem !important;
                    padding-bottom: 5px;
                    >span{
                        font-size: 1.8rem !important;
                    }
                }
            }
        }
    }
    .xs-options-descrption{
        color: $black !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .summery-panel-header{
        >div >label{
            font-weight: 600 !important;
        }
    }
    .summery-panel-content{
        padding-left: 0 !important;
        padding-right: 0 !important;
        font-size: 1.2rem !important;
        line-height: 1.5 !important;
    }
    .segment-row-xs{
        padding-left: 0 !important;
        padding-right: 0 !important;
        .confirmed{
                margin-top: 15px !important;
                color: #7ed321;
                display: inline-block;
                margin-right: 5px;
                margin-left: 5px;
                font-size: 1.4rem !important;
                width: 14px;
                height: 14px;
        }
    }
    .xs-options{
        padding-right: 0 !important;
        >.opt-btn{
            padding-right: 0 !important;
            padding-left: 0 !important;
            >span{
                padding-right: 5px !important;
                padding-left: 5px !important;
                width: 90% !important;
                overflow: hidden !important;
            }
            >i{
                width: 10% !important;
                position: absolute !important;
                top: 0 !important;
                font-size: 1.6rem !important;
                margin-left: 0 !important;
                right: 0 !important;
            }
        }
    }
    .xs-select-add{
        //padding-left: 0 !important;
        padding-right: 0 !important;
        .xs-options{
            width: 50% !important;
            overflow: hidden !important;
        }
    }
    .xs-add-btn-class{
        height:43px !important;
        width:60px !important;
        background-color: $secondery_color !important;
        font-weight: bold !important;
        >span{
            color : #ffffff;
            font-size : 14px;
            display : inline-block;
            max-width: 35px;            
        }
        >i {
            margin-top:3px;
            color:#ffffff;
            font-size: 14px;
            display: inline-block;
        }
    }
    .RTL .xs-add-btn-class{
       .fa-angle-right:before {
                content: "\f104";
        }
    }
    .xs-sum-contentwrapper{
        margin-top: 0 !important;
    }
    .summery-panel{
        >.row{
            line-height: 14px !important;
        }
    }
    .btn-continu-bottom{
        padding-left: 10px !important;
        padding-right: 10px !important;
        .red-btn{
            font-weight: bold !important;
        }
    }
    .LTR .extra-pd{
        padding-left: 10px;
    }
    .RTL .extra-pd{
        padding-right: 10px;
    }
    .RTL .page-title{
        padding: 0px !important;
    }
    #airport-services-list{
        /*        .panel{
                    width: 100vw !important;
                    margin-left: -10px !important;
                }*/
        .paxList{
            .panel{
                margin-left: 0 !important;

            }
        }
    }
    .btn-continu-bottom-inflight{
        padding-left: 10px !important;
        padding-right: 10px !important;
        .red-btn{
            font-weight: bold !important;
        }
    }
    .btn-continu-bottom-airport{
        padding-left: 0 !important;
        padding-right: 0 !important;
        .red-btn{
            font-weight: bold !important;
        }
    }
    .airport-sidebar{
        .sidebar-widget{
            .isa-radio-option-list-wrapper{
                .widget-header{
                    padding-right: 0 !important;
                    padding-left: 0 !important;
                }
            }
        }
    }
    .insurance-header{
        h1{
            span{
                width: 100% !important;
                max-width: 100% !important;
                line-height: 1.61 !important;
                letter-spacing: -0.1px !important;
            }
            p{
                text-align: left !important;
                line-height: 1.5 !important;
                font-size: 1.2rem !important;
            }
        }
    }
    .alignLeft{
        display: block !important;
        //margin-bottom: 15px !important;
        line-height: 1.83 !important;
        label{
            font-size: 1.2rem !important;
        }
    }
    .insuranceViewChange{
        display: inline-block !important;
        margin-bottom: 20px !important;
        >table >tbody >tr{
            >td:first-child{
                width: 7% !important;
                height: 50px !important;
                input{
                    height: 20px !important;
                    width: 20px !important;
                }
            }
            >td:nth-child(2){
                width: 93% !important;
            }
        }
        .alignLeft{
            display: inline-block !important;
            margin-bottom: 0 !important;
        }
    }
    .insurance-btn-bottom{
        padding: 0 15px !important;
    }
    #insurance-accordion{
        margin-top: 10px !important;
        margin-bottom: 20px !important;
        >ul{
            >li{
                padding-bottom: 0 !important;  
            }
        }
    }
    #insProductName{
        font-size: 1.4rem !important;
        line-height: 1.36 !important;
        margin: 10px 0 25px 0 !important;
    }
    #insurangeCover{
        >label{
            font-size: 1.2rem !important;
            line-height: 1.83 !important;
        }
    }
    .insurance-price-block{
        float: none !important;
        margin-bottom: 20px !important;
        font-weight: normal !important;
        font-size: 1.8rem !important;
        .pull-right{
            color: $primery_color !important;
        }
    }
    #insurance-modal-popup{
        max-height: 70vh !important;
        margin-left: 10px !important;
        margin-right: 10px !important;
        width: auto !important;
        min-width: 90% !important;
        padding: 20px !important;
        top: 25% !important;
        overflow-y: scroll;
        border-top: 0 !important;
    }
    .extra-content-wrapper {
        margin-bottom: 30px !important;
    }
    .RTL{
        .addon-inflight-panel{
            uib-accordion.segment-list{
                .panel-default>.panel-heading+.panel-collapse .panel-body:not(.paxList){
                    padding-left: 0px;
                    padding-right: 0px;
                }
            }
        }
        .addon-panel > uib-accordion.segment-list{
            .panel-heading{
                padding-left: 0px;
            }
        }
        .addon-inflight-panel > uib-accordion.segment-list{
            .panel-group{
                .panel .panel-heading .panel-title{
                    >a{
                        >span{
                            >div{
                                >span{
                                    padding-left: 0px !important;
                                }
                            }
                        }
                    }
                }
            }
            .paxList{
                .panel-group .panel .panel-heading{
                    margin-left: 0px !important;
                    margin-right: 0px !important;
                    >h4{
                        >a{
                            >span{
                                >div{
                                    font-size: 1.2rem !important;
                                    >i{
                                        font-size: 1.4rem !important;
                                        //padding-left: 3px !important;
                                    }
                                    >label{
                                        padding-left: 20px !important;
                                    }

                                }
                            }
                        }
                    }
                }
            }
        }
        #airport-services-list{
            >.panel-group >.panel{
                width: 100vw !important;
                margin-left: 0px !important;
                margin-right: -10px !important;
            }
        }
        .extra-service-addon > uib-accordion.segment-list {
            .panel-group{
                .panel .panel-heading .panel-title{
                    >a{
                        >span{
                            >div{
                                >span{
                                    padding-left: 0px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
        .extra-service-addon uib-accordion.segment-list .panel-default > .panel-heading + .panel-collapse .panel-body:not(.paxList){
            padding: 0 !important;
        }
        .paxList .panel-group .panel .panel-heading > h4 > a > span > div{
            padding: 0 12px !important;
        }
        .payments{
            .section-line{
                margin-left: 0 !important;
                margin-right: -10px !important;
            }
            .airewards-points{
                border-bottom: none !important;
                border-top: none !important;
                .Would-you-like-to-pay{
                    width: 100% !important;
                }
                span{
                    margin: 0 !important;
                    height: auto !important;
                }
            }
            #airewards-points{
                .Would-you-like-to-pay, .radio{
                    span{
                        line-height: 2.5 !important;
                    }
                }
            }
        }
        .master-card-details{
            .info-mandatory-field-passanger{
                margin-left: 0 !important;
            }
            .payment-card-detail-div{
                .xs-cvv-div .valdr-message{
                    padding-right: 10px !important;
                }
            }
        }
        .insurance-header h1 p{
            float: right !important;
            text-align: right !important;
        }
        .xs-add-btn-class > i{
            transform: rotate(180deg);
        }
    }
}
.sub-title h2 {
    span:last-child > span {
        position: relative;
        top: 4.3px !important;
    }
    i {
        min-width: 40px !important;
    }
}

@media only screen and (max-width: 500px) {
    .meal-page-title span, .meal-page-sub-title {
        max-width: 100% !important;
        width: 100% !important;
        text-align: center;
    }
    .meal-page-title span {
        font-size: 1.7rem !important;
        padding-left: 11%;
    }
}
