.flight-result-block{
  float: left;
  width: 100%;
  clear: both;
  margin: 0 0 40px;

  .flight-block-header{
    h2{
      font-size: 25px;
      span{
        &.place-holder{
          max-width: 150px;
          display: inline-block;
          line-height: 18px;
        }
      }
    }
  }
  .accelAero-slide{

  }
  .flight-options{
    .flight-options-table{
      display: table;
      width: 100%;
      margin-top: 20px;
      &.flight-fares-section{
        margin-top:1px !important
      }
      &.create-flow{
        overflow: visible;

      }
      .options-row{
        position: relative;
        display: table-row;
        &.header{
          .right-section{
            .fare-type-1{
              background-color: $color_variation_3;
            }
            .fare-type-2{
              background-color: $color_variation_4;
            }
            .fare-type-3{
              background-color: $color_variation_5;
            }
            .fare-type-4{
              background-color: $color_variation_6;
            }
            .fare-type-5{
              background-color: $fare_primary_color;
            }

          }
          label{
            text-align: left;
            font-weight: 500;
          }
        }

        .options-td{
          vertical-align: top;
          flex-grow: 1;
          &.nextday-flag{
          }
          &.departure-time-txt{
            line-height: 54px;
          }
          &.arrival-time-txt{
            line-height: 48px;
          }
          &.arrival-time{
            width: 15%;
            padding-left: 20px;
            text-align: left;
          }
          &.fare-types-table{
            width: 60%;
            display: table;
          }
        }
      }
      .header{
        .flight-info{
          padding-left:0px;
        }
      }
    }
    /* busy loader opacity handle in flight table */
    .cg-busy-backdrop{
      opacity:1;
    }
  }

}
.flight-result-block.last-block {
  margin: 0 0 0px;
}

.flight-header-tooltip{
  .tooltip-inner{
    border-radius: 0;
    background-color: #444;
    padding: 1px;
    max-width: none;
  }
}
.flight-result-block {
  .flight-options{
    .options-row.body a .important-info {
      color:$primery_color;
      border-bottom:$primery_color !important;
      span{
        color:$primery_color;
      }
    }
  }
  .flight-icon{
    color:$primery_color !important;
  }
}
@media only screen and (min-width:687px){
  .flight-result-block{
    .flight-options{
      .flight-options-table{
      padding: 0 15px;
      }
    }
  }
}