.RTL{ 
    #xs-summary-drawer {
       .drawer-bar {
          .drawer-arrow {
                right:97.5%;
            }
        }
    }
}
.RTL { 
        .passengers-information {
            .ibe-drop-down {
                .xs-btn-group-class {
                    select {
                        option {
                            direction: rtl;
                        }
                    }
                }
                
            }
        }
}
.right-section-body {
    // width: 35% !important;
}
#single-button .fa{
        padding-right: 15px !important;
        line-height: 2.1;
        
    }
    
.modify-search .valdr-message:not(airwards-registration .valdr-message){
    position: static !important;        
}
.xs-modifysearch-container .container #single-button .fa{
    padding-right: 0 !important;
}

@media only screen and (min-width: 768px) and (max-width: 992px){
	.sm-confirmButtonRowClass{
		margin-top: 50px !important;
	}
	
    .day-fare{
        margin-top:8px !important;
    }
    .RTL .xs-modifysearch-container .container #currency-button, .xs-modifysearch-container .container #single-button{
                padding-right:8px !important;
            }
    .RTL #xs-summary-drawer .drawer-bar .drawer-arrow{
                    right:96.5% !important;
                }           
    .xs-modifysearch-container .container .modify-curr-attr{
        .dropdown-menu {
            margin-bottom: 20px !important;
        }
    }
    .xs-modifysearch-container .container #currency-button > span{
        margin-right: 0 !important;
    }
    .xs-modifysearch-container .container #single-button .fa{
        padding-right: 15px !important;
    }
}
@media only screen and (min-width : 320px) and (max-width : 350px) {
    .left-section {        
        >.flight-data-row .flight-info-detail{            
            .flight-stop-wrapper{               
                .tooltip.top {
                    top: -139px !important;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .flight-options{
        .header{
            margin-left:0 !important;
            .left-section{
                padding-left:0 !important;
            }
        }
    }

    .right-section-header{
        .class-fare{
            height:auto !important;
        }
    } 
    .xs-modifysearch-container .container #currency-button .currency-down{
        padding-top: 13px;
    }
    .flight-select-payment-option{
        margin-top: 10px;
        .payment-option-text{
            width: auto !important;
        }
        .payment-logo-group{
            line-height: 4;
            margin-top: -15px;
            margin-left: 20px;
        }
    }    
}
@media only screen and (min-width: 970px) {
      .RTL #single-button .fa{
        float: left;
    }
     .LTR #single-button .fa{
        float: right;
    }
    .xs-modifysearch-container {
        border:none !important;
        h2.ng-binding{
            font-size:20px !important;
            padding-top: 20px;
        }
        .container {
            .radio:first-child{
                margin-left:0 !important;
            }
            .close-btn{
                padding-right:0 !important;
                font-size:17px !important;
            }

            #currency-button,#single-button{
                padding-right:0 !important;
                padding-left:8px !important;
                .fa{
                    margin-right: 15px;
                    font-size:23px;
                }
            }
        }
    }
    .RTL {
        .ibe-date-picker .departure-span-modify-search{
               left:0px !important;
            }
            .xs-modifysearch-container .container #currency-button, .xs-modifysearch-container .container #single-button{
                padding-right: 8px !important;
            }
        
        }
    .xs-modifysearch-container .container .modify-curr-attr .dropdown-menu{
        height: 110px;
    }
}
@media only screen and (max-width: 969px) {
    .left-section-body {
        //width: 73% !important;

        /*padding-right: 15px !important;*/
    }
    .more-fly-class{
        width:100%;
        a{
            width:50px;
            margin:0 auto;
        }	
    }

    .xs-modifysearch-container {
        border:none !important;
        h2.ng-binding{
            font-size:18px !important;
            //padding-top: 20px;
        }
        .container {
            .radio:first-child{
                margin-left:0 !important;
            }
            .close-btn{
                padding-right:0 !important;
                font-size:12px !important;
            }
            #currency-button,#single-button{
                padding-right:8px !important;
                padding-left:8px !important;
                .fa{
                    margin-right: -15px;
                    font-size:23px;
                }
            }
        }
    }

    .flight-info {
        text-align:center;
    }
}

.ibe-date-picker{
    p{
        margin: 0px !important
    }
    #search-departure-date,
    #search-arrival-date{
        border-right-color: gray !important;
    }

    #arrival-date-search-flight,#departure-date-search-flight{
        background-color:transparent !important;
        border-color: transparent !important;
    }
    .departure-span-modify-search{
        position: absolute;
        width: 100%;
        left:2px;
    }
}


@media only screen and (max-width: 767px) {
/*    .RTL #xs-summary-drawer .drawer-bar .drawer-arrow{
                    right:60% !important;
                }*/
    .tooltip{
        /*position: relative;*/
    }
    .notavailable{
        width: inherit !important;
        color: #333 !important;
    }
    
    .flight-result-block .flight-options .options-row.body a .fare-col .not-fare{
        padding-top:10px !important;   
    }
    #single-button .fa{
        padding-right: 0 !important;
    }
    .extra-modify-search{
        .xs-modifysearch-container {
            .container {
                margin-bottom: 175px !important;
            }
        }
    }

    //.travel-modify-search{
        .xs-modifysearch-container {
            .container {

                margin-bottom: 175px !important;
            }
        }
    //}
    .xs-ibe-date-picker{
        p.input-group{
            width:100% !important;
        }
    }

    .xs-modifysearch-container {
        border:none !important;
        height: 85% !important;
        overflow-y: auto;
        padding : 0 !important;
        margin-top:0px !important;
        top: 90px !important;
        background-color: #f5f5f5 !important;
        h2.ng-binding{
            font-size:1.8rem !important;
        }
        .container {
            top: 35px !important;
            margin-top : 0 !important;
            .modify-attr{
                div{
                    padding-left:0 !important;
                    padding-right:0 !important;
                    max-height: 110px;
                }
            }
            .modify-curr-attr{
                margin-top: 15px !important;
                >div{
                    min-height: 90px !important;
                }
                .dropdown-menu {
                    height: 165px !important;
                }
            }



            #currency-button,#single-button{
                padding-right:8px !important;
                padding-left:8px !important;
                .fa{
                    margin-right: 0;
                    font-size:2rem;
                }
            }
            .triptype{
                padding-left:0 !important;
                padding-right:0 !important;
                .radio{
                    label{
                        font-size:1.4rem !important;
                    }
                }
            }
        }

        .passenger-count-select{
            #pax-picker{
                .dropdown-box{
                    left:0 !important;
                    right:0 !important;
                    top:75px;

                    p.age-text{
                        text-align: left !important;
                        font-size: 1rem !important;
                    }

                    .col-section-0 {

                        >*{
                            padding-left: 10px !important;
                            padding-right: 10px !important;
                        }
                        label,p.age-text{
                            text-align: center !important;
                        }

                        ul.controll{
                            margin-left: 15% !important;
                            li{
                                i{
                                    float:left;
                                }
                            }
                        }

                        input{
                            padding-right:10% !important;
                        }
                    }
                    
                    .col-section-1 {
                        >*{
                            padding-left: 10px !important;
                            padding-right: 10px !important;
                        }
                        label,p.age-text{
                            text-align: center !important;
                        }

                        ul.controll{
                            margin-left: 15% !important;
                            li{
                                i{
                                    float:left;
                                }
                            }
                        }

                        input{
                            padding-right:10% !important;
                        }
                    }

                    .col-section-2{
                        >*{
                            padding-left: 10px !important;
                            padding-right: 10px !important;
                        }
                        label,p.age-text{
                            text-align: center !important; 
                        }
                        ul.controll{
                            padding-right: 18% !important;
                            padding-left: 5% !important;
                            li{
                                padding-right: 10% !important;
                                i{
                                    float:right;

                                }
                            }
                        }
                        input{
                            padding-left:6% !important;
                        }
                    }

                    div.col-xs-4{
                        max-height:90px;
                        ul.controll{
                            top:-27px;
                            position:relative;
                            li,li:hover{
                                background-color: transparent !important;
                                i{
                                    font-size: 2rem !important;
                                    font-weight: normal !important;
                                }
                            }

                            visibility: visible !important;
                        }
                    }
                }
                .done-btn{
                    top: 92px !important;
                    right: 0px !important;
                }
            }
        }
    }
/*    .RTL{ 
        .flight-result-block{
            margin:35px 0 0 0 !important;
        }
    }*/
	 .flight-result-block .flight-options .flight-options-table .options-row .options-td.departure-time-txt{
	    line-height:normal !important;
	    min-height:30px !important;
	    max-height:55px !important;
	   // padding-top:0  !important;
	}
	.flight-result-block .flight-options .flight-options-table .options-row .options-td.arrival-time-txt{
	    line-height:normal !important;
	    min-height:30px !important;
	    max-height:55px !important;
        padding: 0px 0px 0px 10px !important;
	}
        #accordion-section-0 div:first-child , #accordion-section-1 div:first-child{
        .left-section .flight-data-row .price-expand-lbl-div .flight-price-expand-icon{
            margin-top: 2px !important;
            }
        }
        
    .left-section {
        padding-right: 0 !important;
        padding-left: 0 !important;
        width: 100% !important;
        >.xs-flight-margin{
            margin-top: 5px !important;
        }
        >.flight-data-row{
            padding-left:15px;
            padding-right:15px;
            max-height:50px !important;
            margin-top:5px;
            margin-bottom: 20px;
            vertical-align: middle !important;
            div{
                display: inline-block !important;
                .tooltip.top {
                    top: -119px !important;
                    .tooltip-arrow{
                        bottom: -116px !important;
                        position: absolute;
                        left: -5px;
                    }
                    .tooltip-inner{
                        position: absolute;
                        max-width: none!important;
                        width: 40vw!important;
                        bottom: -108px;
                        left: -75px;
                    }
                }
            }
            .departure-time{
                padding: 0 !important;
                width:10% !important; 
            }
            .flight-info {
                width: 25% !important;
                text-align:center;
                padding-top:12px !important;
                padding-bottom: 10px !important;
                vertical-align: middle !important;
                 min-height:30px !important;
	    		max-height:55px !important;
                .flight-duration.caption-txt{
                    display: none;
                }
                .flight-stop-wrapper{
                    width:100%;
                    vertical-align: middle;
                    i.flight-name{
                        display:none;
                    }
                    >span {
                        .flight-point {
                            margin-bottom: 7px;
                        }
                    }
                }
                .flight-stop{
                    top:0 !important;
                }
            }
            .flight-price-lbl{
                width:auto;
                /*padding-left: 10px !important;*/
                padding-top:12px !important;
                padding-bottom: 10px !important;
                vertical-align: middle !important;   
                min-height:30px !important;
	    		max-height:55px !important;
                .flight-price-expand-icon{
                    padding-left: 5px !important;
                    font-size:1.5rem !important;
                }
                .currency-text,.currency-value{
                    font-size: 1.4rem !important;
                }
                /*padding-right: 15px !important;*/
                .currency-value{
                    font-weight: bold;
                }
            }

            .arrival-time {
                width:10% !important;
                text-align: center !important;
                label {
                    margin-bottom: 0 !important;
                    font-weight: bold !important;
                    //top:-2px;
                    position: relative !important;
                    padding-left: 5px !important;
                }
                &.nextday-flag label {
                    top:-10px;
                }

                &.nextday-flag div{
                    top:-15px;
                    position: relative !important;
                }
            }
            .options-td.arrival-time {              
                padding: 11px 0 0 0 !important;
                
                >span{
                    float: left;
                }
            }
            .departure-time, .arrival-time {
                font-size: 1.4rem !important;
                margin-bottom: 0 !important;
                font-weight: 600 !important;
                padding: 0px 0 10px 0 !important;
               
            }
            .flight-fa-icon{
                float: right;
                position: absolute !important;
                right: 10px;
                top: 15px;
                i{  
                    color:#DCDCDC !important;
                }
            }
        }
        .section-line{
                hr{
                    width: 100vw !important;
                    margin-left: 10px !important;
                    margin-bottom: 0 !important;
                    margin-top: 0 !important;
                    height: 0 !important;
                }
            }
    }

    .flight-price-expand-icon{
         color:#DCDCDC !important;
         margin-top: 1px;
    }
    .price-expand-lbl-div{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .LTR .flight-result-block .flight-options .flight-options-table .options-row .accordion-content .options-td {
        height: 80px !important;
        flex-grow: 1;
        // width: 33% !important;
    }

    .right-section-fare { 
        margin: 0px !important;
        position:relative;
        a:hover{

            color:#000 !important;
            .currency-text,.currency-value{
                color:#000 !important;  
            }
        }

        /* one item */
        &.accordion-content {
            a{
                display: inline-block !important;
            }
            a.fare-col-1{
                width: 100% !important;
            }
            a.fare-col-2{
                width: 50% !important;
            }
            a.fare-col-3{
                width: 33.33% !important;
            }
            a.fare-col-4{
                width: 25% !important;
            }
            a.fare-col-5{
                width: 20% !important;
                .fare-col{
                    /*height: 90px !important;*/
                }
                    }
            a.fare-col-6{
                width: 16.66% !important;
            }
        }

        a:not(.selected-fare){
            color:#fff !important;
            .fare-col{
                padding:5px;
                p.flight-class-name {
                    font-size: 1rem;
                    line-height: 20px;
                    font-weight: bold;
                    margin: 0;
                }
                .currency-text,.currency-value{
                    color:white !important;  
                    font-size: 1.1rem !important;
                    line-height: 20px;
                }
                .fare-radio{
                    label{
                        width: 16px;
                        background-color: white;
                        float: none;
                        border-radius: 50%;
                    }
                }
            }
        }    
        a.selected-fare{
            width: 100% !important;
            display: block;

            color:#000 !important; 
            .fare-col{
                height: 67px !important;
                padding:5px;
                p.flight-class-name {
                    font-size: 1rem;
                    line-height: 20px;
                    font-weight: bold;
                    margin: 0;
                }
                .currency-text,.currency-value{
                    color:#000 !important;  
                    font-size: 1.1rem !important;
                    line-height: 20px;
                }
                .fare-radio{
                    label{
                        width: 16px;
                        background-color: white;
                        float: none;
                        border-radius: 50%;
                    }
                }
                .important-info{
                    opacity: unset !important;
                }

                .important-info.bottom{
                        opacity: 0 !important;
                }
            }
        }

        a.fare-option-0{
            background-color: $color_variation_2;
        }
        a.fare-option-1{
            background-color: $color_variation_3;
        }
        a.fare-option-2{
            background-color: $color_variation_4;
        }
        a.fare-option-3{
            background-color: $color_variation_2;
        }
        a.fare-option-4{
            background-color: $color_variation_3;
        }
        
    }

    .right-section-header {
        width: 100% !important;
        float: left;
        display: none !important;
    }

    .right-section {
        width: 100% !important;
        float: left !important;
        padding-right: 0 !important;
    }

        /*  right:-5px;
          padding-left: 40%;*/
   
    .right-section-fare a{
        width: 100% ;
    }
    .departure-time {
        text-align: left;
    }
    .caption-txt{
        font-size: 0.9rem !important;
    }

    .flight-info-label {
        text-align: center;
        font-weight: 600 !important;
    }
    .LTR .flight-icon {
        margin-right: 0px !important;
    }
    .flight-result-block .flight-options .flight-stop-wrapper .flight-start{
		font-size:1.1rem !important;
		line-height:2 ;
        width:16px !important;
        padding-left:0px;
	}

    .departure-time label {
        margin-bottom: 0 !important;
        font-weight: bold !important;
    }

/* form phase2   .arrival-time {

        width: 6% !important;
        font-size: 16px !important;
        margin-bottom: 0 !important;
        font-weight: 600 !important;
        label {
            margin-bottom: 0 !important;
            font-weight: 600 !important;
        }
        text-align: right !important;
        right: -18px;
    }
    .options-td.arrival-time {
        padding: 8px 8px 8px 0px !important;
    }*/
    .departure-time-txt, .arrival-time-txt {
        vertical-align: middle !important;
    }

    .departure-time-txt{
        position: relative;
    }
    .flight-duration p {
        float: none;
    }
    .flight-name {
        font-size: 0.9rem !important;
    }
    h2 {
        font-size: 1.6rem !important;
    }
    .right-section-full {
        padding: 0 !important;
        width: 100% !important;
        text-align: center;
    }
    .right-section-full > div{ 
        vertical-align: middle !important;
        height: 50px !important;
    }

    .right-section-header {
        padding-right: 0 !important;
    }
    .flight-info-detail {

        padding-top:8px !important;
    }

    .collapse.show {
        display: flex !important;
        flex-flow: row wrap;
        -webkit-transition: height .40s ease;
        -o-transition: height .40s ease;
        transition: height .40s ease;
    }
    .collapse.in{
        display: flex !important;
        flex-flow: row wrap;
        -webkit-transition: height .40s ease;
        -o-transition: height .40s ease;
        transition: height .40s ease;
    }
    .collapse {
        display: none !important;
    }
    .collapsing {
        display: flex !important;
        flex-flow: row wrap;
        position: relative;
        height: 0;
        overflow: hidden;
        -webkit-transition: height .40s ease;
        -o-transition: height .40s ease;
        transition: height .40s ease;
    }
    .flight-options{
        padding:0 !important;
    }
    .options-row.header{
        margin-left:0 !important;
        margin-right:0 !important;
    }
    .panel {
        margin-bottom:0 !important;
        background-color: transparent !important;
        border: none !important;
        box-shadow: none !important;
    }
    .flight-stop-wrapper .flight-path{
        z-index:0 !important;
        border-top: solid 1px #e0dfdf !important;
    }
    .LTR .flight-result-block .flight-options .flight-options-table 
    .options-row .options-td.flight-info {
        padding-left: 10px;
        padding-right: 0px;
        min-height:30px !important;
        max-height:55px !important;
    }

    .LTR .fare-floater-wrapper ul li.selected-date .day-block .animated {
        transition: background-color .8s ease-in-out !important;
    }
    .flight-select-payment-option {
        font-size: 1.0rem !important;
        margin-bottom: -30px !important;
        img {
            width: 17% !important;
        }
        .payment-logo-group{
            line-height: 4;
            margin-top: -10px;
        }
    }
    .LTR .summary-drawer .drawer-desc .flight-info-scroll .flights-info-block .sector-details .sector-flight-info .flight-block .flight-no > span label i,
    .LTR .reservation-drawer .drawer-desc .flight-info-scroll .flights-info-block .sector-details .sector-flight-info .flight-block .flight-no > span label i{
        font-size: 1.2rem !important;
    }
    .LTR .flight-result-block .flight-options .options-row{
        box-shadow: none !important;
        border-bottom-color: transparent !important;
    }
    
    .RTL{
        .left-section > .flight-data-row .flight-price-lbl .flight-price-expand-icon{
            padding-left: 0px !important;
            margin-left: 0px;
        }
        .left-section > .flight-data-row .flight-info{
            padding-left: 10px !important;
            padding-right: 10px !important;
            margin-right: 5px !important;
        }
        .flight-result-block .flight-options .flight-options-table .options-row.body a .important-info{
            border-bottom: none !important;
            width: auto !important;
            max-width: 100% !important;
        }
        .cg-busy-default-text{
            text-align: right !important;
        }
        .flight-select-payment-option {
            .payment-logo-group{
                padding: 5px;
            }
        }
        .left-section > .flight-data-row div .tooltip.top{
            .tooltip-arrow{
                bottom: -116px !important;
                left: 75px !important;
            }
            .tooltip-inner{
                bottom: -108px !important;
                left: -5px !important;
            }
        }
    }
	.LTR .curruny-wrapper {
/*        width: 140px !important;*/
        top: 40px;
    }
    .sector-details .sector-flight-info{
        margin-bottom: 0 !important;
    }
    .summary-drawer .drawer-desc .flight-info-scroll .flights-info-block .sector-details:last-child .sector-flight-info .flight-block{
        padding-bottom: 0 !important;
    }
    .xs-modifysearch-container .container #currency-button {
        .currency-down{
            margin-top: 5%;
        }
    }
    .LTR .flight-result-block .flight-options .flight-options-table .options-row .options-td.nextday-flag {
        label {
             top: 0 !important;
        }
        div {
            top: 9px !important;
            left: 5px;
        }
        
        .flight-price-expand-icon {
            margin-top: 4px !important;
        }
    }
    .LTR{
        .left-section{
            .flight-data-row{
                .flight-price-lbl.fare-and-services-flight-mobile-select-button{
                    .flight-price-expand-icon.fa-angle-right{
                        left: 5px !important;
                    }
                }
            }
        }
    }    
    .LTR .flight-result-block .flight-options .flight-options-table .options-row{ 
        .flightDuration{
            height:32px
        }
    }

    .RTL .flight-result-block .flight-options .flight-options-table .options-row .options-td.nextday-flag {
        label {
            padding-top: 17px !important;
        }
    }
    
    .RTL .modify-flights-table .right-content .flight-row .duration .total-time {
        margin-top: 0 !important;
    }
    .RTL .left-section > .flight-data-row .arrival-time.nextday-flag div{
        top:0px;
    }
    .LTR .flight-result-block .flight-options .options-row .center-section .options-td.departure-time{
        width: auto;
    }
    @media screen and (max-width: 767px) {
        .RTL .modify-flights-table .right-content .flight-row .duration .arrival {
            padding-right: 0 !important;
        }
    }
}

