/*=====================================
=            Modify Search            =
=====================================*/
.pd-r-0{
    padding-right: 0;
}
.pd-l-0{
    padding-left: 0;
}
.LTR .modify-search .btn-wrap #currency .cc-link.ccactive{
    
}
.modify-search{

    /* Placeholder */
    .placeholder{
        height: 50px;
        line-height: 50px;
        padding: 0 15px;
        font-size: 14px;
    }

    .valdr-message{
        position: static;
    }

    .page-title {
        &#md-page-title{
			padding: 4px 0px;
			height: 65px;
		}
        font-size: 24px;
        font-weight: 700;
        float: right;
        text-align: right;
        margin: 0;
        line-height: 54px;
        padding: 0 0 0 0;

        .thin {
            font-weight: 400;
        }

        .main-text{
            span.truncate{
                display: inline-block;
                max-width: 130px;
                line-height: 19px;
            }
        }
    }

    .btn-wrap{
        padding-top: 12px;

        .modify-link{
            a{
                color: $primary_font_color;
            }
        }

        .cc-link{
            i{
                color: #DCDCDC;
            }
            .currancy-type{
                float: right;
              //  color: $light_gray !important;
            }

            .icon{
                height: 21px;
                width: 30px;
                background-size: 30px;
                margin-top: 3px;
                float: right;
            }
            .glyphicon{
                padding-right: 5px;
                top: 6px;
            }
            
            .ccactive{
                    background-color: #5D5D5D;
                    color: #E8E8E8;
            }
        }
        .cc-link.ccactive{
            background-color: #5D5D5D;
        }
        #modify-search{
            a{
                cursor: pointer;
                color: $primary_font_color;
            }
        }
    }

    /* Button */
    button{
        font-size: 14px !important;
        padding: 0 15px !important;
    }

    button[type=submit]{
        font-size: 14px !important;
        padding: 0 15px !important;
        padding: 0 15px;
        display: block;
        border-radius: 0;
        height: 42px;
        line-height: 42px;
        font-size: 14px;
        font-weight: 600;
        min-width: 140px;
        text-align: center;
        cursor: pointer;
        max-width: 100%;
        width: 100%;
        border: 0;
        outline: none;
    }

    .dp-caret {
        line-height: 42px;
    }

    .isa-btn{
        background: #fafafa;
    }

    .icon-close{
        cursor: pointer;
        &:hover{
            color: $red;
        }
    }

    /* Trip Type */
    .triptype {
        margin-bottom: 15px;
    }

    /* AccelAero Slide */
    .accelAero-slide{
        width: 100% !important;
        padding: 0 !important;
        margin: 0 0 10px !important;

        .fare-floater-wrapper {
            width: 100% !important;
            max-width: 965px;
        }

        a.slide-prev {
            left: 10px;
        }

        a.slide-next {
            right: 10px;
        }
    }

    /* Search Title */
    h2 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    /* Search Box Wrapper */
    .search-box-wrapper{

        /* Search Box */
        .modif-search {
            position: fixed;
            background: #F5F5F5;
            margin-top: -30px;
            left: 0;
            top: 99px;
            padding: 30px 15px;
            z-index: 200;
            right: 0;
            max-width: 100%;
            border: 1px solid #808080;
            -webkit-box-shadow: 2px 2px 5px rgba(51, 51, 51, 0.22);
            -moz-box-shadow: 2px 2px 5px rgba(51, 51, 51, 0.22);
            box-shadow: 2px 2px 5px rgba(51, 51, 51, 0.22);
        }

        /* Button Wrap */
        .btn-wrap{
            padding: 0 15px 0 0;
            padding-top: 10px;
            span{
                float: left;
                text-align: center;
                .icon_aed{
                    float:left;
                }
                &.menu-item{
                    line-height: 28px;
                }

                /* Resettting Inheritence */
                .btn{
                    padding: 0 10px;
                    float: left;
                    width: 100%;
                    border-radius: 0;
                    height: 42px;
                    line-height: 42px;
                    text-align: center;
                    border: 0;
                    font-weight: 600;

                    span{
                        width: auto;
                    }

                    .currancy-type {
                        width: 80%;
                        width: calc(100% - 39px);
                        color: $primary_font_color;
                        .crruncy-txt {
                            font-size: 14px;
                        }
                    }

                    .icon {
                        width: 20%;
                        width: 39px;
                        margin-top: 5px;
                        float: right;
                    }
                }
            }

            .col-l,
            .col-r{
                padding: 0 10px;
                > span,
                > span{
                    width: 100%;
                }
            }

            .col-l {
                padding-left: 0;
            }

            .col-r {
                padding-right: 0;
                padding-left: 0;
            }

            /* Currency Converter */
            .curruncy-converter{

            }
        }
    }

    /* Search Button */
    .col-btn-search {
        margin-top: 20px;
    }
}

/*=====  End of Modify Search  ======*/


/*==============================================
=            Passenger Count Select            =
==============================================*/

.passenger-count-select{

    .input-box{
        input{
            cursor: pointer;
        }

        label{}
        .form-control{}
    }

    .done-btn {
        position: absolute;
        height: 27px;
        padding: 0 !important;
        top: -27px;
        right: -2px !important;
        .done {
            background: #ED0000;
            height: 27px !important;
            line-height: 27px !important;
            float: right;
            font-size: 13px !important;
            border: 0;
            color: #fff;
            &:hover {
                background: #CC0000;
            }
        }
    }

    .dropdown-error{
        position:absolute;
        top: 130px;
    }

    .dropdown-box{
        //display: none;
        border: 1px solid #B5B5B5;
        background: #fff;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.49);
        position: absolute;
        left: 15px;
        right: 15px;
        top: 20px;
        .col{
            text-align: center;
            border-right: 1px solid #BDBBBB;
            padding: 10px 0 0;

            &:last-child{
                border-right: 0;
            }

            label{
                @extend .left-wide;
                margin: 0;
            }
            .count{
                @extend .left-wide;
                font-size: 26px;
                font-weight: 700;
                border:none;

                &:focus{
                    border:none;
                }
            }
            .age-text{
                font-size: 12px;
            }
            .controll{
                @extend .left-wide;
                padding: 0;
                margin: 0;
                visibility: hidden;
                //border-top: 1px solid #D0D0D0;

                li{
                    padding: 5px 0;
                    float: left;
                    width: 50%;
                    list-style: none;
                    cursor: pointer;
                    font-size: 15px;
                    &:hover{
                        background-color: #F1F1F1;
                    }
                    i{
                        font-weight: 600;
                    }
                }
            }

            &:hover{
                .controll{
                    visibility: visible;
                }
            }
        }
    }
}

//Animation CSS
.animate-show {
    @include transition(all 0.2s linear 0s);
    @include transform(translate3d(0, 0, 0));
}

.animate-show.ng-enter,
.animate-show.ng-leave.ng-leave-active {
    display: block;
    @include transform(translate3d(0, -110%, 0));
}

.animate-show.ng-leave,
.animate-show.ng-enter.ng-enter-active {
    display: block;
    @include transform(translate3d(0, 0, 0));
}

//Overlay CSS
.modify-search-overlay {
    z-index: 1;
    width: 101%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: $gray-9;
    opacity: 0.5
}
/*=====  End of Passenger Count Select  ======*/



/*===============================================
=            Modify Search Version 2            =
===============================================*/

.modify-search{
    .modif-search.modif-search-2{
        position: fixed;
        z-index: 1000;
        left : 0;
        right: 0;
        max-width: 100%;
        width: 100%;
        background: #fafafa;
        border-bottom: medium solid #ed0000;

        h2{
            font-size: 22px;
            font-weight: 600;
        }

        .form-control{
            background-color: $white !important;
            .input-group-btn{
            }
        }
    }

    .input-group-btn{
        top: 0;
    }
}


/*=====  End of Modify Search Version 2  ======*/
