/*=====================================
=            Package Block            =
=====================================*/

//Package Block style modifications for the flexi page
.package-block.flexi-block{
  .main-section {
    .details {
      i{
        margin: 0;
        float: none;
        color:$site_primary_color;
      }
    }
  }

  .options-section.active{
    background: none;

    &:hover{
      background-color:$light_gray;
    }
  }
}

.package-block {
  @extend .left-wide;
  border-top: 1px solid #ededef;
  border-bottom: 1px solid #ededef;
  margin-top: -1px;
  position: relative;

  .col {
    float: left;
    padding: 20px 0;
    min-height: 95px;
  }

  p, label, span, div {
    margin: 0;
  }

  // Main Section
  .main-section {
    .title {
      @extend .left-wide;
      margin-bottom: 10px;
      font-weight: 600;
      font-size: 18px;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .details {
      @extend .left-wide;
      span {
        @extend .left-wide;
        i {
          float: left;
          margin: 2px 10px 0 0;
          color: $gray;
          padding-top: 6px;
          img {
            float: left;
          }
        }
        p {
          float: left;
          margin-right: 10px;
          font-weight: 600;
          font-size: 14px;
          color: $gray;
        }
        label {
          font-size: 12px;
          float: left;
          color: $red;
        }
      }
    }
  }

  // Secondary Section
  .secondary-section {
    text-align: center;
    span {
      @extend .left-wide;
      margin-bottom: 10px;
      font-weight: 600;
      font-size: 20px;
      i {
        font-weight: 400;
      }
    }
    p {
      @extend .left-wide;
      font-size: 12px;
      color: $gray;
      font-weight: 600;
    }
  }

  // Options Section
  .options-section {
    text-align: center;
    cursor: pointer;
    .ico {
      @extend .left-wide;
      margin-bottom: 10px;
      font-size: 19px;
      img {
      }
    }
    .txt {
      @extend .left-wide;
      color: $gray;
      font-weight: 600;
      font-size: 12px;
    }

    &.active,
    &:hover {
      background: $light_gray;
    }
  }

  // Overlay
  .overlay {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 95px;
    bottom: 0;
    height: 400%;
    z-index: 90;
    background: $light_gray;
    opacity: 0.5;
  }

  // Dropdown content
  .dropdown-content {
    @extend .left-wide;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 95px;
    z-index: 999;

    background: {
      color: $light_gray;
    }
    .row {
      border-bottom: 1px solid $white;
      &:last-child {
        border-bottom: 0;
      }
    }
    .col {
      text-align: center;
      min-height: 115px;
      padding-bottom: 0;
      position: relative;
      cursor: pointer;
      border-bottom: 1px solid $white;

      /* No baggage placeholder */
      .no-baggage {
        @extend .left-wide;
        font-size: 14px;
        font-weight: 600;
        padding: 3px 0 0;
        i {
          @extend .left-wide;
          font-size: 18px;
          font-weight: 600;
        }
      }

      /* Weight */
      .weight {
        @extend .left-wide;
        font-size: 20px;
        margin-bottom: 10px;
        i {
          font-weight: 600;
        }
      }

      /* Price */
      .price {
        @extend .left-wide;
        margin-bottom: 10px;
        font-size: 12px;
        font-weight: 600;
        color: $gray-4;
        .currency {
          padding-right: 5px;
        }
      }

      /* Check / Select */
      .check-mark {
        @extend .left-wide;
        opacity: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        .ico {
          @extend .left-wide;
          height: 25px;
          line-height: 25px;
          font-size: 20px;
          margin-bottom: 3px;
        }
        .txt {
          @extend .left-wide;
          height: 25px;
          line-height: 25px;
          background: {
            color: $primery_color;
          }
          color: $white;
        }
      }

      &.selected {
        .check-mark {
          opacity: 1;
          .txt {
            display: none;
          }
          .ico {
            display: block;
          }
        }
      }

      &:hover, &:focus {
        background: {
          color: $secondery_color;
        }
        color: $white;

        .check-mark {
          opacity: 1;
        }

        .price {
          color: $white;
        }

        &.selected {
          .ico {
            display: none;
          }
          .txt {
            display: block;
          }
        }
      }

      &.disabled {
        .check-mark {
          opacity: 1;
          .txt {
            display: none;
          }
        }
        &.selected {
          .ico {
            display: block;
          }
        }
        &:hover, &:focus {
          background: {
            color: $light_gray;
          }
          color: $black;
          .price {
            color: $gray-4;
          }
        }
      }
    }
  }

  &.active {
    .overlay,
    .dropdown-content {
      display: block;
    }
  }
  &:last-child {
    margin-bottom:25px; //fix for cutting off baggage selection
  }
}

/*=====  End of Package Block  ======*/