/*===============================
=            Login             =
===============================*/

.payment-overlay {
    z-index: 1000;
    background: {
        color: rgba(255, 255, 255, 0.80);
    }
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.login {
    border-top: solid $red 5px;
    background-color: $light_gray;
    width: 450px;
    margin: 200px auto 0;
    // box-shadow: 5px 5px 35px 0px rgba(0, 0, 0, 0.25);
    // -moz-box-shadow: 5px 5px 35px 0px rgba(0, 0, 0, 0.25);
    // -webkit-box-shadow: 5px 5px 35px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 30px;

    #title {
        text-align: center;
        margin: 15px 0 20px;
        font-size: 18px;
        font-weight: 600;
    }

    input {
        margin: 0 0 5px 0;
    }

    label {
        display: block;
        color: $black;
        font-size: 14px;
        text-align: left;
        margin: 15px 0 10px 0;
        padding: 0;
    }

    .valdr-message {
        position: static;
    }

    button {
        margin: 20px 0;
    }
}

/*=====  End of Slider  ======*/

/*===============================
=            Slider            =
===============================*/

.scroller {
    rzslider {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 2px;
        margin: 0 0 15px 0;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &:after{
            content: "";
            height: 7px;
            width: 7px;
            top: -4px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            position: absolute;
            background: #8b8a8b;
            right: 0px;
          }
        .rz-pointer {
            outline: none;
            z-index: 2;
            font-family: 'icomoon' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            cursor: pointer;
            color: $red;
            font-size: 24px;
            &:hover, &:focus {
                color: darken($red, 6%);
            }
            &:before {
                content: "\e929";
            }
            &:after {
                background: none;
              }
        }
    }

    rzslider span {
        position: absolute;
        display: inline-block;
        white-space: nowrap;
        font-size: 18px;
        bottom: 1.2px;
    }

    rzslider .rz-base {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    rzslider .rz-bar-wrapper {
        left: 0;
        z-index: 1;
        width: 100%;
        height: 32px;
        padding-top: 16px;
        margin-top: -16px;
        box-sizing: border-box;
    }

    rzslider .rz-bar-wrapper.rz-draggable {
        cursor: move;
    }

    rzslider .rz-bar {
        left: 13px;
        z-index: 1;
        width: 97%;
        height: 1px;
        background-color: grey;
    }

    rzslider .rz-bubble {
        display: none
    }
}
rzslider .rz-bar.rz-selection{
    background-color: $site_primary_color;
  }

/*=====  End of Slider  ======*/

/*===============================
=            Payment            =
===============================*/

.payments {
    @extend .left-wide;
    margin-top: 20px;
   
    .select-payment-method{
        border-top:none;
    }
    .payment-method {
        &.payment-method-container{
          margin-bottom: 10px;
          #single-button{
              .dp-caption.dropdown-label{
                font-size: 12px;
              }
              .fa{
                padding-top: 5px;
              }
          }
        }
    }

    h2 {
        font-size: 18px;
        font-weight: 600;
        height: 36px;
        line-height: 36px;
        margin-bottom: 3px;
        /*width:100%;*/
    }

    .strong {
        font-weight: 600;
    }

    .radio [type="radio"]:checked + label:after {
        right: auto;
    }

    /*=====  End of Payment  ======*/

    /*========================================
    =            Fare Animations            =
    ========================================*/
    .all-flights {
        @extend .left-wide;
        min-height: 100px;
        transition: 0.5s linear all;
        opacity: 1;

        h2 {
            padding-top: 0;
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 5px;
            position: relative;
        }

        h3 {
            font-size: 14px;
            font-weight: 600;
            margin-top: 8px;
            margin-top: 0px;
            margin-bottom: 10px;
            position: relative;
        }

        h4 {
            font-size: 14px;
            font-weight: 400;
            margin-top: 8px;
            margin-top: 0px;
            position: relative;
        }

        a {
            text-decoration: underline;
            color: inherit !important;
        }

        .more-flights {
            color: $red !important;
            text-decoration: none;
            font-weight: 600;
            font-size: 11px;
        }

        .plane-icon-trail {
            position: relative;
            top: -4px;
            color: $gray-5;
        }

        .flight-info-scroll {
            max-height: 500px;
            overflow-y: hidden;
            overflow-x: hidden;
        }

        .section-total {
            font-size: 16px;
            font-weight: 600;
            padding: 10px 0;
        }

        .sub-total {
            @extend .left-wide;
            font-size: 18px;
            padding: 0;
            font-weight: 600;
            margin: 10px 0 20px;

            .amount {
                padding-left: 20px;
            }
        }

        .flights-summary-block {
            float: left;
            width: 55%;
            padding-right: 15px;

            .flight-block {
                float: left;
                width: 100%;
                margin-bottom: 10px;
                padding-bottom: 10px;
                border-bottom: 1px dotted #E8E8E8;

                &:last-child {
                    border-bottom: 0;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }

                .title {
                    float: left;
                    width: 100%;
                    margin-bottom: 3px;

                    label {
                        font-weight: 700;
                    }
                }

                > span {
                    width: 100%;
                    float: left;
                    > i {
                        float: left;
                        padding: 0 5px;
                    }
                    label {
                        //width: 100%;
                        float: left;
                        margin: 0;
                        font-weight: 400;
                        font-size: 11px;
                        i {
                            float: left;
                            //width: 60%;
                        }
                        .i {
                            color: $black;
                            font-weight: 600;
                            float: left;
                            margin-right: 5px;
                            //width: 15%;
                        }
                    }
                }
            }
        }

        .price-summary-block {
            float: left;
            padding: 0 0 0 15px;
            width: 45%;
            position: relative;
        }

    }

    .all-flights.ng-hide {
        transition: 0.5s linear all;
        opacity: 0;
    }

    @keyframes hide {
        0% {
            opacity: 1;
        }
        30% {
            opacity: .3;
        }
        100% {
            opacity: 0;
        }
    }

    /*=====  End of Fare Animations  ======*/

    /*========================================
    =            Airewards Points            =
    ========================================*/

    .airewards-points {
        @extend .left-wide;
        border-top: 1px solid;
        border-color: $gray-9;
        padding: 10px 0;
        .radio-container{
            display: flex;
            width: 37%;
            justify-content: flex-start;
            float: right;
          }
        
        .radio [type="radio"]:checked + label:after {
            top: 12px;
            right: 0;
        }

        .radio [type="radio"]:not(:checked) + label:after {
            right:0;
        }

        span {
            float: right;
            line-height: 42px;
            
        }
        .radio-container{
            display: flex;
            width: 37%;
            justify-content: flex-start;
            float: left;
        }
        .text {
            font-size: 16px;
            font-weight: 700;
            height: 30px;
            line-height: 30px;
            width: auto;
        }
        .alert {
            margin-top: 15px;
        }
        .radio {
            margin-left: 20px !important;
        }
        img {
            height: 20px;
        }

        /* Airwards Options */
        .airwards-options {
            @extend .left-wide;
            margin-bottom: 12px;
            .row {
                position: relative;
                display: inline-block;
            }

            .cg-busy {
                z-index: 9;
                bottom: -5px;

                .cg-busy-default-sign {
                    z-index: 10;
                }
            }

            .pax-signout {
                font-size: 13px;
                padding-left: 6px;
                font-weight: normal;
                color: $site_primary_color;
                cursor: pointer;
            }

            /* Left Content */
            .awards-id {
                @extend .left-wide;
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 20px;
                a {
                    color: $black;
                    text-decoration: underline;
                    font-size: 12px;
                    font-weight: 400;
                    margin-right: 30px;
                    cursor: pointer;
                    display: inline-block;
                    &:hover, &:focus {
                        color: $red;
                    }
                }
            }

            .notice {
                .alert-btn {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

            .points-count {
                @extend .left-wide;
                margin-bottom: 12px;
                display: table;

                .currency-text {
                    padding-left: 5px;
                }

                label {
                    margin: 0;
                    display: table-cell;
                    i {
                        @extend .left-wide;
                        text-align: right;
                        font-size: 15px;
                        line-height: 1;
                        color: $mountain_mist;
                        font-size: 14px;
                    }
                    h2 {
                        @extend .left-wide;
                        text-align: left;
                        font-size: 14px;
                        line-height: 1;
                        height: auto;
                    }
                }
            }
            ul {
                @extend .left-wide;
                padding: 0;
                margin: 0;
                font-size: 14px;
                list-style: none;
                li {
                    @extend .left-wide;
                    margin-bottom: 10px;
                    line-height: 26px;

                    &:before {
                        content: "";
                        background: $red;
                        float: right;
                        width: 5px;
                        height: 5px;
                        margin: 7px 0 0 15px;
                    }
                    span {
                        float: left;
                        line-height: 1.5;
                        height: auto;
                        width: 94%;
                        width: calc(100% - 25px);
                    }
                }
            }

            /* Left Content */
            .left-content {
                width: 100%;
                padding-left: 32%;
            }

            /* Right Content */
            .right-content {
                padding-right: 10px;
                position: absolute;
                top: 0;
                left: 0;

                button {
                    width: 100%;
                }

                /* Redeem Amount */
                .redeem-amount {
                    @extend .left-wide;
                    background: {
                        color: $mountain_mist;
                    }
                    color: $white;
                    text-align: right;
                    margin-bottom: 20px;
                    position: relative;
                    overflow: hidden;

                    .section {
                        @extend .left-wide;
                        padding: 15px 25px;
                        span {
                            line-height: 1;
                            height: auto;
                        }
                        .small-txt {
                            @extend .left-wide;
                            text-align: left;
                            font-size: 12px;
                            margin-bottom: 10px !important;
                        }
                        .big-txt {
                            @extend .left-wide;
                            text-align: left;
                            font-size: 18px;
                            i {
                                font-weight: 600;
                            }
                        }

                        &.active {
                            background: {
                                color: $black;
                            }
                            box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.19);
                            min-height: 78px;
                        }
                    }
                }
            }
        }
    }
    .Would-you-like-to-pay img{
        height: 25px !important;
    }

    /* Redeem Adjust */
    .redeem-adjust {
        @extend .left-wide;
        background: {
            color: $black;
        }
        box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.19);
        color: $white;
        padding: 10px 20px 9px;
        margin: -1px 0 30px;

        h2 {
            @extend .left-wide;
            font-size: 14px;
            font-weight: 600;
            line-height: 1;
            height: auto;
            margin-bottom: 5px;
        }

        /* Scroller */
        .scroller {
            @extend .left-wide;
            height: 25px;
            margin-bottom: 15px;
            .line {
                height: 1px;
                background: {
                    color: #727173;
                }
                width: 100%;
                position: relative;
                &:before, &:after {
                    content: "";
                    height: 7px;
                    width: 7px;
                    top: -3px;
                    @include border-radius(50%);
                    position: absolute;
                    background: $mountain_mist;
                }
                &:before {
                    left: 0;
                }
                &:after {
                    right: 0;
                }
                .drag-pointer {
                    color: $red;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    font-size: 24px;
                    right: 30%;
                    cursor: pointer;
                    &:hover, &:focus {
                        color: darken($red, 6%);
                    }
                }
            }

            .count {
                font-size: 10px;
                color: #c6c6c7;
                @extend .left-wide;
                line-height: 1;
                margin-top: 0px;
                .left-count {
                    float: right;
                }
                .right-count {
                    float: left;
                }
            }

            .rz-scroller {
                width: 104%;
                margin-right: -14px;
            }
            .rz-pointer{
            	right: 0;
            }
        }
    }

    /*=====  End of Airewards Points  ======*/
    
    /*=============================================
=            Redeem Voucher Section            =
=============================================*/
	.voucherRedeem {
		.voucherFlds{
			input{
				width: 60%;
				margin-left: 10px;
				float: right;
			}
			button{
				width: 35%;
                float: right;
                height: 50px;
				}
		}
		.totalValuBx {
		    background: $light_gray;
		    @include border-radius(5px);
		    font-size: 18px;
		    @extend .pd-3;
		    .currency-right{
		    	float:left;
		    }
		}
		.voucherInfoTxt {
		    font-size: 18px;
		 // text-align: center;
		}
		.font-txt{
		 	font-size: 18px;
		}
		
		.voucher-resend{
			background: $site_back_color;
		    @include border-radius(5px);
		    font-size: 18px;
		    
		    text-align: right;
		    padding: 20px 15px 25px 15px;
		    .txt-height{
				   height: auto;
		           line-height: normal;
		           font-size: 16px;
				}
			.voucherResendFlds{
				
				.otp-txt{
					label{
						 font-weight: 400;
					}
					
				}
				input.form-control{
					width: 30%;
					text-align: center;
					margin-right: 10px;
					float: right;
				}
				button.button{
					    width: 32%;
					    background: #525153;
					    color: #fff;
					    min-width: 1px;
					    height: 50px;
					    margin: 0 10px;
					    float: right;
				}
				a{
				        float: right;
					    color: red;
					    border-bottom: 1px solid red;
					    margin-top: 12px;
					    height: auto;
					    line-height: initial;
					    &:hover{
					    	text-decoration: none;
					    	 border-bottom-color: transparent;
					    }
				}
			}
		
		}
		.voucherSuccess{
			background: #fcf8e3;
			font-size: 18px;
			@include border-radius(5px);
			span{
				height: auto;
				line-height: normal;
			}
			 .number-green {
				    color: #28cf1c;
				    float: right;
    				margin-left: 20px;
    				margin-top: 4px;
				}
			  
			form{
			 text-align: left;
			 a{
			 	color: $black;
			 	border-bottom: 1px solid $black;
			 	font-weight: 700;
			 	&:hover{
			 	  border-bottom-color: transparent;
			 	  text-decoration: none;
			 	  
			 	}
			 }
			}	
		&.voucherError{
			background: #f5d0d0;
			.number-red{
			  	color: $red;
			  	float: right;
   				margin-left: 20px;
   				margin-top: 4px;
			  }	
		  }		
		}
		
		
}

    /*=============================================
    =            Select Payment Method            =
    =============================================*/

    .select-payment-method {
        @extend .left-wide;
        padding: 10px 0 0;

        h2 {
            float: right;
        }
        .airewards-points{
            .secure-certificate {
              .data {
                float: left;
                width: 99%;
                .certificates {
        
                  img {
                    width: 70px;
                    height:26px;
                  }
          
                  #master-card {
                    padding-top: 1px;
                  }
                  #visa-card {
                    padding-top: 0px;
                  }
                  //padding-top: 11px;
                  clear: both;
                  span {
                    width: 28%;
                    float: right;
                    text-align: center;
                  }
                }
              }
            }
          }
        .secure-certificate {

            .data {
                float: left;
                width: 99%;
                span {
                    @extend .left-wide;
                    font-size: 14px;
                    font-weight: 600;
                    margin-bottom: 3px;
                }
                p {
                    @extend .left-wide;
                    font-size: 12px;
                    margin-bottom: 0;
                    a {
                        color: $black;
                        font-style: italic;
                        text-decoration: underline;
                        &:hover, &:focus {
                            color: $red;
                        }
                    }
                }
                .secure-title {
                    float: left;
                    width: auto;
                    line-height: 26px;
                    margin: 0 10px;
                }

                .certificates {
                    img {
                        width: 70px;
                    }

                    #master-card {
                        padding-top: 11px;
                    }
                    #visa-card {
                        padding-top: 10px;
                    }

                    clear: both;
                    span {
                        width: 32%;
                        float: right;
                        text-align: center;
                    }
                }
            }
            .ico {
                float: left;
                //float: right;
                display: inline-block;
                background: {
                    image: url(../images/misc/secure-lock.png);
                    size: contain;
                    repeat: no-repeat;
                    position: center;
                }
                float: left;
                width: 24px !important;
                height: 24px;
            }

        }

    }
   

    /*=====  End of Select Payment Method  ======*/

    /*=======================================
    =            Payment Options            =
    =======================================*/
  
    .payment-options {
        @extend .left-wide;
        padding: 25px 0;
        margin-bottom: 30px;
        display: table;
        &.payment-options-container{
            margin-bottom: 0px ;
            padding-top: 0 ;
            padding-right:10px !important;
    
        }
        label {
            padding-left: 0;
        }

        .payment-logo {
            img {
                max-width: 100px;
            }
        }
    }

    /*=====  End of Payment Options  ======*/

    /*=======================================
    =            Payment Details            =
    =======================================*/

    .payment-details {
        @extend .left-wide;

        /* Left Content */
        .left-content {
            padding-left: 0;
            label {
                @extend .left-wide;
                font-size: 14px;
                line-height: 1.5;
            }
            .checkbox-payment{
                    margin-top: 0 !important;
                    margin-bottom: 20px !important;
            }
            #verify-btn {
                margin-top: 5px;
                min-width: 115px;
                height: 50px;
            }

            section {
                @extend .left-wide;
                //margin-bottom: 20px;
            }

            .form-control {
                height: 42px;
                line-height: 42px;
                font-size: 14px;
                font-weight: 400;
            }
            .card-holder-container{
                padding: 0;
            }
            .expire-row {
                padding:0; 
                
                .ng-scope .ng-active {
                    bottom: 0;
                }

                label {
                    margin-bottom: 0;
                }
                .date-dividier{
                    display: inline-block;
                    text-align: center;
                    line-height: 53px;
                    font-size: 20px;
                    margin-top: -5px;
                    width: 100%;
                }
                .expDate{
                    padding: 0;
                    select {
        			    -webkit-appearance: none;
      				      line-height: 25px;
    				        &:hover, &:focus {
          				 	   cursor: pointer;
         			  	    }
       			   }
        		  .fa {
           			 position: absolute;
        		     top: -3px;
            		 left: 10px;
            		 line-height: 50px;
          			}
                }

            }

            .cvv {
                div.ng-scope {
                    width: 100%;
                    bottom: 0;
                }
                .form-control {
                    width: 44%;
                    float: right;
                }
                span.cvv-desc {
                    float: right;
                    width: 55%;
                    padding-right: 10px;
                    margin-top: 15px;
                    h5 {
                        @extend .left-wide;
                        font-size: 12px;
                        font-weight: 600;
                        margin-bottom: 4px;
                        line-height: 1;
                    }
                    p {
                        @extend .left-wide;
                        font-size: 11px;
                        font-weight: 400;
                        line-height: 1.2;
                        margin-bottom: 0;
                    }
                }
            }

            p {
                a {
                    font-weight: 600;
                    text-decoration: underline;
                }
            }

            .input-sec {
                width: 50%;
                margin: 10px 0 30px;
                float: right;
            }

            .selected-partner {
                @extend .left-wide;
                margin-bottom: 10px;
                label {
                    @extend .left-wide;
                    span {
                        margin-right: 30px;
                        // width: 30%;
                        display: inline-block;
                    }
                    img {
                        height: 40px;
                        display: inline-block;
                    }
                }
            }
        }

        /* Right Content */
        .right-content {
            padding-right: 0;
            .add-space {
                width: 100%;
                height: 28vh;
            }
            /* Notifications */
            .notification {
                @extend .left-wide;
                margin-bottom: 20px;
                padding: 25px;
                background: {
                    color: #fcfce7;
                }
                border: 1px solid #F5F5DC;
                h4 {
                    @extend .left-wide;
                    font-size: 14px;
                    font-weight: 600;
                    margin-bottom: 10px;
                }
                p {
                    @extend .left-wide;
                    font-size: 14px;
                    margin-bottom: 0;
                    line-height: 1.5;
                }
            }

            /* Amount */
            .amount {
                @extend .left-wide;
                padding: 20px 25px;
                background: {
                    color: #525153;
                }
                color: $white;
                text-align: center;
                margin-bottom: 20px;
                span {
                    @extend .left-wide;
                    &.smaller-txt {
                        font-size: 14px;
                        margin-bottom: 10px;
                        color: #ccc;
                        text-align: left;
                        i {
                            float: none;
                        }
                    }
                    &.small-txt {
                        font-size: 22px;
                        margin-bottom: 10px;
                    }
                    &.big-txt {
                        font-size: 24px;
                        i {
                            font-weight: 600;
                            float: right;
                        }
                    }
                }
                .admin-fee-label, .admin-fee-content{
                    width: auto;
                    text-align: center;
                }
            }

            /* Captcha Form */
            .captcha-form {
                @extend .left-wide;
                margin-bottom: 20px;
                padding: 10px 25px 20px;
                background: {
                    color: $citrine_white;
                }
                border: 1px solid #F5F5DC;
                span {
                    @extend .left-wide;
                }
                .captcha-key {
                    margin-bottom: 15px;
                    position: relative;
                    img {
                        height: 45px;
                    }
                    .refresh {
                        position: absolute;
                        left: 0;
                        top: 5px;
                        background: {
                            image: url(../images/misc/refresh.png);
                            size: contain;
                            repeat: no-repeat;
                            position: center;
                        }
                        height: 20px;
                        width: 20px;
                        cursor: pointer;
                    }
                }
                input {
                    height: 42px;
                    line-height: 42px;
                    font-size: 14px;
                    font-weight: 400;
                }
            }

            /* Submit */
            .submit {
                @extend .left-wide;
                margin-bottom: 20px;
                button {
                    width: 100%;
                }
            }

            /* Cetificates */
            .certificates {
                @extend .left-wide;
                display: table;
                text-align: center;
                span {
                    display: table-cell;
                    padding: 0 10px;
                    img {
                        max-width: 95%;
                    }
                }
            }
        }

        /* Master Card Details */
        .master-card-details {
        }
    }
}
/*=====  End of Payment Details  ======*/

/*=======================================
=           Payment Breakdown           =
=======================================*/
.reservation-details-payment-summary {
    padding:20px 0;
    border-top:1px solid #ededef;
    width: 75%;

    td:nth-child(n+2) {
        width: 18%;
    }
}
/*===== End of Payment Breakdown ======*/

.payment-total{
    width:60% !important; 
}
.payment-total-amount{
    width: auto !important
}
.payment-total-currency{
    float: left;
}
@media only screen and (max-width: 767px) {
    .payment-details{
        .right-content{
            .amount {
                color: initial !important;
            }
        }
    }
    .payment-details .right-content .amount span.small-txt {
        color: #344252;
        width: 50%;
        font-size: 20px !important;
        height: auto;
        line-height: 1.5;
        letter-spacing: -0.1px;
    }
    .payment-details .right-content .amount span.big-txt {
        color: #344252;
        width: 50%;
        height: auto;
        font-size: 20px !important;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: -0.1px;
    }
    .payments .payment-details .right-content .amount{
        padding:0px;
    }
    .payment-confirmation .inpage-alert {
        >span{
            >sup {
                display: inline-block;
                width: 3%;
                line-height: 1;
                vertical-align: top;
                top: 3px !important;
            }
            >span {
                display: inline-block;
                text-align: right;
                width: 95%;
                font-size: 12px !important;
                line-height: 1.58 !important;
            }
        }
    }
    .payments .payment-details .left-content .cvv .form-control {
        width: 100% !important;
    }
}

.card-animation-none {
	transition: none;
}
/*Valdr Validations and messages*/
.valdr-message{
	font-size: 12px;
	color: $red;
	position: absolute;
}

	form,
	ng-form{
		&.ng-submitted{
			.ibe-typeahead {
				.ng-invalid.ng-dirty.ng-untouched,
				.ng-invalid.ng-untouched{
                    border: 1px solid $red ;
                    &.valdr-message{
                        border: none;
                    }
                    &#search-departure-date,
                    &#search-arrival-date{
                        border: 1px solid $red !important;
                    }
                }
                .ng-invalid.ng-untouched.on-focus{
					border: 1px solid grey;
                }
            }
        }
        .ibe-date-picker #arrival-date-search-flight, .ibe-date-picker #departure-date-search-flight{
            background-color: transparent ;
            border-color: transparent;
        }
		.ibe-typeahead {
			&.on-focus{
				.valdr-message{
					border: none;
					display:none;
				}
		
			}
			.ng-invalid,
			.ng-invalid.ng-touched,
			.ng-invalid.ng-pristine.ng-touched  {
                border: $red 1px solid;
                &.valdr-message{
                    border: none;
                  }
			}
			
			.ng-invalid .valdr-message,
			.ng-invalid.ng-touched .valdr-message,
			.ng-invalid.ng-touched.ng-dirty .valdr-message,
			.ng-invalid.ng-touched.ng-invalid-required .valdr-message{
				border: none;
				color: $red;
			}
			.ng-invalid.ng-dirty .valdr-message,	
			.ng-invalid.ng-touched.on-focus .valdr-message,
			.ng-invalid.ng-pristine.ng-touched.on-focus .valdr-message
			{
				border: none;
				display:none;
			}
			

			.ng-invalid.ng-dirty.ng-untouched,
			.ng-invalid.on-focus,
			.ng-invalid.ng-untouched,
			.ng-invalid.ng-untouched.on-focus,
			.ng-invalid.ng-touched.on-focus,
			.ng-invalid.ng-pristine.ng-touched.on-focus,
			.ng-invalid.ng-dirty.ng-untouched.on-focus
			{
				border: 1px solid grey;
			}
        }
    }

.valdr-message.ng-pristine {
	display:none;
}
/*END Valdr Validations and messages*/

/*========================================
   = Mobile Responsive Payment.tpl.html   =
    ========================================*/
.pmtSpecialMsgs{
        padding : 10px;
}  
.gift-hight {
        height: 45px !important;
		line-height:23px !important;
}
/*===== End of Mobile Responsive Payment ======*/