    .pmtSpecialMsgs{
        padding: 10px;
    }
    .container.self-prot {
    	margin-top: $padding_margin_base * 8;
	}
	.self-prot {
		h1, h2 {
			font-size: 26px;
		    font-weight: 600;
		    margin-bottom: $padding_margin_base * 6;
		}
		h2{
			span.fontSet{
				font-size: 18px;
	    		font-weight: 500;
			}
		}
		.flight-icon{
		  	font-size: 18px;vertical-align: sub;
		  }
    	 
    	 .button.gray-btn {
				&:hover, &:focus {
					background-color: $gray;
				    color: $white;
				    opacity: 0.9;
				}
			}    
			
		 .button.white-btn {
				background-color: $white;
			    color: $dark_black;
			    border: 1px solid $dark_black;
			}
	}

    .fltMsg {
	    font-size: 18px;
	    color: $dark_black;
	    margin-bottom: 40px;
	}

    .table.pasInfo {
    	margin-bottom: $padding_margin_base * 10;
    	 thead {
    	     tr {
    	     	th {
    	     		    border-bottom-width: 1px;
	    	     		font-size: 16px;
		    			font-weight: 400;
		    		&:first-child{
		    			width: 25%;
		    		}
    	     	}
    	     	
    	     }
    	 } 
    	 tbody tr {
   			 td {
	    	     		font-weight: 300;
		    			font-size: 13px;
		     		&:first-child{
		    			width: 25%;
		    		}
    	     	}
    	     }	
    }
    .pnr-no {
	    font-size: 26px;
	    margin-bottom: 20px;
	}

	.table.flightDtl {
	    border-bottom: 1px solid #ccc;
		    th {
		    padding: 11px 20px;
		    border-bottom: none;
		    background: #fafafa;
		    box-shadow: none;
		    font-weight: 600;
		    border-left: 1px solid #ccc;
		    
		    &:last-child{ border-right: 1px solid #ccc;}
		}
		tr {
		 &:first-child td{border-top: none;}
		}
		td {
	    	padding: 18px 0 18px 20px;
		}
		&.cancelFlt {
		  margin-bottom: 40px;
		   td{
		   		color: #999;
		   }
		  }
		  
	.container-chkbox {
	    display: inline-block;
	    position: relative;
	    padding-left: 35px;
	    margin-bottom: 15px;
	    cursor: pointer;
	    font-size: 22px;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	   	 user-select: none;
    
		    input {
			    position: absolute;
			    opacity: 0;
			    cursor: pointer;
			    &:checked ~ .checkmark {
					    background-color: $light_green;
					    border-color: $light_green;
					    &:after {
							    display: block;
							}
					}
		    }
		    .checkmark {
			    position: absolute;
			    top: 0;
			    left: 0;
			    height: 20px;
			    width: 20px;
			    border-radius: 100%;
			    border: 1px solid #888;
			    background-color: $white;
			    
			    &:after {
					    content: "";
					    position: absolute;
					    display: none;
					    left: 6px;
					    top: 3px;
					    width: 6px;
					    height: 9px;
					    border: solid white;
					    border-width: 0 3px 3px 0;
					    -webkit-transform: rotate(45deg);
					    -ms-transform: rotate(45deg);
					    transform: rotate(45deg);
				}
			}
}
	}

	
	.clr-red{
	    color: $light_red;
	}
	.clr-green{
		color:$light_green;
	}
	.fa.fa-check-circle{
		color: $light_green
	}
	sup.iconPath {
	    top: -6px !important;
	    margin-left: 4px;
	    margin-right: 2px;
	}
	
	


.terms_condition {
    margin-bottom: 45px;
	    h4 {
			font-size: 20px;
			margin: 25px 0;
	}
	a {
		    text-decoration: underline;
		    color: $dark_black;
		    font-weight: 600;
	}
}

.buttonsGrp {
	margin-top: $padding_margin_base * 10;
}