<?xml version="1.0" encoding="UTF-8"?>
<message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<header>
		<subject>$commonTemplatingDTO.getCarrierName() Notification</subject>
	</header>
	<content>
		<body><![CDATA[$commonTemplatingDTO.getCarrierName() Customer, Your flight $oldFlightAlertInfoDTO.getFlightNumber() on $oldFlightAlertInfoDTO.getDepartureStringDate("EEE, dd MMM yyyy HH:mm") {$oldFlightAlertInfoDTO.getOriginAptCode()/$oldFlightAlertInfoDTO.getDestinationAptCode()} has changed.New departure is on $newFlightAlertInfoDTO.getDepartureStringDate("EEE, dd MMM yyyy HH:mm") hrs.For further info call $phone.]]></body>		
	</content>
</message>