<?xml version="1.0" encoding="UTF-8"?>
<message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<header>
		<subject>$commonTemplatingDTO.getCarrierName() Notification</subject>
	</header>
	<content>
		<body><![CDATA[$commonTemplatingDTO.getCarrierName() 고객님, 고객님의 $oldFlightAlertInfoDTO.getFlightNumber() / $oldFlightAlertInfoDTO.getDepartureStringDate("EEE, dd MMM yyyy HH:mm") {$oldFlightAlertInfoDTO.getOriginAptCode()/$oldFlightAlertInfoDTO.getDestinationAptCode()} 항 공편은 운항취소 되었음을 알려드립니다. 자세한 문의는 예약발권부 $phone 으로 문의 하여 주시기 바랍니다.]]></body>		
	</content>
</message>