<?xml version="1.0" encoding="iso-8859-1"?>
<message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<header>
		<subject>OTP to Redeem Voucher</subject>
	</header>
	<content>
		<body><![CDATA[Dear Customer $customerName your VOUCHERID: $voucherID is to be redeemed. Please enter OTP:$otp to Redeem Voucher]]></body>
	</content>
</message>
