$site-primary-color: #3081B7;
$site-accent-color: #249E86;
$site-accent-color-dark: #249E86;

/* Red and Gray Demo

$site-primary-color: #000000;
$site-accent-color: #444444;
$site-accent-color-dark: darken(#848484, 20%);*/