<!DOCTYPE html>
<html >
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

</head>
<body ng-app="isaApp">
<div ng-controller = "btnController">
    <!--<isabtn type="checkbox" name="caption"></isabtn>
    <br/>
    <isabtn type="radio" name="caption"></isabtn>
    <br/>-->
    <isacbtn type="counter" name="caption"></isacbtn>
    <input type="text" >
    <h1>{{userName}}</h1>
</div>
</body>
<script src="../../../../bower_components/jquery/dist/jquery.js"></script>
<script src="../../../../bower_components/angular/angular.js"></script>
<script src="../../../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../../../../bower_components/angular-animate/angular-animate.js"></script>
<script src="../../../../bower_components/angular-cookies/angular-cookies.js"></script>
<script src="../../../../bower_components/angular-resource/angular-resource.js"></script>
<script src="../../../../bower_components/angular-route/angular-route.js"></script>
<script src="../../../../bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="../../../../bower_components/angular-touch/angular-touch.js"></script>
<script src="../../../../bower_components/moment/moment.js"></script>
<script src="../../../../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="../../../../bower_components/sticky/jquery.sticky.js"></script>
<script src="js/isaui_module_config.js"></script>
<script src="ui_lib/module/button/js/isaui_button.js"></script>
<script src="ui_lib/module/counter_button/js/isaui_counter_button.js"></script>
<script src="js/isaui_controller.js"></script>
<script src="js/isa_directives.js"></script>
</html>