<div ng-controller="optionListController" class="isa-option-list-wrapper"  >
    <div class="thumb-block" ng-repeat = "option in source">
        <!-- Image -->
        <div class="image col-md-2" style="background-image:url({{option.imageurl}})"></div><!-- // Image -->

        <!-- Title -->
        <div class="title col-md-7">
            <h2>{{option.optionName}}</h2>
            <p>{{option.description}}</p>
        </div><!-- // Title -->

        <!-- Options -->
        <div class="options col-md-3">
            <span class="price-block" isaconnecotor>
                <i class="currency">{{option.value.currency}}</i>
                <i class="price">{{option.value.amount}}</i>
            </span>

            <span ng-click="optionOnClick({id:option.optionName})" class="button gray-btn">{{option.buttonCaption}} <i class="fa fa-angle-right"></i></span>
        </div><!-- // Options -->
    </div><!-- // Thumb Block -->
</div>

