<div class="family-container" ng-controller="familyController as familyMember" >

<h4 class="row ma-tp-5">
	<span class="col-lg-12 col-md-12 col-sm-12 col-xs-10">
		<span class="family-heading" translate="lbl_passenger_addFamilyDetails">Family and Friends</span>
	</span>
	<span class="col-xs-2">
		<span class="glyphicon glyphicon-plus td_color pull-right" ng-click="familyMember.open()" ng-if="deviceType.isMobileDevice"></span>
	</span>
</h4>
<div class="row">
		<span class="col-md-12 col-sm-12 col-xs-12 ma-tp-3">
				<h4 class="family-heading-2"
					translate="lbl_passenger_addFamilyDetailsRecords">Add your family members and friends below who usually travel with you.
					Saved passengers will be available to load during booking.</h4>
			</span>
</div>

	
<div class="familyform">
	<form name="familyForm" id="familyForm" novalidate isa-validator-type="contact" isa-validator-rules="{{familyMember.contactValidation}}"
		ng-submit="familyMember.familySubmit(familyForm)"> 
		<div ng-if="!deviceType.isMobileDevice" class="row alignFamily">
			
			<div class="col-md-2 col-sm-2" valdr-enabled="!isNameChange" id="pax-title"
				ng-class="{'disable-me':isNameChange}">
				<label> <span translate="lbl_common_salutation">Title</span>
					<sup class="red">*</sup>
				</label>
				<div class="ibe-drop-down">
					<div  isa-validator>
						<div class="btn-group xs-btn-group-class relationship-border" uib-keyboard-nav
							uib-dropdown ng-model="familyMember.display.title"
							name="title">
							<button id="title" type="button" class="btn btn-primary"
								uib-dropdown-toggle ng-disabled="disabled"
								ng-model="familyMember.display.title">
								<span class="dp-caption">{{familyMember.display.title
									|| ''}}&nbsp;</span> <span class="fa fa-angle-down"></span>
							</button>
							<ul class="uib-dropdown-menu" role="menu" id="title-dropdown"
								aria-labelledby="single-button">
								<li ng-repeat="salutation in familyMember.salutationList"
									ng-click="familyMember.setSalutation(salutation)"
									role="menuitem" onclick="closeDropdown()"><a
									href="javascript:;">{{salutation.titleName}}</a></li>
							</ul>
							<script type="text/javascript">function closeDropdown() {
                                       if ($('.xs-btn-group-class').hasClass('open')) {
                                           $('.xs-btn-group-class').removeClass('open');
                                       }
                                   }</script>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-2 col-sm-2">
				<label> <span translate="lbl_common_firstName">First
						Name</span> <sup class="red"> *</sup>
				</label>
				<div class="ibe-typeahead">
				<div class="form-group" isa-validator>
					<input type="text" class="form-control"  maxlength="50" name="firstName"
						id='firstName' ng-model="familyMember.family.firstName">
				</div>
				</div>
			</div>

			<div class="col-md-2 col-sm-2">
				<label> <span translate="lbl_common_lastName">Last
						Name</span> <sup class="red"> *</sup>
				</label>
				<div class="ibe-typeahead">
				<div isa-validator>
					<input type="text" class="form-control" maxlength="50" name="lastName" id='lastName'
						ng-required="true" ng-model="familyMember.family.lastName">
				</div>
				</div>
			</div>
			
			<!--  new relationship -->

				<div class="col-md-2 col-sm-2" valdr-enabled="!isNameChange"
					ng-class="{'disable-me':isNameChange}">
					<label> <span translate="lbl_common_relationship">Relationship</span>
						<sup class="red">*</sup>
					</label>
					<div class="ibe-drop-down">
						<div isa-validator>
							<div class="btn-group xs-btn-group-class relationship-border" uib-keyboard-nav
								uib-dropdown ng-model="familyMember.display.relationshipName"
								name="relationship">
								<button id="relationship" type="button" class="btn btn-primary"
									uib-dropdown-toggle ng-disabled="disabled"
									ng-model="familyMember.display.relationshipName"
									>
									<span class="dp-caption">{{familyMember.display.relationshipName
										|| ''}}&nbsp;</span> <span class="fa fa-angle-down"></span>
								</button>
								<ul class="uib-dropdown-menu" role="menu" id="relationship-dropdown"
									aria-labelledby="single-button">
									<li ng-repeat="relationship in familyMember.relationshipList"
										ng-click="familyMember.setRelationship(relationship)"
										role="menuitem" onclick="closeDropdown()"><a
										href="javascript:;">{{relationship.name}}</a></li>
								</ul>
								<script type="text/javascript">function closeDropdown() {
                                        if ($('.xs-btn-group-class').hasClass('open')) {
                                            $('.xs-btn-group-class').removeClass('open');
                                        }
                                    }</script>
							</div>
						</div>
					</div>
				</div>
				<!--  new relationship-->

			<div class="col-md-2 col-sm-2" valdr-enabled="!isNameChange" id="nationalityInContact"
				ng-class="{'disable-me':isNameChange}">
				<label> <span translate="lbl_passenger_nationality">Nationality</span>
					<sup class="red">*</sup>
				</label>
				<div class="ibe-typeahead nationality-class-familymember">
					<div isa-validator>
						<div class="ibe-typeahead">
							<input type="text" name="nationality"
								id="nationality"
								onClick="scrollToNationality()"
								ng-model="familyMember.display.nationalityName"
								uib-typeahead="nationality.name as nationality.name for nationality in familyMember.nationalityList | filter:{name:$viewValue}:familyMember.startsWith"
								autocomplete="off" class="form-control" typeahead-min-length="0"
								typeahead-focus
								typeahead-on-select="familyMember.setNationality($item)"/>
						</div>
					</div>
					<script>
						function scrollToNationality() {
							if (window.matchMedia("only screen and (max-width: 767px)").matches) {
								var element = $('#nationalityInContact');
								$("html, body").animate({
									scrollTop : element.offset().top - 94
								}, 600);
							}
						}
					</script>
				</div>
			</div>

			<div class="col-md-2 col-sm-2">
				<div class="data-input dob-family">
					<label><span translate="lbl_passenger_dob">Date of
							Birth</span> <sup class="red"> *</sup></label>
					<div class="ibe-typeahead" isa-validator>
						<div 
							class="pas-frm-datePicker ibe-jquery-date-picker xs-ibe-date-picker"
							ng-class="{'dob-invalid': familyMember.isDobError}">
							<input ui-date="familyMember.dateOptions" name="dob"
								ng-model="familyMember.family.dateOfBirth" ng-change="familyMember.onDobChange()"
								class="form-control" id="airewards-dob" ui-date-fix readonly/>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-2 col-sm-2 col-xs-12">
				<label translate=""></label>
				<button type="submit" class="button red-btn">
					<span ng-if="!familyMember.isEdit" translate="lbl_passenger_addFamilyMember"> Save </span>
					<span ng-if="familyMember.isEdit" translate="lbl_passenger_updateFamilyMember"> Update Member </span>					
				</button>
			</div>
		</div>
	<!-- Modal Box -->
	<div class="modal-box" ng-if="familyMember.model.isPopupOpen">
		<!-- Overlay -->
		<div class="overlay"></div>
		<!-- // Overlay -->

		<!-- Modal Content -->
		<div class="modal-content family-modal">
			<div class="modal-header">
				<div class="">
					<div class="col-xs-8">
						<h4 translate="{{familyMember.isEdit? 'lbl_modify_editFamilyMember' : 'lbl_passenger_addPaxNameDetails'}}">Add Family Member</h4>
					</div>
					<div class="col-xs-4" ng-if="familyMember.isEdit">
						<span class="glyphicon glyphicon-trash td_color td_padding pull-right delete-btn"
							ng-click="familyMember.openDeletePopup()"></span>					
					</div>
				</div>
	  		</div>
			<!-- Modal Body -->
			<div class="modal-body">
			<div class="modal-data">
		
			<div class="alignFamily">
			<div class="col-xs-12" id="pax-title">
				<label> <span translate="lbl_common_salutation">Title</span>
					<sup class="red">*</sup>
				</label>
				<div class="ibe-drop-down ma-bt-4">
					<div  isa-validator>
						<div class="btn-group xs-btn-group-class relationship-border" uib-keyboard-nav
							uib-dropdown ng-model="familyMember.display.title"
							name="title">
							<button id="title" type="button" class="btn btn-primary"
								uib-dropdown-toggle ng-disabled="disabled"
								ng-model="familyMember.display.title">
								<span class="dp-caption">{{familyMember.display.title
									|| ''}}&nbsp;</span> <span class="fa fa-angle-down"></span>
							</button>
							<ul class="uib-dropdown-menu" role="menu" id="title-dropdown"
								aria-labelledby="single-button">
								<li ng-repeat="salutation in familyMember.salutationList"
									ng-click="familyMember.setSalutation(salutation)"
									role="menuitem" onclick="closeDropdown()"><a
									href="javascript:;">{{salutation.titleName}}</a></li>
							</ul>
							<script type="text/javascript">function closeDropdown() {
                                       if ($('.xs-btn-group-class').hasClass('open')) {
                                           $('.xs-btn-group-class').removeClass('open');
                                       }
                                   }</script>
						</div>
					</div>
				</div>
			</div>
			</div>
			
			<div class="col-xs-12">
				<label> <span translate="lbl_common_firstName">First
						Name</span> <sup class="red"> *</sup>
				</label>
				<div class="ibe-typeahead">
					<div isa-validator>
						<input type="text" class="form-control" maxlength="50" name="firstName"
							id='firstName' ng-model="familyMember.family.firstName">
					</div>
				</div>
			</div>

			<div class="col-xs-12">
				<label> <span translate="lbl_common_lastName">Last
						Name</span> <sup class="red"> *</sup>
				</label>
				<div class="ibe-typeahead">
					<div isa-validator>
						<input type="text" class="form-control" maxlength="50" name="lastName" id="lastName"
							ng-model="familyMember.family.lastName">
					</div>
				</div>
			</div>
				
				<!--  new relationship -->
				
				<div class="col-xs-12">
					<label> <span translate="lbl_common_relationship">Relationship</span>
						<sup class="red">*</sup>
					</label>
					<div class="ibe-drop-down ma-bt-4">
						<div isa-validator>
							<div class="btn-group xs-btn-group-class relationship-border" uib-keyboard-nav
								uib-dropdown ng-model="familyMember.display.relationshipName"
								name="relationship">
								<button id="relationship" type="button" class="btn btn-primary"
									uib-dropdown-toggle ng-disabled="disabled"
									ng-model="familyMember.display.relationshipName"
									>
									<span class="dp-caption">{{familyMember.display.relationshipName
										|| ''}}&nbsp;</span> <span class="fa fa-angle-down"></span>
								</button>
								<ul class="uib-dropdown-menu" role="menu" id="relationship-dropdown"
									aria-labelledby="single-button">
									<li ng-repeat="relationship in familyMember.relationshipList"
										ng-click="familyMember.setRelationship(relationship)"
										role="menuitem" onclick="closeDropdown()"><a
										href="javascript:;">{{relationship.name}}</a></li>
								</ul>
								<script type="text/javascript">function closeDropdown() {
                                        if ($('.xs-btn-group-class').hasClass('open')) {
                                            $('.xs-btn-group-class').removeClass('open');
                                        }
                                    }</script>
							</div>
						</div>
					</div>
				</div>
					<!--  new relationship-->

				<div class="col-xs-12" id="nationalityInContactmob">
					<label> <span translate="lbl_passenger_nationality">Nationality</span>
						<sup class="red">*</sup>
					</label>
					<div class="ibe-typeahead nationality-class-familymember">
						<div isa-validator>
							<input type="text"
								ng-model="familyMember.display.nationalityName" 
								name="nationality"
								id="nationality"
								onClick="scrollToNationality()"
								uib-typeahead="nationality.name as nationality.name for nationality in familyMember.nationalityList | filter:{name:$viewValue}:familyMember.startsWith"
								autocomplete="off" 
								class="form-control" 
								typeahead-min-length="0"
								typeahead-select-on-exact="true"
								typeahead-focus
								typeahead-on-select="familyMember.setNationality($item)"/>
						</div>
						<script>
							function scrollToNationality() {
								if (window.matchMedia("only screen and (max-width: 767px)").matches) {
									var element = $('#nationalityInContactmob');
									$(".family-modal").animate({
										scrollTop : element.offset().top - 94
									}, 600);
								}
							}
						</script>
					</div>
				</div>
	
				<div class="col-xs-12">
					<div class="data-input dob-family">
						<label><span translate="lbl_passenger_dob">Date of
								Birth</span> <sup class="red"> *</sup></label>
					<div class="ibe-typeahead" isa-validator>
							<div 
								class="pas-frm-datePicker ibe-jquery-date-picker xs-ibe-date-picker"
								ng-class="{'dob-invalid': familyMember.isDobError}">
								<input 
									ui-date="familyMember.dateOptions"
									name="dob"
									ng-model="familyMember.family.dateOfBirth"
									ng-change="familyMember.onDobChange()"
									class="form-control"
									id="airewards-dob" ui-date-fix readonly/>
							</div>
					</div>
					</div>
				</div>
			</div>
			</div>
			<!-- // Modal Body -->

			<!-- Modal Footer -->
				<div class="modal-footer col-xs-12">
					<div class="col-xs-6">
						<button class="button red-btn cancel-btn" ng-click="familyMember.closeFamilyPopup(familyForm)">
							<span translate="btn_common_cancel">Cancel</span>
						</button>
					</div>
					<div class="col-xs-6">
						<button class="button red-btn" type="submit">
							<span ng-if="!familyMember.isEdit" translate="lbl_passenger_addFamilyMember"> Save </span>
							<span ng-if="familyMember.isEdit" translate="lbl_passenger_updateFamilyMember"> Update Member </span>					
						</button>
					</div>
				</div>
			</div>
			<!-- // Modal Footer -->
		</div>
		<!-- // Modal Content -->
	</div>
	<!-- // Modal Box -->

	<!-- Modal Box -->
	<div class="modal-box" ng-if="familyMember.model.isDeletePopup">
		<!-- Overlay -->
		<div class="overlay"></div>
		<!-- // Overlay -->

		<!-- Modal Content -->
		<div class="modal-content family-delete-modal">
			<!-- Modal Body -->
			<div class="modal-body">
				<div class="modal-data">
					<div class="text-center">
						<span translate="msg_delete_family_confirmation" 
							translate-values="{name : '{{familyMember.family.firstName|limitTo: 20}}
							{{familyMember.family.firstName.length > 20 ? '...' : ''}}
							{{familyMember.family.lastName|limitTo: 20}}
							{{familyMember.family.lastName.length > 20 ? '...' : ''}}'}"></span>
					</div>
				</div>
			<!-- // Modal Body -->

			<!-- Modal Footer -->
				<div class="modal-footer col-xs-12 ma-tp-5">
					<div class="col-xs-6">
						<button class="button red-btn cancel-btn" ng-click="familyMember.closeDeletePopup()">
							<span translate="btn_common_cancel">Cancel</span>
						</button>
					</div>
					<div class="col-xs-6">
						<button class="button red-btn" ng-click="familyMember.deleteValue(familyMember.family,familyForm)">
							<span translate="lbl_common_transfer_delete">Delete</span>
						</button>
					</div>
				</div>
			</div>
			<!-- // Modal Footer -->
		</div>
		<!-- // Modal Content -->
	</div>
	<!-- // Modal Box -->

		<div>
			<table class="table family-table" ng-if="!deviceType.isMobileDevice">
				<tr ng-if="familyMember.familyMemberList.length != 0">
					<th translate="lbl_common_salutation">Title</th>
					<th translate="lbl_common_firstName">First Name</th>
					<th translate="lbl_common_lastName">Last Name</th>
					<th translate="lbl_common_relationship">Relationship</th>
					<th translate="lbl_passenger_nationality">Nationality</th>
					<th translate="lbl_passenger_dob">Date of Birth</th>
					<th translate="lbl_common_edit">Edit</th>
					<th translate="lbl_common_remove">Remove</th>
				</tr>
				<tr ng-repeat="families in familyMember.familyMemberList">
					<td>{{families.title}}</td>
					<td>{{families.firstName | limitTo: 20 }}{{families.firstName.length > 20 ? '...' : ''}}</td>
					<td>{{families.lastName | limitTo: 20 }}{{families.lastName.length > 20 ? '...' : ''}}</td>
					<td ng-bind="families.relationshipName"></td>
					<td>{{families.nationalityName}}</td>
					<td>{{families.dateOfBirth  | date: "dd/MM/yyyy"}}</td>
					<td class="element-edit"><span class="glyphicon glyphicon-edit td_color"
						ng-click="familyMember.edit(families)"></span></td>
					<td class="element-remove"><span
						class="glyphicon glyphicon-trash td_color td_padding"
						ng-click="familyMember.deleteMember(families)"></span></td>
				</tr>
			</table>
			<table class="table" ng-if="deviceType.isMobileDevice"> 
				<tr ng-repeat="families in familyMember.familyMemberList">
					<td ng-click="familyMember.edit(families)">
						<div class="row mr-family-detail-row">
							<div>
								<div class="col-md-6 col-sm-6 col-xs-6 mr-family-header pd-r-0 " translate="lbl_common_paxname">Name</div>
								<div class="col-md-6 col-sm-6 col-xs-6 mr-family-header" translate="lbl_passenger_nationality">Nationality</div>
							</div>
							<div class="detailfont-row">
								<div class="col-md-6 col-sm-6 col-xs-6 pd-r-0 ">
								{{families.title}}
								{{families.firstName | limitTo: 20 }}{{families.firstName.length > 20 ? '...' : ''}}
								{{families.lastName  | limitTo: 20 }}{{families.lastName.length > 20 ? '...' : ''}}</div>
								<div class="col-md-6 col-sm-6 col-xs-6">{{families.nationalityName}}</div>
							</div>
						</div>
						<div class="row mr-family-detail-row">
							<div>
								<div class="col-md-6 col-sm-6 col-xs-6 mr-family-header pd-r-0 " translate="lbl_common_relationship">Relationship</div>
								<div class="col-md-6 col-sm-6 col-xs-6 mr-family-header" translate="lbl_passenger_dob">Date of Birth</div>													
							</div>
							<div class="detailfont-row">
								<div class="col-md-6 col-sm-6 col-xs-6 pd-r-0 ">{{families.relationshipName}}</div>
								<div class="col-md-6 col-sm-6 col-xs-6">{{families.dateOfBirth}}</div>
							</div>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</form>
<div class="row back-bar back-to-reservation col-sm-5 col-md-5 col-xs-12">
	<a href="" class="submit-link pull-left text-left" ng-click="familyMember.backToDashboard()">
		<span class="pull-left"><i class="fa fa-angle-left rtl-icon-rotate" style="font-size: 16px;padding:13px 3px !important;"></i></span>
		<span class="pull-left ng-scope" translate="lbl_common_backToDashboard" style="padding: 1px 0 0 10px;">Back To Dashboard</span>
	</a>
</div>
</div>