<div ng-controller="seatController as seatMeal" >
    <div class="col-md-12 col-sm-12 col-xs-12 pd-0">
		<h4 class="heading-seat" translate="lbl_passenger_seatMeal">Seat/Meal
			Preferences</h4>
		<p class="all-heading-sub-text" translate="lbl_passenger_seatMeal_preference_message">Add your seat and meal
			preferences below. Selected preferences will be available during booking for easier selection.</p>
		<!-- Seat Selection  -->
		<h4 class="heading-seat-2" translate="lbl_passenger_seatMeal_select">Select
			Your Preferred Seats</h4>
		<div class="row seat-checkbox-margin" ng-repeat="x in seatMeal.seatList">
			<div class="col-sm-4 col-xs-6">
				<label class="container-chkbox"> <input type="radio"
					id="aisle" ng-model="$parent.seatMeal.seatPreferencesList"
					value="{{x.seatType}}" style="visibility: visible" /> <span
					class="checkmark"></span>{{x.description}}
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-sm-8 hidden-xs">
				<p translate="lbl_passenger_seatMeal_allocatedmessage">Note:
					Your seat will be allocated elsewhere if there are no available
					slots on your upcoming flight.</p>
			</div>
			<div class="btn-wrap col-md-4 col-sm-4 col-xs-12 pull-right"
				style="z-index: 100;">
				<a ng-click="seatMeal.updateSeatPreference(seatMeal.seatPreferencesList)"
					class="button red-btn done-button save-pref-meal-btn"
					translate="lbl_passenger_seatMeal_save">Save Seat Preference</a>
			</div>
			<br> <br> <br>
		</div>
		<h4 class="heading-seat-3"
			translate="lbl_passenger_seatMeal_selectmeals"  ng-if="!seatMeal.isMobileDevice">Select Your
			Preferred Meals</h4>
		<br>
	</div>
	<div ng-if="!seatMeal.isMobileDevice" class="col-md-12 pd-0">
		<div class="col-md-8 pd-l-2">
			<!-- Meal Selection -->
			<div class="row search-row">
				<div class="meals-search-box col-md-8 search meals-search-box-styles">
					<!-- <div class="row"> -->
					<div class="search-box col col-md-9 col-sm-9 col-xs-12">
						<form>
							<input type="search"
								placeholder="{{'lbl_extra_mealSearchPlaceholder' | translate}}"
								name="search" ng-model="seatMeal.searchText"
								ng-change="onFiltering({mealName:searchText})">
						</form>
					</div>
					<div class="sort dropdown col col-md-3 col-sm-3 col-xs-12">
						<div class="btn-group" uib-keyboard-nav uib-dropdown
							is-open="status.isopen">
							<button class="btn btn-default dropdown-toggle sortby-btn"
								id="meal-filterby" uib-dropdown-toggle ng-disabled="disabled">
								<span translate="lbl_extra_mealSortBy">Sort By</span>
								{{orderbyText | translate}} <i class="fa fa-angle-down arrow-pref"></i>
							</button>
							<ul class="dropdown-menu" role="menu"
								aria-labelledby="single-button">
								<li ng-click="seatMeal.sortBy('mealName')"
									role="menuitem"><a href="#"
									translate="lbl_extra_mealSortByName">By Name</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="mealbutton">
				<div class="row">
					<div class="selected-cat col-md-8 display">
						<div class="col-md-3 disactive" ng-class="{disactive: search.mealCategoryCode==category}">
							<span translate="lbl_common_selectAll"
								class="cat-button" ng-click="seatMeal.resetFilters()"
								translate="lbl_passenger_seatMeal_button_selectall">Select
								All</span>
						</div>
						<div class="col-md-3 active" ng-repeat="category in seatMeal.mealCategory" ng-class="{disactive: search.mealCategoryCode==category}">
							<span class="cat-button"
								ng-click="search.mealCategoryCode=category">{{category}}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="pagination seat-pagination pagination-width commonMargin-b" ng-if="!seatMeal.searchText">
				<ul uib-pagination class="pagination-wrapper" ng-model="seatMeal.currentPage"
					max-size="seatMeal.noOfPages" total-items="seatMeal.totalItems"
					items-per-page="seatMeal.entryLimit" boundary-link-numbers="true"
					ng-change="seatMeal.pageChanged()"  direction-links="false"></ul>
			</div>
			<div class="row display-preference-meals">
				<div class="meal-block"
					ng-repeat="item in filtered = seatMeal.items | filter:search | filter:seatMeal.searchText |startFrom:(seatMeal.currentPage-1)*seatMeal.entryLimit | limitTo:seatMeal.entryLimit">
					<span class="image col-md-2 col-sm-2"
						style="background-image: url({{item.mealThumbnailImagePath}});"></span>

					<!-- Data -->
					<div class="data col-md-7 col-sm-6">
						<!-- Title -->
						<h2 class="title">{{item.mealName}}</h2>
						<!-- Description -->
						<div class="description">{{item.mealDescription}}</div>
						<!-- // Description -->
					</div>
					<!-- // Data -->
					<div class="options col-md-3 col-sm-3 col-xs-12">
						<button ng-click="seatMeal.onElementClick($index)"
							id="mealbtn-{{$index}}"
							type="button"
							class="button add-meal-pref"
							ng-class="{'items-added': addedItems[item.mealCode], 'red-btn': $index === seatMeal.selectedRowIndex, 'gray-btn': $index !== seatMeal.selectedRowIndex}">
			
						<span ng-if="item.quantity < 1 && $index !== seatMeal.selectedRowIndex"
							  class="meal-select-caption "
							  translate="lbl_meal_addMeal">Add This Meal
						</span>
						<span ng-if="item.quantity > 0 && $index !== seatMeal.selectedRowIndex"
							  class="meal-select-caption "
							  translate="lbl_meal_editMeal">Edit Selection
						</span>
			
						<span ng-if="$index === seatMeal.selectedRowIndex" class="meal-select-caption" translate="lbl_common_done">Done</span>
						<i class="fa modify fa-angle-down"></i>
					</button>
			
					<div  ng-if="$index === seatMeal.selectedRowIndex" style="" class="dropdown-content meals-qty-dropdown">
						<ul>
								<li class="pd-rt-0">
									<span class="check checkbox-circle">
										<input type="checkbox" checked id="qty_id_{{$index}}" name="" ng-if="!isMobileDevice" />
										<label class="text-left" for="qty_id_{{$index}}">{{item.mealName}}</label>
									</span>
									<form>
										<a ng-click="seatMeal.onDecrement(item)" href="" class="add"><i class="fa fa-minus-circle"></i></a>
										<input  ng-if="!mDevice" type="number" min="0" oninput="validity.valid||(value=value.replace(/\D+/g, ''))" ng-model="item.quantity">
										<input  ng-if="mDevice"  data-meal-key="{{key}}" type="text" ng-model="currentItemSelection[$index].count">
										<a ng-click="seatMeal.onIncrement(item)" href="" class="add"><i class="fa fa-plus-circle"></i></a>
									</form>
								</li>
								 <div ng-if="mDevice" class="col-xs-12 pd-l-6 pd-r-4 pd-tp-2">
									<button  class="button red-btn xs-meal-btn pull-right" translate="lbl_common_done" type="button"  ng-click="onDoneClick($event,index,false)">Done
								 </button>
							</ul>
						</div>
					</div>
				</div>
				<div ng-show="(filtered | filter:seatMeal.searchText).length == 0">
					<h1 translate="lbl_extra_mealsNoMeals">Meals not available</h1>
			</div>
			</div>
		</div>
		<div class="col-md-4 pd-r-0 meal-preference-list hidden-xs">
			<div class="cart-section clearfix">
				<div class="col-sm-12 meal-cart-header pull-right">
					<span class="pull-left" translate="lbl_common_Meals">Meals</span>
				</div>
				<div class="meal-cart-content col-sm-12">
					<div class="col-sm-12">
						<label class="preferred-meal-head"
							translate="lbl_common_Meals_Preferred">Preferred Meals</label>
					</div>
					<table class="table table-pref-meal">
						<tr ng-repeat="meal in seatMeal.items" ng-if="meal.quantity>0">
							<td><span
								class="glyphicon glyphicon-trash td_color trash-icon-meal td_padding"
								ng-click="seatMeal.removeMeal($index)"></span></td>
							<td>{{meal.mealName}}</td>
							<td>{{meal.quantity}}</td>
						</tr>
					</table>
					<p class="note-meal"
						translate="lbl_passenger_seatMeal_notavailablemessage">Note:
						Please be informed that all meals may be not available for specific
						flights</p>
					<button class="button red-btn done-button save-pref-meal-btn" type="submit"
						ng-click="seatMeal.updateMealPreference(seatMeal.items)"
						class="button red-btn done-button"
						translate="lbl_common_saveMeals">Save Preferred Meals</button>
				</div>
			</div>
		</div>
	</div>
	<div ng-if="seatMeal.isMobileDevice"
		class="col-xs-12 xs-meal-preference">
		<h4 class="heading-seat-3"
			translate="lbl_passenger_seatMeal_selectmeals">Select Your
			Preferred Meals</h4>
		<div class="row addon-panel">

			<div id="xs-summary-drawer"
				class="xs-summary-drawer summary-drawer-meal visible-xs">
				<div class="col-md-4 pd-0" id="summary-meal">

					<div class="cart-section clearfix">
						<uib-accordion class="segment-list preferred-meals-list">
						<uib-accordion-group> <uib-accordion-heading>
						<div class="col-xs-12 meal-cart-header" ng-click="isOpen= !isOpen">
							<span class="pull-left" translate="lbl_common_Meals"
								style="color: white; font-weight: bold;">Meals</span> <span
								class="fa pull-right"
								ng-class="{'fa-plus': !isOpen, 'fa-minus': isOpen}"
								style="color: white; margin: 10px; font-size: 2.4rem;"></span>

						</div>
						</uib-accordion-heading>
						<div class="seat-slider-section">

							<div class="addon-panel" id="meal-accordion">
								<uib-accordion class="segment-list pref-meal-panel"> <uib-accordion-group
									ng-repeat="category in seatMeal.mealCategory track by $index">

								<uib-accordion-heading>
								<div
									ng-click="accordionOpen = !accordionOpen;seatMeal.searchText=category"
									class="col-xs-12">
									<i class="fa" ng-class="accordionOpen ? 'fa-minus' : 'fa-plus'"></i>

									<span class="text-left"> {{category}} </span>
								</div>
								</uib-accordion-heading>


								<div class="row display-meals meal-slider">
									<div class=" meal-block row col-xs-12 xs-meal-block meal-pref-block"
										ng-repeat="item in filtered = seatMeal.items | filter:search | filter:seatMeal.searchText |startFrom:(seatMeal.currentPage-1)*seatMeal.entryLimit | limitTo:seatMeal.entryLimit track by $index"
										style="display: block;">
										<span class="image col-xs-3"
											style="background-image: url({{item.mealThumbnailImagePath}});"></span>

										<!-- Data -->
										<div class="data col-xs-9">
											<!-- Title -->
											<h2 class="title pd-r-3 text-left">{{item.mealName}}</h2>
											<!-- Description -->
											<div class="description pd-r-3 text-left">{{item.mealDescription}}</div>
											<!-- // Description -->

											<div>
												<div class="option-section pull-right">
													<button ng-click="seatMeal.onElementClick($index)"
														id="mealbtn-{{$index}}" type="button" class="button meal-select-option"
														ng-class="{'items-added': addedItems[item.mealCode], 'red-btn': $index === seatMeal.selectedRowIndex, 'gray-btn': $index !== seatMeal.selectedRowIndex}">

														<span
															ng-if="item.quantity < 1 && $index !== seatMeal.selectedRowIndex"
															class="meal-select-caption " translate="lbl_meal_addMeal"
															style="padding: 0 !important">Add This Meal </span> <span
															ng-if="item.quantity > 0 && $index !== seatMeal.selectedRowIndex"
															class="meal-select-caption" translate="lbl_meal_editMeal"
															style="padding: 0 !important"> Edit Selection </span> <span
															ng-if="$index === seatMeal.selectedRowIndex"
															class="meal-select-caption" translate="lbl_common_close"
															style="padding: 0 !important">Close</span>
													</button>
												</div>


											</div>

										</div>
										<div ng-if="$index === seatMeal.selectedRowIndex" style=""
											class="dropdown-content meals-qty-dropdown">
											<ul>
												<li class="pd-rt-0">
													<form class="col-xs-12 pd-0 meal-qty-form xs-meal-form">
														<a
															ng-click="seatMeal.onDecrement(item,true,$event); $event.stopPropagation();"
															href="" class="add col-xs-1 pd-0">
															<i class="fa fa-minus-circle"></i>
														</a>
														<input type="number"
															min="0"
															oninput="validity.valid||(value=value.replace(/\D+/g, ''))"
															ng-model="item.quantity">
														<a
															ng-click="seatMeal.onIncrement(item,true,$event); $event.stopPropagation();"
															href="" class="add"><i class="fa fa-plus-circle"></i>
														</a>
														<button class="button red-btn xs-meal-btn pull-right"
															translate="lbl_common_done" type="button"
															ng-click="seatMeal.onDoneClick($event,item);$event.stopPropagation();">Done
														</button>
													</form>
												</li>

											</ul>
										</div>
									</div>
									<div
										ng-show="(filtered | filter:seatMeal.searchText).length == 0">
										<h1 translate="lbl_extra_mealsNoMeals">Meals not
											available</h1>
									</div>
								</div>

								</uib-accordion-group> </uib-accordion>
							</div>

						</div>

						</uib-accordion-group> </uib-accordion>
						<div class="meal-cart-content col-sm-12"
							style="padding-right: 15px !important; padding-left: 15px !important;">
							<!-- ng-click="seatMeal.toggleSummary()" -->
							<div class="col-sm-12">
								<label class="preferred-meal-head"
									translate="lbl_common_Meals_Preferred">Preferred Meals</label>
							</div>


							<!-- ng-if="seatMeal.summaryView" -->
							<table class="table" ng-if="seatMeal.mealsAdded()">
								<tr ng-repeat="meal in seatMeal.items" ng-if="meal.quantity>0">
									<td><span
										class="glyphicon glyphicon-trash td_color td_padding"
										ng-click="seatMeal.removeMeal($index)"></span></td>
									<td>{{meal.mealName}}</td>
									<td>{{meal.quantity}}</td>
								</tr>
							</table>
							<div class="note-no-meals" ng-if="!seatMeal.mealsAdded()">
									<span>
											Tap 
											<span class="fa fa-plus" style="color: #4e4e4e; margin: 10px; font-size: 2.4rem;"></span> 
											to add a preferred meal
									   </span>
							</div>
							

							<p class="note-meal"
								translate="lbl_passenger_seatMeal_notavailablemessage">Note:
								Please be informed that all meals may be not available for
								specific flights</p>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<button class="button red-btn done-button save-pref-meal" type="submit"
		ng-click="seatMeal.updateMealPreference(seatMeal.items)"
		class="button red-btn done-button"
		translate="lbl_common_saveMeals">Save Preferred Meals</button>
	</div>

</div>