.ma-bt-4{
    margin-bottom: 20px !important;
}


.passengers-information{
  padding-right: 0;
  float: left;

  .disable-me{
    pointer-events : none;
    input,button{
      border: #E0E0E0 1px solid !important;

    }
  }

  /*Valdr Validations and messages*/
  .valdr-message{
    font-size: 12px;
    color: $primary-color;
    position: absolute;
  }

  .valdr-message .on-focus{
    display:none;
  }

  
  ng-form.ng-submitted .ibe-typeahead {
    border: none;
    .ng-invalid{
      border: $primary-color 1px solid;
    }
    .valdr-message{
      display:block;
      border: none;
    }
  }

  

  .valdr-message.ng-pristine {
    display:none;
  }
  /*END Valdr Validations and messages*/

  @media screen and (max-width: 990px) {
    width: 75%;
  }

  .heading{
    @extend .left-wide;
    height: 62px;
    line-height: 62px;
    padding: 0 15px;
    .info{
      font-style: normal;
      float: right;
      font-size: 12px;
      font-weight: 400;
    }

    &.passenger-heading{
      color:$black;
    }
  }



  /* .col-md-4{
      margin-bottom: 20px;
  } */

  .row{
    padding: 0;
    margin: 0 0 50px;
  }

  .placeholder{
    padding: 25px 15px 0 !important;
    line-height: 50px;
    color: $black;
    font-weight: 300;
    font-size: 16px;
    .placeholder-icon{
      margin-left: 3px;
    }
  }

  .ibe-drop-down{
    .dropdown-toggle{
      padding: 0 5px;
    }
    .dp-caption{
      padding: 0 15px 0 10px;
      line-height: 50px;
      color: $black;
      font-weight: 300;
      font-size: 16px;
    }
    .fa{
      line-height: 50px;
    }
  }


  #passenger-namechange-continue{

  }

  //Manually moving button below the passenger detail section
  .name-change-next{
    height: 12px;
    line-height: 12px;
    position:absolute;
    top: -25px;
    right: 15px;
  }

  .full-width{
    width:100%;
  }

}
.pas-frm-datePicker{
  padding: 0px !important;
}
