<!-- Flights -->
<div class="dash-flights flight-result-block">
    <div class="flight-options">
        <isa-flight-select class="flight-options-table"
                           is-header-visible=false
                           flight-options="changedFlight.model.adaptedSelectedFlight"
                           currency="AED"
                           is-busy-loader-visible="false"
                           on-select-fare-no-popup="changedFlight.onFareChange(selectedFlight, selectedFare)"
                           is-popup-visible="false"
                           template-body="modify_selected_Flight_body"
                ></isa-flight-select>
    </div>
</div><!-- // Flights -->

<!-- Form Footer -->
<div class="dash-footer">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-4 pull-left">
            <button class="btn light-gray-btn button"
                    ng-click="changedFlight.cancelModification()"
                    translate="lbl_modification_cancelModification">Cancel Modification</button>
        </div>
        <div class="col-sm-4 pull-right">
            <button class="btn red-btn button"
                    ng-click="changedFlight.onConfirmModification()"
                    translate="lbl_modification_continueModification">Continue Modification</button>
        </div>
    </div>
</div><!-- // Form Footer -->

