<!-- Page Wrapper -->
<section class="container page-wrapper dash-mod-flights">

    <section class="content-wrapper">

        <!-- Content header -->
        <div class="content-header">

            <!-- Page Title -->
            <h1 class="page-title">
                <span class="main-text">Modify your flights for reservation <i class="red">#{{modifyFlights.getReservationSearchCriteria.pnr}}</i></span>
            </h1><!-- // Page Title -->

        </div>
        <!-- // Content header -->

        <!-- Content Body -->
        <div class="content-body">

            <!-- Modify Flights Table -->
            <div class="modify-flights-table" style="min-height: 390px">
                <div class="flights-head">
                    <div class="flights-head-left">Current Flights</div>
                    <div class="flights-head-right">New Flights</div>
                </div>
                <!-- Left Sidebar -->
                <div class="left-sidebar">

                    <ul>
                        <li ng-show="fareGroup.status.indexOf('CNF') >= 0"
                            ng-repeat="fareGroup in modifyFlights.model.fareGroupWiseSegments "
                            ng-class="{'active':modifyFlights.selectedFareGroupIndex == $index}"
                            ng-click="modifyFlights.onFlightSelected($index, fareGroup)">
                            <div class="wrapper" ng-repeat="segment in fareGroup.segments">

                                <!-- <h4>{{segment.flight.flightNumber}}</h4>

                                <label class="departure">{{segment.flight.departureDate}} {{segment.flight.departureTime}}</label>
                                <div class="ond">
                                    <span class="dep">{{segment.flight.originName}}</span>
                                    <span class="ico icon-outbound-plane-small">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                    </span>
                                    <span class="arr">{{segment.flight.destinationName}}</span>
                                </div>
                                <label class="arrival">{{segment.flight.arrivalDate}}v{{segment.flight.arrivalTime}}</label> -->

                                <div class="mod-flight">
                                    <div class="pull-left" style="width:15%">
                                        <span class="ico icon-outbound-plane-small">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </span>
                                    </div>
                                    <div class="flight-info pull-left pd-l-2" style="font-size:14px; width:85%">
                                        <h4 class="ma-bt-2">
                                            <span>{{segment.flight.originName}}</span>
                                            <span>to</span>
                                            <span>{{segment.flight.destinationName}}</span>
                                            <span class="promo-fare" style="font-size:13px;">(Promo Fare)</span>
                                        </h4>
                                        <div class="flight-no pull-left" >
                                            <span class="fligh-no">
                                                 <label><i>{{segment.flight.flightNumber}}</i></label>
                                            </span>
                                        </div>
                                        <div class="flight-time pull-right" >
                                            <span class="departure-arrival">
                                                <label><i class="i">Departure</i> <i>{{segment.flight.departureDateObj | date:"dd/MM/yyyy HH:mm" }}</i></label>
                                                <label><i class="i">Arrival</i> <i>{{segment.flight.arrivalDateObj | date:"dd/MM/yyyy HH:mm" }}</i></label>
                                            </span>
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </li>

                        <!--<li class="active">
                            <h4>G9504 - Flexi Fare</h4>
                            <label class="departure">Web 23, Dec 2015 02:30</label>

                            <div class="ond">
                                <span class="dep">Bangalore</span>
                                <span class="ico icon-outbound-plane-small"><span class="path1"></span><span
                                        class="path2"></span></span>
                                <span class="arr">Colombo</span>
                            </div>
                            <label class="arrival">Web 23, Dec 2015 02:30</label>
                        </li>

                        <li>
                            <h4>G9504 - Promo Fare</h4>
                            <label class="departure">Web 23, Dec 2015 02:30</label>

                            <div class="ond">
                                <span class="dep">Colombo</span>
                                <span class="ico icon-outbound-plane-small"><span class="path1"></span><span
                                        class="path2"></span></span>
                                <span class="arr">Bangalore</span>
                            </div>
                            <label class="arrival">Web 23, Dec 2015 02:30</label>
                        </li>-->
                    </ul>
                </div>
                <!-- // Left Sidebar -->

                <!-- Right Content -->
                <div class="right-content">

                    <div ui-view="modifyContentView">
                    </div>
                    <!-- Modify Or Cancel -->
                    <!--<div class="modify-or-cancel">

                        &lt;!&ndash; Modify Flight &ndash;&gt;
                        <div class="col modify">
                            <button class="col-sm-5 btn red-btn button">Modify this flight</button>
                        </div>&lt;!&ndash; // Modify Flight &ndash;&gt;

                                <span class="or">
                                    <i>or</i>
                                </span>

                        &lt;!&ndash; Modify Flight &ndash;&gt;
                        <div class="col cancel">
                            <button class="col-sm-5 btn light-gray-btn button">Cancel this flight</button>
                        </div>&lt;!&ndash; // Modify Flight &ndash;&gt;

                    </div>--><!-- // Modify Or Cancel -->
                </div>
                <!-- // Right Content -->
            </div>
        </div>

        <div class="back-bar">
            <!--<a href="" ng-click="modifyFlights.backToHome()">Back</a>-->
            <a href="" class="submit-link pull-left" ng-click="modifyFlights.backToHome()">
                <i  >&#xf053;</i>
                Back to dashboard
            </a>
        </div>

    </section>
</section>
