<?xml version="1.0" encoding="UTF-8"?>
<message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<header>
		<subject>$commonTemplatingDTO.getCarrierName() Booking Change Notification</subject>
	</header>
	<content>
		<body><![CDATA[Dear Customer,Your PNR:{pnr} is changed due to new schedule.You are rebooked on#if($newFlightAlertInfoDTO.getModelNumber()) $newFlightAlertInfoDTO.getFlightNumber()#else $oldFlightAlertInfoDTO.getFlightNumber()#end depart on#if($newFlightAlertInfoDTO.getDepartureDate()) $newFlightAlertInfoDTO.getDepartureStringDate("EEE, dd MMM yyyy HH:mm")#else $oldFlightAlertInfoDTO.getDepartureStringDate("EEE, dd MMM yyyy HH:mm")#end hrs.For more info call $phone]]></body>		
	</content>
</message>