<div ng-controller="spinnerController" class="spinner-wrapper"  >
            <div class="isa-txt"><input ng-model="value" class="form-control "  type="text"/></div>
            <div class="sp-btn-panel">
                <span  ng-click="onIncriment()" id="isa-sp-inc" class="isa-btn isa-btn-inc" ><i class="fa fa-chevron-up"></i></span>
                <span  ng-click="onDecriment()" id="isa-sp-dec" class="isa-btn isa-btn-dec"><i class="fa fa-chevron-down"></i></span>
            </div>
</div>