/*$site-primary-color: #783795;
$site-accent-color: #DA7B2B;
$site-accent-color-dark: #C95C00;*/

/* Red and Gray Demo */
$site-primary-color: #3081B7;
$site-accent-color: #249E86;
$site-accent-color-dark: darken(#848484, 20%);

$global-radius: 0;