
/*************************************
 Ancy images.
*/

.img{
	display: inline-block;
	width: 100px;
	height: 70px;
	background: {
		//color: #f2f2f2;
		size: cover;
		repeat: no-repeat;
	}
	//margin-bottom: 10px;


  &.insurance-image{
	background-image:url(../images/extras/Travel-Insurance.png);
  }
  &.seat-image{
	background-image:url(../images/extras/Your-Seat.png);
  }
  &.meal-image{
	background-image:url(../images/extras/Your-Meals.png);
  }
  &.baggage-image{
	background-image:url(../images/extras/Baggages.png);
  }
  &.flexi-fare-image{
	background-image:url(../images/extras/Flexi-Fare.png);
  }
  &.ssr-airport-image{
	background-image:url(../images/extras/Airport-Services.png);
  }
  &.ssr-flight-image{
	background-image:url(../images/extras/Flight-Services.png);
  }
  &.default-ancillary-image{
	background-image:url(../images/extras/Airport-Services.png);
  }
}

/*************************************
 Ancy images.
*/


//TODO please refacter this duplicate

.ngdialog {

    &.mid-width {
      .ngdialog-content {
        width: 650px !important;
      }
    }

  .ngdialog-content {
    border-radius: 0 !important;
    border-top: 5px solid $site_primary_color;

    .error-waraper{
      margin-top: 10px;
      color: $red;
    }



    .popup-confirm {
      .btn-set {
        overflow: hidden;
        margin-top: 20px;
        margin-right: 1px;

        button {
          width: 200px;
          margin-right: 1px;
        }
      }
    }
  }
}

.back-bar {
  text-align: right;
  padding-top: 5px;
  margin-bottom: 10px;

  a {
    color: #333;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;

  }
  a:hover {
    color: #ed0000;
  }
}

// Back to home button disabled for AirArabia
#back-to-home{
  display:none;
}

.login-bar {
  margin-bottom: 20px;
  clear: both;
}

.LTR{
  .user-details {
    padding-top: 20px;
    padding-right: 3px;

    .other-details {
      padding-left: 20px;
      font-size: 13px;
      padding-top: 3px;
    }

    i {
      font-size: 20px;
    }

    .login-name {
      font-weight: bold;
    }

    .signout {
      color: #ed0000;
      padding-left: 3px;
      font-size: 13px;
    }
  }
}

.RTL{
  .user-details {
    float: right !important;
    padding-top: 20px;
    padding-right: 3px;

    .other-details {
      padding-left: 20px;
      font-size: 13px;
      padding-top: 3px;
    }

    i {
      font-size: 20px;
    }

    .login-name {
      font-weight: bold;
    }

    .signout {
      color: #ed0000;
      padding-left: 3px;
      font-size: 13px;
    }
  }
}

.signout {
  cursor: pointer;
}

.ibe-date-picker {

  .dropdown-menu {
    width: inherit;
    border: 1px solid grey;
    outline: none;
    padding: 15px;
    background: #fff;
    overflow: hidden;
    outline: none;
    @include border-radius(0);
    width: 256px;

    li {
      div {
        border: none;
        table {
          border: none;
          outline: none;
          width: 100%;
        }

      }
    }
    .btn {
      width: 32px;
      height: 32px !important;
      padding: 0 5px !important;
      line-height: 28px !important;
      @include border-radius(0);
      border: 0;
      font-size: 13px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &.active {
        background-color: $site_selected_gray;
        border-color: $site_selected_gray;
        color: $white;
        .text-info {
          color: $site_back_color;
        }
      }
    }
  }
  .glyphicon-calendar:before {
    /*font-size: 30px;*/
    color: $gray-5;
  }
  .btn-info {
    .active {
      background-color: $paxName_completed-txt;
    }
  }
  .input-group {
    .form-control {
      border-right-color: $site_back_color !important;
      width: 100%;
    }
    .input-group-btn {
      .btn {
        background-color: $site_back_color !important;
        width: auto;
        padding: 0 15px;
        height: 50px;
        line-height: 50px;
        border: $gray-5 1px solid;
        border-left-color: $site_back_color !important;
        color: $gray-1;
        font-size: 16px;
        -webkit-box-shadow: none;
        box-shadow: none;
        @include border-radius(0px);
        position: relative;
        z-index: 990;
      }

    }
  }
}

.ibe-jquery-date-picker{
  padding-bottom:15px;

  input{
    float: left;
    width: 80%!important;
    border-right: none;

    &:focus{
      float: left;
      width: auto;
      border-right: none;
    }
  }

  button{
    height: 50px;
    width: 20%;
    background: #FAFAFA;
    border: 1px #7C7C7C solid;
    border-left: none;

    img{
      width: 27px;
    }
  }
}

.disable-dp-button{
  button{
    pointer-events : none;
    input,button{
      border: #E0E0E0 1px solid !important;
    }
  }
}

.ui-datepicker{
  .ui-datepicker-title{
    select{

      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
      color: #414042;
      font-weight: 400;
      background: white; //Required to work in web-kit
    }
  }
}


//Fix for chrome over-riding custom css
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fafafa inset !important;
}

//TODO please refacter this duplicate
.form-control, .form-control:focus {
  background-color: $site_back_color !important;
  width: 100%;
  height: 50px;
  border: $gray-5 1px solid;
  color: $gray-1;
  font-size: 14px;
  -webkit-box-shadow: none;
  box-shadow: none;
  @include border-radius(0px);

  &[readonly] {
    background-color: #E6E6E6 !important;
  }

}

.ibe-spinner {
  .form-control {
    width: 60%;
    height: 50px;
    float: left;
  }
  .spinner-icon {
    width: 35%;
    height: 50px;
    float: left;
    margin-right: 5px;
    position: relative;
    text-align: center;
    .caption {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      color: $gray-1;
      font-family: 'Open Sans', sans-serif;
      font-size: 11px;
      font-weight: 600;
    }
  }
  .icon-children, .icon-Children, .icon-adult, .icon-infant {
    font-size: 34px;
  }
}

.ibe-drop-down {
  .btn-group {
    width: 100%;
    .btn-primary, .btn-primary:hover, .btn-primary:active {
      background-color: $site_back_color !important;
      line-height: 50px;
      height: 50px;
      width: 100%;
      border: $gray-5 1px solid;
      color: $primary_font_color;
      font-size: 20px;
      -webkit-box-shadow: none;
      box-shadow: none;
      padding:0;
      @include border-radius(0px);
    }
    .dp-caret {
      font-size: 17px;
      width: 15%;
      float: left;
      padding-top: 3px;
    }
    .dp-caption {
      width: 85%;
      display: block;
      float: left;
      text-align: left;
      padding-left: 5px;
      overflow: hidden;
    }
  }
}

.ibe-typeahead {
  position: relative;
  margin-bottom: 30px;
  .dropdown-menu {
    .active {
      a, a:focus, a:hover {
        background-color: $site_selected_gray;
      }
    }
  }

}

.close-btn {
  float: right;
  cursor: pointer;
  font-size: 18px;
  font-weight: 100;
  display: block;
  width: 20px;
  height: 20px;
  font-size: 34px;
}

/*===================================
=            Form Inputs            =
===================================*/

// IBE Typehead
.ibe-typeahead {
  .input-option {
    @extend .left-wide;
    margin-top: 15px;
    line-height: 20px;
    .label {
      margin: 0;
    }
    .checkbox,
    .checkbox-circle,
    .radio {
    }
  }
}

// Form Footer
.form-footer {
  @extend .left-wide;
  margin-top: 5px;
  padding: 10px 0;
  label {
    font-weight: 600;
    float: left;
    width: auto;
    line-height: 42px;
    height: 42px;
    margin-bottom: 0;
    a {
      color: $black;
      font-weight: 600;
      text-decoration: underline;
      &:hover, &:focus {
        color: $red;
      }
    }
  }

  .label-text {
    float: left;
    height: 42px;
    line-height: 42px;
    .text {
      font-weight: 600;
      font-size: 16px;
      float: left;
      height: 42px;
      line-height: 42px;
      margin-right: 20px;
    }
    span {
      float: left;
    }

    .radio, .checkbox {
      margin-right: 20px !important;
    }
  }

  .col-md-3 {
    float: right;
    padding-right: 0;
    padding-left: 30px;
  }

  .button {
    width: 100%;
    float: right;
    font-weight: 600;
    color: $white;
    cursor: pointer;
  }
}

.RTL{
  .form-footer {
    label {
      float: right;
    }
  }
}

/*=====  End of Form Inputs  ======*/

/*===============================
=            Buttons            =
===============================*/

.btn {
  outline: none;
}
.cat-button{
  width:auto !important;
  padding: 0px !important;

}
.button,.cat-button {
  padding: 0 15px;
  display: block;
  border-radius: 0;
  height: 42px;
  line-height: 42px;
  font-size: 14px;
  font-weight: 600;
  min-width: 140px;
  text-align: center;
  cursor: pointer;
  max-width: 100%;
  width: 100%;
  border: 0;
  outline: none;

  i {
    margin-left: 10px;
  }

  // RED Button
  &.red-btn {
    background-color: $site_primary_color;
    color: $white;
    &:hover, &:focus {
      background-color: $site_primary_color - 20;
      color: $white;
    }
  }

  // GREY Button
  &.gray-btn {
    background-color: $gray;
    color: $white;
    &:hover, &:focus, &.active {
      background-color: $red;
      color: $white;
    }
  }

  // Checked button
  &.check-btn:before {
    content: "\e909";
    font-family: 'icomoon';
    padding-right: 5px;
  }

  // LIGHT-GRAY Button
  &.light-gray-btn {
    background-color: #999999;
    color: $white;
    &:hover, &:focus, &.active {
      background-color: $gray;
      color: $white;
    }
  }
}

/*=====  End of Buttons  ======*/

/*================================
=            Headings            =
================================*/

.heading {
  @extend .left-wide;
  height: 62px;
  line-height: 62px;
  padding: 0 15px;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
  .info {
    font-style: normal;
    float: right;
    font-size: 12px;
    font-weight: 400;
  }
}

.heading-text {
  font-weight: 600;
  font-size: 18px;
}

/*=====  End of Headings  ======*/

/*==============================
=            Alerts            =
==============================*/

.alert {
  @extend .left-wide;
  @include border-radius(0);
  font-weight: 400;
  font-size: 14px;
  padding: 20px;
  position: fixed;
  left: 0;
  right: 0;
  max-width: inherit;
  z-index: 1000;
  margin: 0 auto;

  &.notice{
      position: static;
  }

  .alert-btn{
      cursor: pointer;
      font-size: 13px;
      padding-left: 10px;
  }

  h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 14px;
  }

  p {
    margin: 0;
  }

  &.alert-yellow {
    background-color: #fcfce7;
    border: 1px solid #F5F5DC;
  }
}

/*=====  End of Alerts  ======*/

/*================================
=            CheckBox            =
================================*/

.checkbox {
  @extend .no-select;
  margin: 0 !important;
  padding: 0;
  float: left;
  width: 100%;
  position: relative;
  label {
    float: left;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
  }
}

.checkbox [type="checkbox"]:not(:checked),
.checkbox [type="checkbox"]:checked {
  position: absolute;
  left: 0px;/*99999999999px*/
}

.checkbox [type="checkbox"] + label:before {
  margin-right: 10px;
  float: left;
}

.checkbox [type="checkbox"]:not(:checked) + label:before {
  content: "";
  width: 20px;
  height: 20px;
  border: 2px solid #a6a7b1;
  float: left;
}

.checkbox [type="checkbox"]:checked + label:before {
  content: "";
  width: 20px;
  height: 20px;
  border: 2px solid #a6a7b1;
  background: #a6a7b1;
  float: left;
}

.checkbox [type="checkbox"]:checked + label:after {
  content: '\f00c';
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  left: 3px;
  top: 3px;
  color: $white;
}

.RTL{

  .checkbox [type="checkbox"] + label:before {
    margin-left: 10px;
    margin-right: 0;
    float: right;
  }

  .checkbox [type="checkbox"]:not(:checked) + label:before {
    float: right;
  }

  .checkbox [type="checkbox"]:checked + label:before {
    float: right;
  }

  .checkbox [type="checkbox"]:checked + label:after {
    right: 3px;
    left: initial;
  }
}

/*=====  End of CheckBox  ======*/

/*================================
=            CheckBox            =
================================*/

.checkbox-circle {
  @extend .no-select;
  margin: 0 !important;
  padding: 0;
  float: left;
  width: 100%;
  label {
    float: left;
    margin: 0;

    width: 95%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

  }
}

.checkbox-circle [type="checkbox"]:not(:checked),
.checkbox-circle [type="checkbox"]:checked {
  position: absolute;
  left: 0px;/*99999999999px*/
}

.checkbox-circle [type="checkbox"] + label:before {
  margin-right: 10px;
  float: left;
}

.checkbox-circle [type="checkbox"]:not(:checked) + label:before {
  content: '\f10c';
  font: normal normal normal 18px/1 FontAwesome;
}

.checkbox-circle [type="checkbox"]:checked + label:before {
  content: '\f058';
  font: normal normal normal 18px/1 FontAwesome;
}


.RTL{
  .checkbox-circle {
    float: right;
    label {
      float: right;
    }
  }

  .checkbox-circle [type="checkbox"] + label:before {
    margin-left: 10px;
    margin-right: 0;
    float: right;
  }
}

/*=====  End of CheckBox  ======*/

/*====================================
=            Radio Button            =
====================================*/

.radio {
  @extend .no-select;
  margin: 0 5px !important;
  padding: 0;
  float: left;
  width: auto;
  height: 42px;
  line-height: 42px !important;
  position: relative;

  label {
    float: left;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
  }
}

.radio [type="radio"]:not(:checked),
.radio [type="radio"]:checked {
  position: absolute;
  left: 0; /*99999999999px;*/
}

.radio [type="radio"] + label:before {
  margin-right: 8px;
  float: left;
  line-height: 42px !important;
  height: 42px;
}

.radio [type="radio"]:not(:checked) + label:before {
  width: 20px;
  content: '';
}

.radio [type="radio"]:not(:checked) + label:after {
  width: 20px;
  content: '';
  background-image: url('../images/unselected.svg');
  background-position: center;
  background-repeat: no-repeat;
  line-height: 20px;
  height: 18px;
  position: absolute;
  left: 0;
  top: 12px;
}

.radio [type="radio"]:checked + label:before {
  width: 20px;
  content: '';
}

.radio [type="radio"]:checked + label:after {
  width:20px;
  content: '';
  background-image: url('../images/selected.svg');
  background-position: center;
  background-repeat: no-repeat;
  line-height: 20px;
  height: 18px;
  position: absolute;
  left: 0;
  top: 12px;
}

.RTL{
  .radio [type="radio"] + label:before {
    margin-left: 8px;
    margin-right: initial;
    float: right;
  }

  .radio [type="radio"]:checked + label:after {
    right: 5px;
    top: 0;
  }
}

/*=====  End of Radio Button  ======*/

/*============================================
=            Dropdown Menu            =
============================================*/

.uib-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: -1px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #808080;
  border-radius: 0;
  box-shadow: none;
  width: 100%;
  > li > a {
    padding: 8px 6px;
    margin: 0;
    &:hover {
      background: {
        color: $black;
      }
      color: $white;
    }
  }
}

/*=====  End of Custom Dropdown Menu  ======*/

/*====================================
=            Thumb Blocks            =
====================================*/

/* Block Style 1 */
.thumb-block {
  @extend .left-wide;
  margin-bottom: 12px;

  // Image
  .image {
    float: left;
    background: {
      size: cover;
      repeat: no-repeat;
    }
  }
  .details{
    float: left;
    width:870px;
  }

  .summery-panel {
    .summery-panel-segments {
      padding: 0px !important;
      .summery-panel-content-wrapper {
        float: left;
        .summery-panel-header {
          div {
            padding-left: 0px !important;
          }
        }
        .summery-panel-content {
          div {
            padding-left: 0px !important;
          }
        }
        .summery-panel-item {
          padding-top: 10px;
        }

        &.unmodified{
          color: $gray-6;
        }
      }
    }
    .row{
      margin:0;
    }
  }
  // Title
  .title {
    float: left;

    h2 {
      @extend .left-wide;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 10px;
      margin-top: 3px;
      text-transform: capitalize;
      .note {
        color: $red;
        font-size: 13px;
        font-weight: 400;
      }
      .txt {
        padding-right: 10px;
      }
    }
    p {
      @extend .left-wide;
      font-size: 14px;
      font-weight: 500;
    }

  }

  // Options
  .options {
    float: left;
    text-align: right;
    font-weight: 500;
    padding-right: 0;

    .price-block {
      @extend .left-wide;
      clear: both;
      font-size: 16px;
      margin-bottom: 15px;
      .currency {
        text-transform: uppercase;
      }
      .price {
        font-weight: 700;
      }
    }

    button, .button {
      float: right;
      font-weight: 600;
      font-size: 14px;
      min-width: initial;
      width: 140px;
      padding: 0 15px;
      height: 35px;
      line-height: 35px;
      text-align: left;
      i {
        float: right;
        height: 35px;
        line-height: 35px;
      }
    }
  }
}


.RTL{
  .thumb-block {

    // Image
    .image {
      float: right;
    }
    .summery-panel {
      .summery-panel-segments {
        padding: 0px !important;
        .summery-panel-content-wrapper {
          float: right;
          .summery-panel-header {
            div {
              padding-right: 0px !important;
            }
          }
          .summery-panel-content {
            div {
              padding-right: 0px !important;
            }
          }
          .summery-panel-item {
            padding-top: 10px;
          }
        }

      }
    }
    // Title
    .title {
      float: right;

      h2 {
        .txt {
          padding-right: initial;
          padding-left: 10px;
        }
      }

    }

    // Options
    .options {
      float: left;
      text-align: right;
      padding-left: 0;
      padding-right: 15px;

      button, .button {
        float: right;
        font-weight: 600;
        font-size: 14px;
        min-width: 140px;
        width: 100%;
        padding: 0 15px;
        height: 35px;
        line-height: 35px;
        text-align: right;
        i {
          float: left;
          height: 35px;
          line-height: 35px;
          -ms-transform: rotate(180deg); /* IE 9 */
          -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
          transform: rotate(180deg);
        }
      }
    }
  }
}

/*=====  End of Thumb Blocks  ======*/



/*=====================================
=            Package Block            =
=====================================*/

.LTR{
  @import "package_block_ltr";
}

.RTL{
  @import "package_block_rtl";
}

/*=====  End of Package Block  ======*/



/*==================================
=            Meal Block            =
==================================*/

.LTR{
  @import "meal_block_ltr";
}

.RTL{
  @import "meal_block_rtl";
}

/*=====  End of Meal Block  ======*/

/*======================================
=            Sidebar Widget            =
======================================*/

.LTR{
  @import "sidebar_widget_ltr";
}

.RTL{
  @import "sidebar_widget_rtl";
}

/*=====  End of Sidebar Widget  ======*/

/*=========================================
=            Accordion Content            =
=========================================*/

.accordion-content {
  @extend .left-wide;
  > ul {
    @extend .left-wide;
    list-style: none;
    margin: 0;
    padding: 0;
    > li {
      @extend .left-wide;
      border-top: 1px solid #ededef;
      border-bottom: 1px solid #ededef;
      padding: 20px 0 30px;
      margin-top: -1px;

      .heading {
        @extend .left-wide;
        color: $red;
        padding: 0;
        margin: 0;
        font-size: 19px;
        cursor: pointer;
        i {
          color: $black;
          float: right;
          height: 62px;
          line-height: 62px;
          font-weight: 600;
          cursor: pointer;
        }
        &:hover, &:focus {
          i {
            color: $red;
          }
        }
      }
      .content {
        @extend .left-wide;
        h3 {
          @extend .left-wide;
          font-size: 14px;
          font-weight: 500;
          margin-bottom: 20px;
          .fa {
            font-size: 20px;
            float: left;
            margin: -1px 15px 0 0;
          }
        }
        ul {
          @extend .left-wide;
          list-style: none;
          margin-bottom: 20px;
          li {
            @extend .left-wide;
            line-height: 30px;
            &:before {
              content: "";
              background: $red;
              float: left;
              width: 5px;
              height: 5px;
              margin: 11px 15px 0 0;
            }
          }
        }
        .check {
          label {
            cursor: pointer;
            overflow: visible;
          }
        }
      }
    }
  }
}

/*=====  End of Accordion Content  ======*/

/*=================================
=            Modal Box            =
=================================*/

.modal-box {
  position: absolute;
  z-index: 9999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  //display: none;

  /* Overlay */
  .overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: 9999;
    background: #e6e6e6;
    opacity: 0.5;
  }

  /* Modal Content */
  .modal-content {
    padding: 40px;
    position: fixed;
    min-height: 395px;
    width: 95%;
    max-width: 590px;
    background: {
      color: $white;
    }
    margin: auto;
    left: 0;
    right: 0;
    top: 20%;
    border: none;
    border-top: 5px solid $red;
    @include border-radius(0);
    z-index: 99999;
    -webkit-box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.25);

    // Modal Header
    .modal-header {
      padding: 0;
      border: none;
      margin-bottom: 20px;

      // Text
      .text {
        font-weight: 600;
        font-size: 22px;
        color: $red;
      }

      // Close button
      .close-btn {
        font-size: 18px;
        float: right;
        color: #b3b3b3;
        position: absolute;
        top: 10px;
        right: 10px;
        &:hover {
          color: $red;
        }
      }
    }

    // Modal body
    .modal-body {
      padding: 0 0 10px;
      border: none;

       label{
         font-weight: 500;
         font-size: 14px;
        }

      .modal-confirm{
        padding-top: 15px;
        float: left;
        padding-bottom: 15px;

        h3 {
          font-size: 18px;
          font-weight: 600;
        }
      }

      p {
        margin-bottom: 20px;
        font-size: 15px;
        line-height: 1.5;
      }
      ul {
        @extend .left-wide;
        list-style: none;
        margin-bottom: 25px;
        padding: 0;
        li {
          @extend .left-wide;
          line-height: 26px;
          &:before {
            content: "";
            background: $red;
            float: left;
            width: 5px;
            height: 5px;
            margin: 11px 15px 0 0;
          }
        }
      }

      h2 {
        font-size: 20px;
      }

      h3 {
        font-size: 18px;
        font-weight: 600;
      }

      h4 {
        font-size: 16px;
      }
    }

    // Modal Footer
    .modal-footer {
      padding: 0;
      border: none;

      button {
        width: 100%;
      }
    }
    .modal-data table {
      float: left;
      width: 100%;
      label{
        font-weight: 500;
        font-size: 14px;
      }
    }
  }
}

/*=====  End of Modal Box  ======*/

/*==================================
=            Fare Table            =
==================================*/

.fare-table {
  @extend .left-wide;
  margin-bottom: 10px;

  // Fare Footer
  .fare-footer {
    @extend .left-wide;
    padding: 20px 0;
    .proceed {
      @extend .right-wide;
      text-align: right;
      font-size: 17px;
      margin-bottom: 20px;
    }
    span {
      display: inline-block;
      margin-left: 10px;
    }
    .des {
    }
    .price {
      i {
        font-weight: 600;
      }
    }

    .btn-wrap {
      //padding-left: 10px;
    }

    .button {
      width: 100%;
    }
  }
}

/*=====  End of Fare Table  ======*/

/*==================================
=            Fare Block            =
==================================*/

.LTR{
  @import "fare_block_ltr";
}

.RTL{
  @import "fare_block_rtl";
}

/*=====  End of Fare Block  ======*/

/*=====================================
=            Payment Logos            =
=====================================*/
.text-danger{
  color: #D90000;
}
.payment-logo {
  float: left;
  display: table-cell;
  margin: 0;
  height: 83px;
  line-height: 73px;
  padding: 0 10px 0 0;
  width: 170px;
  min-width: 170px;

  &:last-child {
    margin-right: 0;
  }

  [type="radio"] + label:before {
    height: 73px;
    line-height: 73px;
  }

  [type="radio"]:checked + label:after {
    height: 73px;
    line-height: 74px;
    top: 0;
  }

  [type="radio"]:not(:checked) + label:after {
    height: 73px;
    line-height: 74px;
    top: 0;
  }

  label {
    &:before {
      height: 73px;
      line-height: 73px;
    }
  }

  .ico {
    line-height: 73px;
  }

  img {
    //height: 73px;
    max-width: 80%;
    max-width: calc(100% - 30px);
  }
}

/*=====  End of Payment Logos  ======*/

/*================================
=            ToolTips            =
================================*/

.tooltip-inner {
  // max-width: 200px;
  // padding: 3px 8px;
  // color: #fff;
  // text-align: center;
  // text-decoration: none;
  // background-color: #000;
  // border-radius: 4px;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

#tooltip-template {
  padding: 8px;

  h4 {
    float: left;
    width: 100%;
    margin-bottom: 3px !important;
  }
}

/*=====  End of ToolTips  ======*/

/*=================================
=            DropDowns            =
=================================*/

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #414042;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-clip: padding-box;
  width: 100%;
  max-height: 276px;
  overflow-y: auto;
  
  > li {
    > a {
      display: block;
      padding: 7px 20px;
      clear: both;
      font-weight: 400;
      line-height: 1.42857143;
      color: #333;
      white-space: normal;
    }
  }
}

/*=====  End of DropDowns  ======*/

/*==============================
=            Ribbon            =
==============================*/

.ribbon {
  width: 12px;
  height: 23px;
  position: absolute;
  top: 0;
  right: 0;
  background: {
    image: url(../images/misc/ribbon.svg);
    repeat: no-repeat;
    position: top right;
    size: contain;
  }

  &.red-ribbon {
    background: {
      image: url(../images/misc/ribbon.svg);
    }
  }

  &.gray-ribbon {
    background: {
      image: url(../images/misc/ribbon-gray.svg);
    }
  }
}

/*=====  End of Ribbon  ======*/

/*==============================
=         Date Picker          =
==============================*/
.ui-datepicker{
  font-family: 'Open Sans', sans-serif;
  text-align: center;

  .ui-icon-circle-triangle-e{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0;

    &:before{
      content: "\e080";
    }
  }

  .ui-icon-circle-triangle-w{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0;

    &:before{
      content: "\e079";
    }
  }

  .ui-datepicker-next.ui-datepicker-next-hover{
    background:none;
  }

  .ui-datepicker-next, .ui-datepicker-prev {
    top: 5px;
  }

  .ui-datepicker-next-hover{
    background:none;
    border: none;
    @include  border-radius(0);
    background-color: #ebebeb !important;
    right: 2px;
    top: 5px;
  }

  .ui-datepicker-prev-hover{
    background:none;
    border: none;
    @include  border-radius(0);
    background-color: #ebebeb !important;
    left: 2px;
    top: 5px;
  }

  .ui-state-hover{
    background: #EBEBEB;
    border: none;
    @include  border-radius(0);
  }

  td a, td span{
    text-align: center;
  }

  @include border-radius(0);
  .ui-widget-header{
    border:none;

    .ui-icon{
      background:none;
    }

    select.ui-datepicker-month{
      margin-right:10px;
    }
  }

  .ui-widget-header{
    @include border-radius(0);
    background: #ffffff;
  }

  .ui-state-default{
    background: white;
    border: none;
    font-weight: 600;
  }

  .ui-state-hover{
    background: grey;
    font-weight: 600;
  }

  .ui-state-active{
    background:#414042;
    color:#ffffff;
    font-weight: 600;
  }
}
.pagination-wrapper{
  display: inline-block;
  width: 100%;
  ul{
    padding: 0px;
  }
  ul li{
    display: inline-block;
    float: left;
    padding: 2px;
    cursor: pointer;
    background-color: $light_gray;
    margin: 0px 2px;
    height: 22px;
    width: 22px;
    text-align: center;
  }
  .selected{
    background-color:$red;
    color: $white;
  }
}
/*====End of Date Picker=====*/
