/*====================================
=            Select Meals            =
====================================*/

.select-meals{}

/*=====  End of Select Meals  ======*/



/*========================================
=            Meals Search Box            =
========================================*/

.meals-search-box{
	@extend .left-wide;
	margin-bottom: 10px;
	position: relative;

	//Done button
	.done-button{
		margin-top:10px;
	}

	// Overlay
	.overlay{
		position: absolute;
	    left: 0;
	    right: 0;
	    top: 0;
	    bottom: 0;
	    height: 220%;
	    z-index: 90;
	    background: #e6e6e6;
	    opacity: 0.5;
	}

	// Defaults
	button,
	input{
		@extend .left-wide;
		height: 58px;
		line-height: 58px;
		padding: 0 20px;
		margin: 0;
		text-align: left;
   		@include border-radius(0);
		-webkit-appearance: none;
   		-moz-appearance:    none;
   		appearance:         none;
   		border: 0;
   		background: transparent;
   		outline: none !important;
   		font-weight: 600;
    	font-size: 13px;
	}

	button{
		background: {
			color: $light_gray;
		}
		i{
			float: right;
			height: 58px;
			line-height: 58px;
		}
		&:hover,&:focus,&:active{
			background: {
				color: #dfdfdf - 20;
			}
		}
	}

	// Meals Category
	.meals-category{
		float: left;
		height: 58px;
		padding: 0;
		margin: 0;
		button{}
		position: static;

		.dropdown-content{
			position: absolute;
			z-index: 990;
			margin-top: 58px;
			left: 0;
			right: 0;
			width: 100%;
			height: 300px;
			background: {
				color: $gray-9;
			}
			display: block;
		}
	}

	// Search Box
	.search-box{
		float: left;
		height: 58px;
		padding: 0;
		margin: 0;
		form{
			input[type=search]{
				border-top: 1px solid #EBEBEB;
				border-bottom: 1px solid #EBEBEB;
                border-left: 1px solid #EBEBEB;
				font-weight: 400;
				font-size: 16px;
			}
		}
	}

	// Sort
	.sort{
		float: left;
		height: 58px;
		padding: 0;
		margin: 0;
		.dropdown{
			width: 100%;
		}
		
		button{
			width: 100%;
		}

		ul{
			position: absolute;
		    top: 100%;
		    left: 0;
		    z-index: 1000;
		    float: left;
		    min-width: inherit;
		    padding: 5px 0;
		    margin: -1px 0 0;
		    font-size: 14px;
		    list-style: none;
		    border: 1px solid #EBEBEB;
		    @include border-radius(0);
		    box-shadow: none;
		    width: 100%;
			li{
				a{
					padding: 8px 6px;
				    margin: 0;
				    &:hover{
				      background: {
				        color: $black;
				      }
				      color: $white;
				    }
				}
			}
		}
	}
}

// Selected Category
.selected-cat{
	@extend .left-wide;
	margin-bottom: 30px;
	font-weight: 600;
	span{
		float: left;
	    padding: 6px 15px;
	    background: #DFDFDF;
	    margin: 0;
	    font-size: 13px;
	    cursor: pointer;
        width: 100% !important;

		&:hover{
			color:$white;
			background: $red;
		}
	}
  .row {
    margin-left: -5px;
    margin-right: -5px;
  }
  .col-md-3 {
    padding: 5px 5px;
  }
}

/*=====  End of Meals Search Box  ======*/


/*================================
=            Food Box            =
================================*/

.food-box{
	float: left;
	height: 150px;
	position: relative;
	padding: 0;
	z-index: 999;

	input{
		position: absolute;
		left: -9999999px;
	}
	label{
		@extend .left-wide;
		height: inherit;
		background: {
			size : cover;
		}
		position: relative;
		cursor: pointer;

		span{
			height: 50px;
			line-height: 50px;
			text-align: center;
			padding: 0 3px;
			color: $white;
			background: {
				color: rgba(0, 0, 0, 0.5);
			}
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			
			&:before{
				color: $white;
				width: 30px;
			    text-align: center;
			    position: absolute;
			    left: 0;
			    right: 0;
			    margin: auto;
			    top: -10px;
			    z-index: 99;
			    font-size: 20px !important;
			}
		}

		&:hover{
			&:before{
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				background: #000;
    			opacity: 0.3;
			}
		}

	}

	[type="checkbox"]:not(:checked) + label>span:before{
	  content: '\f10c';
	  font: normal normal normal 18px/1 FontAwesome;
	}

	[type="checkbox"]:checked + label>span:before {
	  content: '\f058';
	  font: normal normal normal 18px/1 FontAwesome;
	}
}

/*=====  End of Food Box  ======*/