/*====================================
=            Select Seats            =
====================================*/

.select-seats{}

/*=====  End of Select Seats  ======*/



/*======================================
=            Seat Selection            =
======================================*/

.seat-selection{
  @extend .left-wide;
  margin-top: 0;
  background: {
    //image : url(../images/misc/_plane-seats.png);
    repeat : no-repeat;
    size : cover;
    position: center;
  }
    min-height: 745px;
    position: relative;

  // Left Section
  .left-section{
    float: right;
    padding-right: 15px !important;

    // Flight Name
    .flight-name {
      @extend .left-wide;
      margin-bottom: 5px;

      h2 {
        @extend .left-wide;
        color: $primary-color;
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 10px;
      }
      span {
        @extend .left-wide;
        font-size: 16px;
      }
    }

    // Data Block
    .data-block{
      @extend .left-wide;
      color: $black;

      background: {
        color: $white;
      }

      // Heading Title
      .heading-title {
        @extend .left-wide;
        font-size: 14px;
        margin-bottom: 10px;
      }

      // Content
      ul {
        @extend .left-wide;
        padding: 0;
        margin: 0;
        list-style: none;
        border: 1px solid #ededef;
        border-bottom: none;
        border-left: 0 solid #ededef;

        li {
          @extend .left-wide;
          list-style: none;
          font-weight: 600;
          position: relative;
          span {
            label {
              padding: 12px 0 12px 30px;
              font-weight: 600;
              font-size: 13px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              i {
                float: left;
              }
            }
          }
          &:hover {
            color: #ffffff;
            background-color: #919092;

            .remove {
              color: lighten(#919092, 25%);
            }

          }
          &.active {
            color: $white;
            background: {
              color: $gray;
            }
            &:after {
              content: "";
              position: absolute;
              width: 0;
              height: 0;
              left: -15px;
              margin-top: 0;
              border-top: 21px solid transparent;
              border-bottom: 21px solid transparent;
              border-right: 15px solid $gray;
            }
            .remove {
              color: lighten(#919092, 25%);
            }
          }

          .remove {
            color:#939393;
            padding: 2px 0 0 5px;
            font-size: 14px;
            &:hover{
              color: #ec0000;
            }
          }

          label {
            margin: 0;
            input {
            }
          }
          span {
          }

        }
      }
    }
  }

  // Right Section
  .right-section{
    position: relative;
  }

  .seat-map-legend{
    float:right;
    width:55%;
    margin-top: 10px;
    padding: 10px;
    border: #0a0a0a 1px dotted;

    h3{
      font-size: 18px;
      font-weight: 600;
      padding: 0;
    }

    ul{
      list-style: none;
      padding:0;
      margin: 0;
      margin-top: 15px;

      li{
        position:relative;
        height:100%;
        margin-bottom: 4px;

        span{
          position: absolute;
          height: 100%;
          margin-right: 10px;
          margin-top: 4px;
          line-height: 15px;
        }

        i{
          width: 19px;
          height: 28px;
          display: inline-block;
          background-size: contain;
          background-repeat: no-repeat;
        }

        .available-seat-icon{
          background-image: url(../images/plane/default-seat.svg);
        }
        .occupied-seat-icon{
          background-image: url(../images/plane/disabled-seat.svg);
        }
        .selected-seat-icon{
          background-image: url(../images/plane/selected-seat.svg);
        }
        .previous-seat-icon{
          background-image: url(../images/plane/previous-seat.svg);
        }
      }
    }
  }
}

/*=====  End of Seat Selection  ======*/


/*======================================
=            Plane Seat Map            =
======================================*/

.plane-map{
  width: 170px;
    float: left;
    min-height: 645px;
    position: relative;
    top: 0;
    left: 50px;
    // z-index: 9999;
    background: $white;

  /* Plane Head */
  .plane-head{
    @extend .left-wide;
    height: 165px;
    background: {
      color: $white;
      image : url(../images/plane/plane-head.png);
      image : url(../images/plane/plane-head.svg);
      repeat : no-repeat;
      size : cover;
    }
  }

  /* Plane Body */
  .plane-body{
    @extend .left-wide;
    min-height: 500px;
    border-left: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
    padding: 0 10px;

    // Section
    section{
      &.col-numbers{
        margin-top: -0px;
      }

      // Seats Row
      .seats-row{
        @extend .left-wide;
        position: relative;

        .row-number {
            position: absolute;
            z-index: 99;
            left: -60px;
            width: 30px;
            text-align: right;
            height: 28px;
            line-height: 28px;
            font-weight: 600;
            color: #666666;
        }

        &.exit-row{
          margin-bottom: 15px;
          &:before{
            content: "";
            font-family:"icomoon";
            font-size: 60px;
            color: #df7c66;
            position: absolute;
            background: #fff;
              height: 30px;
              line-height: 30px;
              bottom: -20px;
          }
        }

        // Seat
        .seat{
          display: inline-block;
          padding: 0;
          text-align: center;
          cursor: pointer;
          position: relative;
          i{
            width: 19px;
            height: 28px;
            display: inline-block;
            background: {
              size : contain;
              repeat : no-repeat;
            }
          }

          h4{
            width: 19px;
              height: 28px;
            font-weight: 600;
            font-size: 16px;
            margin-bottom: 10px;
          }

          // Tooltip

          .tooltip {
              opacity: 1;
              display: none;
              min-width: 110px;
              background: #333;
              color: #fff;
              top: 0px;
              bottom: 0;
              left: 29px;
              height: 28px;
              line-height: 28px;
              padding: 0 8px;
              font-weight: 600;
              border-radius: 3px;
              position: absolute;
              &:before{
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-color: transparent;
                border-style: solid;
                top: 50%;
                left: -8px;
                margin-top: -13px;
                border-width: 13px 9px 13px 0;
                border-right-color: #333;
              }
              i {
                float: left;
                width: auto !important;
                height: initial !important;
                &.seat-price {
                  float: right;
              }
            }

            &.red-tooltip{
              background: $primary-color;
              &:before{
                border-right-color: $primary-color;
              }
            }

            &.black-tooltip{
              background: $black;
              &:before{
                border-right-color: $black;
              }
            }

            &.gray-tooltip{
              background: #bfbfbf;
              color: #333;
              &:before{
                border-right-color: #bfbfbf;
              }
            }
          }

          &:hover,&:focus{
            .tooltip{
              display: block;
            }
          }

          // Default Seat
          .seat-default{
            background-image: url(../images/plane/default-seat.svg);
          }

          // Avaialable Seat
          .seat-available{
            background-image: url(../images/plane/default-seat.svg);
          }
          &:hover,&:focus{
            .seat-available{
              background-image: url(../images/plane/available-seat.svg);
            }
          }

          // Selected Seat
          .seat-selected{
            background-image: url(../images/plane/selected-seat.svg);
          }

          // disabled Seat
          .seat-disabled{
            background-image: url(../images/plane/disabled-seat.svg);
          }

          // disabled Seat
          .seat-reserved{
            background-image: url(../images/plane/disabled-seat.svg);
          }

          .seat-previous{
            background-image: url(../images/plane/previous-seat.svg);
          }
          
        }
      }

      // Row Group
      .row-group{
        //margin: 0 -15px;
        width: 50%;
        padding: 0;

        &.group-1{
          float: left;
          padding-right: 5px;
          .seats-row{
            &.exit-row{
              &:before{
                content: "\e921";
                left: -35px;
              }
            }
          }
        }
        &.group-2{
          float: right;
          padding-left: 5px;
          .seats-row{
            &.exit-row{
              &:before{
                content: "\e920";
                right: -35px;
              }
            }
          }
        }
      }
    }

    &:before,
    &:after {
      content: "";
      width: 130px;
      height: 600px;
      position: absolute;
      background: {
        repeat: no-repeat;
        position: center;
      }
      top: 300px;
    }

    &:before {
      background: {
        image: url(../images/plane/leftWing.svg);
      }
      left: -130px;
    }

    &:after {
      background: {
        image: url(../images/plane/rightWing.svg);
      }
      right: -130px;
      z-index: -1;
    }
  }

  /* Plane Tail */
  .plane-tail{
    @extend .left-wide;
    height: 177px;
    background: {
      color: $white;
      image : url(../images/plane/plane-tail.png);
      image : url(../images/plane/plane-tail.svg);
      repeat : no-repeat;
      size : cover;
    }
  }
}

/*=====  End of Plane Seat Map  ======*/

.seatmap-optionlist{
  a.action{
    margin: 3px 0 0 6px;
    .remove{
      color: #939393;
      &:hover{
        color: $primary-color;
      }
    }
  }
}


