<div ng-controller="baggageController as baggage">
    <!-- Extra header -->
    <div scroll-top>
        <!-- Content header -->
        <div class="extras-header content-wrapper">
            <section class="content-header">

                <div class="page-title col-md-8 col-sm-8 hidden-xs baggage-page-title">
                    <!-- Page Title -->
                    <h1>
                        <span translate="title_extra_baggage">Select baggage for your trip</span>
                        <a href="" class="hidden-xs skip" ng-click="baggage.skipServices()" translate="btn_extra_skipBag">Skip Baggage Selection</a>
                    </h1><!-- // Page Title -->
                </div>
                <div class="hidden-xs btn-wrap col-md-4 col-sm-4 col-xs-12 pull-right">
                    <span ng-click="baggage.backToExtras()" class="button red-btn" translate="lbl_common_continue">Continue</span>
                </div>
            </section><!-- // Content header -->
        </div>
    </div><!-- // Extra header -->

    <!-- Page Wrapper -->
    <div class="content-wrapper extras-container">
        <!-- Content Body -->
        <section class="content-body extras-xs-body">
            <!-- Row -->
            <div>
                <!-- Extras Content -->
                <div ng-if="!deviceType.isMobileDevice" class="extras-content select-meals select-baggage col-md-8 col-sm-8 col-xs-12 hidden-xs">

                    <!-- Content Sub Title -->
                    <div class="sub-title ">
                        <h2>
                            <span class="truncate">{{baggage.airportNames.departureAirportName}}</span>
                            <i class="pd-l-1 pd-r-1" translate="msg_common_to">to</i>
                            <span class="truncate">{{baggage.airportNames.arrivalAirportName}}</span>

                            <span class="ico">
                                <span class="icon-outbound-plane-small" ng-if="baggage.airportNames.searchCriteria.from === baggage.airportNames.departureAirportCode">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </span>
                                <span class="icon-inbound-plane-small" ng-if="baggage.airportNames.searchCriteria.to === baggage.airportNames.departureAirportCode">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </span>
                            </span>
                        </h2>

                        <a href="" class="hidden-xs" ng-show="baggage.baggagePreferance.scopes[0].preferences.length > 1">
                            <span ng-click="baggage.nextSector()" translate="lbl_extra_nextSector">Go To Next Sector</span>
                            <i class="fa fa-angle-right"></i>
                        </a>
                        <div class="hidden-sm hidden-md hidden-lg col-xs-8">
                            <div class="footer-title xs-gotonextsector">
                                <a href="" ng-show="baggage.baggagePreferance.scopes[0].preferences.length > 1">
                                    <span ng-click="baggage.nextSector()" translate="lbl_extra_nextSector">Go To Next Sector</span>
                                    <i style="text-align: center; float: none;    position: relative;left: -8px;font-size: 14px !important;" class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--                    <div class="sub-title hidden-sm hidden-md hidden-lg">
                                            <p>
                                               <span class="truncate">{{baggage.airportNames.departureAirportName}}</span>
                                                <i translate="msg_common_to">to</i>
                                                <span class="truncate">{{baggage.airportNames.arrivalAirportName}}</span>
                    
                                                <span class="ico">
                                                    <span class="icon-outbound-plane-small" ng-if="baggage.airportNames.searchCriteria.from === baggage.airportNames.departureAirportCode">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                    </span>
                                                    <span class="icon-inbound-plane-small" ng-if="baggage.airportNames.searchCriteria.to === baggage.airportNames.departureAirportCode">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                    </span>
                                                </span>
                                            </p>
                                            <a style="width:100%; text-align: center;" href="javascript:;" ng-click="baggage.nextSector()"
                                               ng-show="baggage.baggagePreferance.scopes[0].preferences.length > 1">
                                                <span style="text-align: center; float: none;" translate="lbl_extra_nextSector">Go To Next Sector</span>
                                                <i style="text-align: center; float: none;    position: relative;left: -8px;font-size: 14px !important;" class="fa fa-angle-right"></i>
                                            </a>
                                        </div>-->
                    <!-- // Content Sub Title -->

                    <!-- Package Block -->
                    <div class="hidden-xs">
                        <div isaoptionlist option-click="baggage.onEditBaggage(id,event)"
                             source="baggage.passengers" template="baggage"
                             dropdown-source="baggage.weightsList"
                             dropdown-click="baggage.onSelectWeight(id,weight,price,index,section,baggageId)"></div>
                    </div>

                    <!-- Content Sub Title -->
                    <!-- <div class="footer-title">
                        <a href="" ng-show="baggage.baggagePreferance.scopes[0].preferences.length > 1">
                            <span ng-click="baggage.nextSector()" translate="lbl_extra_nextSector">Go To Next Sector</span>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div> --><!-- // Content Sub Title -->


                </div><!-- // Extras Content  -->

                <div ng-if="deviceType.isMobileDevice" >
<!--                    <div class="addon-panel" ng-repeat="(key,flights) in baggage.baggagePreferance.scopes">
                        <div class="panel-group segment-list" id="accordion_{{$index}}"  ng-repeat="flight in flights.preferences track by $index" >
                               <div class="panel panel-default">
                                      <div class="panel-heading" ng-click="baggage.nextSector($index,$index)">
                                        <h4 class="panel-title">
                                          <div  ng-if="flight.segments[0].from" >
                                              <a class="accordion-toggle" data-toggle="collapse" ng-if="flights.scopeType === 'OND'" data-parent="#accordion_{{$index}}" href="#collapseOne_{{$index}}">
                                                 <div ng-click="baggage.nextSector($index,$index)">
                                                            <i class="fa" ng-class="accordionArray[$index] ? 'fa-angle-up':'fa-angle-down'"></i>
                                                            <span><span class="origin-dest-name">{{flight.segments[0].from}} </span><i translate="msg_common_to"style="font-weight: normal">to</i> <span class="origin-dest-name">{{flight.segments[0].to}}</span></span>
                                                            <span class="price pull-right"><i class="currency font-weight-normal">{{baggage.currency}}</i> <i class="font-weight-bold" isa-connector="{{flight.total}}"></i></span>
                                                      </div> 
                                              </a>
                                            </div>
                                        </h4>
                                      </div>
                                      <div id="collapseOne_{{$index}}" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                        <div isaoptionlist option-click="baggage.onEditBaggage(id,event)"
                                                source="baggage.passengers" template="baggage"
                                                dropdown-source="baggage.weightsList"
                                                outer-index="$index"
                                                dropdown-click="baggage.onSelectWeight(id,weight,price,index,section,baggageId,sectorIndex)"></div>
                                        </div>
                                      </div>
                                </div>

                         </div>
                    </div>-->
                    <!--<span>{{baggage.baggagePreferance.scopes}}</span>-->
                    <div class="addon-panel baggage-panel" ng-repeat="(key,flights) in baggage.baggagePreferance.scopes">
                        <uib-accordion class="segment-list" close-others="true">
                            <uib-accordion-group ng-click="$event.preventDefault();$event.stopPropagation();baggage.nextSector($index,$index,$event);"  ng-repeat="flight in flights.preferences track by $index" is-open="accordionArray[$index]"> 
                                <div  ng-if="flight.segments[0].from" >
                                    <uib-accordion-heading ng-if="flights.scopeType === 'OND'" >
                                       <div >
                                            <i class="fa" ng-class="accordionArray[$index] ? 'fa-angle-up':'fa-angle-down'"></i>
                                            <span><span class="origin-dest-name">{{flight.segments[0].from}} </span><i translate="msg_common_to"style="font-weight: normal">to</i> <span class="origin-dest-name">{{flight.segments[getLength(flight.segments)].to}}</span></span>
                                            <span class="price pull-right"><i class="currency font-weight-normal">{{baggage.currency}}</i> <i class="font-weight-bold" isa-connector="{{flight.total}}"></i></span>
                 		      </div>
                                    </uib-accordion-heading>
                                </div>
                                <div isaoptionlist option-click="baggage.onEditBaggage(id,event)"
                                     source="baggage.baggagePreferance.scopes[0].preferences[$index].passengers" template="baggage"
                                     dropdown-source="baggage.weightsList"
                                     outer-index="$index"
                                     dropdown-click="baggage.onSelectWeight(id,weight,price,index,section,baggageId,event)"></div>
                            </uib-accordion-group>
                        </uib-accordion>
                    </div>
                </div>

                    <!-- Sidebar -->
                    <div class="sidebar baggage-sidebar col-xs-12 col-md-4 col-sm-4">

                        <!-- Widget -->
                        <div class="sidebar-widget" selected="{index:0, section:'Outbound'}" isaradiooptionlist level="2"
                             source="baggage.baggagePreferance" set-option="baggage.showExtrasTotal"
                             previous-source="baggage.previousSelection"
                             select-option="baggage.nextSector(index,section)" level="2" type="baggage"
                             header-value="lbl_common_Baggages">

                        </div><!-- // Widget -->

                    </div><!-- // Sidebar -->
                </div> 


                <div class="btn-wrap col-md-4 col-sm-4 col-xs-12 pull-right btn-continu-bottom" ng-if="deviceType.isMobileDevice">
                    <span ng-click="baggage.backToExtras()" class="button red-btn" translate="lbl_common_continue">Continue</span>
                </div> 
            <!--</div> // Row -->
                <div class="btn-wrap col-md-4 col-sm-4 col-xs-12 pull-right btn-continu-bottom" ng-if="!deviceType.isMobileDevice">
                    <span ng-click="baggage.backToExtras()" class="button red-btn" translate="lbl_common_continue">Continue</span>
                </div>
            <!-- // Row -->

        </section><!-- // Content Body -->

        <!-- Content Footer -->
        <div class="content-footer extras-footer" ng-show="baggage.baggagePreferance.scopes[0].preferences.length > 1">
            <div class="row">
                <div class="col-md-8 col-sm-8 hidden-xs">
                    <div class="footer-title xs-footer-goto">
                        <a href="" ng-show="baggage.baggagePreferance.scopes[0].preferences.length > 1" onclick="$('html, body').animate({scrollTop: 0}, 2000);" class="baggage-footer">
                            <span class="xs-gotospan" ng-click="baggage.nextSector()" translate="lbl_extra_nextSector">Go To Next Sector</span>
                            <i style="text-align: center; float: none;    position: relative;left: -8px;font-size: 19px !important;" class="fa fa-angle-right pd-l-2"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div><!-- // Content Footer -->

        <div class="row xs-modify-actions" ng-if="baggage.appMode == 'modifyAnci' || baggage.appMode == 'modify_segment'">
            <div ng-if="baggage.appMode == 'modify_segment'">
                <a href="" class="col-md-4 col-sm-6 col-xs-6 submit-link pull-left" ng-click="baggage.skipServices()">
                    <i  class="backClass fa fa-angle-left"></i>
                    <span translate="lbl_common_back">Back</span>
                </a>

                <a href="" class="col-md-4 col-sm-6 col-xs-6 center submit-link" ng-class="{'text-right': baggage.appMode == 'modify_segment'}" ng-click="baggage.backToHome()">
                    <i>&#xf021;</i>
                    <span translate="btn_common_startOver">Start Over</span>
                </a>
            </div>
            <div ng-if="baggage.appMode != 'modify_segment'" style="text-align: center;">
                <a href="" class="col-md-4 col-sm-12 col-xs-12 center submit-link" ng-class="{'text-center': baggage.appMode == 'modify_segment'}" ng-click="baggage.backToHome()">
                    <i>&#xf021;</i>
                    <span translate="btn_common_startOver">Start Over</span>
                </a>
            </div>
        </div>

    </div><!-- // Page Wrapper -->
</div>