.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
.flight-result-block {
    float: left;
    width: 100%;
    margin-bottom: 60px;

    &.flight-incoming,&.flight-outgoing{
        position: relative;
        margin-top: 20px;
    }
    .flight-block-header{
        h2{
            font-size: 25px;
        }
    }

    .flight-date{
        padding: 5px 15px;
        border-bottom: 1px $light_gray solid;
        border-right: 1px $light_gray solid;
        font-size: 14px;
        font-weight: 600;
        width: 100%;
    }

    .flight-options{

        .btn{

            border-radius:0px;
            -moz-border-radius:0px;
            -webkit-border-radius:0px;
            font-weight: 600;
            font-size: 14px;
        }

        .tooltip.top .tooltip-arrow{
            bottom: -4px;
            border-width: 9px 9px 0;
            border-top-color: $base-color;
        }
        .tooltip-inner{
            border-radius: 0px;
            background-color: $base-color;

            h2,
            h3,
            h4 {
                font-size: 13px;
                width: 100%;
                margin-bottom: 3px;
                text-align: center;
                font-weight: 600;
                padding: 5px 0 0;
            }
        }
        .tooltip.in{
            opacity: 1;
        }
        .fare-tooltip{
            width: 300px;
        }
        div.tooltip-inner {
            max-width: 100%;
        }
        .fare-tooltip-wrappe{
            padding: 0 5px;
            line-height: 20px;
            text-align: left;
            width: 100%;
            height: 100px;
        }
        .fare-tooltip-txt{
            font-size: 12px;
        }
        .fare-tooltip-heading{
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 5px;
            float: left;
            width: 100%;
        }

        .flight-stop-wrapper{
            width: 100%;
            position: relative;
            height: 30%;

            .flight-path{
                border-top: 2px solid #DCDCDC;
                width: 100%;
                position: absolute;
                top: 9px;
                z-index: -1;
                left: 0;
            }
            .flight-point li{
                float: left;
                list-style: none;
                margin-right: 20%;
                position: relative;
                left:35%;

                
                
                .flight-name {
                    font-size: 9px;
                    position: absolute;
                    left: -5px;
                    margin: auto;
                    top: -18px;
                    font-weight: 400;
                    color: #333;
                }
            }
            .flight-start{
                float: left;
                position: relative;

                .flight-name {
                    font-size: 9px;
                    position: absolute;
                    left: -5px;
                    margin: auto;
                    top: -18px;
                    font-weight: 400;
                    color: #333;
                }
            }
            .flight-icon{
                width: 20px;
                height: 20px;
                background-color: transparent;
                font-size: 20px;
                color: $primary-color !important;
            }
            .icon-bus{
                font-size: 26px;
                &:before{
                    line-height: 1;
                    float: left;
                    height: auto;
                    margin-top: -3px;
                }
                
            }
            .flight-stop{
                float: right;
                font-size: 10px;
                top: 5px;
                position: relative;
                width: 10px !important;
                height: 10px !important;

            }
            .icon-touchdown{
                font-size:10px;
                color:#666768 !important;
                width: 10px !important;
                height: 10px !important;
                top: 5px;
                position: relative;
            }

        }

        .flight-duration{
  
        width:100%;
        position : relative;
        height: 50%;
        float: left;
        }
        
        .flight-duration{
            margin: 0 0 6px;
            .caption-txt{
                float: right;
                font-size: 11px;	      	
            }
            .segment-code-txt{
                font-size: 11px;
                margin-left: 10px;
                display: inline;
            }
        }

        .flight-options-table{
            position: relative;
            //display: table;
            width: 100%;
            float: left;
        }

        .options-row{
            //display: table-row;
            border-bottom: 1px solid $border-color;
            float: left;
            width: 100%;


            &.header{
                height: 100%;
                label{
                    font-weight: 600;
                    font-size: 13px;
                }
                /* .departure-time{
                  width: 8%;
                } */
                .flight-info{
                    .flight-info-label{

                    }
                    //width: 29%;
                }

                /* .arrival-time{
                  width: 8%;
                } */
                .fare-col{
                    color: $secondary-color;
                    font-weight: 600;
                    padding: 0px;
                    a{
                        color: $secondary-color;
                        font-size: 11px;
                        text-decoration: underline;
                    }
                }
                .tooltip{
                    width: auto;
                }
                .tooltip.bottom .tooltip-arrow{
                    top: -4px;
                    border-width: 0px 9px 9px;
                    border-bottom-color: $fare_tooltip_color;
                }
                .tooltip-inner{
                    border-radius: 0px;
                    background-color: $fare_tooltip_color;
                    padding: 1px;
                }
                .tooltip.in{
                    opacity: 1;
                }
                .options-td{
                    padding-bottom:20px;
                }
            }
            &.body{
                label{
                    margin: 0px;
                }
                .departure-time, .arrival-time{
                    font-size: 24px;
                    font-weight: bold;
                }
                a{
                    color: $font-color;
                    text-decoration: none;
                    height: 89px;
                    padding: 0px;
                    .fare-col{
                        text-align: center;
                        position: relative;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        &:hover{
                            .ribbon{
                                display: none;
                            }
                        }
                        .not-fare{
                            padding-top: 0px;
                            max-width: 62px;
                        }
                        &.radioWithSeats{
                            padding-top: 14px;
                        }
                    }
                   
                    .currency-text{
                        font-size: 12px;
                        color: #333333;
                    }
                    .currency-value{
                        font-size: 16px;
                        font-weight: 600;
                    }
                    .not-available{
                        font-size: 16px;
                    }
                    .important-info{
                        font-size: 11px;
                        color: $primary-color;
                        border-bottom: 1px solid #ED0000;
                        span,i{
                            color: $primary-color;
                            font-size: 11px;
                        }
                    }
                    .web-only{
                        opacity: 1;
                        color: green;
                        font-size: 10px;
                    }
                    .important-info.top{
                        opacity: 0;
                    }
                    .important-info.bottom{
                        opacity: 1;
                    }
                    .select-button,
                    .selected-button{
                        background-color: $primary-color;
                        color: $secondary-color;
                        display: none;
                        position: absolute;
                        bottom:0;
                        left:0;
                        right:0;
                        padding: 2px;
                    }

                    .selected-button{
                        background-color: #333;
                    }

                }
                a:hover, .selected-fare{
                    background-color: #f6f7b5;
                    .important-info{
                        top:0;
                    }
                    .important-info.top{
                        opacity: 1;
                    }
                    .important-info.bottom{
                        opacity: 0;
                    }
                }

                a:hover{
                    .select-button{
                        display: block;
                    }
                }

                &.bundle-fare-row {
                    a {
                        height: auto;
                    }

                    a:hover, .selected-fare{
                        background-color: $white;
                    }

                    a.fare-and-services-container:hover {
                        background-color: transparent;
                    }


                }

                .selected-fare{
                    .selected-button{
                        display: block;
                    }
                }
                .block-fare{
                    pointer-events: none;
                }
            }

            .options-td{
                padding: 4px;
                border-bottom: 0 solid $border-color;
                vertical-align: middle;
                min-height: 70px;
            }


            .left-section {
                bottom:0;
                float: left;
                width: 52%;
                @media only screen and (min-width: 768px) {
                    padding-right: 0px;
                    display: flex;
                }

                .options-td {
                    &.departure-time {
                        text-align: left;
                        padding-top: 11px
                    }
                    &.flight-info {
                        width: 60%;
                        padding-top: 11px;
                    }
                    &.arrival-time {
                        padding-top: 14px;
                        width: 20%;
                        text-align: center;
                    }
                    &.timeline-info{
                        padding-top: 0px;
                    }
                }
            }

            .center-section {
                text-align: center;
                width: 100%;
                display: table;

                .options-td {
                    &.departure-time {
                        width: 100%;
                        text-align: center;
                        padding-top: 15px;
                    }
                    &.flight-info {
                        width: 60%;
                        padding-top: 11px;
                    }
                    &.arrival-time {
                        width: 20%;
                        text-align: center;
                    }
                }
            }

            .right-section {
                float: right;
                width: 48%;
                display: flex;
                .tool-tip-anchor{
                    width: 100%;
                    padding: 5px 0px 0px 13px;
                    text-align: left;
                    margin-bottom: 5px;
                }
            }
            .right-section.right-section-body{
                height: 100%;
            }


            /* Width variations */
            &.fare_col_1{

                .left-section {
                    width: 75%;
                }

                .right-section {
                    width: 25%;
                    display: flex;
                    flex-flow: wrap;
                }
            }

            &.fare_col_2{
                .left-section {
                    width: 65%;
                }

                .right-section {
                    width: 35%;
                }
            }

            &.fare_col_3{
                .left-section {
                    width: 60%;
                }

                .right-section {
                    width: 40%;
                }
            }

            &.fare_col_4{
                .left-section {
                    width: 52%;
                }

                .right-section {
                    width: 48%;
                }
            }

            &.bundle-fare-col-1{
                width: 100%;
                .left-section {
                    width: 0%;
                }
                .right-section {
                    width: 33%;
                }
            }

            &.bundle-fare-col-2{
                width: 100%;
                .left-section {
                    width: 0%;
                }
                .right-section {
                    width: 66%;
                }
            }
            &.bundle-fare-col-3, &.bundle-fare-col-4, &.bundle-fare-col-5, &.bundle-fare-col-6{
                width: 100%;
                .left-section {
                    width: 0%;
                }
                .right-section {
                    width: 100%;
                    flex-flow: nowrap;
                }
            }

            /*&.fare_col_5{
              .left-section {
                width: ;
              }
    
              .right-section {
                width: ;
              }
            }*/

            &.header{
                .options-td {
                    position:relative;
                    height: 60px;
                    padding-bottom:0px;
                }
            }

        }

        .fare-type-1{
            background-color: #979697;
        }
        .fare-type-2{
            background-color: #838384;
        }
        .fare-type-3{
            background-color: #707170;
        }
        .fare-type-4{
            background-color: #666768;
        }
        .fare-type-5{
            background-color: #414042;
        }
        .section-popup{
            position: absolute;
            z-index: -999;
            background-color: #666666;
            -moz-box-shadow:   0px 0px 10px 0px rgba(0,0,0,0.5);
            -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);


            .header{
                color: $secondary-color;
                height: 40px;
                line-height: 40px;
                a{
                    color: $secondary-color;
                }
            }
            .panelBody{
                background-color: $base-color;
                position: absolute;
                width: 100%;
                top:40px;
                bottom: 0;
                .flight-details{
                    font-size: 14px;
                    color: #fff;
                    padding-top: 6px;
                }
                .fare-details{
                    font-size: 25px;
                    color: #fff;
                    font-weight: 600;
                    min-height: 60px;
                    padding-top: 10px;
                    span{
                        float: left;
                        margin-right: 11px;
                    }
                }
                .fare-popup-icon{
                    width: 52px;
                    border-top: 2px #6E6E6F solid;
                    display: block;
                    position: relative;
                    top: 21px;
                    line-height: 0;
                    text-indent: 51px;
                    font-size: 22px;
                    font-weight: 600;
                    float: right !important;
                    margin-right: 20px !important;
                }
            }
        }
        .section-popup.show{
            z-index: 20;
        }
        .section-mask{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $secondary-color;
            opacity: 0.8;
            display: none;
            z-index: -10;
        }
    }

    .modify-flight-search{
        &.flight-filler{
            p{
                display: table-cell;
                vertical-align: middle;
                font-weight: 600;
                border-right: 1px solid #e2e2e2;
            }
        }

        .select-flight-buttons{
            width: 115px;
            display: table-cell;

            .select-flight .selected{
                display: inline-block;
                float:left
            }

            .select-flight{
                border-right: 1px solid #e2e2e2;

                .edit-select-button{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 100%;
                }
            }

            .selected{
                label{
                    margin-bottom: 0;
                }
            }
        }

        .flight-stop-wrapper{
            .flight-path{
                left: 0px;
                top : 27px;
            }
        }

        .flight-fares li{
            padding-bottom: 0px !important;
        }

        .tooltip.top .tooltip-arrow{
            bottom: -4px;
            border-width: 9px 9px 0;
            border-top-color: $primary-color;
        }

        .tooltip-inner {
            border-radius: 10px;

            font-size: 13px;
            width: 100%;
            text-align: center;
            font-weight: 600;
            padding: 0;
        }

    }

}


/* Ribbon Help */
.ribbon-help {
    float: left;
    width: 100%;
    margin: 0px 0 0px;
    padding: 0 15px;
    .ribbon {
        position: static;
        float: right;
        margin: 5px 10px 0 0;
        width: 30px;
    }
    label {
        float: right;
        margin: 0;
        line-height: 1.5;
        font-size: 11px;
        font-weight: 600;
    }
}

.fare-and-services-selected-row {
    background-color: $selected-flight-row-color !important;
}
