@media only screen and (max-width: 767px) {
    .flight-result-block {
        .flight-options{

            .flight-stop-wrapper{
                margin-top:0px !important;
                .icon-bus{
                    font-size: 26px;
                    &:before{
                            margin-top:0px !important;
                    }
                }
            }
        }
        .options-row{
            &.body a .fare-col{
                height: 100% !important;
            }
            .right-section {
                .options-td {
                    width: 20% !important;
                    padding-bottom: 2px;
                    @media only screen and (min-width: 768px) {
                        .options-td {
                            width: 20% !important;
                            padding-bottom: 2px;
                        }
                    }
                   
                }
            }

        }
    }
}