<div class="hidden-sm hidden-md hidden-lg">
<div class="options-row body fare_col_{{headerInfo.length}}" data-index="{{$index}}"
         ng-repeat="flight in flightOptions" ng-show="flightOptions.length"
     ng-class="{'fare-and-services-selected-row' : flight.isFlightSelected }">
        <div class="left-section" style="cursor:pointer">
            <div ng-click="selectFlight(flight)" class="flight-data-row"
                 ng-class="{'xs-flight-margin':!isThreeTwentyDevice}" style="margin-bottom: 10px !important;">
                <div class="options-td departure-time departure-time-txt">
                    <label>{{flight.departureTime}}</label>
                </div>
                <div class="options-td flight-info flight-info-detail">
                    <div class="flight-stop-wrapper">
                        <span class="flight-path"></span>
                        <span class="flight-icon flight-start pull-left" uib-tooltip-html="flight|stopType" tooltip-placement="top"
                              tooltip-trigger="mouseenter"
                              ng-class="{'icon-plane_shape_R':(flight.travelMode === 'FLIGHT'),
                            'icon-bus':(flight.travelMode === 'BUS')}"
                              ng-style="setDurationOfWidth(flight.stops)">
                            <i class="flight-name">{{flight.flightNumber}}</i>
                        </span>
                        <span>
                            <ul class="flight-point">
                                <li uib-tooltip-html="stop|stopType" tooltip-placement="top"
                                    tooltip-trigger="mouseenter"
                                    ng-class="{'icon-plane_shape_R':(flight.stops[$index].travelMode === 'FLIGHT'),
                            'icon-bus':(flight.stops[$index].travelMode === 'BUS'),
                            'icon-pause':!(flight.stops[$index].flightNumber),
                            'icon-touchdown':!(flight.stops[$index].flightNumber)}"
                                    class="flight-icon" ng-repeat="stop in flight.stops" ng-style="setDurationOfWidth(flight.stops)">
                                    <i class="flight-name">{{stop.flightNumber}}</i>
                                </li>
                            </ul>
                        </span>
                        <span class="flight-icon flight-stop icon-stop pull-right"></span>
                    </div>
                    <div class="flight-duration caption-txt">
                        <p class="segment-code-txt">
                            <span class="origin-flight-code">{{flight.originCode}}/</span>
                            <span class="origin-flight-code" ng-repeat="stop in flight.stops">{{stop.airportCode}}/</span>
                            <span class="destination-flight-code">{{flight.destinationCode}}</span>
                        </p>
                    </div>

                </div>
                <div class="rs-arrival-time options-td arrival-time arrival-time-txt"
                     ng-class="{'nextday-flag': flight.nextDayFlag !== '','no-nextday-flag': flight.nextDayFlag == ''}">
                    <label>{{flight.arrivalTime}}</label><div class="pull-left" ng-if="flight.nextDayFlag !== ''"
                                                              style="line-height: 0; font-size: 10px;" title="Next Day">{{flight.nextDayFlag}}</div>
                </div>

                <div ng-if="!(flight.flightFaresAvailability[0].fareValue === 0 || flight.flightFaresAvailability[0].fareValue === null)"
                     class=" price-expand-lbl-div testing options-td flight-price-lbl pull-right
                     fare-and-services-flight-mobile-select-button"
                     ng-class="{'nextday-flag': flight.nextDayFlag !== '',
                     'no-nextday-flag': flight.nextDayFlag == '',
                     'selected' : flight.isFlightSelected , 'disabled' : flight.isFlightFull}"
                        style="margin-top: 10px; padding: 5px 15px !important; text-align: center;">
                            <i style="margin-top: 2px !important;"
                               ng-if="!flight.isFlightSelected && !flight.isFlightFull"
                               class="flight-price-expand-icon fa fa-angle-right pull-right pull-right pd-rt-5
                               fare-services-mobile-select-icon"></i>
                            <span ng-if="!flight.isFlightSelected && !flight.isFlightFull" class="fare-and-services-flight-select-text" style="font-size:10px;" translate="msg_common_from">From</span>
                            <span ng-if="!flight.isFlightSelected && !flight.isFlightFull"
                                  class="currency-text currency fare-and-services-flight-select-text"
                                  style="font-size: 1em !important;">{{currency}}</span>
                            <span ng-if="!flight.isFlightSelected && !flight.isFlightFull"
                                  style="font-size: 1.2em !important; font-weight: 600"
                                  class="currency-value fare-value" isa-connector ="{{flight.flightFaresAvailability[0].fareValue}}"></span>
                            <i style="top: 20px !important; right: 15px; position: absolute;"ng-if="flight.isFlightSelected" class="flight-price-expand-icon flight-selected-icon fa fa-angle-down pull-right pull-right pd-rt-5"></i>
                            <span ng-if="flight.isFlightFull"
                            class="fare-and-services-flight-select-text" style="color:white !important;">Not Available</span>
                </div>
                <div class="col-xs-7 flightDuration" style="padding-left:0;" ng-if="flight.isFlightSelected">
                    <p style="text-align:center; font-size:10px;">{{flight|flightDuration}}</p>
                </div>
            </div>
            <div class="hidden-sm hidden-md hidden-lg section-line"><hr></div>
            <div ng-if="flight.isFlightSelected" isa-fare-and-services-details header-fare-info="headerFType"
                 flight="flight" currency="AED"></div>
        </div>
    </div>
</div>


<!--for desktop and tab views-->
<div class="hidden-xs options-row body fare_col_1 fare-and-services-row" data-index="{{$index}}" ng-repeat="flight in flightOptions"
     ng-show="flightOptions.length" ng-class="{'selected' : flight.isFlightSelected }">
    <div class="left-section left-section-body" style="padding-left:12px; padding-right: 12px">
        <div class="options-td departure-time departure-time-txt">
            <label>{{flight.departureTime}}</label>
        </div>
        <div class="options-td flight-info timeline-info">
            <div class="caption-txt">&nbsp;<!-- Flight {{flight.flightNumber}} --></div>
            <div class="flight-stop-wrapper">
                <span class="flight-path"></span>
                <span class="flight-icon flight-start pull-left" uib-tooltip-html="flight|stopType" tooltip-placement="top"
                      tooltip-trigger="mouseenter"
                      ng-class="{'icon-plane_shape_R':(flight.travelMode === 'FLIGHT'),
                            'icon-bus':(flight.travelMode === 'BUS')}"
                      ng-style="setDurationOfWidth(flight.stops)">
                    <i class="flight-name">{{flight.flightNumber}}</i>
                </span>
                <span>
                    <ul class="flight-point" >
                        <li uib-tooltip-html="stop|stopType" tooltip-placement="top"
                            tooltip-trigger="mouseenter"
                            ng-class="{'icon-plane_shape_R':(flight.stops[$index].travelMode === 'FLIGHT'),
                            'icon-bus':(flight.stops[$index].travelMode === 'BUS'),
                            'icon-pause':!(flight.stops[$index].flightNumber),
                            'icon-touchdown':!(flight.stops[$index].flightNumber)}"
                            class="flight-icon" ng-repeat="stop in flight.stops" ng-style="setDurationOfWidth(flight.stops)">
                            <i class="flight-name">{{stop.flightNumber}}</i>
                        </li>
                    </ul>
                </span>
                <span class="flight-icon flight-stop icon-stop pull-right"></span>
            </div>
            <div class="flight-duration">
                <p class="segment-code-txt">
                    <span  class="origin-flight-code">{{flight.originCode}}/</span>
                    <span  class="origin-flight-code" ng-repeat="stop in flight.stops">{{stop.airportCode}}/</span>
                    <span class="destination-flight-code">{{flight.destinationCode}}</span>
                </p>
                <p class="caption-txt">{{flight|flightDuration}}</p>
            </div>
        </div>
        <div class="rs-arrival-time options-td arrival-time arrival-time-txt" ng-class="{'nextday-flag': flight.nextDayFlag !== ''}">
            <label>{{flight.arrivalTime}}</label><div ng-if="flight.nextDayFlag !== ''" style="line-height: 0;font-size: 10px;" title="Next Day">{{flight.nextDayFlag}}</div>
        </div>
    </div>

    <div class="right-section right-section-body options-td fare-and-services-flight-select-button-wrapper">
        <button class="button" ng-class="{'selected' : flight.isFlightSelected }" ng-disabled="flight.isFlightFull"
                ng-click="selectFlight(flight)" style="height:42px">
            <span ng-if="!flight.isFlightSelected && !flight.isFlightFull">
                <span class="fare-and-services-flight-select-text" translate="msg_common_from" ng-if="!flight.isFlightFull">From</span>
                <span class="currency-text currency" style="font-weight: 500">{{currency}}</span>
                <span class="fare-and-services-flight-select-fare-value" isa-connector ="{{getMinimumFare(flight)}}"></span>
                <i class="fa fa-angle-right" style="margin-top: 2px"></i>
            </span>
            <span ng-if="flight.isFlightFull">
                <span class="fare-and-services-flight-select-text" translate="lbl_common_notAvailable">Not Available</span>
            </span>
            <span ng-if="flight.isFlightSelected">
                <i class="fa fa-angle-down"></i>
            </span>
        </button>
    </div>

    <div ng-if="flight.isFlightSelected" class="options-row body bundle-fare-row bundle-fare-col-{{flight.flightFaresAvailability.length}}">
        <div class="right-section right-section-body" isa-fare-and-services-details
             header-fare-info="headerFType" flight="flight" currency="AED">
        </div>
    </div>
</div>

<div class="options-row body" data-index="{{$index}}" ng-hide="flightOptions.length" >
    <div class="center-section">
        <div class="options-td departure-time">
            <label translate="lbl_fare_noFlights">No flight(s) available </label>
        </div>
    </div>
</div>
<isa-busy-loader ng-hide="isBusyLoaderVisible === false" msg-text="{{loadingMsg}}"/>

