 Body {
	background : #828282; 
	margin :0px 0px 0px 0px;
}
 .TabBGColor{
	background : #F4F4F4; 
	margin :0px 0px 0px 0px;
}
a
{
	text-decoration:none;
}
.BannerTopLine{
	background-color:#AEAEAE;
}
.BannerBackGround{
	background-color:#ECECEC;
}
.BannerBorderLeft
{
	background-image: url(../images/left_shadow_no_cache.gif);
	}
.BannerBorderRight
{
	background-image: url(../images/right_shadow_no_cache.gif);
	}	
.PageBorder
{
	background-color:#fafafa;
	}
.PageBackGround
{
	background-color:#ffffff;
	}
.PageBottomColor
{
	background-color:#A8A8A8;
	}	
.PageBottomShadow
{
	background-color:#9D9D9D;
	}	
	
font{
	font-family:tahoma;
	font-size:11px;
	left:auto;
	color: black; 
}	

fontEx{
	font-family:tahoma;
	font-size:11px;
	left:auto;
	color: red; 
}

fontEt{
	font-family:tahoma;
	font-size:9px;
	left:auto;
	color: black; 
	font-weight:bold;
}

.fontPGInfo{
	left:auto;
	color: white; 
}	

.fntArabic{
	font-family: verdana;
}
.fntBold{
	font-weight:bold;
}

.fontImgAlt{
	font-family:tahoma;
	font-size:11px;
	left:auto;
	color: gray; 
}	
.fntDefault{
	font-weight:normal;
	left:auto;
	color: black; 
}
.fntTab{
	left:auto;
	color: black; 
}
.fntSTab{
	left:auto;
	color: black; 
	font-weight:bold;
}
.fntMenu{
	left:auto;
	color: black; 
	font-weight:bold
}
.fntDefaultWhite{
	color:white;
}
.Header{
	font-family:Arial;
	font-size:11pt;
	text-align:left;
	left:auto;
	text-transform: capitalize;
	color: black; 
	font-weight: bold;
}

.fntSmall{
	font-size:9px;
}
.fntExSmall{
	font-size:8px;
}
.fntTiny{
	font-size:5px;
}
.fntMedium{
	font-size: 14px;
}

.fntLarge{
	font-size: 17px;
}
.fntVeryLarge{
	font-size: 19px;
}
.SubLink{
	text-align:left;
	left:auto;
	color: #6E6E6E;
	font-weight: bold;
	cursor: text; 
}
.SubLinkSelected{
	background-color:#FFBBBB;
	left:auto;
	color: #925656; 
	font-weight: bold;
}
.FormHeadBackGround{
	background-color:#AEAEAE;
}
.FormBackGround{
	background-color:#ECECEC;
}
.FormHeader{
	left:auto;
	color: #FFFFFF;
	font-weight: bold;
}

select
{
	font-family: tahoma;
	font-size: 11px;
	height: 17px;
	color: black;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove; 
	BORDER-TOP: thin groove; 
	BORDER-LEFT: thin groove; 
	BORDER-BOTTOM: thin groove; 
	}
	
input
{
	font-family: tahoma;
	font-size: 11px;
	color: black;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove; 
	BORDER-TOP: thin groove; 
	BORDER-LEFT: thin groove; 
	BORDER-BOTTOM: thin groove; 
	}
.rightText{
	text-align: right;
}	
textarea{
	font-family: tahoma;
	font-size: 11px;
	color: black;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove; 
	BORDER-TOP: thin groove; 
	BORDER-LEFT: thin groove; 
	BORDER-BOTTOM: thin groove; 
}
.InputBorder
{
	font-family: tahoma;
	font-size: 11px;
	color: black;
	height:19px;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove; 
	BORDER-TOP: thin groove; 
	BORDER-LEFT: thin groove; 
	BORDER-BOTTOM: thin groove; 
	}		
.NoBorder
{
	font-family: tahoma;
	font-size: 11px;
	height: 19px;
	color: black;
	background-color: Transparent;
	border-color:Transparent;
	border-style:none;
	}		
.LineColor
{
	color:gray;
	}	
.Button
{
	font-family:tahoma;
	font-size:10px;
	text-align:center;
	text-transform: capitalize;
	font-weight: bold;
	color: Black;
	background-image: url(../images/AA111_no_cache.jpg);
	border-top: 1px solid #B2B2B2;
	border-right: 1px solid #B2B2B2;
	border-bottom: 1px solid #B2B2B2;
	border-left: 1px solid #B2B2B2;
	height: 20px;
	width:70px;
	cursor:pointer;
	}
.GridHeader
{
	background-color:#D1D1D1;
	height:20px;
	}	
.Grid
{
	background-color:#ECECEC;
	border-color:#D7E4ED;
}
.GridItems
{
	background-color:#FBFBFB;
	height:20px;
	}
.StatsBar2
{
	background-color:#A8A8A8;
	BORDER-RIGHT: thin inset; 
	BORDER-TOP: thin inset; 
	BORDER-LEFT: thin inset; 
	BORDER-BOTTOM: thin inset;
	height:20px;
	}		
.fntHilight{
	color:yellow;
}	
.mandatory{
	color:red;
}
.Error{
	color:red;
}
.StatsBar
{
	background-color:#ECECEC;
	BORDER-RIGHT: thin inset; 
	BORDER-TOP: thin inset; 
	BORDER-LEFT: thin inset; 
	BORDER-BOTTOM: thin inset;
	height:20px;
	}		
.StatsBarDef
{
	background-color:#A8A8A8;
	border: none;
	height:20px;
	}			
	
/* menu Styles */

.menuTopBar {
  background-color: transparent;
  border: 2px thin;
  border-color: #FFFFFF #808080 #808080 #FFFFFF;
  padding: 1px 4px;
}
	
.menuBar {
  background-color: #DBDBDB;
  border: 2px solid;
  border-color: #FFFFFF #808080 #808080 #FFFFFF;
  padding: 1px 4px;
}

.menuPad {
  background-color: #DBDBDB;
  border: 2px solid;
  border-color: #FFFFFF #808080 #808080 #FFFFFF;
  padding:4px;
}

.menuItem {
  background-color: transparent;
  border: 1px solid #DBDBDB;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  padding: 2px 6px 2px 6px;
}

.menuTopItem {
  background-color: transparent;
  border: 1px solid;
  border-top-color: #ECECEC;
  border-left-color:#ECECEC;
  border-right-color:#ECECEC; 
  border-bottom-color: #B7B7B7;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  padding: 2px 6px 2px 6px;
}

.menuItemOn {
  background-color: transparent;
  border: 1px solid #DBDBDB;
  color: #000000;
  cursor: default;
  padding: 2px 6px 2px 6px;
  border-color: #FFFFFF #808080 #808080 #FFFFFF;
}
.menuItemDown {
  background-color: transparent;
  border: 1px solid #DBDBDB;
  color: #000000;
  cursor: pointer;
  padding: 2px 6px 2px 6px;
  margin-top:1px; margin-left:1px;
  background-color: transparent;
  border-color: #704020 #FFFFFF #FFFFFF #704020;
}

.menuItemSub {
  background-color: transparent;
  border: 1px solid #DBDBDB;
  color: #000000;
  cursor: default;
  font-weight: bold;
  padding: 2px 6px 2px 6px;
  border: 1px solid #808080;
  background-color: #808080;
}

.holderSpace {
  border: 1px solid #DBDBDB;
  color: #DBDBDB;
  font-weight: bold;
  padding: 2px 6px 2px 6px;
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}

.menuFont {
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}
.menuFontOff {
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #000000;
}
.menuFontOn {
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #FFFFFF;
}

.menuFontOffBold {
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #000000;
}
.menuFontOnBold {
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #000000;
}
.menuInfo 
{
	padding: 2px 6px 2px 6px; 
	}

.tagOff 
{
	width:8px; 
	height:12px; 
	float:right; 
	background:url("../images/AA124_no_cache.gif") no-repeat bottom; 
	}
.tagOn 
{
	width:8px; 
	height:12px; 
	float:right; 
	background:url("../images/AA125_no_cache.gif") no-repeat bottom; 
	}

.separatorT 
{
	background-color:#808080; height:1px; margin-top:3px; 
	}
.separatorB 
{
	background-color:#FFFFFF; height:1px; margin-bottom:3px; 
	}
fltStatus01{
	background-color: #ECECEC;
}
.fltStatus02{
	background-color: gray;
}
.fltStatus03{
	background-color: red;
}
.fltStatus04{
	background-color: green;
}	
.cursorHand{
	cursor:pointer;
}
.transParent {
	opacity: .6;
	filter: alpha(opacity=83);
}
.itneraryBorder{
	height:18px;
	border:1px solid;
	border-color:#868686 gray gray #C4C4C4; 
}
.itneraryBGColor
{
	background-color:#C4C4C4;
	}
.pageBreak{
	page-break-after: always	
}
.fontCapitalize{
	text-transform: capitalize;
}
.FaresMonthBGColor
{
	background-color:#C4C4C4;
	}
.FareGridBorder{
	height:18px;
	border:1px solid;
	border-color:#868686 gray gray #C4C4C4; 
}	
UL
{
    MARGIN-TOP: 0px;
    MARGIN-bottom: 4px;
}
LI
{
    MARGIN-TOP: 0px;
    MARGIN-bottom: 0px;
}
.fulltransParent {
	opacity: .3;
	filter: alpha(opacity=23);
}

#tooltip{
		background-color:#ffffcf;
		opacity: .5;
		filter: alpha(opacity=70);
		border:1px solid #000;
		position:absolute;
		display:none;
		z-index:20000;
		padding:2px;
		font-size:10px;
		-moz-border-radius:6px;	/* Rounded edges in Firefox */
		font-family: "tahoma", "Lucida Sans Unicode", Arial, sans-serif; 
}

.spMsg{
		background-color:#ffffcf;
		opacity: .7;
		filter: alpha(opacity=80);
		border:1px solid #F3F376;
		padding:2px;
		font-size:11px;
		-moz-border-radius:6px;	/* Rounded edges in Firefox */
		font-family: "tahoma", "Lucida Sans Unicode", Arial, sans-serif; 
}

.fntBoldAndRed{
	font-weight:bold;
	color:red;
	font-size:11px;	
}

.TBLBackGround{
	background-color:#000000;
}
.loginfntBold{
	font-weight:bold;
	font-size:10px;
	color:#000000;
}

.loginfnt{
	font-family:tahoma;
	font-size:10px;
	left:auto;
	color:#000000;
}

.loginPageBG
{
	 
	background-color:#ffffff;
}

.loginRightBorder{
	border-width:14px;
}

.loginButton
{
	font-family:tahoma;
	font-size:10px;
	text-align:center;
	text-transform: capitalize;
	font-weight: bold;
	color: Black;
	background-image: url(../images/AA111_no_cache.jpg);
	border-top: 1px solid #B2B2B2;
	border-right: 1px solid #B2B2B2;
	border-bottom: 1px solid #B2B2B2;
	border-left: 1px solid #B2B2B2;
	height: 20px;
	width:70px;
	cursor:pointer;
	}
.password {
	font-family:tahoma;
	font-size : 10px;
	width:120px;
	}
.pstrength-info{
	font-family:tahoma;
	font-weight: bold;
	font-size : 10px;
	}	
	
.pstrength-minchar {
	font-family:tahoma;
	font-size : 10px;
}
.manifestRow1 {
	background-color:#FFFFFF;
	border:hidden; 
	height:18px;
}

.manifestRow2 {
	background-color:#E2E2E2;
	border:hidden; 
	height:18px;
}
.UCase{
	text-transform: uppercase;
}
.bottomBackDesign{background:url(../images/bottom6_no_cache.jpg) no-repeat scroll 0 -10px;}
/* new error msg and popup msg */
.errorBox{
	background:none repeat scroll 0 0 #FFFFCF;
	border:1px solid #F3F376;
	display: block;
	position:relative;
	border-top:0;
	color:#D52821;
	padding:6px;
	width:600px;
	left:55px;
	height:25px;
	-moz-border-radius:0px 0px 6px 6px;
}
.errorBox span#errorMSG{
	font-size: 12px;
	color:#e40505 ;
	opacity:1;font-weight: bold;
	background:url(../images/Err_no_cache.gif) no-repeat;
	padding:3px 25px;
	float: left
}
.Error{background:url(../images/Err_no_cache.gif) no-repeat;background-color: transparent}
.Warning{background:url(../images/Warn_no_cache.gif) no-repeat;background-color: transparent}
.Confirm{background:url(../images/Conf_no_cache.gif) no-repeat;background-color: transparent}
.errorClose{
	background: url(../images/newErroClose_no_cache.gif) no-repeat;
	float: right;
	display:block;
	height: 12px;
	width: 12px;
	cursor: pointer;
}
#errorPopup{
	-moz-border-radius:6px 6px 0px 0px;
	border-width:1px;
	border-style:solid;
	border-color:#000 #555 #555 #000;
	background: #fff;
}
#errorPopup .errorPopupHeader{
	-moz-border-radius:6px 6px 0px 0px;
	height: 22px;
	background: #000;
	border-right: 1px solid #555;
}
#errorPopup .errorPopupHeader span.text{
	float:left;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	margin:3px 8px;
	width:200px;
	color: #fff;
	}
#errorPopup .errorPopupHeader .errorClose{margin: 5px}
#errorPopup .errorPopupButton{background: #e4e4e4;height: 18px;border-right: 1px solid #555;border-top: 1px solid #555}
#errorPopup .errorPopupButton .errorClear{margin: 1px 2px;display: block;width: 55px;text-align: center;outline: none;color: #666;border:1px solid #e4e4e4;}
#errorPopup .errorPopupButton a:hover.errorClear{margin: 1px 2px;color: #444;border:1px solid #aaa;background:#efefef}
#errorPopup .errorPopupbody{
	height: 2px;
	overflow-y:scroll;
	overflow-x:hidden;
	background: #FFF;
	border-right: 1px solid #555;
	border-bottom: 1px solid #555;
	height: 209px;
	}
#errorPopupTable{background: #fff}
#errorPopupTable .errorBoder{
	font-family: arial;
	font-size: 11px;
	vertical-align: top;
	background-position:2px 2px;
	border-top: 1px solid #e4e4e4;
}
#errorPopupTable .code{font-family: arial;font-size: 11px;font-weight: bold;vertical-align: top}
#spnErrorLog {
	padding:2px 1px;
	color: #D52821;
	font-family: arial;
	font-size: 11px;
	font-weight: bold;
	cursor: pointer;
}
/* new error msg and popup msg */