html{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    
}

body{
    font-family: 'Roboto', sans-serif;
    overflow:hidden;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
    
}

a:hover,a:focus{
    text-decoration: none;
}

.login-page{
    position: absolute;
    top:0px;
    right: 0px;
    left: 0px;
    background-image: url('../images/loginbg.jpg');
    background-size: cover; 
    background-color: #ed0000;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.loginbgoverlay{
    position: absolute;
    top:0px;
    right: 0px;
    left: 0px;
    background-color: rgba(54, 54, 54, 0.6);
    width: 100%;
    height: 100%;
    z-index: 1;
}
.loginform{
    width: 100%;
    max-width: 485px;
    height: auto;
    background-color: #fff;
    margin: 20% auto;
    z-index: 2;
    position: relative;
 
}
.login-header{
    color: #fff;
    height: 60px;
    padding: 15px 30px;
    background-color: #ed0000;
}
.login-header h4{
    font-size: 24px;
    display: inline-block;
    margin: 0px;
}
.loginform-logo{
    display: inline-block;
    float: right;
}
.login-content{
    color: #6e6e6e;
    padding: 15px 30px;
}

.login-content .form-control{
    border: 1px solid #a6a7b1;
    height: 58px;
    border-radius: 0;
    box-shadow: none;
    font-size: 18px;
}

.login-content .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #6e6e6e;
  font-size: 18px;  
}
.login-content .form-control::-moz-placeholder { /* Firefox 19+ */
  color: #6e6e6e;
  font-size: 18px;
}
.login-content .form-control:-ms-input-placeholder { /* IE 10+ */
  color: #6e6e6e;
  font-size: 18px;    
}
.login-content .form-control:-moz-placeholder { /* Firefox 18- */
  color: #6e6e6e;
  font-size: 18px;    
}

.login-content .form-control::-webkit-input-placeholder:after { /* Chrome/Opera/Safari */
  color: #ed0000;
  content: " * "; 
  position: relative;
}
.login-content .form-control::-moz-placeholder:after { /* Firefox 19+ */
  color: #ed0000;
  content: " * ";
  position: relative;    
}
.login-content .form-control:-ms-input-placeholder:after { /* IE 10+ */
  color: #ed0000;
  content: " * "; 
  position: relative;    
}
.login-content .form-control:-moz-placeholder:after { /* Firefox 18- */
  color: #ed0000;
  content: " * "; 
  position: relative;    
}

a.resetpassword{
    color: #414042;
    text-decoration: underline;
}

a.resetpassword:hover, a.resetpassword:focus{
    color: #414042;
    text-decoration: underline;
}

.btn-login{
    background-color: #ed0000;
    border-radius: 0;
    color: #fff;
    padding: 10px 45px;
    font-size: 18px;
}
.btn:hover,.btn:focus,.btn:active{
    color: #fff;
}
.d-inline-block{
    display: inline-block;
}
.margin-top-10{
    margin-top: 10px;
}


/*Loading CSS*/
#fountainG{
    position:relative;
    width:240px;
    height:29px;
    margin:auto;
}

.fountainG{
    position:absolute;
    top:30px;
    background-color:#000000;
    width:29px;
    height:29px;
    animation-name:bounce_fountainG;
    -o-animation-name:bounce_fountainG;
    -ms-animation-name:bounce_fountainG;
    -webkit-animation-name:bounce_fountainG;
    -moz-animation-name:bounce_fountainG;
    animation-duration:1.3s;
    -o-animation-duration:1.3s;
    -ms-animation-duration:1.3s;
    -webkit-animation-duration:1.3s;
    -moz-animation-duration:1.3s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
    transform:scale(.3);
    -o-transform:scale(.3);
    -ms-transform:scale(.3);
    -webkit-transform:scale(.3);
    -moz-transform:scale(.3);
    border-radius:19px;
    -o-border-radius:19px;
    -ms-border-radius:19px;
    -webkit-border-radius:19px;
    -moz-border-radius:19px;
}

#fountainG_1{
    left:0;
    animation-delay:0.52s;
    -o-animation-delay:0.52s;
    -ms-animation-delay:0.52s;
    -webkit-animation-delay:0.52s;
    -moz-animation-delay:0.52s;
}

#fountainG_2{
    left:30px;
    animation-delay:0.65s;
    -o-animation-delay:0.65s;
    -ms-animation-delay:0.65s;
    -webkit-animation-delay:0.65s;
    -moz-animation-delay:0.65s;
}

#fountainG_3{
    left:60px;
    animation-delay:0.78s;
    -o-animation-delay:0.78s;
    -ms-animation-delay:0.78s;
    -webkit-animation-delay:0.78s;
    -moz-animation-delay:0.78s;
}

#fountainG_4{
    left:90px;
    animation-delay:0.91s;
    -o-animation-delay:0.91s;
    -ms-animation-delay:0.91s;
    -webkit-animation-delay:0.91s;
    -moz-animation-delay:0.91s;
}

#fountainG_5{
    left:120px;
    animation-delay:1.04s;
    -o-animation-delay:1.04s;
    -ms-animation-delay:1.04s;
    -webkit-animation-delay:1.04s;
    -moz-animation-delay:1.04s;
}

#fountainG_6{
    left:150px;
    animation-delay:1.17s;
    -o-animation-delay:1.17s;
    -ms-animation-delay:1.17s;
    -webkit-animation-delay:1.17s;
    -moz-animation-delay:1.17s;
}

#fountainG_7{
    left:180px;
    animation-delay:1.3s;
    -o-animation-delay:1.3s;
    -ms-animation-delay:1.3s;
    -webkit-animation-delay:1.3s;
    -moz-animation-delay:1.3s;
}

#fountainG_8{
    left:210px;
    animation-delay:1.43s;
    -o-animation-delay:1.43s;
    -ms-animation-delay:1.43s;
    -webkit-animation-delay:1.43s;
    -moz-animation-delay:1.43s;
}



@keyframes bounce_fountainG{
    0%{
        transform:scale(1);
        background-color:#000000;
    }

    100%{
        transform:scale(.3);
        background-color:#FFFFFF;
    }
}

@-o-keyframes bounce_fountainG{
    0%{
        -o-transform:scale(1);
        background-color:#000000;
    }

    100%{
        -o-transform:scale(.3);
        background-color:#FFFFFF;
    }
}

@-ms-keyframes bounce_fountainG{
    0%{
        -ms-transform:scale(1);
        background-color:#000000;
    }

    100%{
        -ms-transform:scale(.3);
        background-color:#FFFFFF;
    }
}

@-webkit-keyframes bounce_fountainG{
    0%{
        -webkit-transform:scale(1);
        background-color:#000000;
    }

    100%{
        -webkit-transform:scale(.3);
        background-color:#FFFFFF;
    }
}

@-moz-keyframes bounce_fountainG{
    0%{
        -moz-transform:scale(1);
        background-color:#000000;
    }

    100%{
        -moz-transform:scale(.3);
        background-color:#FFFFFF;
    }
}