<form novalidate isa-validator-type="creditCard"
	isa-validator-rules="{{creditCardValidation}}" autocomplete="off"
	class="save-card save-card-form" name="saveCardForm" ng-submit="savedCardFormSubmit()">
	<div class="row popup-confirm">
		<div class="left-content">
			<h3 translate="lbl_dashboard_addNewCard_header" class="col-xs-12">Add New Card</h3>
			<p translate="lbl_dashboard_addNewCard_header_detail" class="col-xs-12 desc">Enter
				your card number without spaces or dashes. Debit Cards (also called
				ATM cards, or banking cards) are accepted if they have a Visa or
				MasterCard logo.</p>
			<!--  changes start -->
			<div class="col-md-12 pull-right text-right mandatory-label">	
				<span translate="lbl_passenger_mandatory">Mandatory Fields</span>
				<sup class="red">*</sup>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12 xs-cardview-fields">
				<span translate="lbl_dashboard_addNewCard_cardno" class="label-card">Card Number
				</span>
				<i class="red"> *</i>
				<div class="ibe-typeahead">
					<div class="form-container" isa-validator>
						<input type="text"
							placeholder="{{'lbl_dashboard_addNewCard_cardno_placeholder'| translate}}"
							class="form-control" name="usercardNumber"
							ng-model="cardInfo.cardNo" maxlength="16"> </input>
					</div>
				</div>
				
				<div class="col-md-12 expire-row col-xs-12 payment-card-detail-div">



					<div class="row">
						<div class="col-md-7 col-sm-7 col-xs-12 label-card">
							<span
							translate="lbl_dashboard_addNewCard_card_expiry_date_header">
							Expiration date 
							</span>
							<i class="red"> *</i>
						</div>
						<div class="col-md-5 col-sm-5 hidden-xs label-card label-card-sec">
							<span 
								translate="lbl_payment_secCode">
								Security Code 
							</span>
							<i class="red"> *</i>
						</div>
						
						<div class="ibe-typeahead">
							<div class="col-md-4 col-sm-4 col-xs-6 form-container card-dates-detail" isa-validator>
								<select class="form-control" ng-change="setExpireDate()"
									ng-model="expDateMonth"
									ng-options="month as month for month in expDate.month"
									name="expDateMonth">
									<option value="" disabled selected class="select-disable">MM</option>
								</select>
							</div>
						</div>
						<div class="date-divider-container">
						<span class="date-dividier">/</span>
						</div> 
						<div class="ibe-typeahead">
							<div class="col-md-4 col-sm-4 col-xs-6 form-container card-dates-detail" isa-validator>
								<select class="expire-year form-control"
									ng-change="setExpireDate()" ng-model="expDateYear"
									ng-options="year as year for year in expDate.year"
									name="expDateYear">
									<option value="" disabled selected class="select-disable">YYYY</option>
								</select>
							</div>
						</div>
						<div class="hidden-sm hidden-md hidden-lg col-xs-12 label-card label-card-sec">
								<span 
									translate="lbl_payment_secCode">
									Security Code 
								</span>
								<i class="red"> *</i>
							</div>
						<div class="ibe-typeahead">
							<div class="col-md-3 col-sm-3 col-xs-6 form-container security-code-container">
							
								<div class="cvv-div xs-cvv-div hy-cvv-margin-top" isa-validator>
									<input type="password" 
									class="form-control" 
									name="usercardCvv"
									placeholder="XXX"
									ng-model="cardInfo.cardCvv">
								</div>
							</div>
						</div>
						<div class="col-md-1 col-sm-1 col-xs-6 cc-vv-container">
							
									<span translate="title_payment_cv">CVV2/CVC2</span> 
									<span
									translate="msg_payment_cardDetails" class="cc-vv-desc">The last
										3 digits displayed on the back of your card</span>
								
							</div>
					</div>

					<div class="col-md-12 col-sm-12 col-xs-12 card-holder-div form-container">
						<span class="xs-payment-card-details label-card"
							translate="lbl_payment_holderName">Cardholder Name</span> <i
							class="red"> *</i>
						<div class="row">
							<div class="ibe-typeahead">
								<div class=""
									ng-class="{'col-xs-9': showBinPromoText, 'col-xs-12': !showBinPromoText}"
									isa-validator>
									<input type="text"
										placeholder="{{'lbl_payment_cardHolderPlaceholder'| translate}}"
										class="form-control" ng-model="cardInfo.cardHoldersName"
										name="cardHolderName">
								</div>
							</div>
						</div>

					</div>

					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12 form-container">

							<span class="xs-payment-card-details label-card"
								translate="lbl_payment_cardName">Card Name</span> <i
								class="red"> *</i>
							<div class="row">
								<div class="ibe-typeahead">	
									<div class=""
										ng-class="{'col-xs-9': showBinPromoText, 'col-xs-12': !showBinPromoText}"
										isa-validator>

										<input type="text"
											placeholder="{{'lbl_payment_saveCreditCardPlaceholder'| translate}}"
											class="form-control" ng-model="cardInfo.cardName"
											name="cardName">
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<!-- changes end -->
			<div class="col-md-12 col-sm-12 col-xs-12 payment-desc-section">
				<p class="approved"
				translate="lbl_dashboard_addNewCard_remarks" translate-values="{baseAmount: '{{aliasBasePaymentAmount}}', baseCurrency: '{{baseCurrency}}'}">We
				will charge approximately 1.00 USD from your card, and will refund
				after the card is approved.</p>
			</div>
			<div class="col-md-6 col-sm-6 hidden-xs btn-set">
					<button translate="btn_payment_cancel"
						class="button red-btn cancel-payment" ng-click="closeThisDialog()">Cancel</button>
	
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 btn-set add-pay-container">
				<button class="button red-btn add-payment"
					type="submit" translate="lbl_dashboard_addNewCard_save_confirmation">Save
				</button>
			</div>
			<div class="hidden-sm hidden-md hidden-lg col-xs-12 btn-set">
				<button translate="btn_payment_cancel"
					class="button red-btn cancel-payment" ng-click="closeThisDialog()">Cancel</button>

			</div>

	</div>
</form>

