<div ng-controller="optionListController" class="isa-option-list-wrapper"  >
	<div class="isa-option-list-wrapper" ng-repeat = "(key,value) in source">
		<div class="package-block">
			<div class="row">
				<!-- Main Section -->
				<div class="col-md-4 col-sm-4 col-xs-4">
					<span>{{value.displayName}} </span>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class="row margin5" valdr-enabled="!isNameChange"
						ng-class="{'disable-me':isNameChange}">
						<label> <span translate="lbl_autocheckin_preferred">Preferred
								Seat</span> <sup ng-if="paxDetailConfig.title.mandatory[passenger.type]"
							class="red">*</sup>
						</label>
						<div isa-validator class="ibe-drop-down">
							<div class="btn-group" uib-keyboard-nav uib-dropdown
								ng-model="passenger.salutation" name="salutation">
								<button id="salutation-button" type="button"
									class="btn btn-primary" uib-dropdown-toggle
									ng-disabled="isNameChange" style="padding-right: 15px;">
									<span class="dp-caption">{{passenger.salutation || '' |
										listFilter: salutationList:'titleCode':'titleName'}}&nbsp;</span> <span
										class="fa fa-angle-down"></span>
								</button>
								<ul class="uib-dropdown-menu" role="menu"
									aria-labelledby="single-button">
									<li ng-repeat="salutation in salutationList"
										ng-click="setSalutation(salutation)" role="menuitem"><a
										href="javascript:;">{{salutation.titleName || ''}}&nbsp;</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" ng-repeat="checkboxindex in checkBoxArray">
				<!-- Main Section -->
				<div class="col-md-4 col-sm-4 col-xs-4">
					<span>{{checkboxindex.fname+checkboxindex.lname}}</span>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
	
					<div class="row margin5">
						<div>
							<div class="input-option">
								<span class="checkbox"> <input type="checkbox"
									id="sitTogether{{checkboxindex.id}}"
									ng-model="checkboxindex.ischecked"
									name="sitTogether{{checkboxindex.id}}"> <label
									for="sitTogether{{checkboxindex.id}}"> <span
										translate="lbl_autocheckin_together">sit Together</span>
								</label>
								</span>
							</div>
						</div>
					</div>
					<div class="row margin5" valdr-enabled="!isNameChange"
						ng-class="{'disable-me':isNameChange}"
						ng-hide="checkboxindex.ischecked">
						<label> <span translate="lbl_autocheckin_preferred">Preferred
								Seat</span> <sup ng-if="paxDetailConfig.title.mandatory[passenger.type]"
							class="red">*</sup>
						</label>
	
						<div isa-validator class="ibe-drop-down">
							<div class="btn-group" uib-keyboard-nav uib-dropdown
								ng-model="passenger.salutation" name="salutation">
								<button id="salutation-button" type="button"
									class="btn btn-primary" uib-dropdown-toggle
									ng-disabled="isNameChange" style="padding-right: 15px;">
									<span class="dp-caption">{{passenger.salutation || '' |
										listFilter: salutationList:'titleCode':'titleName'}}&nbsp;</span> <span
										class="fa fa-angle-down"></span>
								</button>
								<ul class="uib-dropdown-menu" role="menu"
									aria-labelledby="single-button">
									<li ng-repeat="salutation in salutationList"
										ng-click="setSalutation(salutation)" role="menuitem"><a
										href="javascript:;">{{salutation.titleName || ''}}&nbsp;</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- // Main Section -->
		</div>
		<!-- // Package Block -->
	</div>
</div>
