<div ng-controller="optionListController" class="isa-option-list-wrapper"  >
    <div class="package-block active" ng-repeat = "(key,value) in source">
        <div class="row">
            <!-- Main Section -->
            <div class="col col-md-10 col-sm-10 col-xs-6 main-section">
                <span class="title">{{value.passenger.displayName }}</span>
                <div class="details">
					<span>
						<!--<i class="fa fa-briefcase"></i>
						<p><span class="txt-highlight">{{source.defaultWeight}}</span> Hand Luggage</p>
						<label><span class="txt-highlight">Free &nbsp;</span></label>
                        <p>+</p>-->
                        <i class="fa icon-baggage-gray hidden-xs"></i>
                        <p><span class="txt-highlight hidden-xs">  {{value.selectedItems[0].value}}{{source.weightUnit}} </span> </p> <p class="hidden-xs" translate="lbl_extra_baggageChecked">Checked luggage</p>
                        <p ng-show="value.selectedItems[0].price == 0 && value.selectedItems[0].value != 'No Baggage'" class="label-red txt-highlight" translate="lbl_extra_baggageFree" ng-if="!isMobileDevice"> Free </p>
						<p ng-show="value.selectedItems[0].price > 0" class="label-red currency txt-highlight hidden-xs"></p><p ng-show="value.selectedItems[0].price > 0" class="label-red txt-highlight hidden-xs" isa-connector={{value.selectedItems[0].price}}></p>
                    </span>
                </div>
            </div><!-- // Main Section -->
            <!-- xs-baggage-weight-section -->
            <div class="col col-xs-3 weight-section  hidden-lg hidden-md hidden-sm truncate">
                <span class="txt-highlight">  {{value.selectedItems[0].value}}{{source.weightUnit}} </span> 
            </div>
            <!-- // xs-baggage-weight-section -->
                
            <!-- Secondary Section
            <div class="col col-md-1 col-sm-1 col-xs-1 secondary-section">
                <span ng-show="value.selectedItems[0].value > 0" >{{value.selectedItems[0].value}}<i>{{source.weightUnit}}</i></span>
                <p ng-show="value.selectedItems[0].value > 0"> <i class="currency"></i> <i isa-connector={{value.selectedItems[0].price}}> </i></p>
                <!--<span ng-show="value.selectedItems[0].value == 0">No</span>
                <p ng-show="value.selectedItems[0].value == 0">baggage select</p> -->
            <!--</div> Secondary Section -->

            <!-- Options section -->
            <div ng-click="optionOnClick({id:$index,event:$event})" ng-class="{active:($index == selectedIndex),'edit-mobile':selectedIndex != $index,'close-mobile':selectedIndex == $index}" class="col col-md-2 col-sm-2 col-xs-3 options-section pull-right">
                <i class="ico hidden-xs"><span ng-class="{'icon-plus':(selectedIndex != $index),'icon-close':(selectedIndex == $index)}"></span></i>
                <span ng-show="(selectedIndex != $index)"  class="txt truncate" translate="lbl_common_edit">Edit</span>
                <span ng-show="(selectedIndex == $index)" class="txt truncate" translate="lbl_common_close">Close</span>
            </div><!-- // Options section -->

            <!-- Overlay -->
            <!--  <div class="overlay"></div> --><!-- // Overlay -->

            <!-- // Dropdown -->
            <div class="dropdown-content" ng-show="$index == selectedIndex" >
                <!-- Row -->
                <div class="row">
                    <!-- Column -->
                    <!--<div class="col col-md-2 col-sm-2 col-xs-2" ng-class="{'selected':selectedOptionIndex < 0 && selectedDropDown == key}">
                        <span class="no-baggage">
                            <i>No</i>
                            Baggage
                        </span>
                        <span class="check-mark">
                            <i class="ico fa " ng-class="{'fa-check-circle':selectedOptionIndex < 0 && selectedDropDown == key}"></i>
                            <i class="txt"  ng-click="dropdownOptionClick({id:selectedIndex,weight:0,price:0,index:-1,section:key,baggageId:'000'})">Select</i>
                        </span>
                    </div>--><!-- // Column -->

                    <!-- Column -->
                    <!--<span>{{isMobileDevice}}</span>-->
                    <div ng-if="!isMobileDevice" class=" col col-md-2 col-sm-2 col-xs-3 xs-baggage-edit" ng-repeat = "weight in dropdownSource" ng-class="{'selected':selectedOptionIndex == $index && selectedDropDown == key}"
                         ng-click="dropdownOptionClick({id:selectedIndex,weight:weight.weight,price:weight.price,index:$index,section:key,baggageId:weight.baggageId,event:$event})">
                        <span class="weight"><i>{{weight.weight | limitTo: 6}}</i></span>
                        <p ng-init="weightVal = weight.weight" ng-hide="{{weightVal == 'No Baggage'}}" class="price"><i class="currency"></i><i isa-connector="{{weight.price}}"></i></p>
                        <span class="check-mark">
                            <i class="ico fa " ng-class="{'fa-check-circle':selectedOptionIndex == $index && selectedDropDown == key}"></i>
                            <i class="txt" ng-click="dropdownOptionClick({id:selectedIndex,weight:weight.weight,price:weight.price,index:$index,section:key,baggageId:weight.baggageId,event:$event})" translate="lbl_common_select">Select</i>
                        </span>
                    </div>
                    
                    <div ng-if="onEditClickParam && isMobileDevice" class=" col col-md-2 col-sm-2 col-xs-3 xs-baggage-edit baggage-section-{{$index}}" ng-repeat = "weight in dropdownSource" ng-class="{'selected':selectedOptionIndex == $index && selectedDropDown == key}"
                         ng-click="dropdownOptionClick({id:selectedIndex,weight:weight.weight,price:weight.price,index:$index,section:key,baggageId:weight.baggageId,event:$event});">
                        <!--optionOnClick({id:$index});;--> 
                        <span  class="fare-radio ">
                            <input name="radioname_{{weight.weight}}" type="radio" id="radio_{{weight.weight}}">
                            <label  for="radio_{{weight.weight}}" ng-class="{'checked':selectedOptionIndex == $index && selectedDropDown == key}"></label>
                            
                        </span>
                        <span class="weight"><i>{{weight.weight | limitTo: 6}}</i></span>
                        <p ng-init="weightVal = weight.weight" ng-hide="{{weightVal == 'No Baggage'}}" class="price hidden-xs"><i class="currency"></i><i isa-connector="{{weight.price}}"></i></p>
                        <p ng-init="weightVal = weight.weight" class="price hidden-sm"><i class="currency"></i><i isa-connector="{{weight.price}}"></i></p>
<!--                        <span class="check-mark hidden-xs">
                            <i class="ico fa " ng-class="{'fa-check-circle':selectedOptionIndex == $index && selectedDropDown == key}"></i>
                            <i class="txt" ng-click="dropdownOptionClick({id:selectedIndex,weight:weight.weight,price:weight.price,index:$index,section:key,baggageId:weight.baggageId}); ; optionOnClick({id:$index,event:$event})" translate="lbl_common_select">Select</i>
                        </span>-->
                    </div><!-- // Column -->

                    <!-- Column -->
                </div><!-- Row -->

                <!-- Row -->

            </div><!-- // Dropdown -->
        </div>
    </div><!-- // Package Block -->
</div>
