<div class="isa-option-list-wrapper"  >
    <div class="provider" ng-repeat="provider in source" >

        <div class="group provider_block" id="{{$index}}" ng-repeat="group in provider.planGroups" >
            <div class="accordion-content" id="insurance-accordion">
                <ul>
                    <li ng-repeat = "opt in  group.plans" ng-show="$index == 0"
                        class="insurance_block" id="{{$index}}">
                       <!-- <div class="heading">
                            {{opt.itemName}} - <span class="currency-text currency "></span>
                                <span class="font-weight-normal currency-value fare-value price"
                                      isa-connector="{{opt.amount}}" decimal-points="0"></span>
                            &lt;!&ndash;<i class="fa fa-angle-up"></i>&ndash;&gt;
                        </div>-->

                        <div class="content policy_content" id="{{opt.policyID}}">
                            <!--<h3>{{opt.description}}</h3>-->
                            <span ng-bind-html = " opt.thingsCovered " id="insurangeCover"> </span>

                        </div>
                        <span ng-bind-html = " opt.termsAndConditions " id="insurangeCover" ng-show="{{$parent.$index}} ==(provider.planGroups.length-1)"> </span>
                        <span class="price-block insurance-price-block hidden-xs" >
                            <i class="caption"><span translate ="lbl_extra_charge">Charge</span></i>
                            <i class="currency">{{model.currencyType}}</i>
                            <i class="price" isa-connector={{opt.amount}}></i>
                        </span><!-- // Price -->
                    </li>
                </ul>
            </div>
        </div>
          <div class="price-block insurance-price-block hidden-sm hidden-md hidden-lg">
                            <span class="captios" translate ="lbl_insurance_charge">Insurance Charges</span>
                            <span class="pull-right">
                            <i class="currency">{{model.currencyType}}</i>
                            <strong><i class="price" isa-connector={{insuranceAmount}}></i></strong>
                            </span>
                        </div><!-- // Price -->                  
</div>

