<div class="modify-flight-table flight-table hidden-sm hidden-md hidden-lg">
    <div class="xs-modify-filght-summary" ng-repeat="obj in source " ng-class="obj.flight.status">
        <div class="row">
        	<div class="ft-heading col-xs-5 ond flight-summary-headding"><label translate="lbl_common_originDest">Origin / Destination</label></div>
	        <div class="col-xs-7 ond" ng-class="{'CNF': obj.flight.status === 'CNF','CNX': obj.flight.status === 'CNX','ONH': obj.flight.status === 'ONH', 'bus-segment-header':obj.flight.travelMode === 'BUS'}">
	            <span>{{obj.flight.originName}}</span>
                    <span ng-if="obj.flight.travelMode == 'FLIGHT'" class="flight-icon-summary">
	            <span ng-if="source[0].flight.originName != obj.flight.destinationName" class="ico icon-outbound-plane-small"><span class="path1"></span><span class="path2"></span></span>
	            <span ng-if="source[0].flight.originName == obj.flight.destinationName" class="ico icon-outbound-plane-small"><span class="path1"></span><span class="path2"></span></span>
                    </span>
                    <span class="ico icon-bus" ng-if="obj.flight.travelMode == 'BUS'">
                    </span>
	            <span>{{obj.flight.destinationName}}</span>
	            <!--<span ng-show="obj.flight.status=='CNX'" class="status">Cancelled</span>-->
	        </div>
        </div>
        
        <div class="row">
        	<div class=" ft-heading col-xs-5 flight-summary-headding bkstatus"><label translate="lbl_common_status">Status</label></div>
        
        	<div class="col-xs-7 bkstatus">
	           <span ng-if="obj.flight.status == 'CNF'"><i class="fa fa-check-circle"></i> <span translate="lbl_modifyReservation_confirmed">Confirmed</span></span>
	           <span ng-if="obj.flight.status == 'CNX'"><i class="fa fa-times-circle"></i> <span translate="lbl_modifyReservation_cancelled">Cancelled</span></span>
	           <span ng-if="obj.flight.status == 'OHD'"><i class="fa fa-check-circle"></i> <span translate="lbl_modifyReservation_onhold">Onhold</span></span></span>
	        </div>
        </div>
        
        <div class="row">
        	<div class="ft-heading col-xs-5 flight-summary-headding departure"><label translate="msg_common_departure">Departure</label></div>
        
	        <div class="col-xs-7 departure">
	            <span>{{obj.flight.departureDate}}</span>
	            <i>{{obj.flight.departureTime}}</i>
	        </div>
        </div>
        
        <div class="row">
        	<div class="ft-heading col-xs-5 flight-summary-headding arrival"><label translate="msg_common_arrival">Arrival</label></div>
        
	        <div class="col-xs-7 arrival">
	            <span>{{obj.flight.arrivalDate}}</span>
	            <i>{{obj.flight.arrivalTime}}</i>
	        </div>
        </div>
        
        <div class="row">
        	<div class="ft-heading col-xs-5 flight-summary-headding flight-no"><label translate="lbl_common_flightNo">Flight No</label></div>
        
	        <div class="col-xs-7 flight-no">
	            <label>{{obj.flight.flightNumber}}</label>
	        </div>
        </div>
        
        <div class="row">
        	<div class="ft-heading col-xs-5 flight-summary-headding duration truncate"><label translate="lbl_common_duration">Duration</label></div>
        
	        <div class="col-xs-7 duration">
	           <label>{{obj.flight.totalDuration}} <span translate="lbl_common_hours">hours</span></label>
	        </div>
        </div>
    </div>
</div>


<div class="flight-table hidden-xs">
    <div class="ft-row ft-heading">
        <div class="col col-1 ond"><label translate="lbl_common_originDest">Origin / Destination</label></div>
        <div class="col col-2 departure"><label translate="msg_common_departure">Departure</label></div>
        <div class="col col-3 arrival"><label translate="msg_common_arrival">Arrival</label></div>
        <div class=" hidden-sm col col-4 flight-no pd-r-0 pd-l-1">
            <label class="truncate" translate="lbl_common_flightNo">Flight No</label>
        </div>
        <div class="hidden-md hidden-lg col col-4 sm-flight-no"><label translate="lbl_common_flightNo">Flight No</label></div>
        <div class="col col-5 duration"><label class="truncate" style="max-width: 100%;" translate="lbl_common_duration">Duration</label></div>
        <div class="col col-6 bkstatus hidden-sm"><label translate="lbl_common_status">Status</label></div>
    </div>

    <div class="ft-row" ng-repeat="obj in source" ng-class="obj.flight.status">
        <div class="col col-1 ond" ng-class="{'CNF': obj.flight.status === 'CNF','CNX': obj.flight.status === 'CNX','ONH': obj.flight.status === 'ONH', 'bus-segment-header':obj.flight.travelMode === 'BUS'}">
            <span>{{obj.flight.originName}}</span>
            <span ng-if="obj.flight.travelMode == 'FLIGHT'"  class="flight-icon-summary">
            <span class="ico icon-outbound-plane-small"><span class="path1"></span><span class="path2"></span></span>
            </span>
            <span class="ico icon-bus" ng-if="obj.flight.travelMode == 'BUS'">
            </span>
            <span>{{obj.flight.destinationName}}</span>
            <!--<span ng-show="obj.flight.status=='CNX'" class="status">Cancelled</span>-->
        </div>
        <div class="col col-2 departure">
            <span>{{obj.flight.departureDate}}</span>
            <i>{{obj.flight.departureTime}}</i>
            
            <span class="hidden-sm hidden-md hidden-lg col bkstatus" style="width: 132px !important;display: block;padding-left: 0;">
            	<span ng-if="obj.flight.status == 'CNF'"><i class="fa fa-check-circle"></i> Confirmed</span>
           		<span ng-if="obj.flight.status == 'CNX'"><i class="fa fa-times-circle"></i> Cancelled</span>
           		<span ng-if="obj.flight.status == 'OHD'"><i class="fa fa-check-circle"></i> Onhold</span>
            </span>
        </div>
        <div class="col col-3 arrival">
            <span>{{obj.flight.arrivalDate}}</span>
            <i>{{obj.flight.arrivalTime}}</i>
        </div>
        <div class="hidden-md hidden-lg col col-4 sm-flight-no">
            <label>{{obj.flight.flightNumber}}</label>
        </div>
        <div class="hidden-sm col col-4 flight-no">
            <label>{{obj.flight.flightNumber}}</label>
        </div>
        <div class="col col-5 duration">
           {{obj.flight.totalDuration}} <span translate="lbl_common_hours">hours</span>
        </div>
        <div class="col col-6 bkstatus hidden-sm">
           <span ng-if="obj.flight.status == 'CNF'"><i class="fa fa-check-circle"></i> <span translate="lbl_modifyReservation_confirmed">Confirmed</span></span>
           <span ng-if="obj.flight.status == 'CNX'"><i class="fa fa-times-circle"></i> <span translate="lbl_modifyReservation_cancelled">Cancelled</span></span>
           <span ng-if="obj.flight.status == 'OHD'"><i class="fa fa-check-circle"></i> <span translate="lbl_modifyReservation_onhold">Onhold</span></span></span>
        </div>
    </div>
</div>
