<div ng-controller="optionListController" class="isa-option-list-wrapper ancillary-container row"  >
    <div class="thumb-block thumb extras-main-item" ng-repeat = "(key,option) in source" ng-if="option.available">
        <!-- Image -->
        <div class='extrasImg col-md-1 col-sm-1 hidden-xs'>
            <div class="image img" ng-class="option.ancillaryImageClass">
            </div><!-- // Image -->
        </div>
        <div class="extrasDesc col-md-11 col-sm-11 hidden-xs" style="float: left;">
            <!-- Title -->
            <div class="title col-md-8 col-sm-8">
                <h2>{{option.optionNameTemp}}</h2>
                <p>{{option.description}}</p>
            </div><!-- // Title -->

            <!-- Options -->
            <div class="options col-md-4 col-sm-4 pull-right text-right">

                <div class="price-block">
                    <span class="currency-text currency"></span>
                    <span class="price" isa-connector="{{widgetData({type: key})}}"></span>
                </div>

                <span ng-click="optionOnClick({id: option.optionName})" class="button opt-btn">
                    <div class="extras-button-text">{{option.buttonCaption}}</div>
                    <i class="fa fa-angle-right"></i>
                </span>
                    
            </div><!-- // Options -->

            <!--Summary -->
            <div class="col-md-8 col-sm-8 summery-panel" ng-init="val = 0" ng-if="option.optionName != 'airport services'">
                <div class="row segm-space" ng-init="current = $parent.val; $parent.val = $parent.val + 2" data-ng-repeat="segment in option.currentSelection| limitTo:option.currentSelection.length / 2 ">
                    <div class="col-md-6 col-sm-6 summery-panel-segments">
                        <div class="summery-panel-content-wrapper" ng-class="{'unmodified': option.currentSelection[$current].unmodified}">
                            <div class="summery-panel-header">
                                <div class="">
                                    <label >{{option.currentSelection[current].segkey}}&lrm; </label>
                                </div>
                            </div>

                            <div class="column summery-panel-content">
                                <div class="" >
                                    <div>{{option.currentSelection[current].segments}}</div>
                                    <!--<div class="price-block">
                                        <span class="currency-text currency"></span>
                                        <span class="price" isa-connector="{{selection.charge}}"></span>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 summery-panel-segments">
                        <div class="summery-panel-content-wrapper" ng-class="{'unmodified': option.currentSelection[$current + 1].unmodified}">
                            <div class="summery-panel-header">
                                <div class="">
                                    <label >{{option.currentSelection[current + 1].segkey}}&lrm; </label>
                                </div>
                            </div>

                            <div class="column summery-panel-content">
                                <div class="" >
                                    <div>{{option.currentSelection[current + 1].segments}}</div>
                                    <!--<div class="price-block">
                                        <span class="currency-text currency"></span>
                                        <span class="price" isa-connector="{{selection.charge}}"></span>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row segm-space" ng-class="" ng-init="current = option.currentSelection.length - 1" ng-if="option.currentSelection.length % 2 == 1">
                    <div class="col-md-6 col-sm-6 summery-panel-segments">
                        <div class="summery-panel-content-wrapper" ng-class="{'unmodified': option.currentSelection[$current].unmodified}">
                            <div class="summery-panel-header">
                                <div class="">
                                    <label >{{option.currentSelection[current].segkey}}&lrm; </label>
                                </div>
                            </div>

                            <div class="column summery-panel-content">
                                <div class="" >
                                    <div>{{option.currentSelection[current].segments}}</div>
                                    <!--<div class="price-block">
                                        <span class="currency-text currency"></span>
                                        <span class="price" isa-connector="{{selection.charge}}"></span>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- // Summary -->

            <!--Summary for airport services-->
            <div class="col-md-8 col-sm-8 summery-panel" ng-if="option.optionName == 'airport services'">
                <div class="row" data-ng-repeat="segment in option.currentSelection" ng-if="$index % 2 == 0">
                    <div class="col-md-6 col-sm-6 summery-panel-segments">
                        <div class="summery-panel-content-wrapper" ng-class="{'unmodified': segment.unmodified}">
                            <div class="summery-panel-header">
                                <div class="">
                                    <label >{{segment.segkey}}&lrm; </label>
                                </div>
                            </div>
                            <div class="column summery-panel-content">
                                <div class="" >
                                    <div>{{segment.segments}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 summery-panel-segments">
                        <div class="summery-panel-content-wrapper" ng-class="{'unmodified': option.currentSelection[$index + 1].unmodified}">
                            <div class="summery-panel-header">
                                <div class="">
                                    <label >{{option.currentSelection[$index + 1].segkey}}&lrm; </label>
                                </div>
                            </div>
                            <div class="column summery-panel-content">
                                <div class="" >
                                    <div>{{option.currentSelection[$index + 1].segments}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- // Summary for airport services -->

        </div>
        <div class="hidden-sm hidden-md hidden-lg col-xs-12 xs-main-row">
            <div class="row">
                <!--<div class="image col-xs-4 img" ng-class="option.ancillaryImageClass">
                    </div>-->
                <div class="col-xs-8">
                    <h2 class="xs-options-heading">{{option.optionNameTemp}}</h2>
                </div>

                <div class="col-xs-3 xs-options-price-col xs-price-row">
                    <div class="price-block pull-right xs-options-price">
                        <span class="currency-text currency"></span>
                        <span class="price" isa-connector="{{widgetData({type: key})}}"></span>
                    </div>
                </div>
                <br>
                <div class="col-xs-12">
                    <p class="xs-options-descrption">{{option.description}}</p>
                </div>


                <!-- // Title -->
            </div>
            <!--Summary -->
            <div class="col-xs-12 col-md-8 col-sm-8 summery-panel pd-lr-0" ng-init="val = 0" ng-if="option.optionName != 'airport services'">
                <div class="row" >
                    <div class="col-xs-9 segment-row-xs">                        
                        <div class="row segm-space" ng-class="" ng-init="current = $parent.val; $parent.val = $parent.val + 2" data-ng-repeat="segment in option.currentSelection| limitTo:option.currentSelection.length / 2 ">
                            <div class="col-xs-6 summery-panel-segments">
                                <div class="summery-panel-content-wrapper xs-sum-contentwrapper" ng-class="{'unmodified': option.currentSelection[current].unmodified}">
                                    <div class="summery-panel-header col-xs-12 xs-options-price pd-lr-0">
                                        <div class="">
                                            <label >{{option.currentSelection[current].segkey}}&lrm; </label>
                                        </div>
                                    </div>

                                    <div class="column summery-panel-content col-xs-12 xs-options-price">
                                        <div class="" >
                                            <div style='white-space: pre-line'>{{option.currentSelection[current].segments}}</div>
                                            <!--<div class="price-block">
                                                <span class="currency-text currency"></span>
                                                <span class="price" isa-connector="{{selection.charge}}"></span>
                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 summery-panel-segments">
                                <div class="summery-panel-content-wrapper xs-sum-contentwrapper" ng-class="{'unmodified': option.currentSelection[current + 1].unmodified}" style="padding-left:10px !important;">
                                    <div class="summery-panel-header col-xs-12 xs-options-price pd-lr-0" >
                                        <div class="">
                                            <label >{{option.currentSelection[current + 1].segkey}}&lrm; </label>
                                        </div>
                                    </div>

                                    <div class="column summery-panel-content col-xs-12 xs-options-price pd-lr-0 ">
                                        <div class="" >
                                            <div style='white-space: pre-line'>{{option.currentSelection[current + 1].segments}}</div>
                                            <!--<div class="price-block">
                                                <span class="currency-text currency"></span>
                                                <span class="price" isa-connector="{{selection.charge}}"></span>
                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                        <div ng-if="option.optionName === 'insurance' && option.buttonCaption !== 'Add'">                                                        
                            <span><i class="fa confirmed fa-check-circle" style="" ></i><i class="select" translate="lbl_common_selected">Selected</i></span>                             
                        </div>
                    </div>
                    <div class="col-xs-3 xs-select-add pd-lt-0" ng-if="option.currentSelection.length % 2 !== 1">                       
                        <button class="btn btn-block xs-add-btn-class pull-right" ng-click="optionOnClick({id: option.optionName})" ng-switch on="option.buttonCaption">
                            <!-- <span class="truncate">{{option.buttonCaption}}</span> -->
                            <!-- <span class="truncate">{{option.buttonCaption}}</span> -->
                            <span ng-switch-when="Add"> 
                                <i class="material-icons">add</i>
                            </span>
                            <span ng-switch-when="Edit"> 
                                <i class="material-icons">mode_edit</i>
                            </span>
                            <span ng-switch-default>
                                <i class="material-icons">add</i>
                            </span>
                            <!-- <i class="fa fa-angle-right pull-right"></i> -->
                        </button>
                        <!--                         <div class="options xs-options pull-right"> -->
                        <!--                             <div class="button btn-block opt-btn" ng-click="optionOnClick({id: option.optionName})"> -->
                        <!--                                 <span >{{option.buttonCaption}} </span> -->
                        <!--                                 <i class="fa fa-angle-right"></i> -->
                        <!--                             </div> -->

                        <!--                         </div> -->
                    </div>
                </div>

                <div class="row" ng-if="option.currentSelection.length % 2 == 1">
                    <div class="col-xs-9 segment-row-xs">
                        <div class="row segm-space" ng-init="current = option.currentSelection.length - 1" >
                            <div class="col-xs-6 summery-panel-segments">
                                <div class="summery-panel-content-wrapper xs-sum-contentwrapper" ng-class="{'unmodified': option.currentSelection[current].unmodified}">
                                    <div class="summery-panel-header">
                                        <div class="">
                                            <label >{{option.currentSelection[current].segkey}}&lrm; </label>
                                        </div>
                                    </div>

                                    <div class="column summery-panel-content col-xs-12 xs-options-price pd-lr-0">
                                        <div class="" >
                                            <div style='white-space: pre-line'>{{option.currentSelection[current].segments}}</div>
                                            <!--<div class="price-block">
                                                <span class="currency-text currency"></span>
                                                <span class="price" isa-connector="{{selection.charge}}"></span>
                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 xs-select-add pd-lt-0">
                        <button class="btn btn-block xs-add-btn-class pull-right " ng-click="optionOnClick({id: option.optionName})" ng-switch on="option.buttonCaption">
                            <!-- <span class="truncate">{{option.buttonCaption}}</span> -->
                            <!-- <span class="truncate">{{option.buttonCaption}}</span> -->
                            <span ng-switch-when="Add"> 
                                <i class="material-icons">add</i>
                            </span>
                            <span ng-switch-when="Edit"> 
                                <i class="material-icons">mode_edit</i>
                            </span>
                            <span ng-switch-default>
                                <i class="material-icons">add</i>
                            </span>
                                <!-- <span ng-if="option.buttonCaption =='Add'"> 
                                        <i class="material-icons">add</i>
                                    </span>
                                    <span ng-if="option.buttonCaption =='Edit'"> 
                                        <i class="material-icons">mode_edit</i>
                                    </span> -->
                        <!-- <i class="fa fa-angle-right pull-right"></i> -->
                        </button>
                    </div>
                </div>
            </div>
            <!-- // Summary -->
            <!--Summary for airport services-->
            <div class="summery-panel" ng-if="option.optionName == 'airport services'">
                <div class="row">
                    <div class="col-xs-9 segment-row-xs">
                        <div class="row option-list-airport-services" data-ng-repeat="segment in option.currentSelection" ng-if="$index % 2 == 0">
                            <div class="col-xs-6 summery-panel-segments">
                                <div class="summery-panel-content-wrapper xs-sum-contentwrapper" ng-class="{'unmodified': segment.unmodified}">
                                    <div class="summery-panel-header col-xs-12 xs-options-price" style="padding-left: 0; padding-right: 0;">
                                        <div class="col-sm-12">
                                            <label >{{segment.segkey}}&lrm; </label>
                                        </div>
                                    </div>
                                    <div class="column summery-panel-content col-xs-12 xs-options-price">
                                        <div class="col-sm-12 " >
                                            <div style='white-space: pre-line'>{{segment.segments}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-6 summery-panel-segments">
                                <div class="summery-panel-content-wrapper xs-sum-contentwrapper" ng-class="{'unmodified': option.currentSelection[$index + 1].unmodified}">
                                    <div class="summery-panel-header">
                                        <div class="col-xs-12" style="padding-right: 0;">
                                            <label style="padding-left:10px !important;">{{option.currentSelection[$index + 1].segkey}}&lrm; </label>
                                        </div>
                                    </div>
                                    <div class="column summery-panel-content">
                                        <div class="col-xs-12 " style="padding-right: 0;white-space: pre-line">
                                            <div style="padding-left:10px !important;">{{option.currentSelection[$index + 1].segments}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 xs-select-add pd-lt-0">
                        <button class="btn btn-block xs-add-btn-class pull-right" ng-click="optionOnClick({id: option.optionName})" ng-switch on="option.buttonCaption">
                            <!-- <span class="truncate">{{option.buttonCaption}}</span> -->
                            <!-- <span class="truncate">{{option.buttonCaption}}</span> -->
                            <span ng-switch-when="Add"> 
                                <i class="material-icons">add</i>
                            </span>
                            <span ng-switch-when="Edit"> 
                                <i class="material-icons">mode_edit</i>
                            </span>
                            <span ng-switch-default>
                                <i class="material-icons">add</i>
                            </span>
                                <!-- <span class="truncate">{{option.buttonCaption}}</span> -->
                            <!-- <span ng-if="option.buttonCaption =='Add'"> 
                                <i class="material-icons">add</i>
                            </span>
                            <span ng-if="option.buttonCaption =='Edit'"> 
                                <i class="material-icons">mode_edit</i>
                            </span> -->
                            <!-- <i class="fa fa-angle-right pull-right"></i> -->
                        </button>
                    </div>
                </div>
            </div><!-- // Summary for airport services -->
            <!--            <div class="row xs-price-row">
                             Options 
                                    <div class="col-xs-4 xs-options-price-col">
                                        <div class="price-block pull-left xs-options-price">
                                            <strong><span class="currency-text currency" style="font-size: 14px !important;"></span></strong>
                                            <span class="price" isa-connector="{{widgetData({type:key})}}"></span>
                                        </div>
                                    </div>
                            <div class="options col-xs-7 pull-right xs-options">
                                <span ng-click="optionOnClick({id: option.optionName})" class="button opt-btn">{{option.buttonCaption}} <i class="fa fa-angle-right"></i></span>
                            </div> // Options 
                        </div>-->
        </div>





    </div><!-- // Thumb Block -->
</div>
