<div class="cg-busy cg-busy-animation">
    <div class="cg-busy cg-busy-backdrop"></div>
    <div class="cg-busy-default-wrapper">

        <div class="cg-busy-default-sign" ng-style="positionFixed">

            <div class="cg-busy-default-spinner" >
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
                <div class="bar4"></div>
                <div class="bar5"></div>
                <div class="bar6"></div>
                <div class="bar7"></div>
                <div class="bar8"></div>
                <div class="bar9"></div>
                <div class="bar10"></div>
                <div class="bar11"></div>
                <div class="bar12"></div>
            </div>

            <div class="cg-busy-default-text" translate="{{msgText}}"></div>

        </div>

    </div>
</div>
