//client specific styles - manually copied to here only for backup purposes
.accelAero-slide .selected-date .animated{
    background-color: $color_variation_1 !important;
}
.flight-result-block .flight-options .options-row.body .selected-fare, .flight-result-block .flight-options .options-row.body a:hover {
    background-color: $color_variation_1 !important;
}
.flight-result-block .flight-options .flight-options-table .options-row.header .right-section{
        .fare-type-1{
            background-color: lighten($primery_color, 0%) !important;
        }
        .fare-type-2{
            background-color: lighten($primery_color, 0%) !important;
        }
        .fare-type-3{
            background-color: lighten($primery_color, 0%) !important;
        }
        .fare-type-4{
            background-color: lighten($primery_color, 0%) !important;
        }

        .fare-type-5{
            background-color: lighten($primery_color, 0%) !important;
        }
        .fare-type-6{
            background-color: lighten($primery_color, 0%) !important;
        }
}
.flight-result-block .flight-options-table .flight-icon{
    color: $secondery_color !important;
}
.curruny-wrapper{
    width: auto !important;
}
.LTR, .RTL{

    header ul li.current {
        background-color: $secondery_color !important;
    }

    .cc-link .icon {
        height: 20px !important;
        width: 30px;
        background-size: 32px !important;;
    }
    .modify-search .btn-wrap #currency .cc-link {
        padding: 5px 5px;
    }
    .curruny-wrapper ul li .flag {
        height: 20px;
        width: 30px;
        background-size: 32px;
    }
    .curruny-wrapper ul li .currancy-type{
        padding: 1px 5px 0;
    }
    .flights-summary-block-continue{
        .copyright-text{
            a, a:hover, a:focus{
               color: $primery_color; 
            } 
        }
    }
    .rewards-login .heading{
        padding: 13px 30px !important;
    }
    .rewards-login .tabbed-content #signin-content h3{
        margin-bottom: 10px;
    }
    .rewards-login.shown .heading .airline-logo{
        background-position: 0px -5px;
    }
    .rewards-login .heading .airline-logo{
        background-position: 0px -5px;
    }
    .form-footer{
        margin-bottom: 20px;
    }
    .select-passenger .passengers-list ul li.active-pax{
        background-color: $primery_color;
        color: #fff;
    }
    .select-passenger .passengers-list ul li.active-pax:after{
        border-left: 15px solid $primery_color;
    }
    .summary-drawer .drawer-bar, .reservation-drawer .drawer-bar{
        border-bottom: 3px solid $primery_color;
        border-top: 3px solid $primery_color;
    }
    .modify-search .page-title{
        line-height: 30px;
    }
    .modify-search .page-title .main-text span.truncate{
        white-space: inherit;
        overflow: visible;
        text-overflow: inherit;
        max-width: inherit !important;
        line-height: 32px;
        top: unset !important;
    }
    .modify-search .btn-wrap #modify-search a{
        color: $primery_color;
    }

    .reservation-details .passengers .pax-count-lbl{
        margin-left: 10px;
        text-transform: capitalize;
        display: inline;
    }
    .dash-res-sum .reservation-details .col .edit-pax{
        color: $primery_color;
    }
    .dash-res-sum .reservation-details .col .edit-pax:hover label,.dash-res-sum .reservation-details .col .edit-pax:focus label{
        cursor: pointer;
    }
    .passenger-information .content .passenger-information-block .ps-row .ps-col > label{
        font-weight: normal !important;
    }

    .payment-details .content ul{
        width: 52%;

        &#modify-payment-list {
            width: 100%;
        }
    }
    .summary-drawer .drawer-bar .drawer-icon, .reservation-drawer .drawer-bar .drawer-icon{
        height: 60px;
    }
    .flight-result-block .flight-options .flight-stop-wrapper .flight-start .flight-name{
        font-size: 13px;
    }
    .ibe-typeahead .dropdown-menu li a{
        padding: 7px 12px;
    }
    .ibe-typeahead .dropdown-menu .active a, .ibe-typeahead .dropdown-menu .active a:focus, .ibe-typeahead .dropdown-menu .active a:hover {
        background-color: #faf9f9;
        color: #EE1D23;
        padding: 7px 12px;
    }
    .modify-flights-table .left-sidebar ul li.active .icon-inbound-plane-small .path2:before,.modify-flights-table .left-sidebar ul li.active .icon-outbound-plane-small .path2:before{
        color: #fff!important;
    }
    .modify-flights-table .left-sidebar ul li:hover .icon-inbound-plane-small .path2:before,.modify-flights-table .left-sidebar ul li:hover .icon-outbound-plane-small .path2:before{
        color: #fff!important;
    }

    .dashboard .ibe-typeahead .dropdown-menu li a{
        color: #333333 !important;
    }
    .dashboard .ibe-typeahead .dropdown-menu li.active a{
        color: #EE1D23 !important;
    }
    .uib-dropdown-menu > li > a:hover{
        color: #EE1D23 !important;
    }
    .select-extras .thumb-block .options .button.opt-btn {
        background-color: $primery_color;
    }
    .dashboard .my-reservations .my-reservations-table .mrt-row .on-hold .flight.confirmed h5 i{
        color: #fa8c0a;
    }
    .drawer-passenger, .drawer-flight, .drawer-extra, .drawer-total{
        text-align: right;
    }
    .drawer-flight .pull-right{
        position: absolute;
        right: -40px;
    }
    .drawer-extra .pull-right{
        position: absolute;
        right: -40px;
    }
    .seat-selection .left-section .data-block ul li.active{
        background-color: $primery_color !important;
    }
    .seat-selection .left-section .data-block ul li.active:after {
        border-left: 15px solid $primery_color !important;
    }
    .blue-star{
        color: $secondery_color;
    }
    .letter-space{
        letter-spacing: -2px;
    }
    .d-inline-b{
        display: inline-block;
    }
    .services-selection .left-section .data-block ul li.active{
        background-color: $primery_color !important;
    }    
    .heading .info{
        color: $primery_color !important;
    }

    .payment-confirmation .section .s-heading{
        color: $primery_color !important;
    }
    .reservation-details-payment-summary{
        width: 100%;
    }
    .meal-block .options .meals-qty-dropdown ul li form a.add:hover,.meal-block .options .meals-qty-dropdown ul li form a.add:focus{
        color: #f1ede7;
    }

    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li .mod-flight .icon-outbound-plane-small .path2:before {
        margin-left: -3em;
    }
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li .mod-flight .icon-outbound-plane-small .path1:before {
        color: rgba(145, 145, 145, 0.3);
    }
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li .mod-flight .icon-inbound-plane-small .path2:before {
        margin-left: -3em;
    }
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li.active {
        background-color: $primery_color;
    }
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li.active .mod-flight .icon-outbound-plane-small .path1:before,
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li.active .mod-flight .icon-inbound-plane-small .path1:before,
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li.active .mod-flight .icon-inbound-plane-small .path2:before,
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li.active .mod-flight .icon-outbound-plane-small .path2:before {
        color: #fff;
    }
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li.active:after {
        border-left: 15px solid $primery_color;
    }
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li:hover,
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li:focus {
        background-color: $primery_color;
    }
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li:hover .mod-flight .icon-outbound-plane-small .path1:before,
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li:focus .mod-flight .icon-outbound-plane-small .path1:before,
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li:hover .mod-flight .icon-inbound-plane-small .path1:before,
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li:focus .mod-flight .icon-inbound-plane-small .path1:before,
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li:hover .mod-flight .icon-inbound-plane-small .path2:before,
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li:focus .mod-flight .icon-inbound-plane-small .path2:before,
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li:hover .mod-flight .icon-outbound-plane-small .path2:before,
    .dash-mod-flights .modify-flights-table .left-sidebar ul#flight-segment-list li:focus .mod-flight .icon-outbound-plane-small .path2:before {
        color: #fff;
    }

    .flight-result-block .flight-options .flight-options-table .options-row .options-td.arrival-time{
        &.nextday-flag{
            vertical-align: bottom;
        }
    }
        


}


.RTL .modify-search .btn-wrap #currency .cc-link .currancy-type {
    padding: 1px;
}
.RTL .flight-result-block .flight-options .flight-stop-wrapper .flight-icon {
    margin-right: 0!important;
    float: right;
}
.RTL .flight-result-block .flight-options .flight-stop-wrapper .flight-stop {
    float: left;
}
.RTL .flight-result-block .flight-options .flight-duration p {
    float: left;
    margin: 0 0 6px;
}
.RTL .rewards-login .heading .airline-logo {
    width: 185px;
    float: left;
    height: 34px;
    background-image: url(../images/main_logo-colored.png);
    background-repeat: no-repeat;
    background-position: center left;
}
.RTL .rewards-login.shown .heading .airline-logo {
    width: 185px;
    float: left;
    height: 34px;
    background-image: url(../images/main_logo.png);
    background-repeat: no-repeat;
    background-position: center left;
}
.RTL .seat-selection .left-section .data-block ul li.active:after {
    border-left: none !important;
    border-right: 15px solid $primery_color;
}
.RTL .meals-search-box button{
    font-size: 10px;
}
.RTL .flight-result-block .page-title .main-text span.thin:first-child {
    float: right;
    width: 25px;
}
.RTL .pad-r-0{
    padding-left: 0px;
    padding-right: 15px;

}
.RTL .pad-l-0{
    padding-left: 15px;
    padding-right: 0px;

}
.RTL .flight-summary .flight-table .ft-row .col.flight-no label:after{
    left: 0px;
    right: unset;
}
.RTL .reservation-details-payment-summary table thead tr th{
    text-align: right;
}

.RTL .dash-mod-flights .modify-flights-table .ibe-date-picker .input-group .input-group-btn .btn{
    border-left-color: gray !important;
}
.RTL .dash-mod-flights .modify-flights-table .ibe-date-picker .input-group .form-control {
    border-right-color: gray !important;
    width: 100%;
}
.RTL .select-passenger .passengers-list ul li.active-pax:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-top: -1px;
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
    border-right: 15px solid $primery_color !important;
    border-left: none;
    z-index: 1;
}
.RTL .services-selection .left-section .data-block ul li.active:after{
    border-left: none;
    border-right: 15px solid $primery_color !important;
    }
.LTR .services-selection .left-section .data-block ul li.active:after{
    border-left: 15px solid $primery_color !important;
}
.RTL .sidebar-widget .widget-header {
    background-color: $gray !important;      
}
.RTL .flight-summary .title{
    float: right;
    padding-right: 0px;
}
.RTL .dash-res-sum .reservation-details h2 , .RTL .dash-res-sum .reservation-extras h2{
    float: right;
}
.RTL .dash-res-sum .reservation-extras ul li{
    float: right;
}
.RTL .flight-summary .btn-wrap.pd-r-0{
    padding-left:0px;
} 
.RTL .dash-flights.flight-result-block .flight-date {
    padding: 5px 15px;
    border-bottom: 1px #e8e8e8 solid;
    border-left: 1px #e8e8e8 solid;
    font-size: 14px;
    font-weight: 600;
}
.RTL .flight-result-block .flight-options .flight-options-table .options-row .right-section {
    width: 30%;
}
.RTL .flight-result-block .flight-options .flight-options-table .options-row .left-section {

    width: 70%;

}

.RTL .drawer-flight .pull-right{
    position: unset;
    right: unset;
}
.RTL .drawer-extra .pull-right{
    position: unset;
    right: unset;
}

.RTL .meal-block .options .dropdown-content.meals-qty-dropdown ul li .check label{
    direction: ltr;
}
.RTL .sidebar-widget .widget-content .w-section .radio-section .item .sub-section .section-title .text{
    text-align: right;
}
.RTL .payment-confirmation .payment-details .content ul{
    width: inherit;
}
.RTL .dash-mod-flights .modify-flights-table .flights-head .flights-head-right, .RTL .dash-mod-flights .modify-flights-table .flights-head .flights-head-left{
    float: right;
}
/*.RTL .dash-mod-flights .modify-flights-table .left-sidebar, .RTL .dash-mod-flights .modify-flights-table .right-content{
    float: right;
}*/
.RTL .dash-mod-flights .modify-flights-table .left-sidebar ul li.active:after{
    border-left: 15px solid $primery_color;
    border-right: none !important;
    left: -15px;
    right: unset;
}
.RTL .dash-mod-flights .modify-flights-table .right-content .flight-row .select-flight{
    border-left: 1px solid #e2e2e2;

}
@media only screen and (max-width: 767px){
    .sidebar-widget{
        .isa-radio-option-list-wrapper{
            .widget-header{
                .left{
                    color:$charcoal_gray !important;
                }
            }
        }
    }
    .seat-selection .row .left-section .data-block ul li a span {
        color: #fff !important;
    }
    .package-block .options-section {
        background: none !important;
    }
    .package-block .options-section.active {
        background: $light_gray;
    }
}