<div ng-init="selectedFlightIndex=-1">
    <!-- Placeholder - Before -->
    <div class="flight-row modify-flight-search flight-filler hidden-xs" ng-if="beforeHeight" ng-style="{height: beforeHeight}">
        <p class="center-text" translate="lbl_modify_selectLeft">Select the flight from<br> the left menu to modify it</p>
    </div><!-- // Placeholder - Before-->

    <div class="flight-row modify-flight-search modify-flight-selected" ng-repeat="flight in flightOptions" ng-style="{height: (flightHeightList[selectedSegment] - 1)+'px'}">

        <!-- xs-duration-->
        <div class="row xs-modify-flight-select" ng-if="mobileDevice">
            <!-- Duration -->
        <div class="col duration col-xs-9 xs-selected-flight xs-search-result pd-rt-0">

            <!-- Departure -->
            <div class="departure"><label>{{flight.departureTime}}</label></div>
            <!-- // Departure -->

            <!-- Timeline -->
            <div class="timeline">
                <span class="flight-no"> {{flight.flightNumber}}</span>

                <div class="flight-stop-wrapper">
                    <span class="flight-path"></span>
                    <span class="flight-icon pull-left flight-start icon-plane_shape_R" style="font-size: 1.4rem !important;"></span>
                <span>
                    <ul class="flight-point">
                        <li uib-tooltip-html="stop|stopType" tooltip-placement="top"
                            tooltip-trigger="mouseenter"
                            ng-class="{'icon-plane_shape_R':(flight.stops[$index].flightNumber),'icon-pause':!(flight.stops[$index].flightNumber), 'icon-touchdown':!(flight.stops[$index].flightNumber)}"
                            class="flight-icon" ng-repeat="stop in flight.stops"></li>
                    </ul>
                </span>
                    <span class="flight-icon pull-right flight-stop icon-stop"></span>
                </div>
            </div>
            <!-- // Timeline -->

            <!-- Arrival -->
            <div class="arrival"><label>{{flight.arrivalTime}}</label></div>
            <!-- // Arrival -->

           	<div>
				<p>
		            <!-- Segment Code -->
					<span class="hidden-xs segment-code"><span>{{flight.originCode}}/</span><span ng-repeat="stop in flight.stops">{{stop.airportCode}}/</span><span>{{flight.destinationCode}}</span></span>
		
		            <!-- Total time -->            
                    <span><label class="total-time">{{flight|flightDuration}}</label></span>
                    <!--Total time -->
				</p>
			</div>
        </div>
        <!-- // Duration -->
        
        <div class="select-flight-buttons col-xs-3">
            <!-- Promo Fare -->
            <div class="promo-fare selected" ng-style="{height: flightHeightList[selectedSegment]/2-2 + 'px'}">
                <label ng-style="{'line-height': flightHeightList[selectedSegment]/2 + 'px'}">{{flight.selectedFare.description}}</label>
                <!--<span>{{currency}} <i>{{flight.selectedFare.fareValue}}</i></span>-->
                <i class="select" translate="lbl_common_selected">Selected</i>
            </div>

        </div>
        </div>
        <!-- //xs-duration-->
        
        <!-- Duration -->
        <div class="col duration col-sm-9 xs-search-result" ng-if="!mobileDevice">

            <!-- Departure -->
            <div class="departure" ><label class="ma-bt-0">{{flight.departureTime}}</label></div>
            <!-- // Departure -->

            <!-- Timeline -->
            <div class="timeline">
                <span class="flight-no"><span class="">Flight</span> {{flight.flightNumber}}</span>

                <div class="flight-stop-wrapper">
                    <span class="flight-path"></span>
                    <span class="flight-icon flight-start icon-plane_shape_R pull-left"></span>
                <span>
                    <ul class="flight-point">
                        <li uib-tooltip-html="stop|stopType" tooltip-placement="top"
                            tooltip-trigger="mouseenter"
                            ng-class="{'icon-plane_shape_R':(flight.stops[$index].flightNumber),'icon-pause':!(flight.stops[$index].flightNumber), 'icon-touchdown':!(flight.stops[$index].flightNumber)}"
                            class="flight-icon" ng-repeat="stop in flight.stops"></li>
                    </ul>
                </span>
                    <span class="flight-icon flight-stop icon-stop pull-right"></span>
                </div>
                 <!-- Total time -->
                <label class="total-time">{{flight|flightDuration}}</label>
                <!--  Total time -->
            </div>
            <!-- // Timeline -->

            <!-- Arrival -->
            <div class="arrival"><label class="ma-bt-0">{{flight.arrivalTime}}</label></div>
            <!-- // Arrival -->

           
           
    

        </div>
        <!-- // Duration -->

        <div class="select-flight-buttons col-sm-3" ng-if="!mobileDevice">
            <!-- Promo Fare -->
            <div class="promo-fare selected" ng-style="{height: flightHeightList[selectedSegment]/2-2 + 'px'}">
                <label ng-style="{'line-height': flightHeightList[selectedSegment]/2 + 'px'}">{{flight.selectedFare.description}}</label>
                <!--<span>{{currency}} <i>{{flight.selectedFare.fareValue}}</i></span>-->
                <i class="select" translate="lbl_common_selected">Selected</i>
            </div>
            <!-- // Promo Fare -->

            <!-- Select flight -->
            <div class="select-flight xs-modify-select-flight"
                 ng-class="{'active':$parent.selectedFlightIndex == $index}"
                 ng-style="{height: flightHeightList[selectedSegment]/2 + 'px'}"
                 ng-click="$parent.selectedFlightIndex = ($parent.selectedFlightIndex == $index)?  -1 : $index">

                <div class="edit-select-button">
                	<span class="ico">
                        <!--<i ng-class="{'icon-plus':($parent.selectedFlightIndex != $index),'icon-close':($parent.selectedFlightIndex == $index)}"></i>-->
                        <i ng-class="{'icon-close':($parent.selectedFlightIndex == $index)}"></i>
                    </span>
                    <span class="text">
                        <a href="" ng-if="$parent.selectedFlightIndex == $index" translate="lbl_modify_selectAFare">Select a fare </a>
                        <a href="" ng-if="$parent.selectedFlightIndex != $index"translate="lbl_modify_editAFare">Edit Fare</a>
                        
                        <span class="ico xs-ico hidden-md hidden-lg hidden-sm">
                       		<!--<i ng-class="{'icon-plus':($parent.selectedFlightIndex != $index),'icon-close':($parent.selectedFlightIndex == $index)}"></i>-->
                        	<i ng-class="{'icon-close':($parent.selectedFlightIndex == $index)}"></i>
                    	</span>
                    </span>
                </div>


                <ul class="flight-fares xs-modify-selected-fare"
                    ng-style="{'top': flightHeightList[selectedSegment]/2 + 'px'}"
                    ng-show="$parent.selectedFlightIndex == $index ">
                    <li  ng-repeat="flightFare in flight.flightFaresAvailability | limitTo:5"
                        ng-click="onSelectFareNoPopup({ selectedFlight :flight,selectedFare : flightFare })"
                        uib-tooltip-template="'myTooltipTemplate.html'"
                        tooltip-placement="bottom" >

                        <label ng-style="{'line-height': flightHeightList[selectedSegment]/2 + 'px'}">{{flightFare.description}}</label>
                        <!--<span>{{currency}} <i isa-connector="{{flightFare.fareValue}}"></i></span>-->
                        <i class="select" translate="lbl_common_select">Select</i>
                    </li>
                </ul>
                
             <!--   <div class="hidden-md hidden-sm hidden-lg xs-select-flight-fare select-flight">
	        	   <ul class="flight-fares"
	                    ng-style="{'top': flightHeightList[selectedSegment]/2 + 'px'}"
	                    ng-show="$parent.selectedFlightIndex == $index ">
	                    <li ng-repeat="flightFare in flight.flightFaresAvailability | limitTo:5"
	                        ng-click="onSelectFareNoPopup({ selectedFlight :flight,selectedFare : flightFare })"
	                        uib-tooltip-template="'myTooltipTemplate.html'"
	                        tooltip-placement="bottom" >
	
	                        <label ng-style="{'line-height': flightHeightList[selectedSegment]/2 + 'px'}">{{flightFare.description}}</label>
	                        <span>{{currency}} <i isa-connector="{{flightFare.fareValue}}"></i></span>
	                        <i class="select" translate="lbl_common_select">Select</i>
	                    </li>
	                </ul>
	        	</div> -->
            </div>
          
            <!-- // Select flight -->
        </div>
		
		<!-- Footer xs -->
        <div class="dash-footer ma-bt-3" style="margin-top: 20px;" ng-if="mobileDevice">
			<div class="row">
		    	<div class="col-xs-12">
		        	    <button class="btn red-btn button"
		                    onclick="document.getElementById('dash-foot-confirm').click()"
		                    translate="lbl_modification_continueModification">Continue Modification</button>
		        </div>
		    </div>
		    <div class="row" style="margin-top: 20px; max-width:103vw;">
		        <div class="col-xs-12">
		            <button class="btn light-gray-btn truncate button"
		                    onclick="document.getElementById('dash-foot-cancel').click()"
		                    translate="lbl_modification_cancelModification">Cancel Modification</button>
		        </div>
		    </div>
		</div><!-- Footer xs -->
	
    </div>

    <!--Placeholder - After -->
    <div class="flight-row modify-flight-search flight-filler hidden-xs hidden-sm" ng-if="afterHeight" ng-style="{height: afterHeight}">
        <p class="center-text">Select the flight from<br> the left menu to modify it</p>
    </div><!-- // Placeholder - After -->

    <!--<div ng-if="flightOptions.length!==0" class="flight-row modify-flight-search last-row"></div>-->
    <!--Flight Row -->

    <script type="text/ng-template" id="myTooltipTemplate.html">
        <img ng-if="flightFare.imageUrl!==''" ng-src="{{flightFare.imageUrl}}" alt=""/>
    </script>
</div>
