/*wrapper of all elements*/
div.combo {
    position:relative;
    left: 0px;
    top: 0px;
}


/*text input*/
.combo input {
    position: absolute;
}


/*icon*/
.combo div.icon {
    position:absolute;
}


/*list wrapper*/
.combo div.list-wrapper {
    position: absolute;
    overflow: hidden;
    /*we should set height and max-height explicitly*/
    height: 200px; 
    max-height: 200px;
    /*should be always at the top*/
    z-index: 99999;

}

/*"drop-up" list wrapper*/
.combo div.list-wrapper-up {}

/*dropdown list*/
.combo ul {}

/*dropdown list item*/
.combo  li {
    height: 20px;
}

/*active (hovered) list item*/
.combo li.active {}


.combo .visible {
    display: block;
}

.combo .invisible {
    display: none;
}

/*used when emptyText config opt is set. Applied to text input*/
.combo input.empty {}

/* default skin */
div.sexy {
    white-space: nowrap;
    height: 17px;
    border: 0;
    margin: 0;
    padding: 0;
    width: 211px;
}

div.sexy input {
    margin: 0 0 0 0;
    font:normal 11px Verdana,Arial, sans-serif;
    padding:1px 3px;
    border:1px solid #cccccc;
    height: 14px;
    line-height:14px;
    vertical-align:middle; 
    left: 0px;
    top: 0px; 
    width: 211px;  

}

div.sexy div.icon {
    width:17px;
    height:17px;
    border: 0;
    background:transparent url(../images/combo/trigger_no_cache.gif) no-repeat 0 0;
    cursor:pointer;
    border-bottom: 1px solid #cccccc;
    top:0px;
    left: 202px; 

}


div.sexy div.list-wrapper {
    left: 0px;
    top: 17px;
    border: 1px solid #cccccc;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    width: 211px;
    bottom: auto;
}

div.sexy div.list-wrapper-up {
    top: auto;
    bottom: 17px;
}

div.sexy ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 200px;
}


div.sexy  li {
    padding: 0;
    padding-left: 5px;
    font:normal 11px Verdana,Arial, sans-serif;
    background-color: #FFFFFF;
    cursor: pointer;
    margin: 0;
}

div.sexy li.active {
    background-color: #cccccc;
}

div.sexy input.empty {
    color: gray;
}






 