.ui-widget-header {
background:transparent;;
border-bottom:1px solid #AAAAAA;
border-top:0;
border-left:0;
border-right:0;
color:#222222;
font-weight:bold;
}
#tab1{background: transparent;}
.ui-corner-top{
-moz-border-radius-topleft:0px;
-moz-border-radius-topright:0px;
}
.ui-corner-bottom
{
-moz-border-radius-bottomleft:0px;
-moz-border-radius-bottomright:0px;
}
/*.ui-corner-all{-moz-border-radius:0px! important;}*/
.ui-tabs{background: transparent;}
.ui-widget-content{border: 0px;}
.ui-tabs .ui-tabs-panel{border: 0px solid #AAA;border-top: 0;padding: 8px 1px;background: transparent;}
.ui-tabs .ui-tabs-nav li a{padding: 4px 1.5em}

.ui-dialog{padding: 0px;border: 1px solid #d5241e}
.ui-dialog-titlebar{background: url("../images/v3/mid-selected_no_cache.jpg") repeat-x;color: white}
.ui-dialog-title{font-size: 12px;font-family: arial}
.ui-button-text{display:none}
/*hhhhhhhhhhhhhh*/
#rightPanel{padding-left: 10px}
/*commen Credit card styles */
#cardDetailPannel .cardType{
	height: 24px;
}
#whatisthis{text-decoration: underline;}
.cardType div.cards{
	background-image: url("../images/cards_no_cache.gif");
	background-repeat:no-repeat;
	height: 23px;
	width:35px;
	float: left;
	margin: 0 1px;
	display: block;
}

.card-img span{
	background-image: url("../images/v3/cards_no_cache.gif");
	background-repeat:no-repeat;
	height: 27px;
	width: 40px;
	float: left;
	margin: 2px;
	display: block;
}
/* all payment method uses uppercase*/
.card-img span.MASTER{
	background-position: 0 0;
}
.card-img span.VISA{
	background-position: 0 -28px;
}
.card-img span.AMEX{
    background-image: url("../images/safekey_no_cache.gif");
    background-size: 40px 27px;
}
.card-img span.DINERS{
	background-position: 0 -84px;
}

.card-img span.MPG{
	background-position: 0 -28px;
}

.card-img .MTC{
	background-position: 0 -281px;
}
.card-img .CASH{
	background-position: 0 -224px;
}
.card-img .PAYPAL{
	background-position: 0 -168px;
}

.card-img span.BANCONTACT{
	background-position: 0 -309px;
}

.card-img span.BLEUE{
	 background-position: 0 -336px;
}

.card-img span.GIROPAY{
	 background-position: 0 -364px;
}

.card-img span.IDEAL{
	 background-position: 0 -392px;
}

.card-img span.SOFORT{
	 background-position: 0 -419px;
}
.card-img span.DEBIT{
	background-position:0 -446px;
}

.card-img span.JCB{
	background-position:0 -473px;
}

.card-img span.MOBICASH{
	background-position:0 -499px;
}

.card-img span.FATOURATI{
	background-position:0 -528px;
}
.card-img span.KNET{
	background-position: 0 -555px;
}
.card-img span.CANAUX1{
	background-position:0 -583px;
}
.card-img span.CANAUX2{
	background-position:0 -611px;
}
.card-img span.QIWI{
    background-position:0 -639px;
}
.card-img span.QIWI_OFFLINE{
    background-position:0 -639px;
}
.card-img span.PAYFORT_PAYSTORE{
    background-position:0 -224px;
}
.card-img span.PAYFORT_PAYHOME{
    background-position:0 -224px;
}
.card-img span.BEHPARDAKHT{
    background-position:0 -863px;
}
.card-img span.CCAVENUE_CREDIT{
    background-position:0 -667px;
}
.card-img span.CCAVENUE_DEBIT{
    background-position:0 -695px;
}
.card-img span.CCAVENUE_NET{
    background-position:0 -723px;
}
.card-img span.MPG{
    background-position:0 -751px;
}
.card-img span.CIHGUICHET{
    background-position:0 -779px;
}
.card-img span.BARIDBANK{
   background-position:0 -807px;
}
.card-img span.CANAUX1_CANAUX2{    
     background-position:0 -835px;
}

.card-img span.E-DIRHAM{
	background-position:0 -889px;
}
.card-img span.CCAVENUE_EMI{
    background-position:0 -917px;
}
.card-img span.ATTIJARIWAFA{
    background-position:0 -945px;
}
.card-img span.AMERIA_BANK{
    background-position: 0 -975px;
}
.cardType .MASTER{
	background-position: 0 0;
}

.cardType .VISA{
	background-position: 0 -24px;
}

.cardType .MPG{
	background-position: 0 -24px;
}

.cardType .AMEX{
	background-position: 0 -47px;
}

.cardType .DINERS{
	background-position: 0 -69px;
}
.cardType .MTC{
	background-position: 0 -281px;
}
.cardType .CASH{
	background-position: 0 -224px;
}
.cardType .PAYPAL{
	background-position: 0 -160px;
}
.cardType .AMERIA_BANK{
	background-position: 0 -974px;
}
.popuploader{background: transparent;width: 250px}
.popuploader .closethisp{float: right}
.popuploader .headerBG {background: url("../images/panelBGall_no_cache.jpg") no-repeat;text-align: left;cursor: move;}
.popuploader .headerBG label{cursor: move;width: 220px;float: left}
.popuploader .hLeft {
	background-position:-1px -1px;
	background-repeat:repeat-x;
	height:24px;
	width:10px;
}
.popuploader .hCenter {
	background-position:0 -30px;
	background-repeat: repeat-x;
	height: 24px;
	font-size: 14px; 
	color: #fff;
	font-weight: bold;
	padding: 0px 0px;
	width:232px;
}
.popuploader .hRight {background-position:0 -58px;background-repeat: repeat-x;width: 10px;height: 24px}
.popuploader .popupbody{overflow-y: auto;overflow-x: hidden;border: 1px solid #AAA;background: #fff}
.ui-datepicker-title select{font-size: 9pt! important;height:20px! important;}
.odd td{background:#f4f4f4}
.anciButtons input {
	float:left;
	margin-top:3px;
	margin-right:3px;
}
.tblSeatMapContainer{background-color:#fff}
.td_seat{
	padding:1px 1px;
	background-position:50% 50%;
}
.matchCC{
	background-color:#EDF5FC! important;
}
.removeallSeats label{text-decoration:underline;cursor:pointer;color:#EE2F27}

.removeSocialFriends label{text-decoration:underline;cursor:pointer;color:#EE2F27}
