/*
**** CSS Document which used to build common legacy layout on DIVs
*    DONOT add any client specific styles or color style classes in this,
*	 --Baladewa Welathanthri 
*/
div.div-Table{direction: ltr;}
div.div-Table-rtl{direction: rtl;}
div.div-Table div.table-Row {float: left;margin: 0;padding: 0;height: 24px} /* set the direction and floating over the page */
div.thin-row{height: auto! important}
div.div-Table-rtl div.table-Row {float: right;margin: 0;padding: 0;height: auto} /* set the direction and floating over the page */
.changeOver{width:auto}
div.one-Col {width:100%;}
div.two-Col {width:50%;}
div.three-Col {width: 33.3%;}
div.div-Table div.table-Row div.table-Data{float: left;margin: 0;padding: 2px 0px;text-align: left;}
div.div-Table-rtl div.table-Row div.table-Data{float: right;margin: 0;padding: 2px 0px;text-align: right;}
div.table-Row div.table-Data input,div.table-Row div.table-Data span,
div.table-Row div.table-Data label, div.table-Row div.table-Data select,
div.table-Row div.table-Data div{display: inline;margin: 0px 2px 0 0}
div.table-Row div.table-Data font{display: inline;margin: 0}
div.table-Row div.table-Data img{display: inline;margin: 0px 2px 0 0}
div.one-Col div.left-TD{width:24%;}
div.one-Col div.right-TD{width:73%;}
div.two-Col div.left-TD{width:48%;}
div.two-Col div.right-TD{width:50%;}
div.three-Col div.left-TD{width:40%;}
div.three-Col div.right-TD{width:58%;}
div.end-Table{clear: both;height: 0px}
div.div-Table label.mandatory{margin: 0px! important}
div.div-Table-rtl label.mandatory{margin: 0px! important}
div.div-Table .auto-height{height:auto! important;padding:3px 0! important;}
div.div-Table .floatItem{float:right}
div.div-Table-rtl .floatItem{float:left}
.secure-image{
	background: url("../images/v3/secure_top_no_cache.gif") no-repeat scroll 0 0 ;
	margin:0px;
	padding:0px;
	float:left;
	width:40px;
	height:40px;
}
div#flSearch{
	/*display: none;*/
}
.reg-user-flow>div#flSearch{
	display: block;
}