<!--
<div >
<div ng-click="showHideMenu()" class="btn gray-btn"  ng-class="{ccactive:isActive}">
    <span class="currancy-type">Curruncy: {{selectedCurrencyType.type}}</span>
    <span class="icon_{{selectedCurrencyType.icon}} icon"></span>
</div>
<div class="curruny-wrapper"  ng-show="showpanel" id="dp-menu" >
    <ul >
        <li ng-repeat="currency in curruncytypes" ng-click="onItemSelect(this)">
            <span  class="menu-item currancy-type">{{currency.type}}</span>
            <span  class="menu-item icon_{{currency.icon}} icon"></span>
        </li>
    </ul>
</div>
</div>-->

<!-- Sidebar -->

<div class="col-md-3 col-sm-3 passengers-list hidden-xs">
    <div class="inner">
        <ul>
            <li ng-repeat="passenger in passengerList" ng-class="{'active-pax': selectedPassenger === $index}" ng-click="changeSelected($index)">
                 <span class="checkbox-circle">
                     <input type="checkbox" id="id{{$index}}" ng-model="passenger.valid" ng-checked="applicationMode == 'nameChange' || passenger.valid" disabled>
                                    <label for=id{{$index}}>{{passenger.displayName}}</label>
                 </span>
                
            </li>
        </ul>
    </div>
</div>

<!--<script>
    function triggerclick(){
        nextPassenger(passenger, userForm_{{selectedPassenger}});
        return false;
    }
</script>-->

<div id="passengers-information-panel" class="col-xs-12 passengers-list xs-passengerslist" ng-if="deviceMode.isMobileDevice" >
    <div class="xs-passengerslist-inner">
        <ul>
<!--            <li ng-repeat="passenger in passengerList" ng-class="{'active-pax': selectedPassenger == $index}" ng-click="changeSelected($index)">-->
               
            <uib-accordion close-others="true">
              <uib-accordion-group  id="pass_{{selectedPassenger}}"
                  ng-repeat="passenger in passengerList" is-open="$first"
                 s-top >
                  <uib-accordion-heading >
                      <li ng-class="{'active-pax': selectedPassenger === $index}"  ng-click="changeSelected($index,$event)"> 
<!--                           ng-click="nextPassenger(passengerObj, userForm_{{selectedPassenger}} )" -->
                    <span class="checkbox-circle">
                                    <input type="checkbox" id="id{{$index}}" ng-model="passenger.valid" ng-checked="applicationMode == 'nameChange' || passenger.valid" disabled>
                                    <label class= "xs-passenger-text" for=id{{$index}}>{{passenger.displayName}}</label>
                    </span>
                      </li>
                  </uib-accordion-heading>     
                  <isa-passenger-details 
                                       passenger="passenger"
                                       ng-if="selectedPassenger === $index"
                                       application-mode="applicationMode"
                                       selected-passenger="selectedPassenger"
                                       passenger-list="passengerList"
                                       update-contact="updateContact(passenger)"
                                       passenger-count="passengerCount"
                                       passenger-completed="passengerCompleted"
                                       on-modification-completed="onModificationCompleted()"
                                       first-pax-contact="firstPaxContact"
                                       pax-detail-config="paxDetailConfig"
                                       airewards-checked="airewardsChecked"
                                       update-airewards-status="updateAirewardsStatus(index)"
                                       on-modification-start = "onModificationStart"
                                       country-list = "countryList"
                                       is-airword-enabled="isAirwordEnabled"
                                       validation-messages = "validationMessages"
                                       carrier="carrier" 
                                       language="language" >
                </isa-passenger-details>
              </uib-accordion-group>
            </uib-accordion>
            <!--</li>-->
        </ul>
    </div>
</div><!-- // Sidebar -->

