<!-- Datablock -->
<div class="data-block">
    <span class="heading-title hidden-xs" translate="msg_seatmap_pax">Select passenger</span>
    <ul>
        <li ng-repeat="passenger in passengerList track by $index"
            ng-class="{'active': selectedPassenger===$index}" ng-click="changeSelected($index)">
            
            <span class="checkbox-circle">
                <input type="checkbox" id="id{{$index}}"
                       ng-model="passenger.seatAssigned" disabled>
                <label for="id{{$index}}">
                    <span class="pd-rt-10 lbl-body pull-left">{{passenger.displayName}}</span> <span class="lbl-tail pull-left" ng-show="passenger.infantSequence">&#47;Infant</span>
                                        
                    
                    <a ng-if="passenger.seat.seatNumber && !deviceMode.isMobileDevice" href="" class="action pull-right"
                       ng-click="actionClick($event, $index)">
                        <i class="remove fa fa-trash-o ng-click-active"></i>
                    </a>
                    
                     <a ng-if="passenger.seat && passenger.seat.seatNumber && deviceMode.isMobileDevice" href="" class="action pull-right">
                         <span ng-if="(passenger.seat.seatNumber.length) > 0" class="action-span" translate="lbl_Seat_change">Change' : 'Select' }}</span>
                         <span ng-if="(passenger.seat.seatNumber.length) <= 0" class="action-span">Select</span>
                    </a>  
                    <a ng-if="(!passenger.seat || !passenger.seat.seatNumber) && deviceMode.isMobileDevice" href="" class="action pull-right">
                         <span class="action-span">Select</span>
                    </a> 
                    <i>{{passenger.seat.seatNumber}}</i>
                </label>
            </span>
        </li>
    </ul>
</div><!-- // Datablock -->