<div class="off-canvas-wrapper" ng-controller="ReturnCtrl as return">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas-content" data-off-canvas-content>
            <div class="row flight-details">
                <div class="small-3 text-center columns">{{ return.fromAirport }}</div>
                <div class="small-6 columns flight-path">
                    <span class="start"></span>
                    <span class="line"><span class="icon-Icon-Plane"></span></span>
                    <span class="end"></span>
                </div>
                <div class="small-3 text-center columns">{{ return.toAirport }}</div>
            </div>

            <div class="row collapse">
                <div class="small-12 columns flight-look">
                    <ul class="tabs flight-lookup" id="horz-tabs" data-tabs>

                        <!-- add area selected true -->
                        <li class="tabs-title" ng-class="{'is-active': timeline.selected }"
                            ng-repeat="timeline in return.timelineData"
                            ng-click="return.fareDateSelected($event, timeline)"
                            ng-init="return.setInitialSelection($event, timeline)">
                            <a href="">
                                {{ return.moment(timeline.date, 'DD/MM/YYYY').format('DD MMM') }}
                                <span>{{return.currency}} {{ timeline.fareValue }}+</span>
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="small-12 columns available-flights">
                    <div class="tabs-content" data-tabs-content="horz-tabs">
                        <div class="tabs-panel" id="panel1v">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                        <div class="tabs-panel is-active" id="panel2v">

                            <div class="">

                                <ul class="accordion normal-flight" data-accordion>

                                    <li class="accordion-item" ng-repeat="flight in return.flights" data-accordion-item
                                        ng-click="return.changeSelectedFlight($index)"
                                        ng-class="{'is-active': $index == return.selectedFlightIndex}">

                                        <a class="accordion-title">
                                            <div class="normal-flight-int">
                                                <div class="row collapse">
                                                    <div class="small-3 medium-2 text-center columns">
                                                        <div class="start">
                                                            <span class="time">{{flight.departureTime}}</span>
                                                            <span class="icon-Icon-Plane"></span>
                                                        </div>
                                                    </div>
                                                    <div class="small-6 medium-8 text-center columns flight-path">
                                            <span class="line">
                                                <span class="text">
                                                    {{ flight.totalDuration.split(':')[1] }} hours
                                                </span>
                                            </span>
                                                    </div>
                                                    <div class="small-3 medium-2 text-center columns">
                                                        <div class="start"><span
                                                                class="time">{{flight.arrivalTime}}</span>
                                                            <span class="icn"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>

                                        <div class="accordion-content"
                                             ng-class="{'display-block': $index == return.selectedFlightIndex}">
                                            <ul>

                                                <li ng-repeat="fare in flight.flightFaresAvailability">
                                                    <label>
                                                        <div class="row collapse">
                                                            <div class="small-2 columns">
                                                                <input type="radio" group="depature"
                                                                       ng-value="true" ng-model="fare.selectedFare"
                                                                       ng-click="return.setDepartureFlightDetails(flight, fare)">
                                                            </div>
                                                            <div class="small-10 columns text-right price">
                                                                <div class="row collapse">
                                                                    <div class="small-12 columns"> {{return.currency}}
                                                                        {{ fare.fareValue }}
                                                                    </div>
                                                                    <div class="small-12 columns">
                                                            <span ng-repeat="class in return.fareClasses">
                                                                <span ng-if="fare.fareTypeId === class.fareTypeId">
                                                                    {{ class.fareTypeName }}
                                                                </span>
                                                            </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </label>
                                                </li>

                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" ng-show="return.isReturnFlightInfoAvailable">
            <div class="flight-info small-12 columns ">
                <div class="small-6 small-offset-3 price text-center columns">
                    {{return.currency}} {{ return.totalPrice }}
                    <span>Total all inclusive</span>
                </div>
            </div>
        </div>


        <div class="clear-2"></div>
        <div class="row">
            <div class="small-12 columns">
                <a class="button small-12"
                   ng-click="return.navigateToNext()"
                   ng-disabled="!return.enableProceed">Proceed
                    <i class="fa fa-chevron-right"aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>
