
html, body {	
	overflow-x: hidden;
	direction:ltr;
}
body > div{
	direction:rtl;
}

* html{	
	overflow-x: hidden;
	overflow-y: scroll;
}
.correction{}
.mainPageLoader{
	display:none;
	z-index:9900;
	background:transparent;
	height:68px;
	position:absolute;
	top:50%;
	left:40%;
	width:192px
}
.mainPageLoaderFreame{
	position:absolute;
	background:transparent;
	width:192px;
	height:68px;
}
html, body,  ol, dd, blockquote, q, h1, h2, h3, h4, h5, h6, form, fieldset, a, div, img, table {
	margin: 0;
	padding: 0;
	border: 0;
	font-family:tahoma;
	font-size: 14px;
}
a:link
{
    COLOR: #134373;
    TEXT-DECORATION: none
}
a:visited
{
    COLOR: #134373;
    TEXT-DECORATION: none
}
UL
{
    MARGIN-TOP: 0px;
    MARGIN-bottom: 4px;
}
LI
{
    MARGIN-TOP: 0px;
    MARGIN-bottom: 0px;
    margin-left: 15px;
}
label{
	font-family:Verdana,Arial,Helvetica,sans-serif;;
	font-size:14px;
	left:auto;
	color: #737373;
}
.fntDefault{
	font-family:Verdana,Arial,Helvetica,sans-serif;;
	font-size:14px;
	left:auto;
	color: #737373;
}
font{
	font-family:Verdana,Arial,Helvetica,sans-serif;;
	font-size:14px;
	left:auto;
	color: #737373; 
}
.divfont{
	font-family:Verdana,Arial,Helvetica,sans-serif;;
	font-size:14px;
	left:auto;
	color: #737373;
}
.appLogo{
	background-image:url(../images/n024_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:right bottom;
	height:50px;
}
.topBanner{
	background-image:url(../images/n063_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	background-color:#D82520;
	height:70px;
	padding: 0 10px;
}
.topBannerRB{
	background-image:url(../images/n037_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:left bottom;
	height:26px;
	width:14px;
}
.topBannerMB{
	background-image:url(../images/n038_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:bottom;
	width:912px;
}
.topBannerLB{
	background-image:url(../images/n039_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:right bottom;
	width:14px;
}

.rowSingleGap{
	height:5px;
}
.rowGap{
	height:10px;
}
.defaultRowGap{
	height:25px;
}

.defaultRowGapNew{
	height:25px;
	background: #fff;
}

.pnlTop{
	background-image:url(../images/LIbe002_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:8px;
}
.pnlWidth{
	width:800px;
}
.pnlUnderBottom{
	background-image:url(../images/LIbe004N_no_cache.jpg);
	background-repeat:repeat-x;
}
.pnlUnderDown{
	background-image:url(../images/LIbe002_down_no_cache.jpg);
	background-repeat:repeat-x;
} 
.pnlWidthLeft{
	width:258px;
}
.pnlTopR{
	background-image:url(../images/ar/n017_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:8px;
	width:8px;
}
.pnlUnderBottomR{
	background-image:url(../images/LIbe001R_down_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:8px;
	width:8px;
}
.pnlBottom{
	background-image:url(../images/LIbe003_no_cache.jpg);
	background-repeat:repeat-x;
	/*height:52px;*/
}
.pnlBottomTall{
	background-image:url(../images/LIbe004_no_cache.jpg);
	background-repeat:repeat-x;
	height:150px;
}
.pnlBottomTallCal{
	background-image:url(../images/LIbe003_no_cache.jpg);
	background-repeat:no-repeat;
	background-repeat:repeat-x;
	background-position: 0 100%;
	background-color: #eeeeee;
}
.fntSmall{
	font-size:10px;
}
.fntBold{
	font-weight:bold;
}
 .fntItalic{
	font-style: italic;
 }
.uppercase {text-transform:uppercase;}
.lowercase {text-transform:lowercase;}
.capitalize {text-transform:capitalize;}

.hdFont{
	font-size:15px;
}
.hdFontColor{
	color:#EE2F27;
}

a u .hdFontColor{cursor: pointer}

.mandatory{
	color: red;
}
.tab1A{
	background-image:url(../images/ar/n034_A_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:200px;
}
.tab1{
	background-image:url(../images/n034_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:200px;
}
.tab2A{
	background-image:url(../images/ar/n035_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:220px;
}
.tab2{
	background-image:url(../images/ar/n035_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:220px;
}
.tab3A{
	background-image:url(../images/ar/n036_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:200px;
}
.tab3{
	background-image:url(../images/n036_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:56px;
	width:200px;
}

select
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 11px;
	height: 20px;
	color: #4E4E4E;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove #9D9D9D;
	BORDER-TOP: thin groove #9D9D9D;
	BORDER-LEFT: thin groove #9D9D9D;
	BORDER-BOTTOM: thin groove #9D9D9D;
	}
	
input, textarea{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10px;
	color: #4E4E4E;
	background-color: #FFFFFF;
	BORDER-RIGHT: solid 1px #9D9D9D;
	BORDER-TOP: solid 1px #9D9D9D;
	BORDER-LEFT: solid 1px #9D9D9D;
	BORDER-BOTTOM: solid 1px #9D9D9D;
	}
input[type='radio'], input[type='checkbox']{border:0px;.border:0px;_border:0px;.background: transparent;_background: transparent;}	
.clsInput{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 11px;
	color: #4E4E4E;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove #9D9D9D;
	BORDER-TOP: thin groove #9D9D9D;
	BORDER-LEFT: thin groove #9D9D9D;
	BORDER-BOTTOM: thin groove #9D9D9D;
	}
}

label input
{
	margin:0px;
	font-family: tahoma;
	font-size: 11px;	
	color: black;
	.margin:-2px;
	_margin:-2px;
	padding:0px;
	background: #ffffff;
}	

.noBorder
{
	font-family: tahoma;
	font-size: 13px;
	color: black;
	background-color: Transparent;
	border-color:Transparent;
	border-style:none;
	}		
	
.Button
{
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	text-transform: capitalize;
	color: white;
	background-image: url(../images/n020_no_cache.jpg);  /* lt2 */
	border-top: 0px solid #A65957;
	border-right: 0px solid #A65957;
	border-bottom: 0px solid  #A65957;
	border-left: 0px solid #A65957;
	height: 25px;
	width:74px;
	cursor:pointer;
	background-repeat:no-repeat;
	padding:2px 0 5px 0px;
	}
.gridHD{
	background-color:#E52A23;
	height:25px;
}
.gridHDDark{
	background-color:#7F7F7F;
	height:25px;
}
.gridHDFont{
	color:white;
}
.gridHDsub {
    background-color: #333333;
    height: 18px;
}
.lpaneTopR{
	background-image:url(../images/LIbe006_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:27px;
	width:11px;
}
.lpaneTopM{
	background-image:url(../images/LIbe007_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	width:238px;
}
.lpaneTopL{
	background-image:url(../images/LIbe008_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	width:11px;
}
.lpaneMidL{
	background-image:url(../images/LIbe009_no_cache.jpg);
	background-repeat:repeat-y;
	background-position:top;
	width:2px;
}
.lpaneMidM{
	background-color:white;
	width:257px;
}
.lpaneMidR{
	background-image:url(../images/LIbe010_no_cache.jpg);
	background-repeat:repeat-y;
	background-position:top;
	width:1px;
}
.lpaneBotR{
	background-image:url(../images/LIbe011_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:18px;
	width:11px;
}
.lpaneBotM{
	background-image:url(../images/LIbe012_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	width:238px;
}
.lpaneBotL{
	background-image:url(../images/LIbe013_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	width:11px;
}
.navFont{
	font-size:13px;
	vertical-align: middle;
	color:white;
 }	
.navFontBig{
	font-size:17px;
	vertical-align: middle;
	color:white;
 }	
.rowColor{
	background-color:white;
}
.rowColorAlternate{
	background-color:#DFDFDF;
}
.bdLeft{
	BORDER-LEFT: solid 1px #DFDFDF;
}
.bdTop{
	BORDER-TOP: solid 1px #DFDFDF;
}
.bdBottom{
	BORDER-BOTTOM: solid 1px #DFDFDF;
}
.bdRight{
	BORDER-RIGHT: solid 1px #DFDFDF;
}
.noPadding{
	padding:0px;
}
.lightGrayHD{
	background-color:#DFDFDF;
	height:25px;
}

.errorControl{
	background-color:#FEFFAF;
}

.fontCapitalize{
	text-transform: capitalize;
}
.ButtonAncilary{
	background-image: url(../images/n200_no_cache.gif);
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	text-transform: capitalize;
	color: gray;
	border-top: 0px solid #A65957;
	border-right: 0px solid #A65957;
	border-bottom: 0px solid  #A65957;
	border-left: 0px solid #A65957;
	height: 28px;
	width:174px;
	cursor:pointer;
	background-repeat:no-repeat;
	padding-bottom:2px;
}

.ButtonMeal{
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	text-transform: capitalize;
	color: #5A5A5A;
	background-color:transparent;
	background-image: url(../images/n056meal_no_cache.gif); 
	border-top: 0px solid #A65957;
	border-right: 0px solid #A65957;
	border-bottom: 0px solid  #A65957;
	border-left: 0px solid #A65957;
	height: 25px;
	width:154px;
	cursor:pointer;
	background-repeat:no-repeat;
}
.availSeat{
	background-image:url('../images/LCAnsi004_no_cache.gif');
	background-repeat:no-repeat;
	height:15px;
	width:20px;
}
.notAvailSeatLC{
	background-image:url('../images/LCAnsi004_lc_no_cache.gif');
	background-repeat:no-repeat;
	height:15px;
	width:20px;
}
.notAvailSeat{
	background-image:url('../images/LCAnsi002_no_cache.gif');
	background-repeat:no-repeat;
	height:15px;
	width:20px;
}
.oldSeat{
	background-image:url('../images/LCAnsi001_no_cache.gif');
	background-repeat:no-repeat;
	height:15px;
	width:20px;
}

.SltdSeat{
	background-image:url('../images/LCAnsi003_no_cache.gif');
	background-repeat:no-repeat;
	height:15px;
	width:20px;
}
.aisle{
	height:15px;
	width:20px;
}
.exitLeft{
	background-image:url('../images/ANCI_06_no_cache.gif');
	background-position:top center;
	background-repeat:no-repeat;
	width:20px;
	height:39px;
}
.exitRight{
	background-image:url('../images/ANCI_07_no_cache.gif');
	background-position:bottom center;
	background-repeat:no-repeat;
	width:20px;
	height:39px;
}
.window{
	width:20px;
}
.wingRight{
	background-image:url('../images/ar/LCAnsi005_no_cache.jpg');
	background-position:bottom center;
	background-repeat:no-repeat;
	height:65px;
	width:594px;
}
.wingLeft{
	background-image:url('../images/ar/LCAnsi006_no_cache.jpg');
	background-position:top center;
	background-repeat:no-repeat;
	height:65px;
	width:594px;
}
.tblSeatMapContainer table,a,img,span{
	font-size: 9pt;
}
.fntSmaller {
	font-size: 9pt;
}
.noTextDec{
	text-decoration:none;
}
.textDec{
	text-decoration:underline;
}
.seatTT{
	opacity: .8;
	filter: alpha(opacity=80);
}
.ui-corner-all { -moz-border-radius: 4px; -webkit-border-radius: 4px; }
.tabBG{
	background-image:url('../images/LIbe016_no_cache.jpg');
	height:27px;
}
.tabSltd{
	background-image:url('../images/LIbe015_no_cache.jpg');
	background-repeat:no-repeat;
	width:109px;
	height:27px;
}
.tabNotSltd{
	background-image:url('../images/LIbe014_no_cache.jpg');
	background-repeat:no-repeat;
	width:109px;
	height:27px;
}
.cursorPointer{
	cursor:pointer;
}
.noBorder{
	border: 0px solid transparent;
}
.progressBG {
	background-color:#FA0101;
}
.fntDefaultWhite{
	color:white;
}
.MandatoryGrid{
	color: white;
}
.paddingL5{
	padding-right: 5px;
}
.paddingL3{
	padding-right: 3px;
}

.Gridwt {
	background-color:#FFFFFF;
	height:20px;
}
.GridTable {	
	background-color:#DFDFDF;
	border-color:#DFDFDF;
}
.tblBgLeft{
	background-image:url(../images/n019_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
}
.tblBgRight{
	background-image:url(../images/n019_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
}
.ButtonLarge{
	background-image: url(../images/n045_no_cache.jpg);
	width:173px;
	cursor:pointer;
}
.ButtonLargeDisable{
	background-image: url(../images/n046_no_cache.jpg);
	width:173px;
	cursor:default;
}
.ButtonMediumDisable{
	background-image: url(../images/n023D_no_cache);  /* lt2 */
	width:104px;
	cursor:pointer;
}
.ButtonDefaultDisable{
	background-image: url(../images/n021_no_cache.jpg);  /* lt2 */
	width:74px;
	cursor:default;
	background-repeat:no-repeat;
}
.pnlBg{
	background-image:url(../images/LIbe004_no_cache.jpg);
	background-repeat:repeat-x;	
}
.alignRight{ 
	text-align:left;
}
.alignLeft{
	text-align:right;
}

.fntRed{
	font-weight: bold;
	color: #E82B25;
}
.fntRed a{
	font-weight: bold;
	text-decoration:underline;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 13px;
	color: #E82B25;
}

.fntGrey{
	color: #737373;
}

.fntGrey a{
	text-decoration:underline;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 13px;
	color: #737373;
}

.fareSelSidePanel{
   width:260px;  /* lt2 */
   text-align:center; 
}
.searchCritira{
	display:block;width:230px;margin: 0 auto;
}
.searchCritira div{padding: 2px 0}
.powerdBy{
	background-image:url(../images/ar/n024_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:bottom;
}
.pTopL{
	background-image:url(../images/ar/n025_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:27px;
	width:11px;
}
.pTopM{
	background-image:url(../images/ar/n026_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:27px;
}
.pTopR{
	background-image:url(../images/ar/n027_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:27px;
	width:11px;
}
.pMidL{
	background-image:url(../images/ar/n028_no_cache.jpg);
	background-repeat:repeat-y;
	background-position:top;
	width:2px;
}
.pMidM{
	background-image:url(../images/ar/n033_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
}
.pMidR{
	background-image:url(../images/ar/n029_no_cache.jpg);
	background-repeat:repeat-y;
	background-position:top;
	width:2px;
}

.pBotL{
	background-image:url(../images/ar/n030_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:15px;
	width:11px;
}
.pBotM{
	background-image:url(../images/ar/n031_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:15px;
	width:92%;
}
.pBotR{
	background-image:url(../images/ar/n032_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:15px;
	width:11px;
}
.pTopDM{
	background-image:url(../images/ar/n048_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:27px;
}
.pTopDR{
	background-image:url(../images/ar/n047_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:27px;
	width:11px;
}
.fntWhite{
	color:white;
}
.GridHeaderHighlight{
	background-color:#636363;
	height:20px;
}
.logUserBG{
	background-image:url(../images/ar/n050_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:34px;
}
.logUserCorT {
	background-image:url(../images/ar/n049_no_cache.jpg);	
	background-position:top;
	height:34px;
}

.logUserCorB {
	background-image:url(../images/ar/n054_no_cache.jpg);	
	background-position:top;	
}

.fntBlack{
	color:#636363;
}
.tabUnSltd{
	background-image:url(../images/ar/n053_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:27px;
}

.tblBG
{
	background-image:url(../images/n001_no_cache.jpg);
	background-repeat:repeat-x;
}
.tabSltdUser{
	background-image:url(../images/n052_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:27px;
}

.tabSltdOver {
background-image:url("../images/n052_no_cache.jpg");
background-position:center top;
background-repeat:repeat-x;
height:27px;
}
.tabSltdOver label{color: white}

.btnAuxButton
{
	font-family:Verdana,Arial,Helvetica,sans-serif;;
	font-size:10px;
	font-weight:bold;
	text-align:center;
	color: red;
	background-color:#efefef;
	background-image: url(../images/n061-ar_no_cache.gif);  /* lt2 */
	border-top: 1px solid #A65957;
	border-right: 1px solid #A65957;
	border-bottom: 1px solid  #A65957;
	border-left: 1px solid #A65957;
	height: 25px;
	cursor:pointer;
	background-repeat:no-repeat;
	padding-bottom:4px;
	padding-right:4px;
	padding-left: 20px;
	background-position: 3% 4px;
	-moz-border-radius:4px 4px 4px 4px;
}
.AuxButtonDisable{
	background-image: url(../images/n056-ar_no_cache.gif);  /* lt2 */
	cursor:default;
	background-color:#ececec;
	background-repeat:no-repeat;
	color: gray;
	cursor:crosshair;
	background-position: 3% 4px;
	padding-left: 20px;
	border-top: 1px solid #999;
	border-right: 1px solid #999;
	border-bottom: 1px solid  #999;
	border-left: 1px solid #999;
	padding-right:4px;
	-moz-border-radius:4px 4px 4px 4px;
}
.tblBGBLEFT{
	background-image:url(../images/n019_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
}
.tblBGBRIGHT{
	background-image:url(../images/n019_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
}

.tblBG
{
	background-image:url(../images/n001_no_cache.jpg);
	background-repeat:repeat-x;
	}
 .tblBGT
{
	background-image:url(../images/n018_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:8px;
	}
.tblBGTL
{
	background-image:url(../images/n017-1_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:right top;
	height:8px;
	background-color: #ebebeb;
	}
	
 .tblBGTR
{
	background-image:url(../images/ar/n017_no_cache.jpg);
	background-repeat:no-repeat;
	background-position:left top;
	width:8px;
	height:8px;
	background-color: #ebebeb;
	}
 .tblBGB
{
	background-image:url(../images/n019_no_cache.jpg);
	background-repeat:repeat-x;
	background-position:top;
	}

.GridHeader
{
	background-color:#E82B25;
	height:20px;
}
.GridItems
{
	background-color:white; /* lt2 */
	height:20px;
}
.GridDblHighlight{
	height:30px;
}
.GridHighlight
{
	background-color:#EBEBEB;
	height:20px;
	}
.SeperateorBGColor{
	background-color: #EBEBEB; /* lt2 */
}
.btnCredit{
	background-image: url(../images/n022C_no_cache.jpg);  /* lt2 */
	width:104px;
	cursor:pointer;
}

.btnCDisable{
	background-image: url(../images/n023D_no_cache.jpg);  /* lt2 */
	width:104px;
	cursor:default;
}

.ButtonCreditLarge{
	background-image: url(../images/n045C_no_cache.jpg);
	width:173px;
	cursor:pointer;
}

.btnCLargeDisable{
	background-image: url(../images/n046D_no_cache.jpg);
	width:173px;
	cursor:default;
}
.ButtonLargeMedium{
	background-image: url(../images/n022N_no_cache.jpg);  /* lt2 */
	width:134px;
	cursor:pointer;
}
.ButtonMedium{
	background-image: url(../images/n022_no_cache.jpg);  /* lt2 */
	width:104px;
	cursor:pointer;
}
 .hdFont{
	font-size:15px;
 }
.setHeight{
	height:18px;
}
.loadingInProgress {filter:alpha(opacity=83);-moz-opacity:.5;opacity:.5;cursor:progress; background-color: #ffffff; height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; z-index: 1000; }

.loadingDone{
	display:block; background:transparent;z-index:1000;
}
.Dots{
	background-image: url(../images/Dot_no_cache.gif);
	height:20px;
}

.readonly_overlay{
  background-color: #FFFFFF;
  opacity: 0.3;
  filter: alpha(opacity=30);
  padding: 0pt !IMPORTANT;
  margin: 0pt !IMPORTANT;
}

.fntCnxSeg{
 	text-decoration:line-through;
}

/** JQuery Tooltip**/
#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #FFFF66;
	background-color: #fcfcb5;
	padding: 5px;
	opacity: 0.9;
}
#tooltip h3, #tooltip div { margin: 0; font-size: 10px}

/* jAlert */
#popup_container{
	font-family: Arial, sans-serif;
	font-size: 12px;
	background: #FFF;
	border: solid 2px #d5241e;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	width: 380px;
	display: none;
	overflow: hidden;
}
.drager {position: relative;z-index: 99999;height: 25px;width:94%;cursor: move;}
#popup_container_frame{
	width: 100%;
	height: 100%;
}

/*
New Style
*/

.newPogressLoading , .loadingContainer{background:#fff;display: none;}
.inputDate{height: 15px;background: url("../images/Calendar2_no_cache.gif") no-repeat scroll 100% 0;}

.selecRadio{text-align: right; display: none;}
.selecRadio input{border: 0px; display: none;}

.Page-heading .headerBG {
	background-image:url("../images/panelBGall_no_cache.jpg");
	background-repeat:no-repeat;
}
.Page-heading table.headerRow {
	display:table;
	height:27px;
	overflow:hidden;
}
Page-heading table.headerRow td {
	height:27px;
	overflow:hidden;
}
.Page-heading .hLeft {
	background-position:0 -57px;
	background-repeat:repeat-x;
	height:27px;
	width:10px;
}
.Page-heading .hCenter {
	background-position:0 -29px;
	background-repeat:repeat-x;
	color:#FFFFFF;
	font-size:14px;
	font-weight:bold;
	height:27px;
}
.Page-heading .hRight {
	background-position:0 0px;
	background-repeat:repeat-x;
	height:27px;
	width:10px;
}
.mLeft {
	background-image:url("../images/n029_no_cache.jpg");
	background-position:center top;
	background-repeat:repeat-y;
	width:2px;
}
.mCenter{width: 246px}
.mRight {
	background-image:url("../images/n028_no_cache.jpg");
	background-position:center top;
	background-repeat:repeat-y;
	width:2px;
}
.Page-heading table.footerRow {
	display:table;
	height:15px;
	overflow:hidden;
}
.Page-heading .bLeft {
	background-position:0 -86px;
	background-repeat:repeat-x;
	height:15px;
	width:10px;
}
.Page-heading .bCenter {
	background-position:0 -103px;
	background-repeat:repeat-x;
	height:15px;
}
.Page-heading .bRight {
	background-position:-1px -120px;
	background-repeat:repeat-x;
	height:15px;
	width:10px;
}
#divSummaryPane .bookingSummary, #divSummaryPane .paymentSummary {
	margin-bottom:8px;
}
.rightColumn {
	background:none repeat scroll 0 0 transparent;
	margin:0 8px 0 0px;
	padding:0;
	width:680px;
}
#divSummaryPane .add-padding {
padding:0 8px;
}

/* process banner start*/
.StepsTable{width: 650px;display: block;margin: 2px auto 15px}
/* ar */
td.stepsItem div.process_ar1 {background-image: url("../images/select_flight_ar1_no_cache.gif"); background-repeat: no-repeat; width: 159px; height: 53px;}
td.select div.process_ar1{background-image: url("../images/select_flight_ar_no_cache.gif"); background-repeat: no-repeat; width: 159px; height: 53px;}
td.stepsItem div.process_ar2{background-image: url("../images/enter_details_ar1_no_cache.gif"); background-repeat: no-repeat; width: 169px; height: 53px;}
td.select div.process_ar2{background-image: url("../images/enter_details_ar_no_cache.gif"); background-repeat: no-repeat; width: 169px; height: 53px;}
td.stepsItem div.process_ar3{background-image: url("../images/add_services_ar1_no_cache.gif"); background-repeat: no-repeat; width: 169px; height: 53px;}
td.select div.process_ar3{background-image: url("../images/add_services_ar_no_cache.gif"); background-repeat: no-repeat; width: 169px; height: 53px;}
td.stepsItem div.process_ar4{background-image: url("../images/pay&fly_ar1_no_cache.gif"); background-repeat: no-repeat; width: 159px; height: 53px;}
td.select div.process_ar4{background-image: url("../images/pay&fly_ar_no_cache.gif"); background-repeat: no-repeat; width: 159px; height: 53px;}

.pageName label {
	color:#EE2F27;
	font-size:15px;
	font-weight:bold;
	text-align:left;
}

.outBoundFlight{float: right;width: 315px;}
.inBoundFlight{float: right;width: 315px;}


.paddingCalss{padding:0px 10px}
/* Caledar style for arabic*/

#tabs1{
	background:none repeat scroll 0 0 transparent;
	border:0 none;
	width: 100%;
}
.ui-tabs{padding: 0px}
.ui-tabs .ui-tabs-panel {
	background:none repeat scroll 0 0 transparent;
	border-width:0;
	display:block;
	padding:0px;
}
/*AA Calendar Styles */

.cal-header-ul div.cal-one-day {
	background:#7F7F7F;
	border: 1px solid #fff;
	border-bottom: 0px solid #7F7F7F;
	color:#ffffff;
	line-height:18px;
	padding:0 0;
	text-align:center;
}
div.cal-one-day div{
	color:#ffffff;
	white-space: nowrap;
	overflow: hidden;
}

.calendar-ul li div.cal-day{
	border:1px solid #7F7F7F;
	border-top:0px;
	/*border-color:#7F7F7F #a4a4a4 #a4a4a4 #7F7F7F;*/
	background: #ffffff;
	height: 97px;
}

.flight-body .cal-base {
	-moz-border-radius:0px 0px 0px 0px;
	-moz-border-radius:0px 0px 0px 0px;
	border-width:1px;
	border-color :#7F7F7F #7F7F7F #7F7F7F #7F7F7F;
	height:97px;
	text-align:center;
	margin: 10px 0px 0px 0px;
}
div.cal-day .flight-body{
	padding: 0px
	
}
div.cal-day .flight-body div.cal-base {
	background:#ffffff;
}

.flight-body a.selected div.cal-base{
	background:#E52A23;
	border-width: 1px;
	border-color: #E52A23 #7F7F7F #7F7F7F #E52A23;
}

.flight-body a:hover div.cal-base {
	background:#E52A23;
	background-position: 0px 0px;
	cursor: pointer;
	border: 1px solid #E52A23;
}

.totalValueSelected span, .totalValue span{display:block}
.totalValueSelected label.currValueTotal{
	font-size: 23px;
	font-weight: bold;
}
.totalValue{
	color: #737373 !important;
    font-size: 14px;
    font-weight: bold;
}
.noFlight, .FlightFull{display: block;}
.flight-body a:hover div.cal-base .totalValueSelected label.currValueTotal, .flight-body a.selected div.cal-base .totalValueSelected label.currValueTotal
{
	color: #ffffff;
}
.flight-body .cal-base .lowerst{display: block;border: 0px;background:#E52A23;}

.flight-body .cal-base .lowerstCon{display: block;height: 14px;border: 0px}
.flight-body .lowesrtOuter{border: 1px solid #E52A23}

.sub-div a {
	background:#7F7F7F;
	border:1px solid #AAAAAA;
	color:#fff;
	display:block;
	font-family:arial;
	font-weight:bold;
	line-height:18px;
	outline:medium none;
	padding:0 6px;
	text-decoration:none;
}

.sub-div a:hover{border:1px solid #7F7F7F;color:#efefef;}

.sub-div-additional a {
	background:#7F7F7F;
	border:1px solid #AAAAAA;
	color:#fff;
	display:block;
	font-family:arial;
	font-weight:bold;
	line-height:18px;
	outline:medium none;
	padding:0 6px;
	text-decoration:none;
}

.sub-div-additional a:hover{border:1px solid #7F7F7F;color:#efefef;}

.flexibar{
	margin:0;
	text-align: right;
	padding: 2px;
	background: #E52A23;
	border: 0px solid #aaa;
}
.flexibar input{
	margin: 0px 5px! important;
	padding: 0px! important; 
	vertical-align: bottom! important;
	font-size: 12px;
	_margin: -2px 3px! important;
	.margin: -2px 3px! important;
}
.flexibar label{font-size: 13px;color: #ffffff;font-weight: bold;}
.flexibar a label{font-weight: normal;}
#mealTotalROW td{background-color:#7f7f7f}
#mealTotalROW td lable{color:#ffffff}

a u .hdFontColor {
cursor:pointer;
text-decoration: underline;
}
.cal-header-ul li{float: right}
.flightCalendar div.-scroller{
	overflow-y:scroll;
}
.calendar-ul li {float:right;}
.nav-cal ._previous {float: right}
.nav-cal ._next{float: left}
h3.label{text-align: right;padding:6px 6px}
.ui-tabs .ui-tabs-nav li{float: right}
.nav-cal .cal_previous {
	float:right;
}

.nav-cal .cal_next {
	float:left;
}

/* jAlert */
#popup_container{
	font-family: Arial, sans-serif;
	font-size: 12px;
	background: #FFF;
	border: solid 2px #d5241e;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	width: 380px;
	display: none;
	overflow: hidden;
}
.drager {position: relative;z-index: 99999;height: 25px;width:94%;cursor: move;}
#popup_container_frame{
	width: 100%;
	height: 100%;
}

/*FixME this is for pathch*/
#specialMsg div{
		text-align: left;list-style: none;
		background-color:#ffffcf;
		opacity: .7;
		filter: alpha(opacity=80);
		border:1px solid #F3F376;
		margin: 0px; padding: 4px;
		font-size:14px;
		-moz-border-radius:6px;	/* Rounded edges in Firefox */
		font-family: "tahoma", "Lucida Sans Unicode", Arial, sans-serif;
		color:#000; 
}
.spMsg{
	background-color:#ffffcf;
	opacity: .7;
	filter: alpha(opacity=80);
	border:1px solid #F3F376;
	padding:4px 10px 4px 10px;
	font-size:14px;
	-moz-border-radius:6px;	/* Rounded edges in Firefox */
	font-family: "tahoma", "Lucida Sans Unicode", Arial, sans-serif;
	color:#000;
}

.spMsg label{
	font-family: "tahoma", "Lucida Sans Unicode", Arial, sans-serif;
	font-size: 14px;
	color:#000;
}

.segs-full{
	float: right;
	width: 292px;
	margin: 4px 0px;
}
.NoData{margin: 0px 0px;height: 0}
#divSummaryPane .Page-heading{}

.headerBG .setpsTab{display:inline-table;margin-left: 5px}
.setpsTab .hCenter label{font-size: 14px; color: #e4e4e4;font-weight: bold;}
.selected .hCenter label{font-size: 14px; color: #fff;font-weight: bold;}

#divSummaryPane, .floater{width: 250px;}
.mainbody div#sortable-ul{margin:0;padding:0;}
.mainbody div#sortable-ul div.sortable-child{float: right;}
#divSummaryPane .Page-heading .hRight{background-position:0 0px;}
#divSummaryPane .pane-body{
	border: 0px solid #E72E2C;
	background:#fff url("../images/LIbe003_no_cache.jpg");
	background-repeat:repeat-x;
}

/* new Kiosk */
.k-header-left{background:url("../images/k-header-right_no_cache.jpg");height:92px;width:21px}
.k-header-mid{background:url("../images/k-header-mid_no_cache.jpg");height:92px;background-repeat:repeat-x}
.k-header-right{background:url("../images/k-header-left_no_cache.jpg");height:92px;width:21px}
.kiosk-header{background-color:#f9f9f9;}
.kiosk-body{background-color:#f9f9f9}
.kiosk-footer{background-color:#f9f9f9}
.kiosk-top{background:url("../images/kiosk-top-h-ar_no_cache.jpg");height:44px}
.kiosk-bottom{background:url("../images/kiosk-bottom-h-ar_no_cache.jpg");height:38px}
.kiosk-mid{background:url("../images/kiosk-mid-h-ar_no_cache.jpg");height:203px}

.kiosk-title{padding:0 40px;text-align:right}
.kiosk-title label{font-size:13px;font-weight:bold}

.kiosk-welcomnote{text-align:right}
.k-login-label{text-align:left}
.k-login-control{text-align:right}

.kiosk-book-top-left{background:url("../images/k-p-top-right-ar_no_cache.jpg");height:36px;width:17px}
.kiosk-book-top-mid{background:url("../images/k-p-top-mid_no_cache.jpg") scroll 0 1px;height:36px;background-repeat:repeat-x}
.kiosk-book-top-right{background:url("../images/k-p-top-left-ar_no_cache.jpg");height:36px;width:17px}
.kiosk-book-mid-left{background:url("../images/k-p-mid-right-ar_no_cache.jpg");width:17px;background-repeat:repeat-y}
.kiosk-book-mid-mid{background:#ffffff;width:242px}
.kiosk-book-mid-right{background:url("../images/k-p-mid-left-ar_no_cache.jpg");width:17px;background-repeat:repeat-y}
.kiosk-book-bottom-left{background:url("../images/k-p-bottom-right-ar_no_cache.jpg")no-repeat scroll -2px 0;height:36px;width:11px}
.kiosk-book-bottom-mid{background:url("../images/k-p-bottom-mid_no_cache.jpg");height:36px;background-repeat:repeat-x}
.kiosk-book-bottom-right{background:url("../images/k-p-bottom-left-ar_no_cache.jpg") no-repeat scroll 1px 0;height:36px;width:55px}

a.kiosk-button label{
	background:url("../images/k-button_no_cache.gif");
	height:59px;display:block;width:255px;
	line-height:56px;font-size:13px;
	font-weight:bold;color:#333333;
	outline:none;
}
a:hover.kiosk-button label{
	background:url("../images/k-button-h_no_cache.gif");
	height:59px;display:block;width:255px;
	line-height:56px;font-size:13px;
	font-weight:bold;
	color:#FFFFFF;outline:none;
}
#ui-datepicker-div{z-index: 300}

.ButtonBook
{
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	text-transform: capitalize;
	color: red;
	background-image: url(../images/ar/Button_Booking_no_cache.gif); 
	border-top: 0px solid #A65957;
	border-right: 0px solid #A65957;
	border-bottom: 0px solid  #A65957;
	border-left: 0px solid #A65957;
	height: 25px;
	width:224px;
	cursor:pointer;
	background-repeat:no-repeat;
	padding-bottom:5px;
}
.outerCal{width: 678px}
.flight-oriented td.gridHD{height: 21px;}
.reguserSp{border:1px solid #E52A23;}
.reguserSp td{background: transparent;}

/*External Agents Pages Styles */

.reguserSp{border:1px solid #E52A23;}
.reguserSp td{background: transparent;}

/********************************** Meals Pop Up **************************************/
.mealloader{background: transparent;}
.mealloader .closethis{float: right}
.mealloader .headerBG {background: url("../images/panelBGall_no_cache.jpg") no-repeat;text-align: left;cursor: move;}
.mealloader .headerBG label{cursor: move;width: 220px;float: left}
.mealloader .hLeft {
	background-position:-1px -1px;
	background-repeat:repeat-x;
	height:24px;
	width:10px;
}
.mealloader .hCenter {
	background-position:0 -30px;
	background-repeat: repeat-x;
	height: 24px;
	font-size: 14px; 
	color: #fff;
	font-weight: bold;
	padding: 2px 0px;
	width:232px;
}
a.selectAici  label{text-decoration: underline;cursor: pointer;}
a:hover.selectAici label{text-decoration: underline;color:#E52A23;}
.bigtext{font-size: 14px}
.mealItem {
	background: #fcf6e6;
}
.mealItem td.thumb{
	width:50px;
	vertical-align: top;
}
.mealItem td.name, .mealItem td.description{
	width:340px;
	padding: 2px 6px;
	text-align: right;
	vertical-align: top;
}
.mealItem td.qtyHead, .mealItem td.priceHead{
	background:#d0c9bf;
	width:80px;
	padding: 2px;
	text-align: center;
	vertical-align: top;
}

.mealItem td.qtyBody{
	width:80px;
	padding: 2px;
	text-align: center;
	vertical-align: middle;
}
.mealItem td.priceBody{
	width:80px;
	padding: 2px;
	text-align: center;
	vertical-align: middle;
}
.mOverMeal{background: #eae4d4}
.mealSpinner{width:65px;margin: 10px auto}
.mealSpinner div{
	background:url("../images/v3/addred_no_cache.gif") no-repeat;
	cursor: pointer;
}
div.add{
	background-position: 0px 0px;
	width: 11px;
	height: 11px;
}
div.reduse{
	background-position: -14px 0px;
	width: 11px;
	height: 11px;
}
.headeritems{float: right}
#popupHeader td{
	background:url("../images/v3/meal-BreagCrum_no_cache.jpg");
}
#popupHeader td label{color: #ffffff;font-size: 12px}
#popupHeader td.grayBar{
	background-position: 0px -45px;
	height: 15px;
    padding: 0 10px;
}
td.grayBar, td.grayBar label{cursor: pointer;}
#popupHeader td.grayCorner{
	background-position: -11px -15px;
	height: 15px;
	width: 11px;
}
#popupHeader td.redBar{
	background-position: 0px -30px;
	height: 15px;
    padding: 0 10px
}
#popupHeader td.redCorner{
	background-position: -11px 0px;
	height: 15px;
    width: 11px;
}
label.value{width:30px;display:block}
/* meal images */
.catBlock{
	float: left;
	width: 94px;
	height: 94px;
	margin: 2px;
	border: 1px solid #f1f1f1;
	cursor: pointer;
	background:url("../images/mealCata_no_cache.jpg") no-repeat;
}

a.calClass1 div{
	background-position: 0 0;
}
a:hover.calClass1 div{
	background-position: -94px 0;
}
a.calClass2 div{
	background-position: 0 -94px;
}
a:hover.calClass2 div{
	background-position: -94px -94px;
}
a.calClass3 div{
	background-position: 0 -188px;
}
a:hover.calClass3 div{
	background-position: -94px -188px;
}
a.calClass4 div{
	background-position: 0 -282px;
}
a:hover.calClass4 div{
	background-position: -94px -282px;
}
a.calClass5 div{
	background-position: 0 -376px;
}
a:hover.calClass5 div{
	background-position: -94px -376px;
}
a.calClass6 div{
	background-position: 0 -469px;
}
a:hover.calClass6 div{
	background-position: -94px -469px;
}
a.calClass7 div{
	background-position: 0 -659px;
}
a:hover.calClass7 div{
	background-position: -94px -659px;
}

.firstCat{
	background-position: 0 -564px;
}
.mealMouseOver{opacity:0.6;filter:alpha(opacity=60)}
.mealMenuTable{width:600px}
.mealimage1{height: 70px;width: 120px;background:url("../images/salad_no_cache.jpg") scroll 50% 0 no-repeat;}
.mealimage2{height: 70px;width: 120px;background:url("../images/sandwich_no_cache.jpg") scroll 50% 0 no-repeat;}
.mealimage3{height: 70px;width: 120px;background:url("../images/cafe_no_cache.jpg") scroll 50% 0 no-repeat;}
.mealimage4{height: 70px;width: 120px;background:url("../images/drinks_no_cache.jpg") scroll 50% 0 no-repeat;}
/* meal images */


.anciTable {width: 640px}

.anciTable .first-col{padding: 0 4px}
.mealrow .odd{background:#f4f4f4}

.passengerCol{width: 190px;}
.flightCol{width: 200px;}
.allOtherColl{width: 440px;}
.mealCol{width: 150px;}
.priceCol{width: 80px;}
.clearCol{width: 30px;}

.passengerCol label, .flightCol label, .allOtherColl label, .mealCol label,
.priceCol label, .clearCol label{margin: 0 3px}

.clearMeal{outline: none}
.clearLabel{
	background: url("../images/v3/close_icon_no_cache.jpg") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float:right;
    height: 14px;
    width: 14px
}
a:hover.clearLabel label{cursor: pointer;color: #E82B25;text-decoration: underline;}
.clear-icon{
	background: url("../themes/default/images/jquery/ui-icons_cd0a0a_256x240_no_cache.png") no-repeat;
	background-position: -176px -96px;
	height: 15px;
	width: 15px;
	display: inline;
	padding: 0 7px
}

.zoomer{
	background:#fafafa;
	border:3px solid #333;
	z-index:2000;
	top:0px;
	left:0px;
	width:250px;
}
.zoomer .loadImage{height: 250px}
.zoomer .imgDescription{
	background: #333;
	color: #fff;
	padding: 5px;
	vertical-align: bottom;
}

/*meal accodian */

.accordionWrapper{display:inline-block; background-color:#fff; overflow:hidden;}
.accordionWrapper img{vertical-align:top; border:0; margin:0; padding:0}
.accordionWrapper div{display:inline; float:left; margin:auto;}
.accordionWrapper div.title{cursor:pointer;}
.accordionWrapper div.content{display:none;}

a:hover.clear-icon{
	background: url("../themes/default/images/jquery/ui-icons_454545_256x240_no_cache.png") no-repeat;
	background-position: -176px -96px;
	height: 15px;
	width: 15px;
	display: inline;
	padding: 0 7px
}
.mealBack{
	float: right;
	margin-left: 10px;
}
.mealConfirm{
	float: left;
	margin-right: 10px;
}
/********************************** Meals Pop Up **************************************/
/*************** new Popup *********************/
.popBG{background: url("../images/ptl_no_cache.gif");}
.popBG1{background: url("../images/ptl-2_no_cache.gif");}
.popTopLeft{
	background-position: 0px -20px;
	background-repeat: no-repeat;
	width: 10px;
	height: 9px;
}
.popTopMid{
	background-position: 0px -10px;
	background-repeat: repeat-x;
	height: 9px;
}
.popTopRight{
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 10px;
	height: 9px;
}

.popMidLeft{
	background-position: -8px 0px;
	background-repeat: repeat-y;
	width: 10px;
}
.popMidMid{
	background:#f1f1f1;
	background-repeat: repeat;
}
.popMidRight{
	background-position: 0px 0px;
	background-repeat: repeat-y;
	width: 10px;
}

.popBottomLeft{
	background-position: 0px -40px;
	background-repeat: no-repeat;
	width: 10px;
	height: 9px;
}
.popBottomMid{
	background-position: 0px -50px;
	background-repeat: repeat-x;
	height: 9px;
}
.popBottomRight{
	background-position: 0px -60px;
	background-repeat: no-repeat;
	width: 10px;
	height: 9px;
}

#popupHeader span.close{
	background: url("../images/v3/close_icon_no_cache.jpg") no-repeat scroll 0 0 ;
	float:left;
	width:14px;
	height:16px;
	cursor: pointer;
}
#popupHeader .headerItems{
	float: right;
	width:180px;
	overflow: hidden;
}
#popupFooter input{
	float: left;
}
.popup-column{
	vertical-align:top;
	border-left: 1px solid #e4e4e4;
	width:195px;
	padding-left:5px;
}
.popup-column-first{border:0px}
.InsConfirm, .InsCancel{
	background: url("../images/n052_no_cache.jpg") repeat-x scroll 0 0;
	-moz-border-radius: 8px; -webkit-border-radius: 8px;
	color:#fff;
	border:1px solid #E02722;
}
/*************** new Popup *********************/
/*************** new Payment Styles *********************/
table#tblPriceBreakdown .bLeft{
	height:5px;
}
table#tblPriceBreakdown .bRight{
    height:5px;
}

.ul-cards {
	list-style: none;
	margin: 0px;
	padding: 0px;	
}
.ul-cards li{
	list-style: none;
	margin: 2px;
	border: 1px solid #bbb;
	float: right;
	width: 125px;
	height: 85px;
	background: #f1f1f1
	
}
.ul-cards li div{
	border: 1px solid #e4e4e4
}
.ul-cards li div.card-img{
	border-bottom: 0px;
	height: 45px;
	background: #fff;
}
.ul-cards li div.card-desc{
	border-bottom: 0px;
	height: 37px;
}
.btnFont{color: #fff;margin: auto;line-height: 28px;}

.colourGreavy {	
	background-color: gray;
}

.secure-image{
	background: url("../images/v3/secure_top_no_cache.gif") no-repeat scroll 0 0 ;
	margin:0px;
	padding:0px;
	float:right;
	width:40px;
	height:40px;
}

.searchPannel{
	padding: 10px;
}
.summarySperator{
	height: 5px;
	border-top: 1px dashed #aaa;
}

/*************** new Payment Styles *********************/
