<div class="content-wrapper" ng-controller="voucherPostPaymentController as postPayCtrl">
    <br/>
    <div class="row col-md-12 col-sm-12 col-xs-12" ng-if="postPayCtrl.errorMessage">
        <div class="text-danger" ng-bind-html="postPayCtrl.errorMessage">
        </div>
        <br/>
    </div>
</div>