<div class="row" ng-controller="ProgressController as progress">
    <div class="page-status">
        <div ng-class="{'small-up-5':!progress.isReturn(), 'small-up-6':progress.isReturn()}">

            <div class="column padding-left-right-3"
                 ng-class="{'visited': progress.stateIndex > 0, 'current': progress.stateIndex == 0}">
               <span class="int">
                  <div class="inner">
                      <span class="icon-depature"></span>
                  </div>
               </span>
                <div class="after-trail"></div>
            </div>

            <div class="column padding-left-right-3"
                 ng-class="{'visited': progress.stateIndex > 1, 'current': progress.stateIndex == 1, 'normal': progress.stateIndex < 1}"
                 ng-if="progress.isReturn()">
                    <span class="int">
                        <div class="inner">
                            <span class="icon-return"></span>
                        </div>
                    </span>
                <div class="after-trail"></div>
            </div>

            <div class="column padding-left-right-3"
                 ng-class="{'visited': progress.stateIndex > 2 , 'current': progress.stateIndex == 2, 'normal': progress.stateIndex < 2}">
                <span class="int">
                    <div class="inner">
                        <span class="icon-personal_info"></span>
                    </div>
                </span>
                <div class="after-trail"></div>
            </div>

            <div class="column padding-left-right-3"
                 ng-class="{'visited': progress.stateIndex > 3 , 'current': progress.stateIndex == 3, 'normal': progress.stateIndex < 3}">
                <span class="int">
                    <div class="inner">

                        <i class="icon-phone icons"></i>
                    </div>
                </span>
                <div class="after-trail"></div>
            </div>

            <div class="column padding-left-right-3"
                 ng-class="{'visited': progress.stateIndex > 4, 'current': progress.stateIndex == 4, 'normal': progress.stateIndex < 4}">
                <span class="int">
                    <div class="inner">
                        <span class="icon-add"></span>
                    </div>
                </span>
                <div class="after-trail"></div>
            </div>

            <div class="column padding-left-right-3"
                 ng-class="{'visited': progress.stateIndex > 5 , 'current': progress.stateIndex == 5, 'normal': progress.stateIndex < 5}">
                <span class="int">
                    <div class="inner">
                        <span class="icon-shopping-cart-facing-left"></span>
                    </div>
                </span>
            </div>

        </div>
    </div>
</div>
