<!-- Flights -->
<div class="dash-flights flight-result-block">
    <div class="flight-date modify-flight-changed-message hidden-md hidden-sm hidden-lg"
         translate="lbl_modify_availableMsg"
         translate-values='{ origin: changedFlight.originName, dest: changedFlight.destinationName, date: (changedFlight.searchCriteria.departureDate | date: "dd/MM/yyyy") }'>
        Available flight options from {{changedFlight.searchCriteria.origin.en}}
        to {{changedFlight.searchCriteria.destination.en}} on {{changedFlight.searchCriteria.departureDate| date: 'dd/MM/yyyy'}}
    </div>
    <div class="flight-options">
        <isa-flight-select class="flight-options-table"
                           is-header-visible=false
                           flight-options="changedFlight.model.adaptedSelectedFlight"
                           currency="AED"
                           is-busy-loader-visible="false"
                           on-select-fare-no-popup="changedFlight.onFareChange(selectedFlight, selectedFare)"
                           is-popup-visible="false"
                           flight-height-list="modifyFlights.flightHeightList"
                           selected-segment="modifyFlights.selectedFareGroupIndex"
                           template-body="modify_selected_Flight_body"
                           is-create-flow="false">
        </isa-flight-select>
    </div>
</div><!-- // Flights -->

<!-- Form Footer -->

<!-- // Form Footer -->

