<!-- Flights -->
<div class="dash-flights flight-result-block">
    <div class="flight-date"
         translate="lbl_modify_availableMsg"
         translate-values='{origin:resultCtrl.model.flightOptions[0].originName,dest:resultCtrl.model.flightOptions[0].destinationName, date: (resultCtrl.searchCriteria.departureDate | date: "dd/MM/yyyy") }'
         >
        <!-- translate="lbl_modify_availableMsg"translate-values='{ origin: resultCtrl.resultCtrl.model.flightOptions[0].originName, dest: resultCtrl.destinationName, date: (resultCtrl.searchCriteria.departureDate | date: "dd/MM/yyyy") }'-->
<!--        Available flight options from {{resultCtrl.searchCriteria.origin.en}}
        to {{resultCtrl.searchCriteria.destination.en}} on {{resultCtrl.searchCriteria.departureDate| date: 'dd/MM/yyyy'}}-->
    </div>
    <div class="flight-options">
        <isa-flight-select class="flight-options-table"
                           is-header-visible=false
                           flight-options="resultCtrl.model.flightOptions"
                           currency="AED"
                           is-busy-loader-visible="resultCtrl.showBusyLoader"
                           popup-button-caption="resultCtrl.popupCaption"
                           on-select-fare-no-popup="resultCtrl.onSelectFare(selectedFlight, selectedFare)"
                           on-confirm="resultCtrl.onConfirmFare($index)"
                           is-popup-visible="resultCtrl.isPopupVisible"
                           template-body="modify_body"
                           on-edit-flight="resultCtrl.onEditFlight(id)"
                           is-create-flow="false"
                           >
        </isa-flight-select>
    </div>

    <h4 class="text-center pd-5" ng-show="resultCtrl.noFlightsFound" translate="lbl_modification_noFlightSearchResults">
        No flights are available for the selected Departing Date. Please change your Departing Date and search again
    </h4>
</div><!-- // Flights -->