<div class="dashboard view-reservations" ng-controller="viewReservationsCtrl as viewReservations">


    <section class="content-wrapper">

        <!-- Content header -->
        <div class="content-header pd-bt-4 hidden-xs hidden-sm">

            <!-- Page Title -->
            <h1 class="page-title">
                <span class="main-text" translate="lbl_common_allReservations">All Reservations</span>

            </h1><!-- // Page Title -->

            <div class="btn-wrap pull-right back-btn-container">
                <a class="back-bar back-btn" translate="lbl_common_backToDashboard" href="" ng-click="viewReservations.backToDashboard()">Back to Dashboard</a>
            </div>

            <div class="pagination-wrap pull-right" ng-show="viewReservations.totalRecords > 5">
                <span class="info pull-left">
                    <label>{{viewReservations.startingIndex}}</label>
                    - <label>{{viewReservations.endingIndex}}</label>
                    <i>of</i>
                    <label>{{viewReservations.totalRecords}}</label>
                </span>
                <ul class="page-controllers pull-right">
                    <li class="pull-left" ng-click="viewReservations.prevPage()" ng-disable ="!viewReservations.isPrev"ng-class ="{'disable': !viewReservations.isPrev}"><a href="" ><i class="fa fa-angle-left"></i></a></li>
                    <li class="pull-left viewReservation-arrow" ng-click="viewReservations.nextPage()" ng-disable="!viewReservations.isNext" ng-class ="{'disable': !viewReservations.isNext}"><a href="" ><i class="fa fa-angle-right"></i></a></li>
                </ul>
            </div>

        </div>
        <div class="content-header hidden-md hidden-lg hidden-xs">

            <!-- Page Title -->           
            <div class="row hidden-xs">
                <h1 class="page-title col-sm-7 col-xs-12 sm-allreservations">
                    <span class="main-text" translate="lbl_common_allReservations">All Reservations</span>
                </h1><!-- // Page Title -->

                <div class="col-sm-2 col-xs-12 xs-backtodash pull-right text-right" ng-show="viewReservations.totalRecords > 5">
                    <div class="sm-m-10">
                        <a class="back-btn font-weight-bold" href="" translate="lbl_common_backToDashboard" ng-click="viewReservations.backToDashboard()"><u>Back to Dashboard</u></a>                    
                    </div>               
                </div>
                <div class="col-sm-6 col-xs-12 xs-backtodash pull-right text-right " ng-show="viewReservations.totalRecords <= 5">
                    <div class="sm-backtodash">
                        <a class="back-btn" href="" translate="lbl_common_backToDashboard" ng-click="viewReservations.backToDashboard()"><u>Back to Dashboard</u></a>
                    </div>
                </div>

                <div class="pagination-wrap pull-right col-sm-2 col-xs-12 text-right xs-backtodash" ng-show="viewReservations.totalRecords > 5">
                    <div class="col-xs-6 pd-l-0" style="text-align: right; padding-right: 0;">
                        <span class="info">
                            <label>{{viewReservations.startingIndex}}</label>
                            - <label>{{viewReservations.endingIndex}}</label>
                            <i>of</i>
                            <label>{{viewReservations.totalRecords}}</label>
                        </span>
                    </div>
                    <div class="col-xs-6 pd-r-0" style="text-align: left; padding-left: 0;">
                        <ul class="page-controllers" style="padding-left: 0;">
                            <li class="pull-left" ng-click="viewReservations.prevPage()" ng-disable ="!viewReservations.isPrev"ng-class ="{'disable': !viewReservations.isPrev}"><a href="" ><i class="fa fa-angle-left"></i></a></li>                                
                            <li class="pull-left viewReservation-arrow" ng-click="viewReservations.nextPage()" ng-disable="!viewReservations.isNext" ng-class ="{'disable': !viewReservations.isNext}"><a href="" ><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-header hidden-md hidden-lg hidden-sm hidden-xs">

            <!-- Page Title -->           
            <div >
                <h1 class="page-title col-sm-6 col-xs-6 sm-allreservations">
                    <span class="main-text" translate="lbl_common_allReservations">All Reservations</span>
                </h1>
                <div class="col-xs-6 xs-backtodash truncate text-center">
                    <a class="back-btn" href="" translate="lbl_common_backToDashboard" ng-click="viewReservations.backToDashboard()"><u>Back to Dashboard</u></a>                    
                </div>               
            </div>
            <div>
                <div class="pagination-wrap col-xs-12" ng-show="viewReservations.totalRecords > 5">
                    <div class="col-xs-6 text-right pd-lt-0" style="padding-right: 0;">
                        <span class="info">
                            <label>{{viewReservations.startingIndex}}</label>
                            - <label>{{viewReservations.endingIndex}}</label>
                            <i>of</i>
                            <label>{{viewReservations.totalRecords}}</label>
                        </span>
                    </div>
                    <div class="col-xs-6 text-left pd-rt-0" style="padding-left: 0;">
                        <ul class="page-controllers" style="padding-left: 0;">
                            <li class="pull-left" ng-click="viewReservations.prevPage()" ng-disable ="!viewReservations.isPrev"ng-class ="{'disable': !viewReservations.isPrev}"><a href="" ><i class="fa fa-angle-left"></i></a></li>                                
                            <li class="pull-left viewReservation-arrow" ng-click="viewReservations.nextPage()" ng-disable="!viewReservations.isNext" ng-class ="{'disable': !viewReservations.isNext}"><a href="" ><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>

        <!-- // Content header -->

        <!-- Content Body -->
        <div class="content-body">

            <!-- Row -->
            <div class="row">

                <!-- Inside Content -->
                <div class="inside-content col-sm-12 col-xs-12 my-reservation-container" ng-show="viewReservations.totalRecords < 0">
                    <p>No reservations found</p>
                    <span class="button red-btn" translate="title_modifySearch_bookAFlight" ng-click="viewReservations.bookFlight()">Book a Flight</span>
                </div>

                <!-- Inside Content -->
                <div class="inside-content col-sm-12 my-reservation-container" ng-show="viewReservations.totalRecords > 0">

                    <!-- My Reservations -->
                    <div class="my-reservations details-tittle">

                        <!-- My Reservations Table -->
                        <div class="my-reservations-table hidden-xs xs-font-12">

                            <!-- Row -->
                            <div class="mrt-row mrt-heading xs-viewreser-head">
                                <div class="mrt-heading-col col col-md-3 col-sm-3 col-xs-3" translate="lbl_confirm_reservNum">Reservation Number</div>
                                <div class="mrt-heading-col col col-md-7 col-sm-6 col-xs-6" translate="lbl_common_tripDetails">Trip Details</div>
                                <div class="mrt-heading-col col col-md-2 col-sm-2 col-xs-3" translate="lbl_common_bookingDate">Booking Date</div>
                            </div><!-- // Row -->

                            <!-- Row : repeat -->
                            <div class="mrt-row xs-viewreser-head" ng-repeat="trip in viewReservations.reservationPageData" ng-click="viewReservations.redirectToReservation(trip.pnr, trip.contactLastName, trip.segmentDetails[0].departureDateTime)">
                                <div class="mrt-heading-col col col-md-3 col-sm-3 col-xs-3">
                                    <label>{{ trip.pnr}}</label>
                                    <p ng-if="trip.pnrStatus == 'OHD'" translate="lbl_dashboard_onhold" >(Onhold)</p>
                                    <p ng-if="trip.pnrStatus == 'CNX'" translate="lbl_dashboard_cancelled" >(Cancelled)</p>
                                    <p ng-if="trip.pnrStatus == 'CNF'" translate="lbl_dashboard_confirmed" >(Confirmed)</p>
                                </div>

                                <div class="mrt-heading-col col col-md-7 col-sm-6 col-xs-6" >

                                    <!-- Flight -->
                                    <div class="flight"  ng-repeat="segment in trip.segmentDetails" ng-class="{'confirmed': segment.status === 'CNF','canceled': segment.status === 'CNX','hold': segment.status === 'ONH'}">
                                        <h5 class="xs-font-12">{{segment.orignNDest.split(' / ')[0]}} <span translate="msg_common_to">to</span> {{segment.orignNDest.split(' / ')[segment.orignNDest.split(' / ').length - 1]}} <i ng-class="{'fa-check-circle': segment.status === 'CNF','fa-times-circle': segment.status === 'CNX','fa-ban': segment.status === 'ONH'}" class="fa"></i></h5>

                                        <div class="departure-arrival hidden-xs">
                                            <span class="departure">
                                                <label translate="lbl_common_departure">Departure</label> - <span ng-if="!viewReservations.isPersianCalendarType"> {{segment.departureDateTime| date: 'medium'}}</span><span ng-if="viewReservations.isPersianCalendarType"> {{segment.persianDepartureTime}}</span>
                                            </span>
                                            <span class="ico icon-outbound-plane-small my-reservation-plain-icon">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </span>
                                            <span class="arrival">
                                                <label translate="lbl_common_arrival">Arrival</label> - <span ng-if="!viewReservations.isPersianCalendarType">{{segment.arrivalDateTime}}</span><span ng-if="viewReservations.isPersianCalendarType">{{segment.persianArrivalTime}}</span>
                                            </span>
                                        </div>
                                        <div class="departure-arrival hidden-sm hidden-md hidden-lg">
                                            <span class="departure">
                                                <label translate="lbl_common_departure">Departure</label> - <span ng-if="!viewReservations.isPersianCalendarType"> {{segment.departureDateTime| date: 'medium'}}</span><span ng-if="viewReservations.isPersianCalendarType"> {{segment.persianDepartureTime}}</span>

                                            </span><br/>
                                            <span class="ico icon-outbound-plane-small my-reservation-plain-icon">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </span><br/>
                                            <span class="arrival">
                                                <label translate="lbl_common_arrival">Arrival</label> - <span ng-if="!viewReservations.isPersianCalendarType">{{segment.arrivalDateTime}}</span><span ng-if="viewReservations.isPersianCalendarType">{{segment.persianArrivalTime}}</span>
                                            </span>
                                        </div>
                                    </div><!-- // Flight -->

                                </div>
                                <div class="mrt-heading-col col col-md-2 col-sm-1 col-xs-3">
                                    <label ng-if="!viewReservations.isPersianCalendarType">{{trip.bookingDate|date:'yyyy-MM-dd' }}</label><label ng-if="!viewReservations.isPersianCalendarType">{{segment.bookingDate}}</label>
                                </div>
                                <a href="" class="left-text pd-2 col-sm-2">
                                    <i class="fa fa-eye"></i> <span translate="lbl_common_bookingView" class="ng-scope">view</span>
                                </a>
                            </div>
                            <!-- // Row -->


                        </div><!-- // My Reservations Table -->
                        <!-- My Reservations Table for mobile -->
                        <div class="my-reservations-table xs-font-12 hidden-sm hidden-md hidden-lg">                               
                            <!-- Row : repeat -->
                            <div class="mrt-row mrt-border"ng-repeat="trip in viewReservations.reservationPageData" ng-click="viewReservations.redirectToReservation(trip.pnr, trip.contactLastName, trip.segmentDetails[0].departureDateTime)">                              
                                <div class="mrt-row mrt-heading mrt-border">

                                    <div class="mrt-heading-col col-xs-8 res-num" translate="lbl_confirm_reservNum">Reservation Number</div>                           
                                    <div class="mrt-heading-col col-xs-4 text-right res-num" translate="lbl_common_bookingDate">Booking Date</div>

                                    <div>
                                        <div class="mrt-heading-col col-xs-8">
                                            <label>{{ trip.pnr}}</label>
                                            <label ng-if="trip.pnrStatus == 'OHD'" style="font-weight: 400 !important; padding-left: 5px;" translate="lbl_dashboard_onhold" >(Onhold)</label>
                                            <label ng-if="trip.pnrStatus == 'CNX'" style="font-weight: 400 !important; padding-left: 5px;" translate="lbl_dashboard_cancelled" > (Cancelled)</label>
                                            <label ng-if="trip.pnrStatus == 'CNF'" style="font-weight: 400 !important; padding-left: 5px;" translate="lbl_dashboard_confirmed"> (Confirmed)</label>
                                        </div>
                                        <div class="mrt-heading-col col-xs-4 text-right">
                                            <label>{{trip.bookingDate|date:'yyyy-MM-dd' }}</label>
                                        </div>

                                    </div>                                    
                                </div>                                
                                <div class="mrt-heading">

                                    <div class="mrt-heading-col col-xs-8" translate="lbl_common_tripDetails">Trip Details</div>                                    

                                    <!-- Flight -->
                                    <div class="flight mrt-heading-col flight-last"  ng-repeat="segment in trip.segmentDetails" ng-class="{'confirmed': segment.status === 'CNF','canceled': segment.status === 'CNX','hold': segment.status === 'ONH'}">
                                        <h5 class="xs-font-12">{{segment.orignNDest.split(' / ')[0]}} to {{segment.orignNDest.split(' / ')[1]}} 
                                            <i ng-class="{'fa-check-circle': segment.status === 'CNF','fa-times-circle': segment.status === 'CNX','fa-ban': segment.status === 'ONH'}" class="fa"></i>
                                            <span style="color: #333333">{{segment.flightDesignator}}</span>
                                        </h5>                                            
                                        <div class="departure-arrival">
                                            <span class="departure">
                                                <label translate="lbl_common_departure">Departure</label> - <i>{{segment.departureDateTime| date: 'medium'}}</i>
                                            </span><br/>                                                
                                            <span class="arrival">
                                                <label translate="lbl_common_arrival">Arrival</label> - <i>{{segment.arrivalDateTime}}</i>
                                            </span>
                                        </div>
                                    </div><!-- // Flight -->
                                </div>                                                             
                            </div>
                            <!-- // Row -->


                        </div><!-- // My Reservations Table for mobile-->

                        <!-- View All Reservations -->
                        <!--<div class="all-reservations row">
                            <div class="col-sm-5">
                                <span class="button gray-btn">View All Reservations</span>
                            </div>
                        </div>--><!-- // View All Reservations -->
                    </div><!-- // My Reservations -->

                </div><!-- // Inside Content -->


            </div><!-- // Row -->

        </div><!-- // Content Body -->

    </section><!-- // Page Wrapper -->

</div>
