.fare-and-services-items-container {

  .fare-and-services-item {
    i.fa-check {
      padding-left: 5px;
      float: right;
    }

    i.fa-dollar {
      padding-left: 4px;
      padding-right: 2px;
      float: right;
    }
  }
}

.fare-and-services-wrapper {

  .fare-and-services-body {

    .fare-and-services-body-container {

      .fare-and-services-footer-table{

        .fare-and-services-footer-right-section{

          .fare-and-services-footer-right-section-select-text {
            padding-right: 8px;
            &.selected{
              padding-right: 15px;
            }
          }
          .fare-checkbox-container{
            position: relative;
            display: inline;
            i{
              &.fa-circle-thin{
                position: absolute;
                bottom: 1px;
                left: -2px;
              }
            }
            img{
              left: -5px;
            }
          }
        }
      }
      .fare-and-services-header {
        .fare-and-services-header-text, .fare-and-services-header-info-text {
          text-align: right;
        }
      }

      .fare-and-services-items-container {

        .fare-and-services-item {

          img.free-item {
            padding-right: 0px;
            padding-left: 10px;
          }

          img.dollar-item {
            padding-left: 15px;
            padding-right: 0px;
          }

          .fare-and-services-item-description {

            & a {
              float: left !important;
            }
          }
        }
      }

      .fare-and-services-footer-table {
        text-align: right;
        .fare-and-services-footer-left-section {
        }

        .fare-and-services-footer-right-section {
          float: left;

          label, .bundle-fare-label-text {
            float: left;
          }

          &.new-line {
            float: right;

            label, .bundle-fare-label-text {
              float: none;
            }
          }
        }
      }
    }
  }
}

.fare-and-services-footer-right-section-select-text {
  padding-left: 0;
  padding-right: 2px;
}

.baggage-rates-modal {
  .modal-content {

    .modal-header {
      display: flex;
      flex-direction: row-reverse;
      @media only screen and (max-width: 768px){
        p{
          padding-left: 17px !important;
        }
      }
      @media only screen and (min-width: 768px){
        p{
          padding-left: 0px !important;
        }
      }
      p{
        b{
          &:first-child{
            float:right;
            margin-left: 4px;
          }
          &:nth-child(2){
            margin-right: 4px;
            position: absolute;  
          }
        }
      }
      .close-btn {
        float: left;
        margin-left: 18px;

        i.fa-times {
          padding-left: 5px;
        }
      }
    }
    .modal-body{
      table{
        tbody{
          display:flex;
          flex-direction: column;
          tr{
            display: flex;
            flex-direction: row-reverse;
            text-align: right;
            td{
              &:first-child{
                min-width: 100px;
              }
            }
            .baggage-rates-price-text{
                padding-left: 0

            }
          }
        }
      }
    }
  }
}

a.first-item {
  padding-right: 5px !important;
}

a.last-item {
  padding-left: 5px !important;
}

.fare-and-services-footer-right-section {
  float: right;
}

.fare-and-services-flight-select-button-wrapper {
  .button, .a {
    i.fa-angle-right, i.fa-angle-down {
      float: left;
    }

    i.fa-angle-right {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
}

.fare-and-services-flight-mobile-select-button, .fare-and-services-flight-mobile-modify-select-button {
  i.fa-angle-down {
    float: left;
  }
}

.fare-and-services-flight-mobile-modify-select-button {

  position: relative;
  top:-5px;

  i.fa-angle-right {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@media only screen and (max-width: 767px) {
  .left-section > .flight-data-row .flight-price-lbl {
    &.fare-and-services-flight-mobile-select-button, &.fare-and-services-flight-mobile-modify-select-button {
      .flight-price-expand-icon {

        &.fa-angle-right {
          color: $white !important;
        }
        &.fa-angle-down {
          color: $fare-and-services-header-color !important;
        }
      }
    }
  }
}