.submit-link {
  float: right;
  font-size: 12px;
  font-weight: 600;
  height: 42px;
  line-height: 42px;
  color: #414042;


  &:visited{
    color: #414042;
  }

  font-family: 'Open Sans', 'FontAwesome', sans-serif;
  text-decoration: none !important;

  &:hover{
    color: $site_primary_color;
  }

  i{
    color: $site_primary_color;
  }
}

.cancel-reward{
  height: 24px;
  line-height: 25px
}

.RTL{
  .submit-link {
    float: left;
  }
}

input{
  border-radius: 0px !important;
  outline: none !important; 
}


h1,h2,h3,h4,h5,h6{
  margin: 0;
}

i{
  font-style: normal;
}

.form-group{
  position: relative;
}

.btn,.button,button{
  outline: none !important; 
  @include border-radius(0);
  font-weight: 600;
}

label {
  font-weight: 600;
}