 Body {
	background : #828282; 
	margin :0px 0px 0px 0px;
}
 .TabBGColor{
	background : #F4F4F4; 
	margin :0px 0px 0px 0px;
}
a
{
	text-decoration:none;
	}
.BannerTopLine{
	background-color:#AEAEAE;
}
.BannerBackGround{
	background-color:#ECF6DF;
}
.BannerBorderLeft
{
	background-image: url('../images/left_shadow_no_cache.gif');
	}
.BannerBorderRight
{
	background-image: url('../images/right_shadow_no_cache.gif');
	}	
.PageBorder
{
	background-color:#fafafa;
	}
.PageBackGround
{
	background-color:#ffffff;
	}
.PageBottomColor
{
	background-color:#A8A8A8;
	}	
.PageBottomShadow
{
	background-color:#9D9D9D;
	}	
	
font{
	font-family:tahoma;
	font-size:11px;
	left:auto;
	color: black; 
}
.fntOptMancls{
	font-family:tahoma;
	font-size:11px;
	left:auto;
	color: blue; 
}
.fntOptManopn{
	font-family:tahoma;
	font-size:11px;
	left:auto;
	color: #FFAB1A; 
}
.fntOptSyscls{
	font-family:tahoma;
	font-size:11px;
	left:auto;
	color: #CC00FF; 
}
.fntOptSysopn{
	font-family:tahoma;
	font-size:11px;
	left:auto;
	color: #A52A2A; 
}
.fntOptDef{
	font-family:tahoma;
	font-size:11px;
	left:auto;
	color: black; 
}
.fontPGInfo{
	left:auto;
	color: white; 
}	

.fntBold{
	font-weight:bold;
}
.fntDefault{
	left:auto;
	color: black; 
}
.fntTab{
	left:auto;
	color: black; 
}
.fntSTab{
	left:auto;
	color: black; 
	font-weight:bold;
}
.fntMenu{
	left:auto;
	color: black; 
	font-weight:bold
}
.fntMedium{
	font-size: 14px;
}

.fntDefaultWhite{
	color:white;
}
.Header{
	font-family:Arial;
	font-size:11pt;
	text-align:left;
	left:auto;
	text-transform: capitalize;
	color: black; 
	font-weight: bold;
}

.fntSmall{
	font-size:9px;
}
.fntLarge{
	font-size: 17px;
}
.fontCapitalize{
	text-transform: capitalize;
}
.SubLink{
	text-align:left;
	left:auto;
	color: #6E6E6E;
	font-weight: bold;
	cursor: text; 
}
.SubLinkSelected{
	background-color:#FFBBBB;
	left:auto;
	color: #925656; 
	font-weight: bold;
}
.FormHeadBackGround{
	background-color:#A8C382;
}
.FormBackGround{
	background-color:#ECECEC;
}
.FormHeader{
	left:auto;
	color: #FFFFFF;
	font-weight: bold;
}

select
{
	font-family: tahoma;
	font-size: 11px;
	height: 17px;
	color: black;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove; 
	BORDER-TOP: thin groove; 
	BORDER-LEFT: thin groove; 
	BORDER-BOTTOM: thin groove; 
	}
	
input
{
	font-family: tahoma;
	font-size: 11px;
	color: black;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove; 
	BORDER-TOP: thin groove; 
	BORDER-LEFT: thin groove; 
	BORDER-BOTTOM: thin groove; 
	}
textarea{
	font-family: tahoma;
	font-size: 11px;
	color: black;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove; 
	BORDER-TOP: thin groove; 
	BORDER-LEFT: thin groove; 
	BORDER-BOTTOM: thin groove; 
}
.InputBorder
{
	font-family: tahoma;
	font-size: 11px;
	color: black;
	height:19px;
	background-color: #FFFFFF;
	BORDER-RIGHT: thin groove; 
	BORDER-TOP: thin groove; 
	BORDER-LEFT: thin groove; 
	BORDER-BOTTOM: thin groove; 
	}		
.NoBorder
{
	font-family: tahoma;
	font-size: 11px;
	height: 19px;
	color: black;
	background-color: Transparent;
	border-color:Transparent;
	border-style:none;
	}		
.LineColor
{
	color:gray;
	}	
.Button
{
	border:1px solid #B2B2B2; font-family:tahoma;
	font-size:11px;
	text-align:center;
	text-transform: capitalize;
	font-weight: bold;
	color: Black;
	background-image: url('../images/AA111_no_cache.jpg');
	height: 23px;
	width:80px;
	cursor:hand
	}
.ButtonDisabled
{
	border:1px solid #B2B2B2; font-family:tahoma;
	font-size:11px;
	text-align:center;
	text-transform: capitalize;
	font-weight: bold;
	color: Gray;
	background-image: url('../images/AA111_no_cache.jpg');
	height: 23px;
	width:80px;
	cursor:hand
	}
.ButtonLong
{
	border:1px solid #B2B2B2; font-family:tahoma;
	font-size:11px;
	text-align:center;
	text-transform: capitalize;
	font-weight: bold;
	color: Black;
	background-image: url('../images/AA111_no_cache.jpg');
	height: 23px;
	cursor:hand
	}
.GridHeader
{
	background-color:#D1D1D1;
	height:20px;
	}	
.Grid
{
	background-color:#ECECEC;
	border-color:#D7E4ED;
}
.GridItems
{
	background-color:#FBFBFB;
	height:20px;
	}
.StatsBar2
{
	background-color:#A8A8A8;
	BORDER-RIGHT: thin inset; 
	BORDER-TOP: thin inset; 
	BORDER-LEFT: thin inset; 
	BORDER-BOTTOM: thin inset;
	height:20px;
	}		
.fntHilight{
	color:yellow;
}	
.mandatory{
	color:red;
}
.Error{
	color:red;
}
.StatsBar
{
	background-color:#ECECEC;
	BORDER-RIGHT: thin inset; 
	BORDER-TOP: thin inset; 
	BORDER-LEFT: thin inset; 
	BORDER-BOTTOM: thin inset;
	height:20px;
	}		
.StatsBarDef
{
	background-color:#A8A8A8;
	border: none;
	height:20px;
	}			
	
/* menu Styles */

.menuTopBar {
  background-color: transparent;
  border: 2px thin;
  border-color: #FFFFFF #808080 #808080 #FFFFFF;
  padding: 1px 4px;
}
	
.menuBar {
  background-color: #DBDBDB;
  border: 2px solid;
  border-color: #FFFFFF #808080 #808080 #FFFFFF;
  padding: 1px 4px;
}

.menuPad {
  background-color: #DBDBDB;
  border: 2px solid;
  border-color: #FFFFFF #808080 #808080 #FFFFFF;
  padding:4px;
}

.menuItem {
  background-color: transparent;
  border: 1px solid #DBDBDB;
  color: #000000;
  cursor: default;
  font-weight: bold;
  padding: 2px 6px 2px 6px;
}

.menuTopItem {
  background-color: transparent;
  border: 1px solid;
  border-top-color: #ECECEC;
  border-left-color:#ECECEC;
  border-right-color:#ECECEC; 
  border-bottom-color: #B7B7B7;
  color: #000000;
  cursor: default;
  font-weight: bold;
  padding: 2px 6px 2px 6px;
}

.menuItemOn {
  background-color: transparent;
  border: 1px solid #DBDBDB;
  color: #000000;
  cursor: default;
  padding: 2px 6px 2px 6px;
  border-color: #FFFFFF #808080 #808080 #FFFFFF;
}
.menuItemDown {
  background-color: transparent;
  border: 1px solid #DBDBDB;
  color: #000000;
  cursor: default;
  padding: 2px 6px 2px 6px;
  margin-top:1px; margin-left:1px;
  background-color: transparent;
  border-color: #704020 #FFFFFF #FFFFFF #704020;
}

.menuItemSub {
  background-color: transparent;
  border: 1px solid #DBDBDB;
  color: #000000;
  cursor: default;
  font-weight: bold;
  padding: 2px 6px 2px 6px;
  border: 1px solid #808080;
  background-color: #808080;
}

.holderSpace {
  border: 1px solid #DBDBDB;
  color: #DBDBDB;
  font-weight: bold;
  padding: 2px 6px 2px 6px;
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}

.menuFont {
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}
.menuFontOff {
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #000000;
}
.menuFontOn {
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #FFFFFF;
}

.menuFontOffBold {
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #000000;
}
.menuFontOnBold {
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #000000;
}
.menuInfo 
{
	padding: 2px 6px 2px 6px; 
	}

.tagOff 
{
	width:8px; 
	height:12px; 
	float:right; 
	background:url('../images/AA124_no_cache.gif') no-repeat bottom; 
	}
.tagOn 
{
	width:8px; 
	height:12px; 
	float:right; 
	background:url('../images/AA125_no_cache.gif') no-repeat bottom; 
	}

.separatorT 
{
	background-color:#808080; height:1px; margin-top:3px; 
	}
.separatorB 
{
	background-color:#FFFFFF; height:1px; margin-bottom:3px; 
	}
.fltStatus01{
	background-color: #ECECEC;
}
.fltStatus02{
	background-color: gray;
}
.fltStatus03{
	background-color: red;
}
.fltStatus04{
	background-color: green;
}
.bcStatus01{
	background-color: blue;
}
.bcStatus02{
	background-color: #FFAB1A;
}
.bcStatus03{
	background-color: #CC00FF;
}
.bcStatus04{
	background-color: #A52A2A;
}
.UCase{
	text-transform: uppercase;
}
.rightText{
	text-align: right;
}
.tabBGColor{
	background-color: #F3F3F3;
}
.overlay{
		background-color:#5A5C63;
		opacity: .2;
		filter: alpha(opacity=30);
		border:1px solid #F3F376;
}

