<div class="content-wrapper voucher-mrgin"
     ng-controller="voucherThankController as vtContrl">
    <div class="row title-row">
        <div class="col-sm-12 col-xs-12">
            <div class="row voucher-title gift-thnk">
                <h1 class="page-title" translate="title_gift_voucher">Gift
                    Voucher</h1>
                <h4>
                    <i class="number-green glyphicon glyphicon-ok-sign"></i> <span
                        translate="lbl_voucher_gift_thank_summary">Thank you for
						choosing Air Arabia</span>
                </h4>

            </div>
        </div>
    </div>
    <div class="customer_data voucher-title row">
        <h3 translate="lbl_common_customerDetails">Customer Details</h3>
        <hr class="hr-color-chng">
        <div class="col-sm-6 col-xs-12 customer_data_element xs-cname">
            <span translate="lbl_voucher_customerName">Customer Name</span>
            <span class="custData hidden-xs">{{vtContrl.resData[0].paxFirstName}}&nbsp;{{vtContrl.resData[0].paxLastName}}</span>
        </div>
        <div class="col-xs-12 customer_data_element hidden-sm hidden-md hidden-lg truncate">
            <span class="custData ">{{vtContrl.resData[0].paxFirstName}}&nbsp;{{vtContrl.resData[0].paxLastName}}</span>
        </div>
        <div class="col-sm-6 col-xs-12 customer_data_element truncate">
            <span translate="lbl_common_emailAddress">Email Address</span>
            <span class="custData hidden-xs">{{vtContrl.resData[0].email}}</span>
        </div>
        <div class="col-sm-6 col-xs-12 customer_data_element hidden-sm hidden-md hidden-lg ma-bt-3 truncate">
            <span class="custData">{{vtContrl.resData[0].email}}</span>
        </div>
        <div class="col-sm-12 col-xs-12 remark-sec customer_data_element">
            <span translate="lbl_common_remarks">Remarks</span>

            <p class="hidden-xs">{{vtContrl.resData[0].remarks}}</p>
        </div>
        <div class="col-sm-12 col-xs-12 remark-sec customer_data_element hidden-sm hidden-md hidden-lg">
            <p>{{vtContrl.resData[0].remarks}}</p>
        </div>

        <div class="customer_data voucher-title voucher_tbl row hidden-xs">
            <div class="col-sm-12">
                <h3 translate="title_voucher_summary">Voucher Summary</h3>
                <hr class="hr-color-chng">

                <table class="table">
                    <thead>
                    <tr>
                        <th translate="lbl_voucher_id">Voucher ID</th>
                        <th translate="lbl_voucher_amount">Amount</th>
                        <th translate="lbl_voucher_valid_from">Valid from</th>
                        <th id="valid-to" translate="lbl_voucher_valid_to">Valid to</th>
                        <th class="pull-right"><span
                                translate="lbl_select_print_email">Print/Email</span> <label
                                class="container-chkbox"
                                style="display: inline-block; vertical-align: middle;">
                            <input type="checkbox" ng-model="vtContrl.selectAll"
                                   ng-click="vtContrl.selectAllCheck()">
                            <span class="checkmark"></span>
                        </label></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="voucher in vtContrl.resData">
                        <td>{{voucher.voucherId}}</td>
                        <td>{{voucher.amountInLocal}} {{voucher.currencyCode}}</td>
                        <td>{{voucher.validFrom}}</td>
                        <td>{{voucher.validTo}}</td>
                        <td><label class="container-chkbox pull-right"> <input
                                type="checkbox" ng-checked="voucher.selected"
                                ng-click="vtContrl.vocherSelected(voucher)"> <span
                                class="checkmark"></span>
                        </label></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 summary-action-menu">
                <div class="col col-sm-2 pull-left align-left">
                    <a class="button red-btn" ng-click="vtContrl.finish()"
                       translate="lbl_common_finish">Finish</a>
                </div>
                <div class="col col-sm-2 pull-right">
                    <button class="button gray-btn" ng-click="vtContrl.print()"
                            translate="lbl_common_print">Print
                    </button>
                </div>
                <div class="col col-sm-2 pull-right">
                    <button class="button gray-btn" ng-click="vtContrl.sendEmail()"
                            translate="lbl_voucher_email">Email
                    </button>
                </div>
            </div>
        </div>
        <div
                class="customer_data voucher-title voucher_tbl row hidden-sm hidden-md hidden-lg">
            <div class="col-xs-12 pd-0">
                <h3 translate="title_voucher_summary">Voucher Summary</h3>
                <!-- 				<hr class="hr-color-chng"> -->

                <table class="table">
                    <thead>
                    <tr>
                        <th class=""><i
                                class="number-green glyphicon glyphicon-ok-sign"></i></th>
                        <th translate="lbl_voucher_id">Voucher ID</th>
                        <th translate="lbl_voucher_amount">Amount</th>
                        <th translate="lbl_voucher_valid_from">Valid from</th>
                        <!-- 							<th id="valid-to" translate="lbl_voucher_valid_to">Valid to</th> -->
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="voucherID in vtContrl.resData">
                        <td class=""><i
                                class="number-green glyphicon glyphicon-ok-sign"></i></td>
                        <td class="voucher-table-padding">{{voucherID.voucherId}}</td>
                        <td class="voucher-table-padding">{{voucherID.amountInLocal}} {{voucherID.currencyCode}}</td>
                        <td class="voucher-table-padding">{{voucherID.validFrom}}-{{voucherID.validTo}}</td>
                        <!-- <td><label class="container-chkbox pull-right"> <input
                                type="checkbox" ng-checked="vtContrl.checkBoxIndividual"
                                ng-click="vtContrl.vocherSelected(voucherID)"> <span
                                class="checkmark"></span>
                        </label></td> -->
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row hidden-xs">
                <div class="col col-sm-2 pull-left">
                    <a class="button red-btn" ng-click="vtContrl.finish()"
                       translate="lbl_common_finish">Finish</a>
                </div>
                <div class="col col-sm-2 pull-right">
                    <button class="button gray-btn" ng-click="vtContrl.print()"
                            translate="lbl_common_print">Print
                    </button>
                </div>
                <div class="col col-sm-2 pull-right">
                    <button class="button gray-btn" ng-click="vtContrl.sendEmail()"
                            translate="lbl_voucher_email">Email
                    </button>
                </div>
            </div>
            <div class="row hidden-sm hidden-md hidden-lg">
                <div class="col col-xs-12">
                    <div class="col col-xs-5 pd-0 pull-left">
                        <button class="button gray-btn" ng-click="vtContrl.sendEmail()"
                                translate="lbl_voucher_email">Email
                        </button>
                    </div>
                    <div class="col col-xs-5 pd-0 pull-right">
                        <button class="button gray-btn" ng-click="vtContrl.print()"
                                translate="lbl_common_print">Print
                        </button>
                    </div>
                </div>
                <div class="col col-xs-12 ma-tp-4">
                    <a class="button red-btn" ng-click="vtContrl.finish()"
                       translate="lbl_common_finish">Finish</a>
                </div>

            </div>
        </div>
    </div>
</div>