<div class="content-wrapper ma-tp-4"
	ng-controller="voucherController as vouContrl">
	<div class="row" ng-if="!deviceType.isMobileDevice">
		<div class="col-sm-8 pd-r-0" ng-if="vouContrl.showVoucherDetail">
			<div class="row voucher-title">
				<div class="col-sm-8">
					<h1 class="page-title" translate="title_gift_voucher">Gift Voucher</h1>
				</div>

			</div>
			<div class="show-no-vouchers-msg">
				<h1 ng-if="vouContrl.isNoVouchersAvailable"
					translate="lbl_no_vouchers_available_msg" style="color: red; font-size: 15px">No vouchers are available</h1>
			</div>
			<div class="voucher-bnnr"
				ng-repeat="voucherDtl in vouContrl.voucherDetail">

				<img src="images/voucher/voucher-banner-2.png" alt="banner-Img" />
				<div class="main-logo-voucher">
					<img src="images/main_logo.png" alt="Air Arabia">
				</div>
				<div class="col-sm-12 voucher-content-pos">
					<div class="pull-left Voucher-banner-currency">
						<span class="currency-text ">{{voucherDtl.currencyCode}}</span><br>
						{{voucherDtl.amountInRequiredFormat}}
					</div>
					<div class="pull-right voucher-content">
						<label>{{voucherDtl.voucherName}}</label>
							<p class="banner-content">{{voucherDtl.remarks}}</p>
							<strong>Expires on {{voucherDtl.expiry | date}}</strong>
							<button translate="lbl_common_addtocart"
								data-indexValue="{{$index}}" class="increment">ADD TO
								CART</button>
					</div>
				</div>
			</div>

		</div>
		<div class="col-sm-8" ng-if="!vouContrl.showVoucherDetail" id="voucher-contact-panel">
			<div class="heading customer_title">
				<span class="name" translate="lbl_common_customerDetails">Customer
					Details </span> <i class="info"> <span
					translate="lbl_passenger_mandatory">Mandatory Fields</span> <sup
					class="red"> *</sup>
				</i>
			</div>
			<p translate="lbl_summary_voucher">Please update your personal
				details &lt; content to be updated after Air Arabia approves &gt;</p>
			<form class="voucher_cust_detail no-gutters" name="contactForm"
				novalidate isa-validator-type="giftVoucher"
				isa-validator-rules="{{vouContrl.contactValidation}}"
				autocomplete="off">
				<div class="col-sm-12 left-element">
					<label> <span translate="lbl_common_firstName">First
							Name</span> <sup class="red"> *</sup>
					</label>
					<div>
						<div class="ibe-typeahead">
							<div isa-validator>
								<input type="text" class="form-control" name="firstName"
									ng-model="vouContrl.contact.firstName">
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-12 input-padding">
					<label> <span translate="lbl_common_lastName">Last
							Name</span> <sup class="red"> *</sup>
					</label>
					<div>
						<div class="ibe-typeahead">
							<div isa-validator>
								<input type="text" class="form-control" name="lastName"
									ng-model="vouContrl.contact.lastName">
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 left-element">
					<label> <span translate="lbl_common_emailAddress">Email
							Address</span> <sup class="red"> *</sup>
					</label>
					<div>
						<div class="ibe-typeahead">
							<div isa-validator>
								<input type="email" class="form-control" name="email"
									ng-model="vouContrl.contact.emailAddress">
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 input-padding">
					<label class="country-code"> <span translate="lbl_passenger_countryCode">Country
							Code</span> <sup class="red"> *</sup>
					</label>
					<label class="mob-no"> <span translate="lbl_common_mobile_no">Mobile
							Number</span> <sup class="red"> *</sup>
					</label>
					<div>
                        <isa-phone-number field-name="vouContrl.nameTravellerMobileNumber"
                              label-visible="false"
                              phone-number="vouContrl.contact.mobileNumber"
                              country-list="vouContrl.countryList"
                              configs="vouContrl.phoneNumberConfigs"
                              validate-with-list="!passengerCtrl.isValidCareerFor('JCA')">
						</isa-phone-number>
					</div>
				</div>
				<div class="col-sm-12 remarks">
					<label> <span translate="lbl_common_remarks">Remarks</span>

					</label>
					<div>
						<textarea class="txt-area" placeholder="{{'lbl_common_remarks_msg'| translate}}" ng-model="vouContrl.contact.remarks"
							maxlength="500"></textarea>
						<span class="pull-right" translate="lbl_common_remarks_length" ng-if="vouContrl.contact.remarks.length==0 || vouContrl.contact.remarks.length== undefined">0/500</span><span class="pull-right" ng-if="vouContrl.contact.remarks.length > 0">{{vouContrl.contact.remarks.length}}/500</span>
					</div>
				</div>
				<div class="select-payment-method waypoint_PaymentOption ma-tp-5">
					<div class="heading customer_title">
						<span class="name" translate="lbl_common_checkout">Checkout
						</span>
					</div>
					<div>
						<span class="pull-left" translate="msg_payment_paymentMethod">Please
							select your payment method</span> <span class="pull-right"> <span
							translate="lbl_passenger_mandatory">Mandatory Fields </span> <i
							class="red"> *</i>
						</span>
					</div>
				</div>
				<div class="payment-options voucher-options">

					<span class="hidden-xs radio payment-logo"
						ng-repeat="payOption in vouContrl.paymentOption"> <input
						name="payment_method" type="radio"
						id="payment_{{payOption.cardName}}_{{payOption.cardType}}_{{payOption.paymentGateway.gatewayId}}"
						ng-model="vouContrl.selectedPaymentOptionFlag"
						value="{{payOption.cardType}}_{{payOption.paymentGateway.gatewayId}}_{{payOption.cssClass}}"
						ng-click="vouContrl.setPayOption(payOption.cssClass)"> 
						<label
						for="payment_{{payOption.cardName}}_{{payOption.cardType}}_{{payOption.paymentGateway.gatewayId}}">
							<i class="ico">
								<div class="">
									<img
										ng-src="images/payment-logos/{{payOption.cssClass.toLowerCase()}}.jpg"
										on-error />
									<div class="text" title="{{payOption.displayName}}"
										style="line-height: 16px; padding-left: 25px; width: 160px">
										{{payOption.displayName}}</div>
								</div>
						</i>
					</label>					
				</span>

					<div class="row hidden-md hidden-sm hidden-lg">
						<span
							class="pay-optn-xs optn-{{vouContrl.paymentOption.length}}-pay">
							<span style="height: 100px; min-width: 100px; max-width: 100px"
							class="pull-left col-xs-2 radio payment-logo" id="payment-logo"
							ng-repeat="payOption in vouContrl.paymentOption"> <input
								name="payment_method_xs" type="radio"
								id="payment_{{payOption.cardName}}_{{payOption.cardType}}_{{payOption.paymentGateway.gatewayId}}_xs"
								ng-model="vouContrl.selectedPaymentOptionFlag"
								value="{{payOption.cardType}}_{{payOption.paymentGateway.gatewayId}}_{{payOption.cssClass}}"
								ng-click="vouContrl.setPayOption(payOption.cssClass)"> <label
								style="width: 100px; padding-top: 0px !important;"
								for="payment_{{payOption.cardName}}_{{payOption.cardType}}_{{payOption.paymentGateway.gatewayId}}_xs">
									<i class="ico">
									<div style="width: 80px">
										<img width="47"
											ng-src="images/payment-logos/{{payOption.cssClass.toLowerCase()}}.jpg"
											on-error />
										<div class="xs-pay-mode-txt text-left text"
											title="{{payOption.displayName}}"
											style="width: 110px; font-size: 9px; position: relative; top: -40px;">
											{{payOption.displayName}}</div>
									</div>
								</i>
						</span>
						</span>
					</div>
				</div>
				<div class="row voucher-expire-row">
					<div class="col-sm-12" id="voucher-cardinfo-panel">
						<section class="master-card-details" 
								 ng-if="vouContrl.selectedPaymentOption.paymentGateway.brokerType !== 'external' &&
                                                (vouContrl.selectedPaymentOption.cssClass === 'VISA' || vouContrl.selectedPaymentOption.cssClass === 'MASTER')">
							<div class="row voucher-expire-row">
								<div class="col-sm-12">
									<label> <span> <span
											translate="lbl_payment_cardNum">Card Number</span> <i
											class="red"> *</i>
									</span>
									</label>
										<div class="row ma-bt-4 ibe-typeahead" ng-if="vouContrl.selectedPaymentOption.cssClass === 'VISA'">
											<div class="col-sm-12" isa-validator>
												<input type="text"
                                                    ng-pattern="vouContrl.visaCardValidationPattern"
													placeholder="{{'lbl_payment_cardNoPlaceholder' | translate}}"
													class="form-control" name="visaNumber"
													ng-model="vouContrl.cardInfo.cardNo" maxlength="16">
											</div>
										</div>

										<div class="row ma-bt-4 ibe-typeahead" ng-if="vouContrl.selectedPaymentOption.cssClass === 'MASTER'">
											<div class="col-sm-12" isa-validator>
												<input type="text"
                                                    ng-pattern="vouContrl.masterCardValidationPattern"
													placeholder="{{'lbl_payment_cardNoPlaceholder' | translate}}"
													class="form-control" name="masterNumber"
													ng-model="vouContrl.cardInfo.cardNo" maxlength="16">
											</div>
										</div>
									
									<div class="row expire-row">
												<div class="col-md-6 col-sm-6 col-xs-12 label-card">
														<label>
													<span
													translate="lbl_dashboard_addNewCard_card_expiry_date_header">
													Expiration date 
													</span>
													<i class="red"> *</i>
													</label>
												</div>
												<div class="col-md-6 col-sm-6 hidden-xs label-card label-card-sec">
													<label for="">
													<span 
														translate="lbl_payment_secCode">
														Security Code 
													</span>
													<i class="red"> *</i>
												</label>
												</div>
												
										<div class="col-sm-3 expire-group ibe-typeahead">
											<div isa-validator>
												<span class="fa expDtaeYear fa-angle-down"></span> 
												<select class="form-control voucher_select"
													ng-click="setExpireDate()"
													placeholder="{{'lbl_payment_cardNoExpDate' | translate}}"
													ng-model="vouContrl.expDateMonth"
													ng-options="month as month for month in vouContrl.expDate.month"
													name="expDateMonth">
													<option value="" disabled selected class="select-disable">MM</option>
												</select>
												
											</div>
										</div>
										<span class="date-dividier">/</span> 
										<div class="col-sm-3 expire-group ibe-typeahead">
											<div isa-validator>
													<span class="fa fa-angle-down"></span>
													<select
													class="form-control voucher_select"
													ng-click="setExpireDate()"
													placeholder="{{'lbl_payment_cardNoExpYear' | translate}}"
													ng-model="vouContrl.expDateYear"
													ng-options="year as year for year in vouContrl.expDate.year"
													name="expDateYear">
													<option value="" disabled selected class="select-disable">YYYY</option>
												</select>
												
											</div>
										</div>
										<div class="col-sm-6 ibe-typeahead">
											<div class="cvv" isa-validator>
												<input type="password" 
													placeholder="CVV2 / CVC2"
													class="form-control" name="cardCvv"
													ng-model="vouContrl.cardInfo.cardCvv" maxlength="3">
												<span class="cvv-desc">
													<h5 translate="title_payment_cv">CVV2
														/ CVC2</h5>
													<p translate="msg_payment_cardDetails">The last 3
														digits displayed on the back of your card</p>
												</span>
											</div>

										</div>
									</div>
									<label> <span> <span
											translate="lbl_payment_holderName">Cardholder Name</span> <i
											class="red"> *</i>
									
									</span>
								</label>
										<div class="row ibe-typeahead">
											<div class="col-sm-12" isa-validator>
												<input type="text"
													placeholder="{{'lbl_payment_cardHolderPlaceholder' | translate}}"
													class="form-control"
													ng-model="vouContrl.cardInfo.cardHoldersName"
													name="cardHoldersName">
											</div>

										</div>
									
								</div>
							</div>
						</section>


						<!-- MTC Payment Gateway Details -->
						<section class="cash-payment-details"
								 ng-if="vouContrl.selectedPaymentOption.paymentGateway.brokerType === 'external' &&
                                                (vouContrl.selectedPaymentOption.cssClass === 'MTC' || vouContrl.selectedPaymentOption.cssClass === 'CANAUX1_CANAUX2')">
							<p translate="msg_payment_mtcDetailHeader" class="strong">
								You will be redirected to the secured payment page to complete the transaction. </p>
														<p translate="msg_payment_mtcDetails">
															After you confirm the payment, you will return to this page and will be provided with your unique flight reservation number. The transaction process may take a few minutes depending on various factors like the time of day and your internet connection speed. Please be patient during the process.
							</p>
						</section><!-- // External Payment Gateway Details -->


						<!-- External Payment Gateway Details -->
						<section class="cash-payment-details" ng-if="vouContrl.selectedPaymentOption.paymentGateway.brokerType === 'external' &&
                                                (vouContrl.selectedPaymentOption.cssClass === 'KNET' || vouContrl.selectedPaymentOption.cssClass === 'VISA' ||
                                                        vouContrl.selectedPaymentOption.cssClass === 'MASTER' || vouContrl.selectedPaymentOption.cssClass === 'PAYFORT_PAYHOME' ||
                                                        vouContrl.selectedPaymentOption.cssClass === 'TAP_GOSELL_MASTERCARD_VISA_LOGO')">
							<p translate="msg_payment_gateway">Redirecting to an external payment gateway, Do not perform "Close the browser", "Refresh", "Back" & "Next" actions, until the payment success.</p>
						</section><!-- // External Payment Gateway Details -->

						<!-- External Payment Gateway Details -->
						<section class="cash-payment-details" ng-if="vouContrl.selectedPaymentOption.paymentGateway.brokerType === 'external' &&
                         (vouContrl.selectedPaymentOption.cssClass === 'PAY_FORT_ONLINE_SADAD' ||
                         vouContrl.selectedPaymentOption.cssClass === 'PAY_FORT_ONLINE_KNET')">
							<p translate="msg_payFort_pgw">Upon confirmation, you will be redirected to external payment gateway page. Please do not close/refresh the browser or click on Back or Next buttons until payment process is complete.</p>
						</section>

						<section class="cash-payment-details" ng-if="vouContrl.selectedPaymentOption.translatedMessage &&
                         (vouContrl.selectedPaymentOption.cssClass === 'PAY_FORT_ONLINE_INSTALLMENTS')">
							<div ng-bind-html="vouContrl.selectedPaymentOption.translatedMessage"></div>
						</section>


						<!-- Fawry payment Option -->
						<section class="cash-payment-details" ng-if="vouContrl.selectedPaymentOption.cssClass === 'PAY_FORT_OFFLINE_FAWRY'">
							<p>Please use the Fawry Reference Number to do the payment. </p>
						</section>

						<!-- External Payment Gateway Details -->
						<section class="cash-payment-details" ng-if="vouContrl.selectedPaymentOption.paymentGateway.brokerType === 'external' &&
                        (vouContrl.selectedPaymentOption.cssClass === 'QIWI' || vouContrl.selectedPaymentOption.cssClass === 'QIWI_OFFLINE')">
							<p translate="msg_payment_required">Please fill the required field to continue the payment</p>
							<div class="row">
								<label class="input-sec col-md-6 col-sm-6 col-xs-6">
                                    <span>
                                        <span translate="lbl_payment_contactNum">Contact Number</span>
                                        <sup class="red"> *</sup>
                                    </span>
									<input type="text" ng-model="vouContrl.additionalDetails.param2"
										   placeholder="Contact Number"
										   class="form-control">
								</label>
							</div>
						</section><!-- // External Payment Gateway Details -->

						<!--FORM IS NOT REQUIRED IF CONTACT EMAIL AND CONATACT NUMBER AND CONTACT EMAIL IS NOT MANDATORY-->
						<!--BZ SOME PAYMENT GATEWAYS HAS ABOVE AS MANDATORY FIELDS-->

						<section>

							<div class="col-sm-12" id="checkout-panel">
								<button type="submit" id="voucherCheckout"
										ng-click="vouContrl.onCheckout(contactForm,vouContrl.cardInfo,vouContrl.contact)"
										ng-if="!vouContrl.showVoucherDetail"
										class="btn red-btn btn-lg btn-rg col-sm-3 ma-tp-5"
										translate="lbl_common_checkout">Checkout</button>
								<button type="submit" ng-click="vouContrl.onClear()"
										ng-if="!vouContrl.showVoucherDetail &&
										(vouContrl.selectedPaymentOption.paymentGateway.brokerType !== 'external' &&
                                                (vouContrl.selectedPaymentOption.cssClass === 'VISA' || vouContrl.selectedPaymentOption.cssClass === 'MASTER'))"
										class="btn gray-btn btn-lg btn-rg col-sm-3 ma-tp-5"
										translate="lbl_common_clear">Clear</button>
							</div>
						</section>
					</div>
				</div>

			</form>
		</div>
		<div class="col-sm-4">
			<div class="button-block ma-bt-4 clearfix mx-3"
				ng-if="vouContrl.showVoucherDetail">
				<a ng-click="vouContrl.onContinueToCustomert()"
				    ng-disabled="vouContrl.isNoVouchersAvailable"
					id="btn-proceed-to-customer"
					class="btn red-btn btn-sm col-sm-4 btn-proceed-to-customer"
					translate="lbl_summary_drawer_customerDetails">Continue to
					Customer Details</a>
			</div>
			<div class="button-block ma-bt-4 clearfix mx-3"
				ng-if="!vouContrl.showVoucherDetail">
				<a id="btn-proceed-to-customer"
					class="btn red-btn btn-sm col-sm-4 btn-proceed-to-customer voucherissue"
					translate="lbl_common_checkout">Checkout</a>
			</div>
			<div class="cart-section clearfix">

				<div class="col-sm-12 cart-header">
					<span class="pull-left">Cart</span>
				</div>
				<div class="cart-content col-sm-12" ng-class="vouContrl.showCreditCardFee ?	'with-admin-fee-label' : ''">
					<ul>

						<li class="col-sm-12"
							ng-repeat="vouDtl in vouContrl.voucherDetail">
							<div class="col-sm-12">
								<label class="voucher-type">{{vouDtl.voucherName}}</label>
							</div>
							<div class="col-sm-12">
								<div class="pull-left">
									<counter value="vouDtl.voucherQuantity" id="counter-{{$index}}"></counter>
								</div>
								<div class="pull-right Voucher-currency">
									<span class="currency-text">{{vouContrl.baseCurrency}}</span>
									{{(vouDtl.voucherQuantity > 0 ? vouDtl.voucherQuantity * vouDtl.amount : 0) | currency : ''}}
								</div>
							</div>

						</li>

						<li ng-if="vouContrl.showCreditCardFee" class="col-sm-12" style="padding-bottom:2px">
							<div class="col-sm-12">
								<div class="pull-left">
									<div class="Voucher-currency" translate="lbl_confirm_adminfee">Admin Fee</div>
								</div>
								<div class="pull-right Voucher-currency">
									<span class="currency currency-text"></span>
						        	<span isa-connector="{{vouContrl.creditCardFee}}"
									  decimal-points="2"
									  with-decimal="true">{{vouContrl.creditCardFee}}</span></span>
								</div>
							</div>
						</li>

					</ul>
				</div>
				<div class="col-sm-12 cart-header">
					<span class="pull-left" translate="lbl_common_total" translate-default="Total">Total</span><span
						class="pull-right">
					        <span class="currency currency-text"></span>
						    <span isa-connector="{{vouContrl.getTotal()}}"
							  decimal-points="2"
							  with-decimal="true">{{vouContrl.getTotal()}}</span>
				</span>
				</div>

				<div ng-click="vouContrl.onContinueToCustomert()"
					ng-if="vouContrl.showVoucherDetail" ng-disabled="vouContrl.isNoVouchersAvailable"
					class="btn red-btn btn-sm col-sm-4 ma-tp-5 btn-proceed-to-customer"
					translate="lbl_summary_drawer_customerDetails">Continue to
					Customer Details</div>
				<button type="submit" ng-if="!vouContrl.showVoucherDetail"
					class="btn red-btn btn-sm col-sm-4 ma-tp-4 button-block-btm btn-proceed-to-customer voucherissue"
					translate="lbl_common_checkout">Checkout</button>

			</div>
		</div>
	</div>
	<div class="row" ng-if="deviceType.isMobileDevice">
		<div class="col-xs-12" ng-if="vouContrl.showVoucherDetail">
			<div class="row voucher-title">
				<div class="col-xs-12">
					<h1 class="page-title" translate="title_gift_voucher"><span>Gift
						Voucher</span></h1>
				</div>

			</div>
			<div class="show-no-vouchers-msg">
				<h1 ng-if="vouContrl.isNoVouchersAvailable"
					translate="lbl_no_vouchers_available_msg" style="color: red; font-size: 1.2rem">No vouchers are available</h1>
			</div>
			<div class="voucher-bnnr"
				ng-repeat="voucherDtl in vouContrl.voucherDetail">

				<img src="images/voucher/voucher-banner-2.png" alt="banner-Img" />
				<div class="main-logo-voucher">
					<img src="images/main_logo.png" alt="Air Arabia">
				</div>
				<div class="col-xs-12 voucher-content-pos">
					<div class="pull-left Voucher-banner-currency">
						<span class="currency-text ">{{voucherDtl.currencyCode}}&nbsp;</span>{{voucherDtl.amountInRequiredFormat}}
					</div>
					<div class="pull-right voucher-content">
						<label>{{voucherDtl.voucherName}}</label>
						<p class="banner-content">{{voucherDtl.remarks}}</p>
						<strong>Expires on {{voucherDtl.expiry | date}}</strong>
						<button translate="lbl_common_addtocart"
							data-indexValue="{{$index}}" class="increment">ADD TO
							CART</button>
					</div>
				</div>
			</div>

		</div>
		<div class="col-xs-12" ng-if="!vouContrl.showVoucherDetail" id="voucher-contact-panel">
			<div class="heading customer_title">
				<span class="name" translate="lbl_common_customerDetails">Customer
					Details </span> <i class="info"> <span
					translate="lbl_passenger_mandatory">Mandatory Fields</span> <sup
					class="red"> *</sup>
				</i>
			</div>
			<p translate="lbl_summary_voucher">Please update your personal
				details &lt; content to be updated after Air Arabia approves &gt;</p>
			<form class="voucher_cust_detail no-gutters" name="contactForm"
				novalidate 
				isa-validator-type="giftVoucher"
				isa-validator-rules="{{vouContrl.contactValidation}}"
				ng-submit="vouContrl.onCheckout(contactForm,vouContrl.cardInfo,vouContrl.contact)"
				autocomplete="off">
				<div class="col-xs-12 pd-0">
					<label> <span translate="lbl_common_firstName">First
							Name</span> <sup class="red"> *</sup>
					</label>
					<div>
						<div class="ibe-typeahead">
							<div isa-validator>
								<input type="text" class="form-control" name="firstName"
									ng-model="vouContrl.contact.firstName" ng-required="true">
							</div>
						</div>
					</div>
				</div>

				<div class="col-xs-12 pd-0">
					<label> <span translate="lbl_common_lastName">Last
							Name</span> <sup class="red"> *</sup>
					</label>
					<div>
						<div class="ibe-typeahead">
							<div isa-validator>
								<input type="text" class="form-control" name="lastName"
									ng-model="vouContrl.contact.lastName" ng-required="true">
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 pd-0">
					<label> <span translate="lbl_common_emailAddress">Email
							Address</span> <sup class="red"> *</sup>
					</label>
					<div>
						<div class="ibe-typeahead">
							<div isa-validator>
								<input type="email" class="form-control" name="email"
									ng-model="vouContrl.contact.emailAddress" ng-required="true">
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 pd-0">
					<label> <span translate="lbl_passenger_countryCode">Country
							Code</span> <sup class="red"> *</sup>
					</label>
					<label class="mob-no"> <span translate="lbl_common_mobile_no">Mobile
							Number</span> <sup class="red"> *</sup>
					</label>
					<div>
						<isa-phone-number field-name="vouContrl.nameTravellerMobileNumber"
                              label-visible="false"
                              phone-number="vouContrl.contact.mobileNumber"
                              country-list="vouContrl.countryList"
                              configs="vouContrl.phoneNumberConfigs"
                              uib-type-ahead="country.code as country.name for country in countryList | filter:{name:$viewValue}:startsWith"
                              validate-with-list="!passengerCtrl.isValidCareerFor('JCA')">
						</isa-phone-number>
					</div>
				</div>
				<div class="col-xs-12 pd-0">
					<label> <span translate="lbl_common_remarks">Remarks</span>

					</label>
					<div>
						<textarea  class="txt-area voucher_txtarea" placeholder="{{'lbl_common_remarks_msg'| translate}}" ng-model="vouContrl.contact.remarks"
							maxlength="500"></textarea>
						<span class="pull-right" >{{vouContrl.contact.remarks.length}}/500</span>
					</div>
				</div>
			<div class="col-xs-12 pd-0" >
			<div class="button-block ma-bt-4 clearfix mx-3"
				ng-if="vouContrl.showVoucherDetail">
			</div>
			<div class="cart-section clearfix ">

				<div class="col-xs-12 cart-header">
					<span class="pull-left">Cart</span> <span class="pull-right">
				</div>
				<div class="cart-content col-xs-12" ng-class="vouContrl.showCreditCardFee ? 'with-admin-fee-label' : ''">

					<div ng-if="!vouContrl.isVoucherAvaiable()" class="not-available-container">
						<span class="voucher-not-available"> Add a voucher </span>
						<span class="fa fa-plus" style="color: #4e4e4e; font-size: 2.4rem;"></span> 
					</div>
					<ul ng-if="vouContrl.isVoucherAvaiable()">

						<li class="col-xs-12"
							ng-repeat="vouDtl in vouContrl.voucherDetail" ng-if="vouDtl.voucherQuantity > 0">
							<div class="col-sm-12">
								<label class="voucher-type">{{vouDtl.voucherName}}</label>
							</div>
							<div class="col-xs-12">
								<div class="pull-left">
									<counter value="vouDtl.voucherQuantity" id="counter-{{$index}}"></counter>
								</div>
								<div class="pull-right Voucher-currency">
									<span class="currency-text">{{vouContrl.baseCurrency}}</span>
									{{(vouDtl.voucherQuantity > 0 ? vouDtl.voucherQuantity * vouDtl.amount : 0) | currency : ''}}
								</div>
							</div>

						</li>

						<li ng-if="vouContrl.showCreditCardFee" class="col-xs-12" style="padding-bottom:2px">
							<div class="col-xs-12">
								<div class="pull-left">
									<div class="Voucher-currency" translate="lbl_confirm_adminfee">Admin Fee</div>
								</div>
								<div class="pull-right Voucher-currency">
									<span class="currency currency-text"></span>
						        	<span isa-connector="{{vouContrl.creditCardFee}}"
										  decimal-points="2"
										  with-decimal="true">{{vouContrl.creditCardFee}}</span></span>
								</div>
							</div>
						</li>

					</ul>
				</div>
				<div class="col-xs-12 cart-header">
					<span class="pull-left" translate="lbl_common_total" translate-default="Total">Total</span>
					<span class="pull-right">
					    <span class="currency currency-text"></span>
						<span isa-connector="{{vouContrl.getTotal()}}"
							  decimal-points="2"
							  with-decimal="true">{{vouContrl.getTotal()}}</span>
				    </span>
				</div>

			</div>
		</div>
				<div class="select-payment-method waypoint_PaymentOption ma-tp-5">
					<div class="heading customer_title">
						<span class="name" translate="lbl_common_checkout">Checkout
						</span>
					</div>
					<div>
						<span class="pull-left" translate="msg_payment_paymentMethod">Please
							select your payment method</span> 
							<!-- <span class="pull-right"> <span
							translate="lbl_passenger_mandatory">Mandatory Fields </span> <i
							class="red"> *</i> -->
						</span>
					</div>
				</div>
				<div class="payment-options voucher-options">

					<div class="row">
						<span
							class="pay-optn-xs optn-{{vouContrl.paymentOption.length}}-pay">
							<span style="height: 100px; min-width: 100px; max-width: 130px"
							class="pull-left col-xs-2 radio payment-logo" id="payment-logo"
							ng-repeat="payOption in vouContrl.paymentOption"> <input
								name="payment_method_xs" type="radio"
								id="payment_{{payOption.cardName}}_{{payOption.cardType}}_{{payOption.paymentGateway.gatewayId}}_xs"
								ng-model="vouContrl.selectedPaymentOptionFlag"
								value="{{payOption.cardType}}_{{payOption.paymentGateway.gatewayId}}_{{payOption.cssClass}}"
								ng-click="vouContrl.setPayOption(payOption.cssClass)"> <label
								style="width: 100px; padding-top: 0px !important;"
								for="payment_{{payOption.cardName}}_{{payOption.cardType}}_{{payOption.paymentGateway.gatewayId}}_xs">
									<i class="ico">
									<div style="width: 80px">
										<img width="47"
											ng-src="images/payment-logos/{{payOption.cssClass.toLowerCase()}}.jpg"
											on-error />
										<div class="xs-pay-mode-txt text-left text"
											title="{{payOption.displayName}}"
											style="width: 110px; font-size: 9px; position: relative; top: -40px;">
											{{payOption.displayName}}</div>
									</div>
								</i>
						</span>
						</span>
					</div>
				</div>
				<div class="voucher-expire-row">
					<div class="col-xs-12 pd-0">
						<section class="master-card-details"
								 ng-if="vouContrl.selectedPaymentOption.paymentGateway.brokerType !== 'external' &&
                                                (vouContrl.selectedPaymentOption.cssClass === 'VISA' || vouContrl.selectedPaymentOption.cssClass === 'MASTER')">
							<div class="row voucher-expire-row ">
								<div class="col-xs-12 ">
									<label> <span> <span
											translate="lbl_payment_cardNum">Card Number</span> <i
											class="red"> *</i>
									</span>
										<div class="row ma-bt-4 ibe-typeahead" ng-if="vouContrl.selectedPaymentOption.cssClass === 'VISA'">
											<div class="col-xs-12" isa-validator>
												<input type="text"
                                                    ng-pattern="vouContrl.visaCardValidationPattern"
													placeholder="{{'lbl_payment_cardNoPlaceholder' | translate}}"
													class="form-control" name="visaNumber"
													ng-model="vouContrl.cardInfo.cardNo" maxlength="16" tabindex="1">
											</div>
										</div>

										<div class="row ma-bt-4 ibe-typeahead" ng-if="vouContrl.selectedPaymentOption.cssClass === 'MASTER'">
											<div class="col-xs-12" isa-validator>
												<input type="text"
                                                    ng-pattern="vouContrl.masterCardValidationPattern"
													placeholder="{{'lbl_payment_cardNoPlaceholder' | translate}}"
													class="form-control" name="masterNumber"
													ng-model="vouContrl.cardInfo.cardNo" maxlength="16" tabindex="2">
											</div>
										</div>
								
									<div class="row expire-row">
										<div class="col-xs-12 ">
											<label> <span> <span
													translate="lbl_payment_expirationDate">Expiration
														date</span> <i class="red"> *</i>
											</span>
											</label>
										</div>
												<div class="col-xs-6 expire-group ibe-typeahead" isa-validator>
													<select class="form-control voucher_select"
														ng-change="setExpireDate()"
														placeholder="{{'lbl_payment_cardNoExpDate' | translate}}"
														ng-model="vouContrl.expDateMonth"
														ng-options="month as month for month in vouContrl.expDate.month"
														name="expDateMonth" ng-required="true" tabindex="3">
														<option value="" disabled selected class="select-disable">MM</option>
													</select><span class="fa expDtaeYear fa-angle-down"></span> 
												</div>
												<span class="col-xs-1 date-dividier">/</span>

												<div class="col-xs-6 expire-group ibe-typeahead"  isa-validator>
													<select
														class="form-control voucher_select"
														ng-change="setExpireDate()"
														placeholder="{{'lbl_payment_cardNoExpYear' | translate}}"
														ng-model="vouContrl.expDateYear"
														ng-options="year as year for year in vouContrl.expDate.year"
														name="expDateYear" ng-required="true" tabindex="4">
														<option value="" disabled selected class="select-disable">YYYY</option>
													</select><span class="fa fa-angle-down"></span>
												</div>
											
										</div>
									</div>
			
									<div class="col-xs-12">
										<label> <span> <span
												translate="lbl_payment_secCode">Security Code</span> <i
												class="red"> *</i>
										</span>
										</label>
									</div>
										
										<div class="cvv col-xs-12 ibe-typeahead" isa-validator>
											<input type="password" class="form-control" name="cardCvv"
												placeholder="CVV2/CVC2"
												ng-model="vouContrl.cardInfo.cardCvv"
												maxlength="3" style="width: 100%;" 
												ng-required="true" tabindex="5">
										
										</div>
										<!-- <div class="col-xs-6">
												<span class="cvv-desc">
												<h5 translate="title_payment_cv">CVV2
													/ CVC2</h5>
												<p translate="msg_payment_cardDetails">The last 3
													digits displayed on the back of your card</p>
											</span>
										</div> -->
									
									<div class="col-xs-12">
										<label>
											<span> 
												<span
												translate="lbl_payment_holderName">Cardholder Name
												</span> <iclass="red"> *</i>
											</span>
										</label>
									</div>
									<div class="col-xs-12">
										<div class="ibe-typeahead" isa-validator>
											<input type="text"
												placeholder="{{'lbl_payment_cardHolderPlaceholder' | translate}}"
												class="form-control"
												ng-model="vouContrl.cardInfo.cardHoldersName"
												name="cardHoldersName" ng-required="true" tabindex="6">
										</div>
									</div>
							
								</div>
							</div>
							<div class="pd-0 col-xs-12">
							<span class="pull-left voucher-total" translate="lbl_payment_totalAmount">total</span> 
							<span class="pull-right voucher-currency">
							    <span class="currency currency-text"></span>
						        <span isa-connector="{{vouContrl.getTotal()}}"
							        decimal-points="2"
							        with-decimal="true">{{vouContrl.getTotal()}}</span>
							</span>
							</div>
						</section>

						<!-- MTC Payment Gateway Details -->
						<section class="cash-payment-details"
								 ng-if="vouContrl.selectedPaymentOption.paymentGateway.brokerType === 'external' &&
                                                (vouContrl.selectedPaymentOption.cssClass === 'MTC' || vouContrl.selectedPaymentOption.cssClass === 'CANAUX1_CANAUX2')">
							<p translate="msg_payment_mtcDetailHeader" class="strong">
								You will be redirected to the secured payment page to complete the transaction. </p>
							<p translate="msg_payment_mtcDetails">
								After you confirm the payment, you will return to this page and will be provided with your unique flight reservation number. The transaction process may take a few minutes depending on various factors like the time of day and your internet connection speed. Please be patient during the process.
							</p>
						</section><!-- // External Payment Gateway Details -->


						<!-- External Payment Gateway Details -->
						<section class="cash-payment-details" ng-if="vouContrl.selectedPaymentOption.paymentGateway.brokerType === 'external' &&
                                                (vouContrl.selectedPaymentOption.cssClass === 'KNET' || vouContrl.selectedPaymentOption.cssClass === 'VISA' ||
                                                        vouContrl.selectedPaymentOption.cssClass === 'MASTER' || vouContrl.selectedPaymentOption.cssClass === 'PAYFORT_PAYHOME' ||
                                                        vouContrl.selectedPaymentOption.cssClass === 'TAP_GOSELL_MASTERCARD_VISA_LOGO')">
							<p translate="msg_payment_gateway">Redirecting to an external payment gateway, Do not perform "Close the browser", "Refresh", "Back" & "Next" actions, until the payment success.</p>
						</section><!-- // External Payment Gateway Details -->

						<!-- External Payment Gateway Details -->
						<section class="cash-payment-details" ng-if="vouContrl.selectedPaymentOption.paymentGateway.brokerType === 'external' &&
                         (vouContrl.selectedPaymentOption.cssClass === 'PAY_FORT_ONLINE_SADAD' ||
                         vouContrl.selectedPaymentOption.cssClass === 'PAY_FORT_ONLINE_KNET')">
							<p translate="msg_payFort_pgw">Upon confirmation, you will be redirected to external payment gateway page. Please do not close/refresh the browser or click on Back or Next buttons until payment process is complete.</p>
						</section>

						<section class="cash-payment-details" ng-if="vouContrl.selectedPaymentOption.translatedMessage &&
                         (vouContrl.selectedPaymentOption.cssClass === 'PAY_FORT_ONLINE_INSTALLMENTS')">
							<div ng-bind-html="vouContrl.selectedPaymentOption.translatedMessage"></div>
						</section>


						<!-- Fawry payment Option -->
						<section class="cash-payment-details" ng-if="vouContrl.selectedPaymentOption.cssClass === 'PAY_FORT_OFFLINE_FAWRY'">
							<p>Please use the Fawry Reference Number to do the payment. </p>
						</section>

						<!-- External Payment Gateway Details -->
						<section class="cash-payment-details" ng-if="vouContrl.selectedPaymentOption.paymentGateway.brokerType === 'external' &&
                        (vouContrl.selectedPaymentOption.cssClass === 'QIWI' || vouContrl.selectedPaymentOption.cssClass === 'QIWI_OFFLINE')">
							<p translate="msg_payment_required">Please fill the required field to continue the payment</p>
							<div class="row">
								<label class="input-sec col-md-6 col-sm-6 col-xs-6">
                                    <span>
                                        <span translate="lbl_payment_contactNum">Contact Number</span>
                                        <sup class="red"> *</sup>
                                    </span>
									<input type="text" ng-model="vouContrl.additionalDetails.param2"
										   placeholder="Contact Number"
										   class="form-control">
								</label>
							</div>
						</section><!-- // External Payment Gateway Details -->

						<!--FORM IS NOT REQUIRED IF CONTACT EMAIL AND CONATACT NUMBER AND CONTACT EMAIL IS NOT MANDATORY-->
						<!--BZ SOME PAYMENT GATEWAYS HAS ABOVE AS MANDATORY FIELDS-->
						<section>
							<div class="col-xs-12 pd-0 checkoutbtn">
								<button type="submit" ng-click="vouContrl.onClear()"
										ng-if="!vouContrl.showVoucherDetail &&
										(vouContrl.selectedPaymentOption.paymentGateway.brokerType !== 'external' &&
                                                (vouContrl.selectedPaymentOption.cssClass === 'VISA' || vouContrl.selectedPaymentOption.cssClass === 'MASTER'))"
										class="button gray-btn  col-xs-5  pull-left"
										translate="lbl_common_clear" >Clear</button>
								<button type="submit" id="voucherCheckout"
										ng-if="!vouContrl.showVoucherDetail"
										class="button red-btn col-xs-5 pull-right"
										translate="lbl_common_checkout" >Checkout</button>
							</div>
						</section>
						
					</div>
				</div>

			</form>
		</div>
		<div class="row" ng-if="deviceType.isMobileDevice">
			<div class="col-xs-12" ng-if="vouContrl.showCart">
				<div class="button-block ma-bt-4 clearfix mx-3"
					ng-if="vouContrl.showVoucherDetail">
				</div>

				<div class="cart-section clearfix">

					<div class="col-xs-12 cart-header">
						<span class="pull-left">Cart</span>
					</div>
					<div class="cart-content col-xs-12" ng-class="vouContrl.showCreditCardFee ?	'with-admin-fee-label' : ''">
						
								<!-- <div ng-if="!vouContrl.isVoucherAvaiable()" class="not-available-container">
										<span class="voucher-not-available"> Add a voucher </span>
										<span class="fa fa-plus" style="color: #4e4e4e; font-size: 2.4rem;"></span> 
								</div> -->
						<ul>

							<li class="col-xs-12"
								ng-repeat="vouDtl in vouContrl.voucherDetail" >
								<div class="col-sm-12">
									<label class="voucher-type">{{vouDtl.voucherName}}</label>
								</div>
								<div class="col-xs-12">
									<div class="pull-left">
										<counter value="vouDtl.voucherQuantity" id="counter-{{$index}}"></counter>
									</div>
									<div class="pull-right Voucher-currency">
										<span class="currency-text">{{vouContrl.baseCurrency}}</span>
										{{(vouDtl.voucherQuantity > 0 ? vouDtl.voucherQuantity * vouDtl.amount : 0) | currency : ''}}
									</div>
								</div>

							</li>

							<li ng-if="vouContrl.showCreditCardFee" class="col-xs-12" style="padding-bottom:2px">
								<div class="col-xs-12">
									<div class="pull-left">
										<div class="Voucher-currency" translate="lbl_confirm_adminfee">Admin Fee</div>
									</div>
									<div class="pull-right Voucher-currency">
										<span class="currency currency-text"></span>
						        	<span isa-connector="{{vouContrl.creditCardFee}}"
										  decimal-points="2"
										  with-decimal="true">{{vouContrl.creditCardFee}}</span></span>
									</div>
								</div>
							</li>


						</ul>
					</div>
					<div class="col-xs-12 cart-header">
						<span class="pull-left" translate="lbl_common_total" translate-default="Total">Total</span> <span
							class="pull-right">
						<span class="currency currency-text"></span>
						<span isa-connector="{{vouContrl.getTotal()}}" decimal-points="2" with-decimal="true">{{vouContrl.getTotal()}}</span>
					</span>
					</div>

					<div ng-click="vouContrl.onContinueToCustomert()"
						ng-if="vouContrl.showVoucherDetail" ng-disabled="vouContrl.isNoVouchersAvailable"
						class="btn red-btn btn-sm col-xs-4 ma-tp-5 btn-proceed-to-customer"
						translate="lbl_summary_drawer_customerDetails">Continue to
						Customer Details
					</div>
					<button type="submit" ng-if="!vouContrl.showVoucherDetail"
						class="btn red-btn btn-sm col-xs-4 ma-tp-4 button-block-btm btn-proceed-to-customer voucherissue"
						translate="lbl_common_checkout">Checkout</button>

				</div>
			</div>
		</div>
	</div>
	<div id="dummyForm"></div>
	