<div class="container pd-0 hidden-xs" ng-class="{'confirm-page': main.selectedStep.id === 'confirm'}">
    <ul class="voucher-menu">
        <li class="logo pd-4 pd-tp-2"><a href="{{main.logoLink}}">
            <img src="images/main_logo.png" alt="Air Arabia">
        </a></li>
        <li class="{{main.steps[6]['status']}}" id="{{main.steps[6]['id']}}">
            <a href="javascript:;" ng-click="main.navigateToState('voucher')">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <i class="number" ng-if="main.steps[6]['status'] !== 'completed'">1</i>
                                <i class="icon-done" ng-if="main.steps[6]['status'] === 'completed'"></i>
                        </td>
                        
                            <td>        
                                <span>{{main.steps[6]['title'] | translate}}&lrm;</span>
                            </td>
                        </tr>
                    </tbody>
                </table>    

            </a></li>
        <li class="{{main.steps[7]['status']}}" id="{{main.steps[7]['id']}}">
            <a href="javascript:;" ng-click="main.navigateToState('custDetail')">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <i class="number" ng-if="main.steps[7]['status'] !== 'completed'">2</i>
                                <i class="icon-done" ng-if="main.steps[7]['status'] === 'completed'"></i>
                            </td>
                        
                            <td>    
                                <span>{{main.steps[7]['title'] | translate}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>     
            </a>
        </li>
    </ul>
</div>
<div class="container pd-0 hidden-lg hidden-md hidden-sm">               
            <div>
                <ul>
                    <li id="xs-li-logo" class="logo pd-tp-2 xs-li-logo">
                        <span style="align:center" id="xs-logo-img"><a href="{{main.logoLink}}">                            
                                <img src="images/main_logo.png" alt="Air Arabia">
                            </a>                        
                        </span>
                    </li>
                </ul>
            </div>
    </div>
